<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table count="<%=@count%>">
         <thead>
           <tr>
             <th style="width:55px;">
               <div><%= t(:label_icm_incident_request_request_number_shot) %></div>
             </th>
             <th >
               <div><%= t(:label_icm_incident_request_title) %></div>
             </th>
             <th >
               <div><%= t(:label_icm_incident_request_organization) %></div>
             </th>
             <th>
               <div><%= t(:label_icm_incident_request_requested_by) %></div>
             </th>
             <th>
               <div><%= t(:label_icm_incident_request_priority) %></div>
             </th>
             <th>
               <div><%= t(:label_irm_external_system) %></div>
             </th>

             <th>
               <div><%= t(:label_icm_incident_request_service_code) %></div>
             </th>
             <% datas[:headers].each do |header| %>
               <th>
                 <div><%= header %></div>
               </th>
             <% end %>
           </tr>
         </thead>
         <tbody>
         <% datas[:datas].each_with_index do |data,index| %>
         <tr id="<%=data[:id]%>">
           <td>
             <div>
               <%= data[:request_number] %>
             </div>
           </td>
           <td>
             <div>
               <%="(#{data[:incident_status_name]})#{data[:title]}"  %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:requested_organization_name] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:requested_name] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:priority_name] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:external_system_name] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:service_name] %>
             </div>
           </td>

           <% datas[:report_datas][index].each do |report_data|  %>
             <td>
               <div>
                 <%= report_data %>
               </div>
             </td>
           <% end  %>
         </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->