<% require_javascript(:waypoints) %>
<% require_javascript(:extjs) %>

<style type="text/css">
    ul {
        padding-left: 40px;
    }

    ol {
        padding-left: 40px;
    }

    .hidden {
        display: none;
    }

    .show {
        display: block;
    }

    div#histories {
        background-color: #FFFFFF;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
    }

    div.reply div.replyHeader[submit_by="<%= @incident_request.submitted_by%>"] {
        /*提单人回复的*/
        background-color: #ffebeb !important;
    }

    div.reply div.replyHeader {
        background-color: #efefef;
        padding: 3px 0 0 3px;
        height: 28px;
        -moz-border-radius: 0 4px 4px 0;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        box-sizing: content-box;
    }

    div.reply div.replyHeader[submit_by="<%= Irm::Person.current.id%>"] {
        /*自己回复的*/
        background-color: #ddeef4 !important;
    }

    div.reply div.replyHeaderSection {
        padding: 5px 5px 5px 0px;
        min-height: 40px;
    }

    div.reply h3 {
        font-weight: bold;
    }

    div.reply .avatar {
        background-color: white;
        border: 1px solid #D0D0D0;
        float: left;
        line-height: 0;
        margin-right: 0.7em;
        padding: 2px;
    }

    div.reply .message {
        margin-left: 46px;
    }

    .yui-skin-sam .yui-toolbar-container div.yui-toolbar-subcont {
        border-bottom-width: 1px;
        padding-bottom: 0;
        padding-left: 1px;
    }

    div.fileList {
        margin-left: 46px;
        color: #333333;
        line-height: 1.6em;
        margin-top: 5px;
        margin-right: 5px;
        border-top: 2px solid #efefef;
    }

    div.fileList div.fileItem {
        color: #888888;
        display: inline;
        padding-bottom: 5px;
        text-align: left;
    }

    div.fileList div.fileItem div.fileIcon {
        background-color: white;
        line-height: 0;
        margin-right: 0.7em;
        padding: 2px;
    }

    div.fileList div.fileItem div.fileIcon img {
        border: 1px solid #BBC9E2;
        float: left;
        vertical-align: top;
    }

</style>
<div id="ep" class="edit-block page-block">
<div class="pbHeader" id="icm_new_journal_top_menu">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
      <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_incident_request) %></h2></td>

      <td id="topButtonRow" class="pbButton">
        <% if !@incident_request.close? &&!@incident_request.permanent_close?&& allow_to_function?(:reply_incident_request)&&@incident_request.watcher?(Irm::Person.current.id) %>
            <div class="button"><a href="#reply"><%= t(:label_icm_incident_journal_new) %></a></div>
        <% end %>
      </td>
      <td class="pbHelp">
        <div class="button-group">
          <div class="gray-button"><%= link_to t(:label_icm_incident_journal_back_to_request_list), {:controller=>"icm/incident_requests", :action => "index"} %></div>
        </div>
        <div class="button-group">
          <% if !@incident_request.close? %>
              <% if current_person?(@incident_request.support_person_id) %>
                  <div class="gray-button"><%= link_to t(:pass), {:action => "edit_pass"} %></div>
                  <div class="gray-button"><%= link_to t(:label_icm_incident_request_incident_status), {:action => "edit_status"} %></div>
              <% end %>
              <% if current_person?(@incident_request.support_person_id)&&available_upgradable_supporter(@incident_request.support_group_id).any? %>
                  <div class="gray-button"><%= link_to t(:label_icm_incident_request_upgrade), {:action => "edit_upgrade"} %></div>
              <% end %>
              </div>
              <div class="button-group">
                <% if current_person?(@incident_request.support_person_id)||current_person?(@incident_request.requested_by) %>
                    <div class="gray-button"><%= link_to t(:close), {:action => "edit_close"} %></div>
                <% end %>
                <% if allow_to_function?(:edit_incident_request) || @incident_request.requested_by == Irm::Person.current.id || @incident_request.support_person_id == Irm::Person.current.id %>
                <div class="gray-button">
                  <%= link_to t(:edit), url_for(:controller=>"icm/incident_requests", :action => "edit", :id => @incident_request.id) %>
                </div>
                <% end %>
          <% else %>
              </div>
               <div class="button-group">
                 <% if current_person?(@incident_request.support_person_id)||current_person?(@incident_request.requested_by) %>
                     <div class="gray-button"><!--test--><%= link_to t(:permanent_close), {:action => "edit_permanent_close"}%></div>
                     <div class="gray-button"><%= link_to t(:reopen), {:action => "edit_reopen", :id => @incident_request.id}%></div>
                 <% end %>

          <% end %>
          </div>
          <div class="button-group">
            <% if @incident_request.kb_flag==Irm::Constant::SYS_NO %>
                <div class="gray-button"><%= link_to t(:label_icm_save_as_skm), {:controller=>"skm/entry_headers", :action => "new_from_icm_request", :request_id => @incident_request.id} %></div>
            <% end %>
            <% unless @incident_request.change_request_id.present? %>
                <div class="gray-button"><%= link_to t(:label_icm_create_relate_change_request), {:controller=>"chm/change_requests", :action => "incident_new", :request_id => @incident_request.id}, {:back=>true} %></div>
            <% end %>
          </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="pbBody">
<div id="notice">
  <%= error_for @incident_journal %>
  <%= flash_notice %>
</div>
<div class="pbSubheader tertiaryPalette first" style="background-color:#aeaeae;padding-left:15px;">
  <h3>(<%= @incident_request[:incident_status_name] %>)[<%= @incident_request[:request_number] %>
    ]<%= @incident_request[:title] %></h3>

  <div style="margin-left: 15px; display:inline;">(<a href="javascript:void(0)" id="showMore" class="toggle-button" ref="incidentDetail" collapsedText="<%= t(:label_icm_incident_less_info) %>" ExpandedText="<%= t(:label_icm_incident_more_info) %>"><%= t(:label_icm_incident_more_info) %></a>)
  </div>
</div>
<div class="pbSubsection" id="incidentDetail">
  <table class="detailList" cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_target_system) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:external_system_name] %></div>
      </td>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_incident_category) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:incident_category_name] %></div>
      </td>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_incident_sub_category) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:incident_sub_category_name] %></div>
      </td>
    </tr>
    <tr>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_requested_by) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:requested_name] %></div>
      </td>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_contact) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:contact_name] %>(<%= @incident_request[:contact_number] %>)</div>
      </td>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_submitted_by) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:submitted_name] %></div>
      </td>
    </tr>
    <tr>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_requested_by_org) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:requested_organization_name] %></div>
      </td>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_requested_by_role) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:requested_role_name] %></div>
      </td>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_requested_by_profile) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:requested_profile_name] %></div>
      </td>
    </tr>
    <tr>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_incident_status_code) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:incident_status_name] %></div>
      </td>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_incident_phase_code) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:incident_phase_name] %></div>
      </td>
    </tr>
    <tr>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_submitted_date) %></label></td>
      <td class="data3Col">
        <div><%= format_date(@incident_request[:submitted_date]) %></div>
      </td>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_request_type_code) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:request_type_name] %></div>
      </td>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_report_source_code) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:report_source_name] %></div>
      </td>
    </tr>

    <tr>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_urgence_code) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:urgence_name] %></div>
      </td>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_impact_range_code) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:impact_range_name] %></div>
      </td>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_priority) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:priority_name] %></div>
      </td>
    </tr>
    <tr>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_support_group) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:support_group_name] %></div>
      </td>
      <td class="label3Col"><label><%= t(:label_icm_incident_request_support_person) %></label></td>
      <td class="data3Col">
        <div><%= @incident_request[:supporter_name] %></div>
      </td>
    </tr>
    </tbody>
  </table>
</div>



<% if @incident_request.change_request_id.present? %>
    <!-- 处理关联的变更单 -->
    <!-- tab -->
    <div class="aloneTab miniTab secondaryPalette" id="tabNav" style="margin-bottom: 10px;">
      <ul class="miniTabList">
        <li class="currentTab" id="nav_0" ref="incidentReply">
          <a href="javascript:void(0)"><%= t(:label_icm_incident_journal_list) %></a>
        </li>
        <li id="nav_1" ref="changeRequest">
          <a href="javascript:void(0)"><%= t(:label_chm_change_request) %></a>
        </li>
      </ul>
    </div>
    <!-- end tab -->
    <div class="hidden" id="changeRequest" href="<%= url_for(:controller=>"chm/change_requests", :action=>"show_detail", :id=>@incident_request.change_request_id||"001") %>">

    </div>
    <script type="text/javascript">
        $(function() {
            $("#tabNav li").live("click", function(e) {
                $("#tabNav li").removeClass("currentTab");
                $(e.currentTarget).addClass("currentTab");
                $("#tabNav li").each(function(index, element) {
                    var ref = $("#" + $(element).attr("ref"));
                    console.debug("#" + $(element).attr("ref"));
                    if (ref && !ref.hasClass("hidden")) {
                        ref.addClass("hidden");
                    }
                });
                var currentRef = $("#" + $(e.currentTarget).attr("ref"));
                if (currentRef && currentRef.hasClass("hidden")) {
                    currentRef.removeClass("hidden");
                    if (currentRef.attr("href") && !currentRef.attr("loaded")) {
                        currentRef.load(currentRef.attr("href"));
                        currentRef.attr("loaded", "true");
                    }
                }
            });
        });
    </script>
<% end %>

<div id="incidentReply">
  <div id="histories">
    <div style="padding: 0 0 10px 0; font-weight: bold;">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
          <td>
            <h2 style="font-size: 18px;"><%= t(:label_icm_incident_journal_list) %>&nbsp;(<%= journals_size(@incident_request)+1 %>
              )</h2></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pbBody">
      <div class="reply">
        <div id="journal_0" class="replyHeader" submit_by="<%= @incident_request.submitted_by %>">
          <div style="float:left">
            <img width="25" height="25" alt="" src="<%= person_avatar(@incident_request.submitted_by) %>"></div>
          <div style="float:left; padding:5px 0 0 5px;">
            <h3><%= @incident_request[:submitted_name] %></h3>
            <span style="color:#666666;font-style:italic;">
              <%= t(:label_reply_title, :time_distance=>distance_of_time_in_words(Time.now, @incident_request[:submitted_date]), :date_format=>format_date(@incident_request[:submitted_date])) %>
            </span>
          </div>
        </div>
        <div class="replyHeaderSection">
          <div class="message">
            <% prepare_request_files(@incident_request) %>
            <%= raw process_message(@incident_request[:summary]) %>
          </div>
          <%= list_request_file %>
        </div>
      </div>
      <div id="replies">
        <%= list_journals(@incident_request) %>
      </div>
    </div>
  </div>
  <% if @incident_request.watcher?(Irm::Person.current.id)&&allow_to_function?(:reply_incident_request)&&!@incident_request.close?&&!@incident_request.permanent_close? %>
      <%= form_for(@incident_reply, :url=>{:action=>"create", :format => "js"}, :builder => LabellingFormBuilder, :html => {:multipart => true, :target => "frame"}) do |f| %>
          <div id="reply" class="edit-block page-block">
            <div class="pbHeader">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                  <td class="pbTitle">
                    <div style="float:left;"><h2 class="mainTitle"><%= t(:label_icm_incident_journal_new) %></h2></div>
                    <% if !limit_device?&&allow_to_function?(:view_skm_entries) %>
                        <div style="float:left;padding-top:5px; margin-left:20px;">
                          <a href="javascript:void(0)" id="applySKM"><%= t(:apply_skm) %></a></div>
                    <% end %>
                  </td>
                  <td class="pbButton">

                  </td>
                  <td class="pbHelp">

                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="pbBody">
              <% if !limit_device?&&allow_to_function?(:view_skm_entries) %>
                  <div id="linktoSKM" class="hidden">
                    <div class="pbSubsection">
                      <div class="searchSKMText">
                        <input id="searchSKMText" type="text" size="35"/>

                        <div class="button" style="float:none !important; display:inline">
                          <%= link_to t(:search), {:controller => "icm/incident_journals", :action => "get_entry_header_data"},
                                      :remote => true, :id => "searchSKM" %>
                        </div>
                      </div>
                    </div>
                    <div class="pbSubsection" id="entrySubsection" style="display:none;">
                      <%= render :partial => "icm/incident_journals/apply_skm", :locals => {:skm_data => {}} %>
                    </div>
                  </div>

                  <script type="text/javascript">
                      $(function() {
                          $("#applySKM").bind("click", function(e) {
                              if ($("#linktoSKM").hasClass("hidden")) {
                                  $("#linktoSKM").removeClass("hidden")
                              } else {
                                  $("#linktoSKM").addClass("hidden")
                              }
                          });

                          $("#searchSKM").bind("click", function(e) {
                              $("#entrySubsection").css("display", "");
                          });

                          $("#searchSKMText").keyup(function(e) {
                              $("#searchSKM").attr("href", "<%= url_for(:controller => "icm/incident_journals", :action => "get_entry_header_data")%>?entry_title=" + $("#searchSKMText").val())
                          });

                          $("#searchSKMText").keydown(function(e) {
                              if (e.keyCode == '13') {
                                  e.preventDefault();
                                  $("#searchSKM").trigger("click");
                              }
                          });
                      })
                  </script>
              <% end %>

              <div class="pbSubsection">
                <table class="detailList" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                  <tr>
                    <%= fields_for @incident_journal, :as=>"incident_journal", :builder => LabellingFormBuilder, :normal=>true do |sub_f| %>
                        <%= sub_f.hidden_field(:incident_request_id) %>
                        <td class="dataCol" colspan="4" width="100%">
                          <%= sub_f.text_area :message_body, :id=>"msgEditor", :jrequired => true, :rows=>8 %>
                          <%= rich_text_area("msgEditor", true) %>
                        </td>
                    <% end %>
                  </tr>

                  <tr>
                    <td class="dataCol" colspan="4" width="100%">
                      <%= render :partial=>"helper/upload_file", :locals=>{:upload_file_id=>"new_incident_request_journal_file"} %>
                    </td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div>
            <div class="pbBottomButtons">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                  <td class="pbTitle"></td>
                  <td id="bottomButtonRow" class="pbButtonb">
                    <div class="button"><%= f.submit t(:save) %></div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
      <% end %>
  <% end %>
  <iframe id='frame' name="frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
</div>


</div>
</div>

<script>
    $(function() {
        $(".toggle-button").each(function(index, element) {
            var me = $(element);
            var ref = $("#" + me.attr("ref"));
            if (ref.hasClass("hidden")) {
                me.html(me.attr("expandedText"));
            } else {
                me.html(me.attr("collapsedText"));
            }
        });
        $(".toggle-button").bind("click", function(event) {
            var me = $(this);
            var ref = $("#" + me.attr("ref"));
            if (ref.hasClass("hidden")) {
                me.html(me.attr("collapsedText"));
                ref.removeClass("hidden");
            } else {
                me.html(me.attr("expandedText"));
                ref.addClass("hidden");
            }
        });
    });

    function reset_rich_text() {
        if ($("#msgEditor")) {
            var editor = Ext.getCmp("msgEditor");
            editor.setValue("");
        }

        $("#file-contents").html("");
        $("#file-template").attr("sequence", 0);
    }
</script>
<% unless limit_device? %>
    <style type="text/css">
        .sticky #icm_new_journal_top_menu {
            position: fixed;
            top: 0;
            width: auto;
            left: 20px;
            right: 235px;
            background-color: #F8F8F8;
            border: 1px solid #eaeaea;
            border-top-width: 0;
            border-bottom-width: 0;
        }

        #ep.sticky {
            padding-top: 34px;
        }
    </style>
    <script type="text/javascript">
        $.waypoints.settings.scrollThrottle = 30;

        $('#ep').waypoint(
                function(event, direction) {

                }, {
                    offset: '-100%'
                }).find('#icm_new_journal_top_menu').waypoint(function(event, direction) {
                    $(this).parent().toggleClass('sticky', direction === "down");
                    event.stopPropagation();
                });
    </script>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial =>"/irm/watchers/sidebar_watcher_list",
               :locals => {:watchable => @incident_request,
                           :editable => !@incident_request.close?} %>
    <%= render :partial =>"/icm/incident_requests/sidebar_attachment_list" %>
    <%= render :partial =>"/icm/incident_requests/sidebar_relation_list", :locals => {:incident_request => @incident_request} %>
<% end %>
