<%= setting_show_title( :show_data => @menu[:name]) %>


<!--页面结构-->
<div class="show-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%=t(:label_irm_menu)%></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:edit), {:action => "edit", :id => @menu},:class=>"btn"%>
      <%= link_to t(:back), {:action => "index"},:class=>"btn" %>
    </td>
  </tr></table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_menu_menu_code)%></label></td>
            <td class="data-col"><%= @menu.code%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_irm_menu_name)%></label></td>
            <td class="data-col"><div><%= @menu[:name] %></div></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_irm_menu_description)%></label></td>
            <td class="data-col"><div><%= @menu[:description]%></div></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr class="last">
            <td class="label-col"><label><%=(t :active)%></label></td>
            <td class="data-col"><%= check_img(@menu.status_code)%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_menu_entry_list) %></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:add), {:controller => "irm/menu_entries", :action => "new", :menu_id => @menu.id, :return_url => @return_url},:class=>"btn"%>
    </td>
  </tr></table>
  <div class="page-block-body">
    <div id="menu_entries_list"></div>
    <%= datatable("menu_entries_list",{:controller => "irm/menu_entries", :action=>"get_data", :menu_id => @menu.id,:format=>"json"},
                          [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template", :width => "80px"},
                           {:key=>"display_sequence",:label=>t(:label_irm_menu_entry_display_sequence),:width => "70px"},
                           {:key=>"name",:label=>t(:label_irm_menu_entry_name)},
                           {:key=>"description",:label=>t(:label_irm_menu_entry_description)},
                           {:key=>"sub_menu_code",:label=>t(:label_irm_menu_entry_sub_menu)},
                           {:key=>"sub_menu_name",:label=>t(:label_irm_menu_entry_sub_menu_name)},
                           {:key=>"sub_function_group_code",:label=>t(:label_irm_menu_entry_sub_function_group_code)},
                           {:key=>"sub_function_group_name",:label=>t(:label_irm_menu_entry_sub_function_group_name)},
                           {:key=>"status_code",:formatter=>"Y.irm.template",:label=>t(:active), :width => "70px"}]) %>
  </div>
</div>
<%=render :partial=>"multilingual/show",:locals=>{:main_data=>@menu} %>