<%= common_title %>
<!--页面结构-->
<div class="show-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%=t(:label_gtd_task)%></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:edit), {:action => "edit", :id => @task.id},:class=>"btn btn-primary"%>
      <%= link_to t(:back), {:action => "index"},:class=>"btn" %>
    </td>
  </tr></table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
      <tr>
        <td class="label-col"><label><%=t(:name)%></label></td>
        <td class="data-col"><%= @task.name %></td>
        <td class="label-col empty">&nbsp;</td>
        <td class="data-col empty">&nbsp;</td>
      </tr>
      <tr>
        <td class="label-col"><label><%=t(:description)%></label></td>
        <td class="data-col"><%= @task.description %></td>
        <td class="label-col empty">&nbsp;</td>
        <td class="data-col empty">&nbsp;</td>
      </tr>
      <tr>
        <td class="label-col"><label><%=t(:label_gtd_task_assigned_to)%></label></td>
        <td class="data-col"><%= @task[:full_name] %></td>
        <td class="label-col empty">&nbsp;</td>
        <td class="data-col empty">&nbsp;</td>
      </tr>

      <tr>
        <td class="label-col"><label><%=t(:label_gtd_task_member_type)%></label></td>
        <td class="data-col"><%= t("label_gtd_task_member_#{@task.member_type.downcase}") %></td>
        <td class="label-col empty">&nbsp;</td>
        <td class="data-col empty">&nbsp;</td>
      </tr>
      <% unless @task.member_type.eql?("PRIVATE") %>
        <% if @task.member_type.eql?("MEMBER") %>
          <tr>
            <td class="label-col"><label><%= t(:label_gtd_task_member_member) %></label></td>
            <td class="data-3col">
              <%= available_members(@task.member_ids).join(", ") %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td class="label-col"><label><%=t(:label_gtd_task_access_type)%></label></td>
          <td class="data-col"><%= t("label_gtd_task_access_#{@task.access_type.downcase}") %></td>
          <td class="label-col empty">&nbsp;</td>
          <td class="data-col empty">&nbsp;</td>
        </tr>
      <% end %>
      <tr>
        <td class="label-col"><label><%=t(:label_gtd_task_plan_start_at)%></label></td>
        <td class="data-col"><%= format_date @task.plan_start_at %></td>
        <td class="label-col empty">&nbsp;</td>
        <td class="data-col empty">&nbsp;</td>
      </tr>
      <tr>
        <td class="label-col"><label><%=t(:label_gtd_task_plan_end_at)%></label></td>
        <td class="data-col"><%= format_date @task.plan_end_at %></td>
        <td class="label-col empty">&nbsp;</td>
        <td class="data-col empty">&nbsp;</td>
      </tr>
      <tr>
        <td class="label-col"><label><%=t(:label_gtd_task_start_at)%></label></td>
        <td class="data-col"><%= format_date @task.start_at %></td>
        <td class="label-col empty">&nbsp;</td>
        <td class="data-col empty">&nbsp;</td>
      </tr>
      <tr>
        <td class="label-col"><label><%=t(:label_gtd_task_end_at)%></label></td>
        <td class="data-col"><%= format_date @task.end_at %></td>
        <td class="label-col empty">&nbsp;</td>
        <td class="data-col empty">&nbsp;</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>