
<% deletable = !@change_request.approve_status.present?||"ASSIGNED".eql?(@change_request.approve_status) %>
<%= detail_data_table(datas.length) do %>
  <!--  irm datatable      -->
  <div class="irm-datatable">
    <div>
        <table>
          <thead>
            <tr>
              <th style="width:40px">
                <div><%= t(:operation) %></div>
              </th>
              <th style="width:60px">
                <div><%= t(:label_irm_person_full_name) %></div>
              </th>
              <th>
                <div><%= t(:label_irm_person_organization) %></div>
              </th>
              <th>
                <div><%= t(:label_irm_person_email_address) %></div>
              </th>
              <th style="width:80px">
                <div><%= t(:label_chm_change_approval_approve_status) %></div>
              </th>
              <th style="width:180px">
                <div><%= t(:label_chm_change_approval_approve_at) %></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <%datas.each do |data|  %>
                <tr id="<%=data[:id]%>">
                  <td>
                    <div>
                      <% if deletable%>
                        <%= link_to t(:delete),{:controller => "chm/change_approvals",:id=>data.id,:action => "destroy"} ,{:back=>true,:method => :delete,:confirm => t(:label_are_you_sure) } %>
                      <% elsif data.approve_able?(Irm::Person.current) %>
                          <%= link_to t(:label_chm_change_approval_approve),{:controller => "chm/change_approvals",:id=>data.id,:action => "approve"} ,{:back=>true } %>
                      <% end %>
                    </div>
                  </td>
                  <td>
                    <div>
                      <%= data[:full_name] %>
                    </div>
                  </td>
                  <td>
                    <div>
                      <%= data[:organization_name] %>
                    </div>
                  </td>
                  <td>
                    <div>
                      <%= data[:email_address] %>
                    </div>
                  </td>
                  <td>
                    <div>
                      <%= data[:approve_status_name] %>
                    </div>
                  </td>
                  <td>
                    <div>
                      <%= format_date(data[:approve_at]) %>
                    </div>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
  <!--  end irm datatable      -->
<% end %>