<%= setting_title %>
<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_permission_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"></div>
              </td>
              <td class="pbHelp">
                <div id="permissionsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="permissions_list" class="datatable" style="width:100%">

          <div id="status_code" style="display:none">
            <%= check_img("{status_code}") %>
          </div>
          <div id="direct_get_flag" style="display:none">
                      <%= check_img("{direct_get_flag}") %>
                    </div>
        </div>
        <div id="paging">
        </div>
        <%= datatable("permissions_list",{:controller => "irm/permissions", :action=>"get_data",:format=>"json"},
                      [
                       {:key=>"product_module_name",:label=>t(:label_irm_permission_product_name),:width=>"80px"},
                       {:key=>"function_name",:label=>t(:label_irm_permission_function_name),:searchable=>true},
                       {:key=>"code",:label=>t(:label_irm_permission_permission_code),:searchable=>true, :width => "200px"},
                       {:key=>"p_controller",:label=>t(:label_irm_permission_page_controller),:searchable=>true},
                       {:key=>"p_action",:label=>t(:label_irm_permission_page_action),:searchable=>true},
                       {:key=>"params_count",:label=>t(:label_irm_permission_param_count)},
                       {:key=>"direct_get_flag",:formatter=>"Y.irm.template",:label=>t(:label_irm_permission_direct_get_flag)},

                       {:key=>"status_code",:label=>t(:label_irm_permission_status_code),:formatter=>"Y.irm.template", :width => "40px"}],
                       {:search_box=>"permissionsSearchBox"})%>
      </div>
    </div>
</div>