<%= common_title(:show_data=>@wiki.name)%>
<% require_jscss(:gollum) %>

<!--页面结构-->
<div class="show-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"></h2>
    </td>

    <td class="page-block-button btn-toolbar">
      <div class="btn-group" >
        <%= link_to t(:edit), {:controller=>"skm/books",:action => "index"}, :class => "btn" %>
      </div>

      <% if Skm::WikiToStatic.instance.wiki_to_static?(@wiki) %>
          <div class="btn-group" >
            <%= link_to t(:export), {:action => "show", :id => @wiki,:format=>:pdf,}, :back => true, :class => "btn" %>
          </div>
      <% else %>
          <div class="btn-group" >
            <%= link_to t(:export), {},:title=>t(:label_skm_wiki_static_msg),:href=>"javascript:alert('#{t(:label_skm_wiki_static_msg)}')",:class=>"btn disabled"%>
          </div>
      <% end %>

      <div class="btn-group" >
        <%= link_to t(:back), {:action => "index"},:class=>"btn" %>
      </div>
    </td>

  </tr></table>
  <div class="page-block-body">
    <div class="markdown-body" style="width: 551pt;text-align: left;margin: 0 auto;">
      <%=raw show_wiki(@wiki) %>
    </div>
  </div>
</div>
