<table class="form-table" id="baseFilter" style="width: auto;">
  <tbody>
    <tr>
      <td>
        <fieldset>
          <legend  class="input-append" style="border: none;padding: 0;">
          <span class="add-on" style="border-radius:3px;">
            <i class="icon-time"></i>
            <%= t(:label_irm_report_time_range) %>
          </span>
          </legend>
          <table>
            <tr>
              <td>
                <label for="filterDateFrom"><%= t(:label_irm_report_filter_date_from) %></label>
                <%= date_field_tag(:date_from,:value=>program_params[:date_from],:id=>"filterDateFrom",:name=>"program_params[date_from]",:nobutton=>true)%>
              </td>
              <td>
                <label for="filterDateTo"><%= t(:label_irm_report_filter_date_to) %></label>
                <%= date_field_tag(:date_to,:value=>program_params[:date_to],:id=>"filterDateTo",:name=>"program_params[date_to]",:nobutton=>true)%>
              </td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
  </tbody>
</table>