<% data_length = master_incident_request.present? ? datas.length+1 : datas.length %>
<%= detail_data_table(data_length) do %>
  <!--  irm datatable      -->
  <div class="irm-datatable">
    <div>
        <table>
          <thead>
            <tr>
              <th style="width:40px;">
                <div><%= t(:operation) %></div>
              </th>
              <th style="width:55px;">
                <div><%= t(:label_icm_incident_request_request_number_shot) %></div>
              </th>
              <th >
                <div><%= t(:label_icm_incident_request_title) %></div>
              </th>
              <th >
                <div><%= t(:label_icm_incident_request_organization) %></div>
              </th>
              <th style="width:60px;">
                <div><%= t(:label_icm_incident_request_priority) %></div>
              </th>
              <th style="width:90px;">
                <div><%= t(:label_icm_incident_request_requested_by) %></div>
              </th>
              <th style="width:110px;">
                <div><%= t(:label_icm_incident_request_last_date) %></div>
              </th>
              <th style="width:180px;">
                <div><%= t(:label_irm_external_system) %></div>
              </th>
            </tr>
          </thead>
          <tbody>
          <% if master_incident_request.present? %>
              <tr>
                <td colspan="8">
                  <div>
                    <b><%= t(:label_chm_change_request_master_incident_request) %></b>
                  </div>
                </td>

              </tr>

              <tr id="<%=master_incident_request[:id]%>">
                <td></td>
                <td>
                  <div>
                    <%= master_incident_request[:request_number] %>
                  </div>
                </td>
                <td>
                  <div>
                    <%= link_to( "(#{master_incident_request[:incident_status_name]})"+master_incident_request[:title],{:controller=>"icm/incident_journals",:action=>"new",:request_id=>master_incident_request[:id]},{:target=>"_blank"}) %>
                  </div>
                </td>
                <td>
                  <div>
                    <%= master_incident_request[:organization_name] %>
                  </div>
                </td>
                <td>
                  <div>
                    <%= master_incident_request[:priority_name] %>
                  </div>
                </td>
                <td>
                  <div>
                    <%= master_incident_request[:requested_name] %>
                  </div>
                </td>
                <td>
                  <div title="<%= format_date(master_incident_request[:last_request_date]) %>">
                    <%=I18n.t(:ago,:message=>distance_of_time_in_words(Time.now, master_incident_request[:last_request_date]))%>
                  </div>
                </td>
                <td>
                  <div>
                    <%= master_incident_request[:external_system_name] %>
                  </div>
                </td>
              </tr>
              <% end %>
              <% if datas.length>0 %>
              <tr>
                <td colspan="8">
                  <div>
                    <b><%= t(:label_chm_change_request_relation_incident_request) %></b>
                  </div>
                </td>
              </tr>
              <% end %>
              <% datas.each do |data| %>
                  <tr id="<%=data[:id]%>">
                    <td>
                      <div>
                        <%= link_to(t(:delete),{:controller => "chm/change_incident_relations",:action => "destroy",:incident_request_id=>data.id,:change_request_id=>@change_request.id},{:remote=>true,:back=>true,:method => :delete,:confirm => t(:label_are_you_sure) }) %>
                      </div>
                    </td>
                    <td>
                      <div>
                        <%= data[:request_number] %>
                      </div>
                    </td>
                    <td>
                      <div>
                        <%= link_to( "(#{data[:incident_status_name]})"+data[:title],{:controller=>"icm/incident_journals",:action=>"new",:request_id=>data[:id]},{:target=>"_blank"}) %>
                      </div>
                    </td>
                    <td>
                      <div>
                        <%= data[:organization_name] %>
                      </div>
                    </td>
                    <td>
                      <div>
                        <%= data[:priority_name] %>
                      </div>
                    </td>
                    <td>
                      <div>
                        <%= data[:requested_name] %>
                      </div>
                    </td>
                    <td>
                      <div title="<%= format_date(data[:last_request_date]) %>">
                        <%=I18n.t(:ago,:message=>distance_of_time_in_words(Time.now, data[:last_request_date]))%>
                      </div>
                    </td>
                    <td>
                      <div>
                        <%= data[:external_system_name] %>
                      </div>
                    </td>
                  </tr>
              <% end -%>
              </tbody>
        </table>
    </div>
  </div>
  <!--  end irm datatable      -->
<% end %>