<%= app_title %>

<%= form_for(@survey,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_csi_survey_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "show",:id=>@survey.id}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @survey%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
          <span class="requiredLegend">
            <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
            </span>
          <span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
          </span>
      </span>
      <h3><%=t(:label_csi_survey_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_title)%></label></td>
              <td class="dataCol" colspan="3"><%=f.text_field :title, :required=>true,:size=>80%></td>
            </tr>
            <tr>
              <td class="labelCol"><%=f.check_box :email_notify, :id=>"email_notify"%></td>
              <td class="dataCol"><label for="email_notify"><%=(t :label_csi_survey_email_notify)%></label></td>
              <td class="labelCol"><%=f.check_box :publish_response, :id=>"publish_response"%></td>
              <td class="dataCol"><label for="publish_response"><%=(t :label_csi_survey_publish_response)%></label></td>
            </tr>
            <tr>
              <td class="labelCol"><%=f.check_box :comment_flag, :id=>"comment_flag"%></td>
              <td class="dataCol"><label for="comment_flag"><%=(t :label_csi_survey_comment_flag)%></label></td>
              <td class="labelCol"><%=f.check_box :result_only_author, :id=>"author_only"%></td>
              <td class="dataCol"><label for="author_only"><%=(t :label_csi_survey_result_only_author)%></label></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_thanks_message)%></label></td>
              <td class="dataCol" colspan="3" width="82%"><%=f.text_area :thanks_message,:rows=>2,:cols=>80%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_description)%></label></td>
              <td class="dataCol" colspan="3" width="82%"><%=f.text_area :description,:rows=>2,:cols=>80%></td>
            </tr>
        </tbody>
      </table>
    </div>
    <!-- setting -->
    <div class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
      </span>
      <h3><%=t(:label_csi_survey_setting)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
           <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_with_incident_request)%></label></td>
              <td class="dataCol"><%= check_img(@survey.with_incident_request)%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_due_dates)%></label></td>
              <td class="dataCol"><%=f.text_field :due_dates,:size=>18%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
    <!-- access control -->
    <div class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
      </span>
      <h3><%=t(:label_csi_survey_access_control)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_password)%></label></td>
              <td class="dataCol"><%= f.text_field :password %></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_closed_datetime)%></label></td>
              <td class="dataCol"><%= f.text_field :closed_datetime,:id=>"id_closed_datatime"%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><%=f.check_box :same_ip_allow_flag%></td>
              <td class="dataCol"><label><%=(t :label_csi_survey_same_ip_allow_flag)%></label></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>

    <!-- Survey Range -->
    <div class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
      </span>
      <h3><%=t(:label_csi_survey_range)%></h3>
    </div>

    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label for="actionType"><%=t(:label_irm_wf_rule_action_type)%></label></td>
              <td class="dataCol" colspan="3" style="width:82%">
                <div class="actonType">
                     <label><%= t(:search) %></label>
                </div>
                <div class="actonType">
                  <select id="actionType">
                    <option value="C"><%= t(:label_irm_company) %></option>
                    <option value="O"><%= t(:label_irm_organization) %></option>
                    <option value="D"><%= t(:label_irm_department_show) %></option>
                    <option value="R"><%= t(:label_irm_role) %></option>
                    <option value="S"><%= t(:label_irm_site) %></option>
                  </select>
                </div>
                <div class="actonType">
                  <input type="text" size="30" id="duelQuery"/>
                </div>
                <div class="actonType">
                   <div class="button"><a href="javascript:void(0)" id="duelSearch"><%=t(:search) %></a></div>
                </div>
              </td>
            </tr>
            <tr id="actions">
              <td class="labelCol"></td>
              <td class="dataCol" colspan="3" width="82%">
                <table class="duel">
                  <tr class="duelTitle">
                    <th><%= t(:duel_selectable)%></th>
                    <th></th>
                    <th><%= t(:duel_selected)%></th>
                  </tr>
                  <tr class="duelList">
                    <td class="sourceCell">
                      <%= select_tag_alias(:source,ava_survey_ranges,nil,{:id=>"source",:multiple=>true,:size=>14}) %>
                    </td>
                    <td class="buttonCell">
                      <div class="text"><%= t(:add) %></div>
                      <div class="text">
                        <a href="javascript:void(0)" id="duelAdd"><img title="<%= t(:add) %>" class="rightArrowIcon" alt="<%= t(:add) %>" src="<%= theme_image_path("s.gif") %>"></a>
                      </div>
                      <div class="text">
                        <a href="javascript:void(0)" id="duelRemove"><img title="<%= t(:delete) %>" class="leftArrowIcon" alt="<%= t(:delete) %>" src="<%= theme_image_path("s.gif") %>"></a>
                      </div>
                      <div class="duelingText"><%= t(:delete) %></div>
                    </td>
                    <td class="targetCell">
                      <%= hidden_field_tag(:selected_actions, own_own_survey_ranges(@survey.id), {:id=>"selectedActions"}) %>
                      <%= select_tag_alias(:target,[],nil,{:id=>"target",:multiple=>true,:size=>14}) %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "show",:id=>@survey.id}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<%= calendar_view("id_closed_datatime","id_closed_datatime","cal") %>

<%= calendar_view("date1","date1","cal1")%>
<%= calendar_view("date2","date2","cal2")%>

<script type="text/javascript">
  GY.use("duelselect",function(Y){
    var duelselect = new Y.DuelSelect({source:"#source",target:"#target",valueNode:"#selectedActions",type:Y.one("#actionType").get("value"),addButton:"#duelAdd",removeButton:"#duelRemove"});
    Y.one("#actionType").on("change",function(e){
      Y.one("#duelQuery").set("value","");
      duelselect.filter(Y.one("#actionType").get("value"),Y.one("#duelQuery").get("value"));
    });
    Y.one("#duelSearch").on("click",function(e){
      duelselect.filter(Y.one("#actionType").get("value"),Y.one("#duelQuery").get("value"));
    });
    Y.one("#duelQuery").on("keydown",function(e){
      if(e.keyCode==13){
          e.preventDefault();
          duelselect.filter(Y.one("#actionType").get("value"),Y.one("#duelQuery").get("value"));
      }
    });
  });
</script>