<div class="sub-block">
    <h3 class="lbHeader"></h3>
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
      <tbody>
        <tr>
          <td class="pbTitle"><h3 class="lbHeader"><%= t(:label_csi_survey) %></h3></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:new), :controller => "csi/surveys", :action => "new"%></div>
          </td>
          <td class="pbHelp">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="lbBody">
<!--  irm datatable      -->
      <div class="irm-datatable">
        <div class="irm-datatable-content">
            <table id='rows' cellspacing="0" cellpadding="0" class='grid'>
              <thead class="irm-datatable-columns">
                <tr class="irm-datatable-first irm-datatable-last">
                  <th class="irm-column" style="width:220px">
                    <div class="irm-datatable-liner"><%= t(:label_csi_survey_title) %>
                    </div>
                  </th>
                  <th class="irm-column" style="width:180px;">
                    <div class="irm-datatable-liner"><%= t(:label_csi_survey_closed_datetime) %>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody class="irm-datatable-data">
              <% my_todo_surveys.each do |survey| %>
              <tr id="<%=survey[:survey_id]%>" class="irm-datatable-even">
                <td class="irm-column">
                  <div class='irm-datatable-liner'>
                    <% if survey.respond?%>
                      <%=link_to survey[:title], {:controller => "csi/surveys", :action => "show_reply", :id => survey[:survey_id],:survey_member_id=>survey.id,:back_url=>url_for({})}%>
                    <% else %>
                        <%= icon_link("btn_reply", survey[:title],{:controller => "csi/surveys", :action => "show_reply", :id => survey[:survey_id],:survey_member_id=>survey.id,:back_url=>url_for({})}) %>
                        <%=link_to survey[:title], {:controller => "csi/surveys", :action => "reply", :id => survey[:survey_id],:survey_member_id=>survey.id,:back_url=>url_for({})}%>
                    <% end %>
                   </div>
                </td>
                <td class="irm-column">
                  <div class='irm-datatable-liner'>
                    <%=survey[:end_date_active].strftime("%Y-%m-%d %H:%M:%S")%>
                  </div>
                </td>
              </tr>
              <% end -%>
              </tbody>
            </table>
        </div>
      </div>
<!--  end irm datatable      -->
    </div>
</div>
