<div class="sub-block">
    <h3 class="lbHeader"></h3>
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
      <tbody>
        <tr>
          <td class="pbTitle"><h3 class="lbHeader"><%= t(:label_csi_survey) %></h3></td>
          <td id="topButtonRow" class="pbButton">
          </td>
          <td class="pbHelp">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="lbBody">
        <div >
          <div class="irm-datatable">
            <div>
                <table id='rows'>
                  <thead>
                    <tr style="width:60px;">
                      <th>
                        <div>#</div>
                      </th>
                      <th style="width:180px;">
                        <div ><%= t(:label_csi_survey_title) %>
                        </div>
                      </th>
                      <th  style="width:180px;">
                        <div ><%= t(:label_csi_survey_created_at) %>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% results.each do |r| %>
                    <tr id="<%=r.id%>">
                      <td>
                        <div>
                          <%= r.id %>
                         </div>
                      </td>
                      <td>
                        <div>
                            <%=link_to r[:title], {:controller => "csi/surveys", :action => "show", :id =>r[:id]}%>
                         </div>
                      </td>
                      <td>
                        <div>
                          <%=r[:created_at].strftime("%Y-%m-%d %H:%M:%S")%>
                        </div>
                      </td>
                    </tr>
                    <% end -%>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
</div>
