

<div class="lightBlue">
    <div class="page-title">
        <div class="secondary-palette" style="background-color:#1797C0;">
          <h1 class="title"><%= @survey.title%></h1>
        </div>
    </div>
</div>

<div id="ep" class="detail-block page-block">
        <div>
          <div class="irm-datatable">
                <table id='rows'>
                  <thead>
                    <tr >
                      <th style="width:220px">
                        <div ><%= t(:label_csi_survey_subject_title) %>
                        </div>
                      </th>
                      <th style="width:180px;">
                        <div><%= t(:label_csi_survey_subject_result) %>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody >
                  <% @survey_results.each do |result| %>
                  <tr id="<%=result.id%>">
                    <td>
                      <div>
                        <%= result[:subject_name]%>
                       </div>
                    </td>
                    <td>
                      <div>
                        <%=result[:subject_result]%>
                      </div>
                    </td>
                  </tr>
                  <% end -%>
                  </tbody>
                </table>
          </div>
        </div>
</div>

<% content_for :sidebar do %>
    <%= render :partial =>"/irm/common/recently_objects" %>
<% end %>