<%= stylesheet_link_tag "/javascripts/yui3.3/datatable/assets/skins/sam/datatable.css"%>
<%= common_title(:show_data=>@survey.title) %>
<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_csi_survey_show) %>&nbsp;<%= t(:label_detail_info) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <%= csi_survey_show_button_bar(@survey) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_title)%></label></td>
              <td class="dataCol"><%=@survey.title%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_email_notify)%></label></td>
              <td class="dataCol"><%= check_img(@survey.email_notify)%></td>
              <td class="labelCol"><label><%=(t :label_csi_survey_publish_response)%></label></td>
              <td class="dataCol"><%= check_img(@survey.publish_response)%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_comment_flag)%></label></td>
              <td class="dataCol"><%= check_img(@survey.comment_flag)%></td>
              <td class="labelCol"><label><%=(t :label_csi_survey_result_only_author)%></label></td>
              <td class="dataCol"><%= check_img(@survey.result_only_author)%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :active)%></label></td>
              <td class="dataCol" colspan="3" width="82%"><div><%= check_img(@survey.status_code)%></div></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_thanks_message)%></label></td>
              <td class="dataCol" colspan="3" width="82%"><div><%= @survey.thanks_message%></div></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_description)%></label></td>
              <td class="dataCol" colspan="3" width="82%"><div><%= @survey.description%></div></td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="pbHeader pbSubheader" style="margin-top: 15px;">
       <table cellpadding="0" cellspacing="0" border="0">
         <tbody>
           <tr>
             <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_csi_survey_subject_list) %></h2></td>
             <td class="pbButton">
               <% if check_survey_result_exist?(@survey.id) && !@survey.enabled? %>
                 <div class="button"><%= link_to t(:add), {:controller=>"csi/survey_subjects",
                                                         :action=>"new",:survey_id=>@survey.id}%></div>
               <% else %>
                 <div class="button"><%= link_to t(:add), {:controller=>"csi/survey_subjects",
                                                         :action=>"new",:survey_id=>@survey.id}, :disabled => true%></div>

               <% end %>
             </td>
           </tr>
         </tbody>
       </table>
    </div>

    <div id="survey_subject" class="datatable" style="width:100%;">
          <div id="id" style="display:none">
            <% if check_survey_result_exist?(@survey.id) && !@survey.enabled? %>
              <%= link_to(t(:edit),{:controller=>"csi/survey_subjects",:action=>"edit",:id=>"{id}",
                                    :survey_id=>@survey.id}) %>&nbsp;&nbsp;
              <%= link_to(t(:delete),{:controller=>"csi/survey_subjects",:action=>"destroy",:id=>"{id}",:survey_id=>@survey.id},:confirm => t(:label_are_you_sure) ,
                                      :method => :delete) %>
            <% else %>
              <%= t(:edit) %>&nbsp;&nbsp;
              <%= t(:delete) %>
            <% end %>
          </div>
    </div>
        <%= datatable("survey_subject",url_for(:controller=>"csi/survey_subjects",:action=>"get_data",:id=>@survey.id,:survey_id=>@survey.id),
                  [{:key=>"id",:label=>t(:operation),:hidden=>!check_survey_result_exist?(@survey.id),:formatter=>"Y.irm.template",:width=>"80px"},
                   {:key=>"seq_num",:label=>t(:label_csi_survey_subject_seq_num),:width=>"70px"},
                   {:key=>"name",:label=>t(:label_csi_survey_subject_title)},
                   {:key=>"prompt",:label=>t(:label_csi_survey_subject_prompt)},
                   {:key=>"required_flag",:label=>t(:required)}],
                   {:row_perpage=>20})
        %>
    <div class="pbSubheader tertiaryPalette">&nbsp;
      <h3><%=t(:label_csi_survey_setting)%><span class="titleSeparatingColon"></span></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
           <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_with_incident_request)%></label></td>
              <td class="dataCol"><%= check_img(@survey.with_incident_request)%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_due_dates)%></label></td>
              <td class="dataCol"><%=@survey.due_dates%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>

        </tbody>
      </table>
    </div>
    <div class="pbSubheader tertiaryPalette">&nbsp;
      <h3><%=t(:label_csi_survey_access_control)%><span class="titleSeparatingColon"></span></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
           <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_password)%></label></td>
              <td class="dataCol"><%= @survey.password %></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_closed_datetime)%></label></td>
              <td class="dataCol"><%= @survey.closed_datetime%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_same_ip_allow_flag)%></label></td>
              <td class="dataCol"><%= check_img(@survey.same_ip_allow_flag)%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="pbHeader pbSubheader" style="margin-top: 15px;">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_csi_survey_range_list) %></h2></td>
              <td class="pbButton">
              </td>
            </tr>
          </tbody>
        </table>
     </div>
    <div class="pbBody">
        <%ranges = duel_meaning(@survey.get_range_str,duel_values)%>
        <% if ranges.any? %>
        <table class="detailList" cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <% ranges.each do |r|%>
            <tr>
              <td class="labelCol"></td>
              <td class="dataCol"><%= r%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
          <div style="font-size: 15px;"><%= t(:label_no_data) %></div>
        <% end %>
    </div>
  </div>
</div>


<% content_for :sidebar do %>
    <%= render :partial =>"/irm/common/recently_objects" %>
<% end %>