<%= common_title %>
<div class="page-block">
    <table class="page-block-header"><tr>
      <td class="page-block-title">
        <h2 class="block-title">Project</h2>
      </td>
      <td class="page-block-button">

      </td>
    </tr></table>
    <div class="page-block-body">
      <div class="sub-page-block">
        <div class="sub-page-block-body">
          <%= form_tag({:action=> "sindex"},{:id=>"search_index",:name=>"search_index"}) do%>
          <table style = "width:100%">
            <tr>
              <td>
                Project
              </td>
              <td>
                System Name
              </td>
              <td>
                Module
              </td>
              <td>
                Require Date from
              </td>
            </tr>
            <tr>
              <td>
              <%= select_tag_multiple(
                          "project_params[project_id][]",
                          options_for_select(get_project_list, @project_params.present? ? @project_params[:project_id] : nil),
                          "project_params[project_mul]",
                          @project_params.present? && @project_params[:project_mul] ? @project_params[:project_mul] : 'N',
                          {:prompt=>"--- #{I18n.t(:actionview_instancetag_blank_option)} ---",
                           :blank=> "--- #{I18n.t(:actionview_instancetag_blank_option)} ---", :style => "width:210px;"} )%>
              </td>
              <td>
                <%= text_field_tag "project_params[system]", @project_params.present?&&@project_params[:system].present? ? @project_params[:system] : nil%>
              </td>
              <td>
                <%= text_field_tag "project_params[module]", @project_params.present?&&@project_params[:module].present? ? @project_params[:module] : nil%>
              </td>
              <td>
                <%= date_field_tag "project_params[date_from]",
                                   :value => @project_params.present?&&@project_params[:date_from].present? ? @project_params[:date_from] : nil,
                                   :id => "data_from",
                                   :style => "width:130px;"%>
              </td>
            </tr>
            <tr>
              <td>
                Owner
              </td>
              <td>
                Risk Class
              </td>
              <td>
                Status
              </td>
              <td>
                Require Date to
              </td>
            </tr>
            <tr>
              <td>
                <%= text_field_tag "project_params[owner]", @project_params.present?&&@project_params[:owner].present? ? @project_params[:owner] : nil%>
              </td>
              <td>
                <%= text_field_tag "project_params[risk_class]", @project_params.present?&&@project_params[:risk_class].present? ? @project_params[:risk_class] : nil%>
              </td>
              <td>
                <%= text_field_tag "project_params[dev_status]", @project_params.present?&&@project_params[:dev_status].present? ? @project_params[:dev_status] : nil%>
              </td>
              <td>
                <%= date_field_tag "project_params[date_to]",
                                   :value => @project_params.present?&&@project_params[:date_to].present? ? @project_params[:date_to] : nil,
                                   :id => "data_to",
                                   :style => "width:130px;"%>
              </td>
            </tr>
            <tr>
              <td colspan = 4>
                <%= link_submit("Search",{:class => "btn btn-primary"}) %>
              </td>
            </tr>
            <tr>
              <td colspan = 4>
                <div class="btn-toolbar" >
                <div class="btn-group">
                  <%= link_to "General Design", {} ,{:class=>"btn active showorhide", :key => "general_design"}%>
                  <%= link_to "Functional Design", {} ,{:class=>"btn showorhide", :key => "functional_design"}%>
                  <%= link_to "Functional Design Review", {} ,{:class=>"btn showorhide", :key => "functional_design_review"}%>
                  <%= link_to "Technical Design", {} ,{:class=>"btn showorhide", :key => "technical_design"}%>
                  <%= link_to "Coding", {} ,{:class=>"btn showorhide", :key => "coding"}%>
                  <%= link_to "Testing", {} ,{:class=>"btn showorhide", :key => "testing"}%>
                  <%= link_to "Setups&Installation", {} ,{:class=>"btn showorhide", :key => "setups_installation"}%>
                  <%= link_to "Acceptance Testing", {} ,{:class=>"btn showorhide", :key => "acceptance_testing"}%>
                  <%= link_to "Golive", {} ,{:class=>"btn showorhide", :key => "golive"}%>
                </div></div>
              </td>
            </tr>
          </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title">Development Management</h2>
    </td>
    <td class="page-block-button">
            <%= link_to t(:new), {:action => "new"},{:class=>"btn btn-primary"}%>
    </td>
    <td class="page-block-help">
      <div id="searchBox"></div>
    </td>
  </tr></table>
  <div class="page-block-body">
    <%= datatable("dev_managements",{:action=>"get_data", :project_params => @project_params.present? ? @project_params : nil},[],
                  {
                      :search_box=>"searchBox",
                      :paginator_box=>'paginatorBox',
                      :view_filter => true,
                      :scroll => "xy"
                  })%>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".showorhide").bind("click", function(){
            if ($(this).hasClass("active"))
            {
                $(this).removeClass("active")
            }
            else
            {
                $(this).addClass("active")
            }
        });
    });
</script>
