<%= common_title %>
<div class="page-block">
    <table class="page-block-header"><tr>
      <td class="page-block-title">
        <h2 class="block-title">Project</h2>
      </td>
      <td class="page-block-button">

      </td>
    </tr></table>
    <div class="page-block-body">
      <div class="sub-page-block">
        <div class="sub-page-block-body">
          <%= form_tag({:action=> "index"},{:id=>"search_index",:name=>"search_index"}) do%>
          <%= select_tag_multiple(
                      "project_params[project_id][]",
                      options_for_select(get_project_list, @project_params.present? ? @project_params[:project_id] : nil),
                      "project_params[project_mul]",
                      @project_params.present? && @project_params[:project_mul] ? @project_params[:project_mul] : 'N',
                      {:prompt=>"--- #{I18n.t(:actionview_instancetag_blank_option)} ---",
                       :blank=> "--- #{I18n.t(:actionview_instancetag_blank_option)} ---"} )%>
          <%= link_submit("Search",{:class => "btn btn-primary"}) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title">Development Management</h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:new), {:action => "new"},{:class=>"btn btn-primary"}%>
    </td>
    <td class="page-block-help">
      <div id="searchBox"></div>
    </td>
  </tr></table>
  <div class="page-block-body">
    <%= datatable("dev_managements",{:action=>"get_data", :project_params => @project_params.present? ? @project_params : nil},[],
                  {
                      :search_box=>"searchBox",
                      :paginator_box=>'paginatorBox'
                  })%>
  </div>
</div>
