<%= page_title %>
<!--页面结构-->
<div class="show-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_slm_service_agreement_show) %></h2>
      </td>
      <td class="page-block-button">
        <%= link_to t(:edit), {:action => "edit", :id => @service_agreement.id}, :class => "btn btn-primary" %>
        <%= link_to t(:new), {:action => "new"}, :class => "btn" %>
        <%= link_to t(:back), {:action => "index"}, :class => "btn" %>
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
      <tr>
        <td class="label-col"><label><%= t(:label_slm_service_agreement_name) %></label></td>
        <td class="data-col"><%= @service_agreement[:name] %></td>
        <td class="label-col"></td>
        <td class="data-col"></td>
      </tr>
      <tr>
        <td class="label-col"><label><%= t(:label_slm_service_agreement_duration) %></label></td>
        <td class="data-col">
          <%= @service_agreement.duration_day %><%= t(:label_slm_service_agreement_duration_day) %>
          <%= @service_agreement.duration_hour %><%= t(:label_slm_service_agreement_duration_hour) %>
          <%= @service_agreement.duration_minute %><%= t(:label_slm_service_agreement_duration_minute) %>
        </td>
        <td class="label-col"></td>
        <td class="data-col"></td>
      </tr>
      <tr>
        <td class="label-col"><label><%= t(:label_slm_service_agreement_calendar) %></label></td>
        <td class="data-col"><%= @service_agreement[:calendar_name]%></td>
        <td class="label-col"></td>
        <td class="data-col"></td>
      </tr>
      <tr>
        <td class="label-col"><label><%= t(:label_slm_service_agreement_time_zone) %></label></td>
        <td class="data-col"><%= ActiveSupport::TimeZone.new(@service_agreement.time_zone).to_s %></td>
        <td class="label-col"></td>
        <td class="data-col"></td>
      </tr>
      <tr>
        <td class="label-col"><label><%= t(:label_slm_service_agreement_description) %></label></td>
        <td class="data-col"><%= @service_agreement[:description] %></td>
        <td class="label-col"></td>
        <td class="data-col"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_slm_service_agreement_filters) %></h2>
      </td>
      <td class="page-block-button">
      </td>
    </tr>
  </table>

  <div class="page-block-body">
    <div class="sub-page-block">
      <!-- 一般信息 -->
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title"><%= t(:label_slm_service_agreement_start_rule_filter) %></h3>
      </div>
      <div class="sub-page-block-body">
        <table class="show-table">
          <tbody>
          <tr>
            <td class="label-col"></td>
            <td class="data-3col" colspan="3"><%= @start_rule_filter.meaning %></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="page-block-body">
    <div class="sub-page-block">
      <!-- 一般信息 -->
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title"><%= t(:label_slm_service_agreement_pause_rule_filter) %></h3>
      </div>
      <div class="sub-page-block-body">
        <table class="show-table">
          <tbody>
          <tr>
            <td class="label-col"></td>
            <td class="data-3col" colspan="3"><%= @pause_rule_filter.meaning %></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="page-block-body">
    <div class="sub-page-block">
      <!-- 一般信息 -->
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title"><%= t(:label_slm_service_agreement_stop_rule_filter) %></h3>
      </div>
      <div class="sub-page-block-body">
        <table class="show-table">
          <tbody>
          <tr>
            <td class="label-col"></td>
            <td class="data-3col" colspan="3"><%= @stop_rule_filter.meaning %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="page-block-body">
    <div class="sub-page-block">
      <!-- 一般信息 -->
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title"><%= t(:label_slm_service_agreement_cancel_rule_filter) %></h3>
      </div>
      <div class="sub-page-block-body">
        <table class="show-table">
          <tbody>
          <tr>
            <td class="label-col"></td>
            <td class="data-3col" colspan="3"><%= @cancel_rule_filter.meaning %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_slm_service_agreement_actions) %></h2>
      </td>
      <td class="page-block-button">
      </td>
    </tr>
  </table>

  <div class="page-block-body">
    <div class="sub-page-block">
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title"><%= t(:label_slm_service_agreement_time_dependent_actions) %></h3>
      </div>
      <div class="sub-page-block-body">
        <div>
          <%= render(:partial => "time_triggers", :locals => {:service_agreement => @service_agreement, :time_triggers => service_agreement_time_triggers(@service_agreement.id)}) %>
        </div>

        <div class="btn-group">
          <% if @service_agreement.enabled? %>
              <%= link_to t(:label_slm_service_agreement_add_time_trigger), {:controller => "slm/time_triggers", :action => "new", :service_agreement_id => @service_agreement.id}, :class => "btn" %>
          <% else %>
              <%= link_to t(:label_slm_service_agreement_add_time_trigger), {}, :disabled => true, :class => "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function ShowHide(id, e) {
        if ($(e).attr("checked")) {
            $('#' + id).css("display", "block");
        } else {
            $('#' + id).css("display", "none");
        }
    }

    $(function () {
        $("#id_assignee_type").cascade("#id_assignee");
    });

    $(function () {
        $("#id_assignee_type_first").cascade("#id_assignee_first");
        $("#id_assignee_type_second").cascade("#id_assignee_second");
        $("#id_assignee_type_third").cascade("#id_assignee_third");
        $("#id_assignee_type_fourth").cascade("#id_assignee_fourth");
    });
</script>



