<%= common_title(:action_meaning=> t(:new)) %>
<% require_jscss(:maxlength) %>
<% temp_master_id = @temp_master_id%>
<style type="text/css">
    textarea {height:50px;}
</style>

<script type="text/javascript">
    var required_set_1=new Array("mam_master_item_item_code","mam_master_item_template", "mam_master_item_item_description", "mam_master_item_organization",
            "mam_master_item_primary_unit", "mam_master_item_department", "mam_master_item_business_unit", "mam_master_item_inventory_account",
            "mam_master_item_inventory_sub_account", "mam_master_item_sn_generation");
    var required_set_2=new Array("mam_master_item_item_code", "mam_master_item_organization");
    var enable_set=new Array("mam_master_item_item_description", "mam_master_item_reference_item", "mam_master_item_template",
            "mam_master_item_primary_unit", "mam_master_item_department", "mam_master_item_business_unit", "mam_master_item_inventory_account",
            "mam_master_item_inventory_sub_account", "mam_master_item_sn_generation");
    var all_set = new Array("mam_master_item_item_code","mam_master_item_template", "mam_master_item_item_description", "mam_master_item_organization",
            "mam_master_item_primary_unit", "mam_master_item_department", "mam_master_item_business_unit", "mam_master_item_inventory_account",
            "mam_master_item_inventory_sub_account", "mam_master_item_sn_generation")
    var current_required_set = required_set_1;
    function checkForm(required_set, id) {
        pass = true;
        $.each(required_set, function(){
                    if(typeof($("#" + this).val()) == "undefined" || $("#"+this).val() == ''){
                        alert("Required fields can not be blank");
                        $("#"+this).focus();
                        if(id != ''){
                            $("#"+id).unmask();
                        }
                        pass = false;
                        return false;
                    }
                }
        )
        return pass;
    }

    function checkEnabled(enable_set, enabled) {
        $.each(enable_set, function(){
                if (enabled) {
                    $("#"+this).removeAttr("disabled");
                }
                else {
                    $("#"+this).attr("disabled", "disabled");
                }
            }
        )
    }
    function resetDetailForm(){
        $.each(all_set, function(){
            $("#"+this).val('');
        })
    }
    function checkCategory(){
        if($("#mam_master_category").val()=="IT_NEW"){
            checkEnabled(enable_set, true);
            current_required_set = required_set_1;
            $.each(required_set_1, function(){
                $("#"+this).parent().parent().removeClass("form-field-required");
            })
            $.each(current_required_set, function(){
                $("#"+this).parent().parent().addClass("form-field-required");
            })
        }
        else if($("#mam_master_category").val()=="IT_ASSIGN_ORG"){
            checkEnabled(enable_set, false);
            current_required_set = required_set_2;
            $.each(required_set_1, function(){
                $("#"+this).parent().parent().removeClass("form-field-required");
            })
            $.each(current_required_set, function(){
                $("#"+this).parent().parent().addClass("form-field-required");
            })
        }
    }

    $(document).ready(function () {
        checkCategory();
        $("#mam_master_category").bind("change", function(){
            checkCategory();
        })

        $.each(all_set, function(){
            if(typeof($("#" + this).attr("maxlength")) != "undefined"){
                $("#"+this).maxlength({
                    max: $("#"+this).attr("maxlength"),
                    showFeedback: true
                });
            }
        })
    });
</script>

    <% content_for :item do %>
        <%= form_for(@master_item, :url=>{:action=>"add_item", :master_id => temp_master_id, :format => "js"},
                     :builder => CustomFormBuilder,
                     :html => {:multipart => true, :target => "frame",
                               :onsubmit => "return checkForm(current_required_set, 'new_mam_master_item');"}) do |f| %>

            <iframe id='frame' name="frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
            <table class="form-table">
              <tbody>
              <tr>
                <td class="label-col"><label>Item Code</label></td>
                <td class="data-col">
                  <%= f.text_field :item_code,:required => true, :maxlength => 40%>
                  <%= mam_demo_label("KAC1*EBS")%>
                </td>
                <td class="label-col"><label>Item Description</label></td>
                <td class="data-col">
                  <%= f.text_area :item_description,:required => true, :maxlength => 240%>
                  <%= mam_demo_label("KAC1(AIR CLEANER KIT)")%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Organization</label></td>
                <td class="data-col">
                  <%= f.text_field :organization,:required => true%>
                  <%= mam_demo_label("XC1，XC2")%>
                </td>
                <td class="label-col"><label>Template</label></td>
                <td class="data-col">
                  <%= f.select :template,
                                       Irm::LookupValue.query_by_lookup_type("MAM_TEMPLATE").
                                               order_by_sequence.multilingual.
                                               collect{|m| ["#{m.lookup_code}-#{m[:meaning]}", m.lookup_code]},
                                       :required => true%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Reference Item</label></td>
                <td class="data-col">
                  <%= f.text_field :reference_item%>
                  <%= mam_demo_label("01007Y-05102*EBS")%>
                </td>
                <td class="label-col"><label>Primary Unit of Measure</label></td>
                <td class="data-col">
                  <%= f.text_field :primary_unit, :required => true, :maxlength => 25%>
                  <%= mam_demo_label("UNIT")%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Department</label></td>
                <td class="data-col">
                  <%= f.select :department,
                               Irm::LookupValue.get_list_with_code("MAM_DEPARTMENT"),
                               :required => true%>
                </td>
                <td class="label-col"><label>Business Unit</label></td>
                <td class="data-col">
                  <%= f.select :business_unit,
                               Irm::LookupValue.get_list_with_code("MAM_BUSINESS_UNIT"),
                               :required => true%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Inventory Account</label></td>
                <td class="data-col">
                  <%= f.select :inventory_account,
                               Irm::LookupValue.get_list_with_code("MAM_INV_ACCOUNT"),
                               :required => true%>
                </td>
                <td class="label-col"><label>Inventory Sub-Account</label></td>
                <td class="data-col">
                  <%= f.select :inventory_sub_account,
                               Irm::LookupValue.get_list_with_code("MAM_INV_SUB_ACCOUNT"),
                               :required => true%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Serial Number Generation</label></td>
                <td class="data-col">
                  <%= f.select :sn_generation,
                               Irm::LookupValue.query_by_lookup_type("MAM_SNG").
                                       order_by_sequence.multilingual.
                                       collect{|m| ["#{m[:meaning]}", m.lookup_code]},
                               :required => true%>
                </td>
              </tr>
              <tr>
                <td class="label-col"></td>
                <td class="label-col"><%= link_submit "Add",{:class=>"btn btn-primary"}%></td>
              </tr>
              </tbody>
            </table>
        <% end %>
    <% end%>

    <!--页面结构-->
    <div class="page-block">

      <%= form_for(@master,:url=>{:action=>"create_item"},:builder => CustomFormBuilder,:html => { :multipart => true }) do |f| %>
      <table class="page-block-header"><tr>
        <td class="page-block-title">
          <h2 class="block-title">New Master-Item</h2>
        </td>
        <td class="page-block-button">
          <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
          <%= link_to t(:cancel),{:action => "index"},{:class=>"btn cancel"}%>
        </td>
      </tr></table>
      <%= error_for @master %>
      <div class="page-block-body">
        <div class="sub-page-block">
          <div class="sub-page-block-header">
            <h3 class="sub-page-block-title">Master Info</h3>
          </div>
          <div class="sub-page-block-body">
            <%= hidden_field_tag :return_url,@return_url %>
            <%= hidden_field_tag :temp_master_id,temp_master_id %>
            <table class="form-table">
              <tbody>
              <tr>
                <td class="label-col"><label>Requester</label></td>
                <td class="data-col">
                  <%= Irm::Person.current.full_name%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>System</label></td>
                <td class="data-col">
                  <%=f.select :system_id, mam_ava_system_for_person(Irm::Person.current.id)%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Category</label></td>
                <td class="data-col">
                  <%=f.select :category, available_lookup_type("MAM_ITEM_CATEGORY"),{:value=>@master.category}%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Remark</label></td>
                <td class="data-col">
                  <%= f.text_area :remark%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Contact</label></td>
                <td class="data-col">
                  <%= f.text_field :contact, :value => Irm::Person.current.full_name%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Contact Number</label></td>
                <td class="data-col">
                  <%= f.text_field :contact_number%>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% end %>
      <div class="page-block-body">
        <div class="sub-page-block">
          <div class="sub-page-block-header">
            <h3 class="sub-page-block-title">Item Info</h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :item %>
          </div>
        </div>
      </div>

      <div class="page-block-body">
        <div class="sub-page-block">
          <div class="sub-page-block-header">
            <h3 class="sub-page-block-title">Item Added</h3>
          </div>
          <div class="sub-page-block-body">
            <%= datatable("master_item",{:action=>"get_item_data",:master_id => temp_master_id},[],{:paginator_box=>"masterItemPaginator"})%>
          </div>
        </div>
      </div>
    </div>
