<%= common_title(:action_meaning=> t(:new)) %>

<% temp_master_id = @temp_master_id%>
<style>
  textarea {height:50px;}
</style>
<!--页面结构-->
<div class="page-block">

  <%= form_for(@master,:url=>{:action=>"create_sc"},:builder => CustomFormBuilder,:html => { :multipart => true }) do |f| %>
      <table class="page-block-header"><tr>
        <td class="page-block-title">
          <h2 class="block-title">New Supplier & Customer</h2>
        </td>
        <td class="page-block-button">
          <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
          <%= link_to t(:cancel),{:action => "index"},{:class=>"btn cancel"}%>
        </td>
      </tr></table>
      <%= error_for @master %>
      <div class="page-block-body">
        <div class="sub-page-block">
          <div class="sub-page-block-header">
            <h3 class="sub-page-block-title">Master Info</h3>
          </div>
          <div class="sub-page-block-body">
            <%= hidden_field_tag :return_url,@return_url %>
            <%= hidden_field_tag :temp_master_id,temp_master_id %>
            <table class="form-table">
              <tbody>
              <tr>
                <td class="label-col"><label>Requester</label></td>
                <td class="data-col">
                  <label>Requester</label>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>System</label></td>
                <td class="data-col">
                  <%=f.select :system_id, mam_ava_system_for_person(Irm::Person.current.id)%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Category</label></td>
                <td class="data-col">
                  <%=f.select :category, available_lookup_type("MAM_ITEM_CATEGORY"),{:value=>@master.category}%>
                </td>
              </tr>
              <%= fields_for("master_sc[]", @master.master_scs.build()) do |sub_f|%>
              <tr>
                <td class="label-col"><label>Party Name(English)</label></td>
                <td class="data-col">
                  <%= sub_f.text_area :party_name_e%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Party Name(Local)</label></td>
                <td class="data-col">
                  <%= sub_f.text_area :party_name_l%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>DNUS Number</label></td>
                <td class="data-col">
                  <%= sub_f.text_field :duns_number%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Type</label></td>
                <td class="data-col">
                  <%= sub_f.select :scs_type, available_lookup_type("MAM_SC_TYPE")%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Country</label></td>
                <td class="data-col">
                  <%= sub_f.text_field :country%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>State</label></td>
                <td class="data-col">
                  <%= sub_f.text_field :state%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Postal Code</label></td>
                <td class="data-col">
                  <%= sub_f.text_field :postal_code%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>City</label></td>
                <td class="data-col">
                  <%= sub_f.text_field :city%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Address Line 1</label></td>
                <td class="data-col">
                  <%= sub_f.text_area :address_line_1%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Address Line 2</label></td>
                <td class="data-col">
                  <%= sub_f.text_area :address_line_2%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Address Line 3</label></td>
                <td class="data-col">
                  <%= sub_f.text_area :address_line_3%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Account Type</label></td>
                <td class="data-col">
                  <%= sub_f.select :account_type, available_lookup_type("MAM_SC_ACCOUNT_TYPE")%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Classification</label></td>
                <td class="data-col">
                  <%= sub_f.select :classification, available_lookup_type("MAM_SC_CLASSIFICATION")%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Credit Limit</label></td>
                <td class="data-col">
                  <%= sub_f.text_field :credit_limit%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label>Currency</label></td>
                <td class="data-col">
                  <%= sub_f.select :currency, available_lookup_type("MAM_SC_CURRENCY")%>
                </td>
              </tr>
              <% end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  <% end %>
</div>
