<%= common_title(:action_meaning=>t(:label_common_info)) %>
<!--页面结构-->
<div class="show-block">
  <table class="page-block-header">
    <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%= t(:label_irm_mail_setting) %></h2>
        </td>
        <td class="page-block-button">
          <%= link_to t(:edit), {:action => "edit"},:class => "btn btn-primary" %>
          <% if @smtp_setting.active_flag.eql?('Y') %>
            <%= link_to t(:test), "#testSmtpSetting",{:class=>"btn", "data-toggle" => "modal"}%>
          <% end %>
        </td>
    </tr>
  </table>
  <div class="page-block-body">
    <!-- 邮件服务器 -->
    <div class="sub-page-block">
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title"><%=t(:label_irm_mail_server)%></h3>
      </div>
      <div class="sub-page-block-body">
        <table class="show-table">
          <tbody>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_username %></label></td>
                <td class="data-2col"><%= @smtp_setting.username%></td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_password %></label></td>
                <td class="data-2col"><%= @smtp_setting.password%></td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_timeout %></label></td>
                <td class="data-2col"><%= @smtp_setting.timeout%></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- SMTP邮件服务器 -->
    <div class="sub-page-block">
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title"><%=t(:label_irm_mail_smtp_server)%></h3>
      </div>
      <div class="sub-page-block-body">
        <table class="show-table" cellpadding="0" cellspacing="0" border="0">
          <tbody>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_smtp_host_name %></label></td>
                <td class="data-2col"><%= @smtp_setting.host_name%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_from_address %></label></td>
                <td class="data-2col"><%= @smtp_setting.from_address%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_smtp_port %></label></td>
                <td class="data-2col"><%= @smtp_setting.port%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_authentication %></label></td>
                <td class="data-2col"><%= @smtp_setting.authentication %>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :active %></label></td>
                <td class="data-2col"><%= check_img @smtp_setting.active_flag %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- POP/IMAP邮件服务器 -->
    <div class="sub-page-block">
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title"><%=t(:label_irm_mail_imap_server)%></h3>
      </div>
      <div class="sub-page-block-body">
        <table class="show-table">
          <tbody>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_imap_host_name %></label></td>
                <td class="data-2col"><%= @imap_setting.host_name%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_protocol %></label></td>
                <td class="data-2col"><%= @imap_setting.protocol%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_imap_port %></label></td>
                <td class="data-2col"><%= @imap_setting.port%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_prefix %></label></td>
                <td class="data-2col"><%= @smtp_setting.email_prefix%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :active %></label></td>
                <td class="data-2col"><%= check_img @imap_setting.active_flag %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% if @smtp_setting.active_flag.eql?('Y') %>
<div id="testSmtpSetting" class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><%= t(:label_irm_mail_test) %></h3>
  </div>
  <%= form_tag({:action => "test_smtp"},:builder => CustomFormBuilder, :class => "modal-form", :remote => true) do %>
    <div class="modal-body">
      <label><%= t(:label_irm_mail_test_label) %></label>
      <input type="email" class="input-xlarge" name="email"/>
      <span class="help-block"><%= t(:label_irm_mail_test_help) %></span>
    </div>
    <div class="modal-footer">
      <%= link_to t(:cancel), "javascript:void(0);", :class => "btn", "data-dismiss" => "modal", "aria-hidden" => "true"  %>
      <%= link_submit t(:label_irm_common_send),{:class=>"btn btn-primary" }%>
    </div>
  <% end %>
</div>
<% end %>