<tr id="duelSearchBox">
  <td class="dataCol" colspan="3" style="width:82%">
    <div class="floatLeft">
         <label><%= t(:search) %></label>
    </div>
    <div class="floatLeft">
       <%=select_tag_alias :duel_type,types,{},:id=>"duelType"%>
    </div>
    <div class="floatLeft">
      <input type="text" size="30" id="duelQuery"/>
    </div>
    <div class="floatLeft">
       <div class="button"><a href="javascript:void(0)" id="duelSearch"><%=t(:search) %></a></div>
    </div>
  </td>
</tr>
<tr id="duelSelectBox">
  <td class="dataCol" colspan="3" width="82%">
    <table class="duel">
      <tr class="duelTitle">
        <th><%= t(:duel_selectable)%></th>
        <th></th>
        <th><%= t(:duel_selected)%></th>
      </tr>
      <tr class="duelList">
        <td class="sourceCell">
          <%= select_tag_alias(:source,sources,nil,{:id=>"source",:multiple=>true,:size=>7}) %>
        </td>
        <td class="buttonCell">
          <div class="text"><%= t(:add) %></div>
          <div class="text">
            <a href="javascript:void(0)" id="duelAdd"><img title="<%= t(:add) %>" class="rightArrowIcon" alt="<%= t(:add) %>" src="<%= theme_image_path("s.gif") %>"></a>
          </div>
          <div class="text">
            <a href="javascript:void(0)" id="duelRemove"><img title="<%= t(:delete) %>" class="leftArrowIcon" alt="<%= t(:delete) %>" src="<%= theme_image_path("s.gif") %>"></a>
          </div>
          <div class="duelingText"><%= t(:delete) %></div>
        </td>
        <td class="targetCell">
          <%= f.hidden_field(str_value_field,:value=>str_value,:id=>"strValue") %>
          <%= select_tag_alias(:target,[],nil,{:id=>"target",:multiple=>true,:size=>7}) %>
        </td>
      </tr>
    </table>
  </td>
</tr>

<script type="text/javascript">
  GY.use("duelselect",function(Y){
        var duelselect = new Y.DuelSelect({source:"#source",target:"#target",valueNode:"#strValue",type:Y.one("#duelType").get("value"),addButton:"#duelAdd",removeButton:"#duelRemove"});
        Y.one("#duelType").on("change",function(e){
          Y.one("#duelQuery").set("value","");
          duelselect.filter(Y.one("#duelType").get("value"),Y.one("#duelQuery").get("value"));
        });
        Y.one("#duelSearch").on("click",function(e){
          duelselect.filter(Y.one("#duelType").get("value"),Y.one("#duelQuery").get("value"));
        });
        Y.one("#duelQuery").on("keydown",function(e){
          if(e.keyCode==13){
              e.preventDefault();
              duelselect.filter(Y.one("#duelType").get("value"),Y.one("#duelQuery").get("value"));
          }
        });
  });
</script>