<% require_jscss(:newhighcharts) %>
<style>
  #daily_chart_1,#daily_chart_2{
      height: 575px;
  }
</style>
<table style="width:98%;table-layout:fixed" >
        <tr>
          <td>
            <div id="daily_chart_1"></div>
          </td>
          <td>
            <div id="daily_chart_2"></div>
          </td>
        </tr>
      </table>
<script type="text/javascript">

    $(function () {
        $('#daily_chart_1').highcharts({
            title: {
                text: '每月问题量统计',
                x: -20 //center
            },
            subtitle: {
                x: -20
            },
            xAxis: {
                categories: ['<%= @table_a_month.join("','")%>'],
                labels: {
                    style: {
                        fontSize: '10px'
                    }
                }
            },
            yAxis: [{
                title: {
                    text: '问题量统计'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                min:0
            }],
            colors: ['#73AADC','#F3A571'],
            tooltip: {
//                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                type: 'line',
                name: '新增需求类',
                data: [<%= @month_need_create.join(',')%>],
                dataLabels: {
                    enabled: false,
                    rotation: -90,
                    color: '#000000',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }, {
                    type: 'line',
                    name: '咨询纠错类',
                    data: [<%= @month_other_create.join(',')%>],
                    dataLabels: {
                        enabled: false,
                        rotation: -90,
                        color: '#000000',
                        align: 'right',
                        x: 4,
                        y: 10,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif',
                            textShadow: '0 0 3px black'
                        }
                    }
                }]
        });
        $('#daily_chart_2').highcharts({
            title: {
                text: '每月工时量统计',
                x: -20 //center
            },
            subtitle: {
                x: -20
            },
            xAxis: {
                categories: ['<%= @table_a_month.join("','")%>'],
                labels: {
                    style: {
                        fontSize: '10px'
                    }
                }
            },
            yAxis: [{
                title: {
                    text: '工时量统计'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                min:0
            }],
            colors: ['#73AADC','#F3A571'],
            tooltip: {
//                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                type: 'line',
                name: '新增需求类',
                data: [<%= @month_need_workload.join(',')%>],
                dataLabels: {
                    enabled: false,
                    rotation: -90,
                    color: '#000000',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }, {
                type: 'line',
                name: '咨询纠错类',
                data: [<%= @month_other_workload.join(',')%>],
                dataLabels: {
                    enabled: false,
                    rotation: -90,
                    color: '#000000',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });
    function myrefresh()
    {
        window.location.reload();
    }
    setTimeout('myrefresh()',90000); //指定90秒刷新一次

</script>

