<%= page_title %>

<div id="ep" class="detail-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_portlet) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @portlet}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_portlet_code)%></label></td>
              <td class="dataCol"><div><%= @portlet.code %></div></td>
              <td class="labelCol empty"><div>&nbsp;</div></td>
              <td class="dataCol empty"><div>&nbsp;</div></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_portlet_controller)%></label></td>
              <td class="dataCol"><div><%= @portlet.controller %></div></td>
              <td class="labelCol empty"><div>&nbsp;</div></td>
              <td class="dataCol empty"><div>&nbsp;</div></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_portlet_action)%></label></td>
              <td class="dataCol"><div><%= @portlet.action %></div></td>
              <td class="labelCol empty"><div>&nbsp;</div></td>
              <td class="dataCol empty"><div>&nbsp;</div></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%=render :partial=>"multilingual/show",:locals=>{:main_data=>@portlet} %>