<%= page_title %>
<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_organization_info_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="organization_infosSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="organization_infos" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:action=>"edit",:id=>"{id}"}) %>|<%= link_to(t(:show),{:action=>"show",:id=>"{id}"}) %>
          </div>
        </div>
        <%= datatable("organization_infos",{:action=>"get_data",:format=>"json"},
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"70px"},
                       { :key => "name", :label => t(:label_irm_tab_name),:searchable=>true },
                       { :key => "value", :label => t(:label_irm_organization_info_value),:searchable=>true },
                       { :key => "attachment", :label => t(:label_irm_organization_info_file)},
                       { :key => "description", :label => t(:label_irm_tab_description),:width=>"250px"}
                      ],{:paginator_box=>"organization_infosPaginatorBox",:search_box=>"organization_infosSearchBox"})%>
        <div id="organization_infosPaginatorBox"></div>
      </div>
    </div>
</div>


