<% require_jscss(:waypoints) %>
<style type="text/css" xmlns="http://www.w3.org/1999/html">
    ul {
        padding-left: 40px;
    }

    ol {
        padding-left: 40px;
    }

    .hidden {
        display: none;
    }

    .show {
        display: block;
    }

    div#histories {
        background-color: #FFFFFF;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
    }

    div.reply div.reply-header[submit_by="<%= Irm::Person.current.id%>"] {
        /*自己回复的*/
        background-color: #ddeef4 !important;
    }

    div.reply div.reply-header[submit_by="<%= @incident_request.submitted_by%>"] {
        /*提单人回复的*/
        background-color: #ffebeb !important;
    }

    .tab-content .page-block {
        margin-bottom: 0;
    }

    .sub-page-block-body {
        padding-bottom: 0;
    }

    #incidentDetail .detail-list td {
        border: 1px solid #cccccc;
        padding-left: 3px;
    }

    div.file-list {
        border-top-color: #EFEFEF;
        border-top-style: solid;
        border-top-width: 2px;
        line-height: 1.6em;
        margin-left: 46px;
        margin-right: 5px;
        margin-top: 5px;
    }

    div.file-list div.file-item {
        color: #888888;
        display: inline;
        padding-bottom: 5px;
        text-align: left;
    }

    div.file-list div.file-item div.file_icon img {
        border: 1px solid #BBC9E2;
        float: left;
        vertical-align: top;
    }

    td.page-block-button select {
        display: inline;
    }

    td.page-block-button label {
        display: inline;
    }

    td.page-block-button form {
        margin: 0;
    }
</style>
<!--页面头部按钮-->
<%= render :partial => "new_form_top_button_bar" %>

<!--页面头部按钮-->
<% content_for :block_assign_controll_bar do %>

    <%= form_tag({:controller => "icm/incident_requests", :action => "assign_request"},) do |f| %>
        <%= hidden_field_tag(:incident_request_ids, @incident_request.id, :id => "incident_request_ids") %>
        <%= hidden_field_tag(:from_incident_request, "true", :id => "from_incident_request") %>
        <label for="incident_request_support_group_id"><%= t(:label_icm_incident_request_support_group) %></label>
        <%= blank_select_tag :support_group_id, available_support_group(@incident_request.external_system_id),
                             {}, {:id => "incident_request_support_group_id"} %>
        <label for="incident_request_support_person_id"><%= t(:label_icm_incident_request_charge_person) %></label>
        <%= blank_select_tag(:support_person_id, [], {},
                             {
                                     :id => "incident_request_support_person_id",
                                     :href => url_for(:controller => "icm/support_groups",
                                                      :action => "get_member_options", :format => "json", :id => "${incident_request_support_group_id}",
                                                      :role_id => "${person_role_id}"),
                                     :depend => "incident_request_support_group_id",
                             }) %>
        <%= submit_tag(t(:label_icm_incident_request_assign), {:id => "formSubmit", :class => "btn btn-primary"}) %>
    <% end %>
    <script type="text/javascript">
        $(function () {
            if ($("#incident_request_support_group_id")) {
                $("#incident_request_support_group_id").cascade("#incident_request_support_person_id");
            }
        });
    </script>
<% end %>

<% content_for :block_priority_controll_bar do %>
    <%= form_for(@incident_request,
                 :url => {:controller => "icm/incident_requests", :action => "update", :id => @incident_request.id, :sid => @incident_request.external_system_id},
                 :builder => CustomFormBuilder, :html => {:class => "form-inline", :nomask => true}) do |f| %>
        <label for="label_icm_incident_request_urgence_code"><%= t(:label_icm_incident_request_urgence_code) %></label>
        <%= f.select :urgence_id, available_urgence_code, {}, {:id => "incident_request_urgence_code"} %>
        <% if false %>
            <label for="incident_request_impact_range_code"><%= t(:label_icm_incident_request_impact_range_code) %></label>
            <%= f.select :impact_range_id, available_impact_range, {}, {:id => "incident_request_impact_range_code"} %>
        <% end %>
        <%= link_submit(t(:update), :class => "btn btn-primary", :id => "updatePriorityFormSubmit") %>
    <% end %>
<% end %>

<% content_for :block_status_controll_bar do %>
    <%= form_for(@incident_request,
                 :url => {:controller => "icm/incident_journals", :action => "update_status", :id => @incident_request.id, :sid => @incident_request.external_system_id},
                 :builder => CustomFormBuilder, :html => {:class => "form-inline", :onSubmit => "return issubmit()", :nomask => true}) do |f| %>
        <label for="label_icm_incident_request_status_code"><%= t(:label_icm_incident_request_incident_status) %></label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= fields_for @incident_request.incident_journals.build(), :as => "incident_journal", :builder => CustomFormBuilder, :normal => true do |sub_f| %>
            <%= sub_f.hidden_field(:incident_request_id) %>
            <%= sub_f.hidden_field(:sla_instance_id) %>
        <% end %>
        <%= f.blank_select :incident_status_id, available_request_status_children_code(@incident_request[:external_system_id], @incident_request[:incident_status_id], Irm::Person.current.profile_id), {}, {:id => "incident_request_incident_status_code"} %>
        <%= link_submit(t(:update), :class => "btn btn-primary", :id => "updateStatusFormSubmit") %>
    <% end %>
<% end %>

<!--页面头部内容-->
<% content_for :block_header_content do %>
    <div id="incidentDetail">
      <table class="detail-list">
        <tbody>
        <tr>
          <td class="label-col"><label><%= t(:label_icm_incident_request_target_system) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:external_system_name] %></div>
          </td>
          <td class="label-col"><label><%= t(:label_icm_incident_request_incident_category) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:incident_category_name] %></div>
          </td>
          <td class="label-col"><label><%= t(:label_icm_incident_request_incident_sub_category) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:incident_sub_category_name] %></div>
          </td>
        </tr>
        <tr>
          <td class="label-col"><label><%= t(:label_icm_incident_request_requested_by) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:requested_name] %></div>
          </td>
          <td class="label-col"><label><%= t(:label_icm_incident_request_requested_mobile_phone) %></label></td>
          <td class="data-col">
            <% if @incident_request[:requested_mobile_phone].present? %>
                <div><%= @incident_request[:requested_mobile_phone] %></div>
            <%else%>
                <div><%= @incident_request[:requested_bussiness_phone] %></div>
            <%end%>
          </td>
          <td class="label-col"><label><%= t(:label_icm_incident_request_requested_email) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:requested_email] %></div>
          </td>
        </tr>
        <tr>
          <td class="label-col"><label><%= t(:label_icm_incident_request_contact) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:attribute1] %></div>
          </td>
          <td class="label-col"><label><%= t(:label_icm_incident_request_contact_number) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:contact_number] %></div>
          </td>
          <td class="label-col"><label><%= t(:label_icm_incident_request_contact_email) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:attribute2] %></div>
          </td>
        </tr>
        <tr>
          <td class="label-col"><label><%= t(:label_icm_incident_request_requested_by_org) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:requested_organization_name] %></div>
          </td>
          <td class="label-col"><label><%= t(:label_icm_incident_request_submitted_by) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:submitted_name] %></div>
          </td>
          <td class="label-col"><label><%= t(:label_icm_incident_request_submitted_date) %></label></td>
          <td class="data-col">
            <div><%= format_date(@incident_request[:submitted_date]) %></div>
          </td>
        </tr>
        <tr>
          <td class="label-col"><label><%= t(:label_icm_incident_request_request_type_code) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:request_type_code_label] %></div>
          </td>
          <td class="label-col"><label><%= t(:label_icm_incident_request_support_group) %></label></td>
          <td class="data-col">
            <%if Irm::Person.current.profile.user_license.eql?("SUPPORTER")%>
            <div><%= @incident_request[:support_group_name]?@incident_request[:support_group_name].split("-")[1]:"" %></div>
            <%else%>
            <div><%= @incident_request[:description] %></div>
            <%end%>
          </td>
          <td class="label-col"><label><%= t(:label_icm_incident_request_support_person) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:supporter_name] %></div>
          </td>
        </tr>
        <tr>
          <td class="label-col"><label><%= t(:label_icm_incident_request_supporter_business_phone) %></label></td>
          <td class="data-col">
            <div><%= @incident_request[:supporter_business_phone] %></div>
          </td>
          <td class="label-col"><label><%= t(:label_icm_incident_request_supporter_email) %></label></td>
          <td class="data-col" colspan="3">
            <div><%= @incident_request[:supporter_email] %></div>
          </td>
        </tr>
        <% if allow_to_function?(:edit_workload) %>
            <tr>
              <% if (@incident_request.attribute3 != nil && @incident_request.attribute3 != "" && @incident_request.attribute3 != "0") ||
                      (@incident_request.attribute6 != nil && @incident_request.attribute6 != "" && @incident_request.attribute6 != "0") %>
                  <td class="label-col"><label><%= t(:label_icm_incident_request_expect_date) %></label></td>
                  <td class="data-col">
                    <div>
                      <% if @incident_request.attribute3 != nil &&
                              @incident_request.attribute3 != "" && @incident_request.attribute3 != "0"%>
                      <%= t(:label_icm_sence) %>:<%= @incident_request[:attribute3] %>
                      <%end%>
                      <% if @incident_request.attribute6 != nil &&
                              @incident_request.attribute6 != "" && @incident_request.attribute6 != "0"%>
                      &nbsp;&nbsp;
                      <%= t(:label_icm_expect) %>:<%= @incident_request[:attribute6] %>
                      <%end%>
                    </div>
                  </td>
              <% end %>
              <% if (@incident_request.attribute4 != nil && @incident_request.attribute4 != "" && @incident_request.attribute4 != "0") ||
                      (@incident_request.attribute7 != nil && @incident_request.attribute7 != "" && @incident_request.attribute7 != "0")%>
                  <td class="label-col"><label><%= t(:label_icm_incident_request_confirm_date) %></label></td>
                  <td class="data-col">
                    <div>
                      <% if @incident_request.attribute4 != nil &&
                              @incident_request.attribute4 != "" && @incident_request.attribute4.to_f.round(1) != 0.0%>
                      <%= t(:label_icm_sence) %>:<%= @incident_request[:attribute4] %>
                      <% end %>
                      <% if @incident_request.attribute7 != nil &&
                              @incident_request.attribute7 != "" && @incident_request.attribute7.to_f.round(1) != 0.0%>
                      &nbsp;&nbsp;
                      <%= t(:label_icm_expect) %>:<%= @incident_request[:attribute7] %>
                      <% end %>
                    </div>
                  </td>
                  <td class="label-col"><label><%= t(:label_icm_incident_request_confirm_date_total) %></label></td>
                  <td class="data-col">
                    <div><%= @incident_request[:attribute4].to_f+@incident_request[:attribute7].to_f %></div>
                  </td>
              <% end %>
              <!-- 登记工时总计 -->
              <%if false%>
                  <% workload = @incident_request.grouped_workload %>
                  <% if workload.any? %>
                      <td class="label-col"><label><%= t(:label_icm_incident_request_real_processing_total_time) %></label>
                      </td>
                      <td class="data-col" colspan="5"><label>
                        <%
                           total_workload = 0
                           workload.each do |iw|
                             total_workload += iw[:real_processing_time_g]
                           end
                        %>
                        <%= total_workload.to_f.round(1) %>
                      </label></td>
                  <% end %>
              <%end%>
            </tr>
            <tr>
              <% workload = @incident_request.grouped_workload %>
              <% if workload.any? %>
                  <td class="label-col"><label><%= t(:label_icm_incident_request_real_processing_time) %></label></td>
                  <td class="data-col" colspan="5"><label>
                    <% workload.each do |iw| %>
                        <%= iw[:person_name] %>
                        :<%= "#{iw.get_workload_type(I18n.locale)}-#{iw[:real_processing_time_g].to_f.round(1)}" %>&nbsp;<%= ", " unless iw == workload.last %>
                    <% end %>
                  </label></td>
              <% end %>
            </tr>
        <% else %>
            <%if false%>
                <% if @incident_request.attribute3 != nil && @incident_request.attribute3 != "" %>
                    <td class="label-col"><label><%= t(:label_icm_incident_request_expect_date) %></label></td>
                    <td class="data-col">
                      <div><%= @incident_request[:attribute3] %></div>
                    </td>
                <% end %>
                <% if @incident_request.attribute4 != nil && @incident_request.attribute4 != "" %>
                    <td class="label-col"><label><%= t(:incident_request_customer_comfirm_date) %></label></td>
                    <td class="data-col">
                      <div><%= @incident_request[:attribute4] %></div>
                    </td>
                <% end %>
            <%end%>

            <% if (@incident_request.attribute4 != nil && @incident_request.attribute4 != "" && @incident_request.attribute4 != "0") ||
                    (@incident_request.attribute7 != nil && @incident_request.attribute7 != "" && @incident_request.attribute7 != "0")%>
                <td class="label-col"><label><%= t(:label_icm_incident_request_confirm_date) %></label></td>
                <td class="data-col">
                  <div>
                    <% if @incident_request.attribute4 != nil &&
                            @incident_request.attribute4 != "" && @incident_request.attribute4.to_f.round(1) != 0.0%>
                        <%= t(:label_icm_sence) %>:<%= @incident_request[:attribute4] %>
                    <% end %>
                    <% if @incident_request.attribute7 != nil &&
                            @incident_request.attribute7 != "" && @incident_request.attribute7.to_f.round(1) != 0.0%>
                        &nbsp;&nbsp;
                        <%= t(:label_icm_expect) %>:<%= @incident_request[:attribute7] %>
                    <% end %>
                  </div>
                </td>
                <td class="label-col"><label><%= t(:label_icm_incident_request_confirm_date_total) %></label></td>
                <td class="data-col">
                  <div><%= @incident_request[:attribute4].to_f+@incident_request[:attribute7].to_f %></div>
                </td>
            <% end %>
        <% end %>
        <% grade = Ccc::SatisRateOfConsultant.where(:incident_request_id=>@incident_request.id).collect{|sroc|
          grade_type = sroc[:grade_type]
          if grade_type.eql?("VERY")
            grade_type = "非常满意"
          elsif grade_type.eql?("GOOD")
            grade_type = "满意"
          else
            grade_type = "不满意"
          end
            {
                :type=>grade_type,
                :reason=>sroc[:bad_reason]
            }
        }%>
        <%if grade.present? %>
            <tr>
              <%if grade.first()[:reason].present?%>
              <td class="label-col"><label><%= t(:label_for_grade_of_satisfy) %></label></td>
              <td class="data-col"><label><%= grade.first()[:type] %></label></td>
              <td class="label-col"><label><%= t(:label_for_reason_info) %></label></td>
              <td class="data-col" colspan="3"><label><%= grade.first()[:reason] %></label></td>
              <%else%>
                  <td class="label-col"><label><%= t(:label_for_grade_of_satisfy) %></label></td>
                  <td class="data-col" colspan="5"><label><%= grade.first()[:type] %></label></td>
              <%end%>
            </tr>
        <%end%>
        <tr>
          <td class="label-col"><label><%= t(:label_icm_incident_request_summary) %></label></td>
          <td class="data-col" colspan="5" style="word-WRAP: break-word;">
            <% prepare_request_files(@incident_request) %>
            <div class="reply-body">
              <div class="message-body">
                <h3><%= raw process_message("#{I18n.t(:label_icm_incident_request_question_discription)}: [#{@incident_request[:request_number]}]#{@incident_request[:title]}") %></h3>
                <br><br>
                <%= raw process_message(@incident_request[:summary]) %>
              </div>
              <%= list_request_file(@incident_request) %>
            </div>
          </td>
        </tr>
        <!-- 显示自定义字段信息 -->
        <%= show_custom_field_info(@incident_request) %>
        </tbody>
      </table>
    </div>
<% end %>

<% content_for :incident_request_reply_form do %>
    <% if @incident_request.watcher?(Irm::Person.current.id)&&allow_to_function?(:reply_incident_request)&&!@incident_request.close?&&!@incident_request.permanent_close? &&@incident_request.status_code.eql?(Irm::Constant::ENABLED) %>
        <%= form_for(@incident_reply, :url => {:action => "create", :format => "js"}, :builder => CustomFormBuilder,
                     :html => {:multipart => true, :target => "frame", :style => "margin:0;", :onSubmit => "return mask_after_journal()"}) do |f| %>
            <div class="page-block">
              <table class="page-block-header">
                <tr>
                  <td class="page-block-title">
                    <div style="float:left;">
                      <h2 class="block-title"><%= t(:label_icm_incident_journal_new) %></h2>
                    </div>
                    <% if !limit_device?&&allow_to_function?(:view_skm_entries) %>
                        <div style="float:left;padding-top:5px; margin-left:20px;">
                          <a href="javascript:void(0)" id="applySKM"><%= t(:apply_skm) %></a></div>
                    <% end %>
                  </td>
                  <td class="page-block-button">
                    <% if @external_system.strict_workload.eql?('Y') && Irm::Person.current.profile.user_license.eql?("SUPPORTER") %>
                        <div>
                          <label for="new_incident_status_id" style="display:inline;"><%= I18n.t(:label_icm_incident_journal_edit_workload) %></label>
                          <%= select_tag :workload_type, options_for_select(available_icm_workload_type, 'REMOTE') %>
                          <%= text_field_tag :workload, nil, :style => "width:80px;", :irm_number_only => true %>
                        </div>
                    <% end %>
                  </td>

                  <td class="page-block-help" style="width: auto;display: none">
                    <div>
                      <label for="new_incident_status_id" style="display:inline;"><%= I18n.t(:label_icm_incident_request_keep_next_status) %></label>
                      <%= check_box_tag :keep_next_status, 'Y' %>
                    </div>
                  </td>
                </tr>
              </table>
              <div class="page-block-body">
                <% if !limit_device?&&allow_to_function?(:view_skm_entries) %>
                    <table class="form-table full" style="width: 100%;">
                      <tr>
                        <td class="data-4col" colspan="4">
                          <div id="linktoSKM" class="hidden form-inline">
                            <div class="input-append">
                              <input id="searchSKMText" type="text" class="span3"/>
                              <%= link_to t(:search), {:controller => "icm/incident_journals", :action => "get_entry_header_data"}, :remote => true, :id => "searchSKM", :class => "btn" %>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="data-4col" colspan="4">
                          <div id="entrySubsection" style="display: none;">
                            <%= render :partial => "icm/incident_journals/apply_skm", :locals => {:skm_data => {}} %>
                          </div>
                        </td>
                      </tr>
                    </table>

                    <script type="text/javascript">
                        $(function () {
                            $("#applySKM").bind("click", function (e) {
                                if ($("#linktoSKM").hasClass("hidden")) {
                                    $("#linktoSKM").removeClass("hidden")
                                } else {
                                    $("#linktoSKM").addClass("hidden")
                                    $("#entrySubsection").css("display", "none");
                                }
                            });

                            $("#searchSKM").bind("click", function (e) {
                                $("#entrySubsection").css("display", "");
                            });

                            $("#searchSKMText").keyup(function (e) {
                                $("#searchSKM").attr("href", "<%= url_for(:controller => "icm/incident_journals", :action => "get_entry_header_data")%>?entry_title=" + $("#searchSKMText").val())
                            });

                            $("#searchSKMText").keydown(function (e) {
                                if (e.keyCode == '13') {
                                    e.preventDefault();
                                    $("#searchSKM").trigger("click");
                                }
                            });
                        })
                    </script>
                <% end %>
              </div>

              <div class="page-block-body">
                <table class="form-table" style="width: 100%;">
                  <tbody>
                  <tr>
                    <%= fields_for @incident_journal, :as => "incident_journal", :builder => CustomFormBuilder, :normal => true do |sub_f| %>
                        <%= sub_f.hidden_field(:replied_by, :value => Irm::Person.current.id) %>
                        <%= sub_f.hidden_field(:incident_request_id) %>
                        <%= sub_f.hidden_field(:sla_instance) %>
                        <% if ie6? -%>
                            <td class="data-col" id="msgEditorParent" colspan="4" style="padding: 2px 20px 2px 10px;">
                        <% else -%>
                            <td class="data-col" id="msgEditorParent" colspan="4">
                        <% end -%>
                        <%= sub_f.text_area :message_body, :id => "msgEditor", :jrequired => true, :rows => 8, :cols => 20, :class => "input-xxlarge" %>
                        <%= xheditor("msgEditor", true) %>
                        </td>
                    <% end %>
                  </tr>

                  <tr>
                    <td class="data-4col" colspan="4">
                      <%= render :partial => "helper/upload_file", :locals => {:upload_file_id => "new_incident_request_journal_file"} %>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <table class="page-block-footer">
                <tr>
                  <td class="page-block-title"></td>
                  <td class="page-block-button">
                    <%= link_submit t(:save), {:class => "btn btn-primary"} %>
                  </td>
                  <td class="page-block-help"></td>
                </tr>
              </table>
            </div>
        <% end %>
    <% end %>
    <iframe id='frame' name="frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
<% end %>

<% content_for :incident_request_journals do %>

    <div class="page-block" id="incidentReply" style="border-bottom: none;">
      <div id="histories">
        <div style="padding: 0 0 10px 0; font-weight: bold;">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr>
              <td>
                <h2 style="font-size: 18px;margin-left: 5px;" id="journalsNum">
                  <%= t(:label_icm_incident_journal_list) %>&nbsp;(<%= journals_size(@incident_request) %>)
                </h2>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="page-block-body">
          <div id="replies">
            <%= list_journals(@incident_request) %>
          </div>
        </div>
      </div>
      <%= content_for :incident_request_reply_form %>
    </div>
<% end %>

<% content_for :incident_config_items do %>
    <!--页面结构-->
    <div class="page-block" id="incidentConfigItemManage">
      <table class="page-block-header">
        <tr>
          <td class="page-block-title">
            <h2 class="block-title"><%= t(:label_icm_incident_request_relation_config_items) %></h2>
          </td>
          <td class="page-block-button"></td>
          <td class="page-block-help form-inline" id="configItemForm">
            <%= render :partial => "icm/incident_config_relations/mini_form", :locals => {:incident_request => @incident_request} %>
          </td>
        </tr>
      </table>
      <div class="page-block-body">
        <div id="configItems">
          <%= render :partial => "icm/incident_config_relations/incident_config_items", :locals => {:datas => @incident_request.incident_config_relations.with_config_item.select_all} %>
        </div>
      </div>
    </div>
<% end %>

<% content_for :change_request_tab do %>
    <% chm = Irm::ProductModule.usable?(:chm)&&@incident_request.change_request_id.present?;com = Irm::ProductModule.usable?(:com) %>
    <% if allow_to_function?(:config_item) &&(chm||com) %>
        <!-- 处理关联的变更单 -->
        <%- if params[:format].eql?('pdf') -%>
            <%= content_for :incident_request_journals %>
            <%- if chm -%>

            <%- else -%>
                <%= content_for :incident_config_items %>
            <%- end -%>
        <%- else -%>
            <!-- start tabs -->
            <div class="tabs-container">
              <div class="mx-tabs" id="tabNav">
                <ul class="clear-fix">
                  <li class="active" id="nav_0" ref="incidentReply">
                    <a href="#tab1" data-toggle="tab"><%= t(:label_icm_incident_journal_list) %></a></li>
                  <% if chm %>
                      <li id="nav_1" ref="changeRequest">
                        <a href="#tab2" data-toggle="tab"><%= t(:label_chm_change_request) %></a></li>
                  <% end %>
                  <% if com %>
                      <li ref="configItem"><a href="#tab3" data-toggle="tab"><%= t(:label_com_config_item) %></a></li>
                  <% end %>
                </ul>
              </div>
              <div class="mx-tab-content">
                <div class="mx-tab-pane active" id="tab1">
                  <%= content_for :incident_request_journals %>
                </div>
                <% if chm %>
                    <div class="mx-tab-pane" id="tab2">
                      <div class="hidden" id="changeRequest" href="<%= url_for(:controller => "chm/change_requests", :action => "show_detail", :id => @incident_request.change_request_id||"001") %>"></div>
                    </div>
                <% else %>
                    <div class="mx-tab-pane" id="tab3">
                      <%= content_for :incident_config_items %>
                    </div>
                <% end %>
              </div>
            </div>
            <!-- end tabs -->
        <%- end -%>

        <script type="text/javascript">
            $(function () {
                $("#tabNav li").live("click", function (e) {
                    $("#tabNav li").removeClass("active");
                    $(e.currentTarget).addClass("active");
                    $("#tabNav li").each(function (index, element) {
                        var ref = $("#" + $(element).attr("ref"));
                        if (ref && !ref.hasClass("hidden")) {
                            ref.addClass("hidden");
                        }
                    });
                    var currentRef = $("#" + $(e.currentTarget).attr("ref"));
                    if (currentRef && currentRef.hasClass("hidden")) {
                        currentRef.removeClass("hidden");
                        if (currentRef.attr("href") && !currentRef.attr("loaded")) {
                            var url = currentRef.attr("href");
                            currentRef.load(url);
                            currentRef.attr("loaded", "true");
                        }
                    }
                });
            });
        </script>
    <% else %>
        <%= content_for :incident_request_journals %>
    <% end %>
<% end %>

<div class="page-block" id="pageBlock">
  <%= render :partial => "steps" %>
</div>

<div class="page-block" id="pageBlock">
  <div class="waypoint-header" id="toolbar">
    <table class="page-block-header">
      <tr>
        <td class="page-block-title">
          <h2 class="block-title"></h2>
        </td>
        <td class="sub-page-block-body">
        </td>
        <td class="page-block-help" style="width: auto;">
          <%= content_for :block_header_buttons %>
        </td>
      </tr>
    </table>
    <% if @incident_request.support_group_id.blank? &&
            @incident_request.support_person_id.blank? &&
            allow_to_function?(:assign_incident_request) &&
            !@incident_request.close? %>
        <table class="page-block-header">
          <tr>
            <td class="page-block-title" style="width: 13%">
              <h2 class="block-title"><%= t(:label_report_incident_request_support) %></h2>
            </td>
            <td class="page-block-button">
              <%= content_for :block_assign_controll_bar %>
            </td>
          </tr>
        </table>
    <% end %>
    <% if (allow_to_function?(:edit_incident_request_priority) ||
            Irm::Person.current.id == @incident_request.requested_by ||
            Irm::Person.current.id == @incident_request.support_person_id) &&
            !@incident_request.close? %>
        <table class="page-block-header">
          <tbody>
          <tr>
            <td class="page-block-title" style="width: 13%">
              <h2 class="block-title"><%= I18n.t(:label_report_incident_request_update_priority) %></h2>
            </td>
            <td class="page-block-button">
              <%= content_for :block_priority_controll_bar %>
            </td>
          </tr>
          </tbody>
        </table>
    <% end %>

    <table class="page-block-header">
      <tbody>
      <tr>
        <td class="page-block-title" style="width: 13%">
          <h2 class="block-title"><%= I18n.t(:label_icm_incident_request_incident_status) %></h2>
        </td>
        <td class="page-block-button">
          <%= content_for :block_status_controll_bar %>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="page-block-body">
    <div id="notice">
      <%= error_for @incident_journal %>
      <%= flash_notice %>
    </div>
    <div class="sub-page-block">
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title">(<%= @incident_request[:incident_status_name] %>
          )[<%= @incident_request[:request_number] %>]<%= @incident_request[:title] %></h3>
        <% if @incident_request.has_custom_attributes? %>
        <span>
          【<a href="javascript:void(0);" class="more-or-less show-less">
          <span class="expand"><%= t(:label_custom_attributes_show) %></span>
          <span class="collapse"><%= t(:label_custom_attributes_hide) %></span>
        </a>】
        </span>
        <% end %>
        <div style="margin-left: 15px; display:inline; float: right;">
          <span>
            <a href="javascript:void(0)" id="showMore" class="toggle-button" ref="incidentDetail" collapsedText="<%= t(:label_less_info) %>" ExpandedText="<%= t(:label_more_info) %>">
              <i class="icon-chevron-down"></i>
              <%= t(:label_icm_incident_more_info) %>
            </a>
          </span>
        </div>
      </div>
      <div class="sub-page-block-body">
        <%= content_for :block_header_content %>
        <%= content_for :change_request_tab %>
        <%= content_for :change_tab %>
      </div>
    </div>
  </div>
</div>
<% if self.respond_to?(:display_service_agreements) && allow_to_function?(:view_service_agreement, @incident_request.external_system_id) %>
    <%= display_service_agreements(@incident_request.id, @incident_request.class.name, @incident_request.external_system_id) %>
<% end %>

<% if allow_to_function?(:view_incident_journal_his) %>
    <div class="page-block" id="pageBlock">
      <table class="page-block-header">
        <tr>
          <td class="page-block-title">
            <h2 class="block-title"><%= t(:label_icm_incident_journal_history) %></h2>
          </td>
          <td class="page-block-button">
          </td>
        </tr>
      </table>
      <div class="page-block-body">
        <%= datatable("incident_request_histories", {:action => "get_incident_history_data"}, [], {:paginator_box => 'incidentHistoriesPaginatorBox', :row_perpage => 20}) %>
      </div>
    </div>
<% end %>
<script type="text/javascript">
    $(function () {
        $(".toggle-button").each(function (index, element) {
            var me = $(element);
            var ref = $("#" + me.attr("ref"));
            if (ref.hasClass("hidden")) {
                me.html('<i class="icon-chevron-down"></i>' + me.attr("expandedText"));
            } else {
                me.html('<i class="icon-chevron-up"></i>' + me.attr("collapsedText"));
            }
        });
        $(".toggle-button").bind("click", function (event) {
            var me = $(this);
            var ref = $("#" + me.attr("ref"));
            if (ref.hasClass("hidden")) {
                me.html('<i class="icon-chevron-up"></i>' + me.attr("collapsedText"));
                ref.removeClass("hidden");
            } else {
                me.html('<i class="icon-chevron-down"></i>' + me.attr("expandedText"));
                ref.addClass("hidden");
            }
        });

        $("#incidentDetail tr[data-custom-flag='Y']").hide();
        $(".more-or-less").bind("click", function () {
            if ($(this).hasClass("show-less")) {
                $(this).removeClass("show-less").addClass("show-all");
                $("#incidentDetail tr[data-custom-flag='Y']").show();
            } else {
                $(this).removeClass("show-all").addClass("show-less");
                $("#incidentDetail tr[data-custom-flag='Y']").hide();
            }
        });

        $("#dev_mess").html($("#dev_mess").text())
        $("#test_mess").html($("#test_mess").text())
        $("#prod_mess").html($("#prod_mess").text())
        $("#attention_point").html($("#attention_point").text())
        $(".label-col-1").css("width","30%")
        $(".page-title").css({"padding":"0px 0px","margin":"0px 0px"})
    });

    function issubmit() {
        if (($("#incident_request_incident_status_code").find("option:selected").val() == "000K000A0g9LO0pOKPsZ1s") &&
                "<%=@external_system.project_type_id%>" == "2"
        ) {
            $("#errorMessModal").modal("show")
            return false
        }
        else
            return true
    }

    function reset_rich_text() {
        if ($("#msgEditor")) {
            $("#msgEditor").val('');
        }
        $("#file-contents").html("");
        $("#file-template").attr("sequence", 0);
    }
    function mask_after_journal() {
        var workload_type = $("#workload_type").find("option:selected").val()
        var workload = $("#workload").val()
        var flag = false
        if ( workload_type != "REMOTE" && workload_type != "SCENE" && workload != null && workload != "" ) {
            var href = '<%= url_for(:controller => "incident_journals",:action => "register_workload",:request_id=>@incident_request.id)%>'
            $.ajax({
                url: href,
                type: 'post',
                dataType: 'json',
                data: {
                    workload_type: workload_type,
                    workload: workload
                },
                success: function (data) {
                    window.location.reload()
                }
            })
        }
        else{
            flag = true
            $("#new_icm_incident_reply").mask($.i18n("processing"))
        }
        return flag
    }
</script>
<!--提示填写工时的模态框-->
<div class="modal fade" id="errorMessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <h3><%= t :label_peopel_date_error %></h3>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onclick="update_people_date()"><%= t :label_in_confirm %></button>
      </div>
    </div>
  </div>
</div>

<% unless limit_device? %>
    <style type="text/css">
        .sticky #toolbar {
            position: fixed;
            z-index: 100;
            top: 0;
            width: auto;
            left: 21px;
            right: 243px;
            background-color: #F8F8F8;
            border: 1px solid #eaeaea;
            border-top-width: 0;
            border-bottom-width: 0;
            border-top: 3px solid #1797C0;
        }

        #pageBlock.sticky {
            padding-top: 34px;
        }

    </style>
    <script type="text/javascript">
        $.waypoints.settings.scrollThrottle = 30;

        $('#pageBlock').waypoint(function (event, direction) {
        }, {offset: '-100%'}).find('#toolbar').waypoint(function (event, direction) {
            $(this).parent().toggleClass('sticky', direction === "down");
            event.stopPropagation();
        });
    </script>
<% end %>

<% content_for :sidebar do %>
    <% if Irm::Person.current.profile.user_license.eql?("SUPPORTER") %>
        <div id="organization_login_mess">
          <%= render :partial => "/irm/organizations/organization_login_mess" %>
        </div>
        <div id="external_system_mess">
          <%= render :partial => "/irm/external_systems/external_system_mess" %>
        </div>
    <% end %>
    <div id="request_watcher_list">
      <%= render :partial => "/irm/watchers/sidebar_watcher_list",
                 :locals => {:watchable => @incident_request,
                             :editable => !@incident_request.close?,
                             :sid => @incident_request.external_system_id,
                             :dom_id => "request_watcher_list"} %>
    </div>
    <%= render :partial => "/icm/incident_requests/sidebar_attachment_list", :sid => @incident_request.external_system_id %>
    <div id="relation_list">
      <%= render :partial => "/icm/incident_requests/sidebar_relation_list",
                 :locals => {:incident_request => @incident_request,
                             :dom_id => "relation_list",
                             :sid => @incident_request.external_system_id} %>
    </div>
    <% if Irm::Person.current.profile.user_license.eql?("SUPPORTER") %>
        <div id="entry_header_relation_list">
          <%= render :partial => "/icm/incident_requests/entry_header_relation_list",
                     :locals => {:incident_request => @incident_request,
                                 :dom_id => "entry_header_relation_list",
                                 :sid => @incident_request.external_system_id} %>
        </div>
    <% end %>
<% end %>

<div class="modal fade" id="organizationMessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t :label_organization_login_mess %></h4>
      </div>
      <div class="modal-body" id="login_mess">
        <% if @organization.present? %>
            <%= fields_for @organization, :builder => CustomFormBuilder, :normal => true do |o| %>
            <table class="page-block-header table">
              <tbody>
              <tr>
                <td class="label-col label-col-1"><label><%= t(:label_irm_organization_conn_type) %></label></td>
                <td class="data-col"><%= @organization[:conn_type_name] %></td>
              </tr>
              <tr>
                <td class="label-col label-col-1"><label><%= (t :label_irm_organization_router) %></label></td>
                <td class="data-col"><%= @organization[:router] %></td>
              </tr>
              <tr>
                <td class="label-col label-col-1"><label><%= t(:label_irm_organization_login_mess) %></label></td>
                <td class="data-col" id="dev_mess"><%= @organization[:dev_mess] %></td>
              </tr>
              <tr>
                <td class="label-col label-col-1"><label><%= t(:label_irm_organization_user_mess) %></label></td>
                <td class="data-col" id="test_mess"><%= @organization[:test_mess] %></td>
              </tr>
              <tr>
                <td class="label-col label-col-1"><label><%= t(:label_irm_organization_other_mess) %></label></td>
                <td class="data-col" id="prod_mess"><%= @organization[:prod_mess] %></td>
              </tr>
              <tr>
                <td class="label-col label-col-1"><label><%= t(:label_irm_organization_attention_point) %></label></td>
                <td class="data-col" id="attention_point"><%= @organization[:attention_point] %></td>
              </tr>
              </tbody>
            </table>
        <% end %>
        <%else%>
            <label><%= t :label_for_no_organization %></label>
        <%end%>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="externalSystemMessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t :label_external_system_mess %></h4>
      </div>
      <div class="modal-body" id="system_mess">
        <%= fields_for @show_external_system, :builder => CustomFormBuilder, :normal => true do |s| %>
            <table class="page-block-header table">
              <tbody>
              <tr>
                <td class="label-col label-col-1"><label><%= t(:label_project_manager) %></label></td>
                <td class="data-col"><%= @show_external_system[:project_manager] %></td>
              </tr>
              <tr>
                <td class="label-col label-col-1"><label><%= t(:label_irm_external_system_customer_no) %></label></td>
                <td class="data-col"><%= @show_external_system.customer_no %></td>
              </tr>
              <tr>
                <td class="label-col"><label><%= (t :label_project_type) %></label></td>
                <td class="data-col"><%= @show_external_system[:project_type_name] %></td>
              </tr>
              <tr>
                <td class="label-col label-col-1"><label><%= t(:label_pricing_type) %></label></td>
                <td class="data-col"><%= @show_external_system[:price_type_name] %></td>
              </tr>
              <!-- 剩余人天信息 remote_date scene_date @incident_request -->
              <tr>
                <td class="label-col label-col-1"><label><%= t(:label_icm_incident_request_remain_date) %></label></td>
                <td class="data-col">
                  <% if (@show_external_system[:scene_date].to_f - @incident_request[:attribute4].to_f) > 0%>
                      <%= t(:label_icm_sence) %>:<%= @show_external_system[:scene_date].to_f - @incident_request[:attribute4].to_f %>
                  <%end%>
                  <% if (@show_external_system[:remote_date].to_f - @incident_request[:attribute7].to_f) > 0%>
                      <%= t(:label_icm_expect) %>:<%= @show_external_system[:remote_date].to_f - @incident_request[:attribute7].to_f %>
                  <%end%>
                  <% if @show_external_system[:external_hostname].present? %>
                      <%= @show_external_system[:external_hostname]%>
                  <%end%>
                </td>
              </tr>
              <tr>
                <td class="label-col label-col-1"><label><%= t(:label_begin_date) %></label></td>
                <td class="data-col"><%= format_date(@show_external_system[:begin_date]) %></td>
              </tr>
              <tr>
                <td class="label-col label-col-1"><label><%= t(:label_after_date) %></label></td>
                <td class="data-col"><%= format_date(@show_external_system[:after_date]) %></td>
              </tr>
              <tr>
                <td class="label-col label-col-1"><label><%= t(:label_irm_external_system_system_description) %></label></td>
                <td class="data-col"><%= @show_external_system[:system_description] %></td>
              </tr>
              <% if @organization.present? %>
                <%= fields_for @organization, :builder => CustomFormBuilder, :normal => true do |r| %>
                  <tr>
                    <td class="label-col label-col-1"><label><%= t(:label_irm_organization_A1_flag) %></label></td>
                    <td class="data-col"><%= @organization[:A1_flag] %></td>
                  </tr>
                  <tr>
                    <td class="label-col label-col-1"><label><%= t(:label_irm_organization_industry) %></label></td>
                    <td class="data-col"><%= @organization[:industry_name] %></td>
                  </tr>
              <% end %>
              <%else%>
                  <tr>
                    <td class="label-col label-col-1"><label><%= t(:label_irm_organization_A1_flag) %></label></td>
                    <td class="data-col"></td>
                  </tr>
                  <tr>
                    <td class="label-col label-col-1"><label><%= t(:label_irm_organization_industry) %></label></td>
                    <td class="data-col"></td>
                  </tr>
              <%end%>
              </tbody>
            </table>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="evaluateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><%= t(:label_grade_of_satisfy) %></h4>
      </div>
      <div class="modal-body">
        <table class="page-block-header table">
          <tbody>
          <tr>
            <td style="width: 100px">
              <input id="level_1" name="level" type="radio" value="VERY" style="float: left" onclick="sGrade()" checked>
              <%= label_tag(:level_1_1, t(:label_very_good)) %>
            </td>
            <td style="width: 100px">
              <input id="level_2" name="level" type="radio" value="GOOD" style="float: left" onclick="sGrade()">
              <%= label_tag(:level_2_2, t(:label_good)) %>
            </td>
            <td style="width: 100px">
              <input id="level_3" name="level" type="radio" value="BAD" style="float: left" onclick="sGrade()">
              <%= label_tag(:level_3_3, t(:label_bad)) %>
            </td>
          </tr>
          <tr style="display: none" id="reason_type">
            <td style="width: 100px">
              <input id="reason_one" name="reason_check" type="radio" value="reason_one" style="float: left" onclick="reason_grade()">
              <%= label_tag(:reason_one_1, t(:label_for_reason_one)) %>
            </td>
            <td style="width: 100px">
              <input id="reason_two" name="reason_check" type="radio" value="reason_two" style="float: left" onclick="reason_grade()">
              <%= label_tag(:reason_two_1, t(:label_for_reason_two)) %>
            </td>
            <td style="width: 100px">
              <input id="reason_other" name="reason_check" type="radio" value="reason_other" style="float: left" onclick="reason_grade()">
              <%= label_tag(:reason_other_1, t(:label_for_reason_other)) %>
            </td>
          </tr>
          <tr style="display: none" id="reason_id">
            <td colspan="3">
              <%= label_tag(:reason_1, t(:label_for_reason)) %>
              <%= text_area_tag(:reason, "", size: "480x4") %>
              <div style="color: red;display: none" id="errorReason">注：理由不能为空</div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= link_to t(:submit),
                          {},
                          {:href => "javascript:void(0);", :class => "btn", :onclick => "submit_commit()"} %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function update_people_date() {
        $("#errorMessModal").modal("hide")
        window.location.href = '/incident_requests/<%= @incident_request.id%>/journals/edit_workload?next_status=000K000A0g9LO0pOKPsZ1s'
    }

    function beforeClose() {
        //如果没有评价过则需要评价
        if ("<%=Ccc::SatisRateOfConsultant.where(:incident_request_id=>@incident_request.id).length %>" == "0")
            $("#evaluateModal").modal("show")
        else
            window.location.href = "/incident_requests/<%= @incident_request.id%>/<%= @show_external_system.id %>/journals/edit_close"
    }
    function sGrade() {
        if ($("input[name='level']:checked").val() == "BAD") {
            $("#reason").css("border-color", "")
            $("#errorReason").hide()
            $("#reason_type").show()
            reason_grade()
        }
        else{
            $("#reason_type").hide()
            $("#reason_id").hide()
            $("#reason_id").val("")
        }
    }
    function reason_grade(){
        if ($("input[name='reason_check']:checked").val() == "reason_other") {
            $("#reason").css("border-color", "")
            $("#errorReason").hide()
            $("#reason").val("")
            $("#reason_id").show()
        }
        else{
            $("#reason_id").hide()
            $("#reason").val($("input[name='reason_check']:checked").next().text())
        }
    }

    function submit_commit() {
        if ($("input[name='level']:checked").val() == "BAD" && $("#reason").val() == "") {
            $("#reason").css("border-color", "red")
            $("#errorReason").show()
        }
        else {
            var href = '<%= url_for(:controller => "incident_journals",:action => "grade_of_satisfy",:request_id=>@incident_request.id)%>'
            $.ajax({
                url: href,
                type: 'post',
                dataType: 'json',
                data: {
                    supporter_id: "<%=@incident_request.support_person_id%>",
                    request_id: "<%=@incident_request.id%>",
                    grade_type: $("input[name='level']:checked").val(),
                    bad_reason: $("#reason").val()
                },
                success: function (data) {
                    $("#evaluateModal").modal("hide")
                    window.location.href = "/incident_requests/<%= @incident_request.id%>/<%= @show_external_system.id %>/journals/edit_close"
                }
            })
        }
    }
</script>

