<!--页面头部按钮-->
<% content_for :block_header_buttons do %>
  <div class="btn-toolbar" >
    <div class="btn-group">
      <% if !@incident_request.close? &&
              !@incident_request.permanent_close? &&
              allow_to_function?(:reply_incident_request) &&
              @incident_request.watcher?(Irm::Person.current.id) &&
              @incident_request.status_code.eql?(Irm::Constant::ENABLED)
      %>
          <a href="#new_icm_incident_reply" class="btn"><%= t(:label_icm_incident_journal_new) %></a>
      <% end %>
    </div>

    <div class="btn-group">
      <%= link_to t(:label_icm_incident_journal_back_to_request_list), {:controller=>"icm/incident_requests", :action => "index"} ,{:class=>"btn"}%>
    </div>
    <% if !@incident_request.close? %>
        <div class="btn-group">
          <% if @incident_request.status_code.eql?("ENABLED") %>
              <% if can_pass?(@incident_request)  %>
                  <%= link_to t(:pass), {:action => "edit_pass", :sid => @incident_request.external_system_id},{:class=>"btn",:id=>"edit_pass"} %>
              <% end %>
          <% end%>
        </div>

        <div class="btn-group">
          <% if @incident_request.status_code.eql?("ENABLED") %>
              <% if can_close?(@incident_request) %>
                  <%= link_to t(:close),
                              {},
                              {:href => "javascript:void(0);",:class=>"btn",:onclick=>"beforeClose()"} %>
              <% end %>
              <% if can_edit?(@incident_request) %>
                <%= link_to t(:edit),
                            {:controller=>"icm/incident_requests", :action => "edit", :id => @incident_request.id, :sid => @incident_request.external_system_id},
                            {:class=>"btn"} %>
              <% end %>
          <% elsif @incident_request.status_code.eql?("OFFLINE") %>
            <%= link_to t(:enable), {:controller => "icm/incident_requests", :action => "enable_request", :id => @incident_request.id},
                        :confirm => t(:label_icm_incident_request_enable_confirm), :class=>"btn",:method => :delete %>
          <% end %>
        </div>

        <div class="btn-group">
          <% if @incident_request.status_code.eql?("ENABLED") %>
              <% if Icm::IncidentRequest.assignable_to_person(Irm::Person.current.id).query(@incident_request.id).present?%>
                  <%= link_to t(:label_icm_incident_request_assign_me),
                              {:controller=>"icm/incident_requests",:action => "update_assign_me",
                               :incident_request_ids=>@incident_request.id,:sid=>@incident_request.external_system_id},{:class=>"btn",:back=>true} %>
              <% end %>
              <% if false && allow_to_function?(:assign_incident_request) %>
                  <a id="assignRequest" href="javascript:void(0)" class="btn"><%= t(:label_icm_incident_request_assign) %></a>
              <% end %>
          <% end %>
        </div>
    <% else %>
         <div class="btn-group">
           <%= link_to t(:permanent_close), {:action => "edit_permanent_close"},{:class=>"btn"}%>
           <%= link_to t(:reopen), {:action => "edit_reopen", :id => @incident_request.id, :sid => @incident_request.external_system_id},{:class=>"btn"}%>
           <% if (allow_to_function?(:edit_self_closed_incident_request) &&
                   (current_person?(@incident_request.support_person_id) ||
                   current_person?(@incident_request.requested_by))) || allow_to_function?(:edit_closed_incident_request)  %>
               <%= link_to t(:edit), {:controller=>"icm/incident_requests",:sid => @incident_request.external_system_id, :action => "edit", :id => @incident_request.id} ,{:class=>"btn",:back => true} %>
           <% end %>
         </div>
    <% end %>
    <% if Irm::Person.current.profile.user_license.eql?("SUPPORTER")%>
        <div class="btn-group">
          <% if @incident_request.status_code.eql?("ENABLED") %>
              <%= link_to t(:label_icm_incident_journal_edit_workload),
                          {:controller=>"icm/incident_journals",:action => "edit_workload"}, {:class=>"btn",:id=>"edit_workload"}%>
          <% end %>
        </div>
    <% end %>
    <div class="btn-group">
      <% if @incident_request.status_code.eql?("ENABLED") %>
          <% if @incident_request.kb_flag==Irm::Constant::SYS_NO %>
              <%= link_to t(:label_icm_save_as_skm), {:controller=>"skm/entry_headers", :action => "new_from_icm_request", :request_id => @incident_request.id},{:class=>"btn"} %>
          <% end %>
          <% unless @incident_request.change_request_id.present?
            if false
          %>
              <%= link_to t(:label_icm_create_relate_change_request), {:controller=>"chm/change_requests", :action => "incident_new", :request_id => @incident_request.id}, {:back=>true,:class=>"btn"} %>
          <%  end
             end %>
      <% end %>
    </div>
    <% if false%>
    <div class="btn-group">
      <%= link_to t(:export_pdf), {:controller=>"icm/incident_journals",:action=>"new",:request_id=> @incident_request.id,:format => "pdf"}, {:class => "btn btn-info",:target => "_blank"} %>
    </div>
    <% end %>
  </div>
<% end %>