<link rel="stylesheet" href="/stylesheets/ystep.css">

<div class="ystep1" style="margin-left: 1%;margin-top: 20px;">

</div>
<script src="/javascripts/ystep.js"></script>
<script>
  $(function(){
      var steps = [
          {
              title: "<%=t(:label_in_new)%>",
              content: ""
          },
          {
              title: "<%=t(:label_in_accept)%>",
              content: ""
          },
          {
              title: "<%=t(:label_in_process)%>",
              content: ""
          },
          {
              title: "<%=t(:label_in_commit_solution)%>",
              content: ""
          },
          {
              title: "<%=t(:label_in_close)%>",
              content: ""
          }
      ]
      <% Icm::IncidentHistory.where("request_id = ?",@incident_request.id).order("created_at ASC").each do |h|
          # 新建
          if h.property_key.eql?("incident_request_id")
      %>
            steps[0].content = "<%= format_date(h.created_at) %>"
      <%
          end
          # 受理中
          if h.new_value.eql?("000K000922scMSu1Q8vthI")
      %>
            steps[1].content = "<%= format_date(h.created_at) %>"
      <%
          end
          # 处理中
          if h.new_value.eql?("000K000C2hrdz1TO8kREaO") || h.new_value.eql?("000K000A0g8dQeGEHYvu9g")
      %>
            steps[2].content = "<%= format_date(h.created_at) %>"
      <%
          end
          # 提交方案
          if h.new_value.eql?("000K000A0g9LO0pOKPsZ1s")
      %>
          steps[3].content = "<%= format_date(h.created_at) %>"
      <%
          end
          # 关闭
          if h.new_value.eql?("000K000922scMSu1QUxWoy")
      %>
            steps[4].content = "<%= format_date(h.created_at) %>"
      <%
          end
      end
      %>

      var length = 1
      var temp = steps[0].content
      for(var i=1;i<steps.length;i++){
          if(steps[i].content > temp){
              temp = steps[i].content
              length = i+1
          }
      }
      $(".ystep1").loadStep({
          size: "large",
          color: "green",
          steps: steps
      });

      $(".ystep1").setStep(length)

      for(var i=0;i<length;i++){
          $(".ystep-step").eq(i).attr("class","ystep-step ystep-step-done")
      }
  })
</script>