<% if allow_to_function?(:view_watcher) %>
    <% l_editable = allow_to_function?(:edit_watcher)%>
    <% (l_editable = editable && l_editable) if editable.present?%>
    <% l_editable = l_editable && can_watcher?(watchable) %>
    <%= form_tag({:controller => "irm/watchers", :action => "add_watcher", :watchable_id => watchable.id,
                  :sid => sid,:_dom_id=>dom_id,:editable=>editable}, :remote => true) do %>
      <div class="sidebar-block">
          <div class="sidebar-block-header">
            <h2><%= t :label_irm_watcher %><%= ("(" + watchers_size(watchable).to_s + ")")%>
              <% if l_editable %>
                > <a href="javascript:void(0);" id="add_watcher_self" style="color:white;"><%= I18n.t(:self) %></a>
              <% end %>
            </h2>
          </div>
          <div class="sidebar-block-body">
            <% if l_editable %>
              <div class="form-inline">
                <% if allow_to_function?(:system_watcher_anyone, watchable.external_system_id) %>
                  <%= lov_field_tag("watcher",Irm::Person, {:lov_params=>{:external_system_id=> watchable[:external_system_id],:lktkn => "relation_system"},:relation_submit => true,:class=>"input-mini",:id => "watcher",:style=>"width:90px;"}) %>
                <% else %>
                  <%= hidden_field_tag "watcher", Irm::Person.current.id  %>
                  <%= text_field_tag "watcher_label", Irm::Person.current.full_name, {:class=>"input-mini",:id => "watcher_label",:style=>"width:90px;", :disabled => true, :title => t(:label_irm_watcher_helper)} %>
                <% end %>
                  <%= hidden_field_tag "watchable_type", watchable.class.to_s%>
                  <%= link_submit t(:add),{:class=>"btn btn-primary"}%>
              </div>
            <% end %>
            <div class="form-inline">
              <table>
                  <%= watchers_list(watchable,l_editable,dom_id,sid)%>
              </table>
            </div>
          </div>
      </div>
    <% end %>
<% end %>
<script type="text/javascript">
   $(function(){
       $("#add_watcher_self").click(function(){
        $("#watcher").val("<%= Irm::Person.current.id%>");
           $("#watcher_label").val("<%= Irm::Person.current.full_name%>");
       });
   });
</script>
