<%= page_title("",t(:label_irm_object_attribute_change_type_link)) %>
<%= form_for(@object_attribute,:url=>{:action=>"edit"},:builder => LabellingFormBuilder) do |f| %>
<div  class="bWizardBlock">
  <div class="pbWizardTitle tertiaryPalette">
      <div class="ptRightTitle">

      </div>
      <h2>
          <%= t(:label_irm_object_attribute_change_type) %>
      </h2>
  </div>
  <div class="pbBody">
    <div class="pbWizardBody">
      <div class="secondary-palette">
        <div class="pbBody ">
            <div class="pbSubsection">
            <table class="detailList" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td class="labelCol"><label for="object_attribute_attribute_type"><%=t(:label_irm_object_attribute_attribute_type)%></label></td>
                    <td class="dataCol"><%=f.select :attribute_type, changeable_attribute_type%></td>
                    <td class="labelCol empty">&nbsp;</td>
                    <td class="dataCol empty">&nbsp;<%hidden_field(:bo_id,params[:bo_id])%></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
    <div class="pbWizardFooter">
        <div class="pbBottomButtons">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="pbTitle"></td>
                  <td id="bottomButtonRow" class="pbButtonb">
                    <div class="button"><%= f.submit t :next%></div>
                    <div class="button"><%= link_to t(:cancel), {:id=>params[:bo_id],:action => "show",:controller=>"irm/business_objects"} %></div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
<%end%>