<%= setting_title %>
<div id="ep" class="detail-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_skm_setting) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>

            <tr>
              <td class="labelCol"><label><%= @settings.query_by_code("SKM_HEADER_AUDIT").first[:name]%></label></td>
              <td class="data2Col"><%= check_img(@settings.query_by_code("SKM_HEADER_AUDIT").first[:value])%></td>
            </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>