<%= common_title %>

<style type="text/css">
    .widget-box {
        background: none repeat scroll 0 0 #F9F9F9;
        border-top: 1px solid #CDCDCD;
        border-left: 1px solid #CDCDCD;
        border-right: 1px solid #CDCDCD;
        clear: both;
        margin-top: 16px;
        margin-bottom: 16px;
        position: relative;
    }

    .widget-box.widget-calendar, .widget-box.widget-chat {
        overflow: hidden !important;
    }

    .accordion .widget-box {
        margin-top: -2px;
        margin-bottom: 0;
        border-radius: 0;
    }

    .widget-box.widget-plain {
        background: transparent;
        border: none;
        margin-top: 0;
        margin-bottom: 0;
    }

    .widget-title, .table th {
        background-color: #efefef;
        background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
        background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fdfdfd', endColorstr = '#eaeaea', GradientType = 0); /* IE6-9 */
        border-bottom: 1px solid #CDCDCD;
        height: 36px;
    }

    .datatable table th {
        background: none;
        background-color: #efefef;
        background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
        background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fdfdfd', endColorstr = '#eaeaea', GradientType = 0); /* IE6-9 */
        border-bottom: 1px solid #CDCDCD;
        height: 30px;
        border-right: none;
    }

    .datatable table th, .datatable table th a {
        vertical-align: middle;
    }

    .widget-title table {
        width: 100%;
    }

    .widget-title table td {
        margin: 0;
    }

    .widget-title h5 {
        color: #666666;
        text-shadow: 0 1px 0 #ffffff;
        float: left;
        font-size: 12px;
        font-weight: bold;
        padding: 12px;
        line-height: 12px;
        margin: 0;
    }

    .widget-title .left-buttons {
        float: left;
        margin: 6px 0 0 60px;
    }

    .widget-title .middle-title {
        text-align: center;
        padding: 5px;
    }

    .widget-title .right-buttons {
        float: right;
        margin: 6px 20px 0 0;
    }

    .widget-content {
        padding: 0;
        border-bottom: 1px solid #cdcdcd;
        height: auto;
    }

    .widget-box.widget-plain .widget-content {
        padding: 12px 0 0;
    }

    .widget-box.collapsible .collapse.in .widget-content {
        border-bottom: 1px solid #CDCDCD;
    }

    .panel-left {
        width: 223px;
        /*background-color: #f2f2f2;*/
        position: absolute;
        left: 0;
        top: 37px;
        min-height: 250px;
    }

    .panel-right {
        margin-left: 223px;
        min-height: 250px;
        border-left: 1px solid #dddddd;
        /*height: 450px;*/
    }

    .panel-right .panel-title {
        width: 100%;
        background-color: #ececec;
        /*border-bottom: 1px solid #dddddd;*/
        padding: 6px 10px 5px;
    }

    .panel-right .panel-title h5 {
        font-size: 12px;
        color: #777777;
        text-shadow: 0 1px 0 #ffffff;
        margin: 0;
        display: inline-block;
        width: 100px;
        text-align: right;
    }

    .panel-right .filter-item {
        display: block;
        padding: 3px;
    }

    .panel-right .filter-item .btn {
        margin-right: 10px;
        min-width: 80px;
    }

    .panel-right .panel-content {
        padding: 0;
    }

    .datepicker.dropdown-menu {
        border-color: #cdcdcd;
        /*border-top: none;*/
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
    }

    .datepicker::before,
    .datepicker::after {
        border-left: 0;
        border-right: 0;
    }

    .filter-item .custom-checkbox,
    .filter-item .custom-radio {
        position: relative;
        display: inline-block;
    }

    .filter-item .custom-checkbox input,
    .filter-item .custom-radio input {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }

</style>
<!--页面结构-->
<div class="widget-box widget-calendar">
  <div class="widget-title">
    <table>
      <tr>
        <td class="left-buttons">
          <%= link_to url_for(:controller => "gtd/tasks", :action => "new"), :class => "btn btn-success" do %>
              <i class="icon-plus icon-white"></i><%= t(:label_gtd_task_new) %>
          <% end %>
        </td>
        <td class="middle-title"><h3></h3></td>
        <td class="right-buttons">
          <a href="#" class="btn btn-primary"><%= t(:label_gtd_task_workbench_today_instances) %></a>
          <a href="#" class="btn btn-info"><%= t(:label_gtd_task_workbench_export_excel) %></a>
          <a href="#" class="btn btn-info"><%= t(:label_gtd_task_workbench_export_pdf) %></a>
        </td>
      </tr>
    </table>
  </div>


  <div class="widget-content nopadding" id="widget-content">
    <div class="panel-left">
      <input type="text" id="calendar" value="" data-always="true" style="margin-top: -34px;margin-left: -1px; z-index: 0; visibility: hidden;"/>
    </div>

    <div class="panel-right">
      <div class="panel-title">
        <div class="filter-item" id="filter">
          <h5><%= t(:label_gtd_task_workbench_filter) %>：</h5>
          <input type="radio" name="filter" value="0" checked="checked" data-label-text="<%= t(:label_gtd_task_workbench_filter_assigned_to_me) %>"/>
          <input type="radio" name="filter" value="1" data-label-text="<%= t(:label_gtd_task_workbench_filter_created_by_me) %>"/>
          <input type="radio" name="filter" value="2" data-label-text="<%= t(:label_gtd_task_workbench_filter_relation_me) %>"/>
          <input type="radio" name="filter" value="3" data-label-text="<%= t(:label_gtd_task_workbench_filter_assigned_from_me) %>"/>
        </div>

        <div class="filter-item" id="status">
          <h5><%= t(:label_gtd_task_workbench_status) %>：</h5>
          <input type="checkbox" value="ALL" checked="checked" data-all="true" data-label-text="<%= t(:label_gtd_task_workbench_all) %>"/>
          <input type="checkbox" value="WAITING" checked="checked" data-label-text="<%= t(:label_gtd_task_workbench_status_waiting) %>"/>
          <input type="checkbox" value="PROCESS" checked="checked" data-label-text="<%= t(:label_gtd_task_workbench_status_process) %>"/>
          <input type="checkbox" value="DONE" checked="checked" data-label-text="<%= t(:label_gtd_task_workbench_status_done) %>"/>
        </div>

        <div class="filter-item" id="types">
          <h5><%= t(:label_gtd_task_workbench_type) %>：</h5>
          <input type="checkbox" value="ALL" checked="checked" data-all="true" data-label-text="<%= t(:label_gtd_task_workbench_all) %>"/>
          <input type="checkbox" value="DAILY" checked="checked" data-label-text="<%= t(:label_gtd_task_workbench_type_daily) %>"/>
          <input type="checkbox" value="WEEKLY" checked="checked" data-label-text="<%= t(:label_gtd_task_workbench_type_weekly) %>"/>
          <input type="checkbox" value="MONTHLy" checked="checked" data-label-text="<%= t(:label_gtd_task_workbench_type_monthly) %>"/>
        </div>
      </div>

      <div class="panel-content">
        <%= datatable("gtd_task_instances", {:controller => "gtd/task_workbenches", :action => "get_instance_data"}, [], {:search_box => "searchTask", :paginator_box => "paginatorTask"}) %>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript">
    $(function () {
        var dateValue = null;
        var current_target = $("#gtd_task_instances").data("datatable").target;

        $(".filter-item input").each(function () {
            var $this = $(this), parent = $this.parent(),
                    container = $("<div/>"),
                    labelText = $this.data("label-text"),
                    label = $("<label class='btn'/>");

            if ($this.data("all")) {
                label.attr("data-all", true);
            }

            label.text(labelText);
            if ($this.is(":checked")) {
                label.addClass("btn-danger");
            }

            if ($this.attr("type") === "checkbox") {
                container.addClass("custom-checkbox");
                $this.bind("click", function (e) {
                    if ($(this).is(":checked")) {
                        //检查当前是否控制其他checkbox选择的
                        if ($(this).data("all")) {
                            $("input", parent).removeAttr("checked");
                            $("label", parent).removeClass("btn-danger");
                        } else {
                            $("input[data-all]", parent).removeAttr("checked");
                            $("label[data-all]", parent).removeClass("btn-danger");
                            $this.removeAttr("checked");
                        }
                        label.removeClass("btn-danger");
                    } else {
                        if ($(this).data("all")) {
                            $("input", parent).attr("checked", true);
                            $("label", parent).addClass("btn-danger");
                        } else {
                            $this.attr("checked", true);
                            if ($("input", parent).length == $("input[checked]", parent).length + 1) {
                                $("input[data-all]", parent).attr("checked", true);
                                $("label[data-all]", parent).addClass("btn-danger");
                            }
                        }
                        label.addClass("btn-danger");
                    }
                    reloadInstance(current_target, dateValue);
                    return false;
                });
            } else {
                container.addClass("custom-radio");
                $this.bind("click", function () {
                    $("label", parent).removeClass("btn-danger");
                    label.addClass("btn-danger");
                    setTimeout(function () {
                        reloadInstance(current_target, dateValue);
                    }, 1);
                });
            }

            label.bind("click", function (e) {
                $this.trigger("click");
            });

            container.append($this).append(label);
            parent.append(container);
        });


        setDateTitle(new Date());
        $("#calendar").datepicker("show").on('changeDate', function (ev) {
            var date = ev.date;
            setDateTitle(date);
            dateValue = date.valueOf();
            reloadInstance(current_target, dateValue);
        });

        function reloadInstance(current_target, dateValue) {
            var rule_types = [], status = [];

            var filter = $("#filter input:checked").val();

            $("#status input:checked").each(function () {
                status.push($(this).val());
            });

            $("#types input:checked").each(function () {
                rule_types.push($(this).val());
            });

            var params = {'date':dateValue, 'filter':filter, 'rule_types[]':rule_types, 'status[]':status};

            current_target.data.options.searchOptions = params;
            current_target.loadPage(1);
        }

    });

    function setDateTitle(date) {
        var d = date.getDate();
        var m = date.getMonth() + 1;
        var y = date.getFullYear();
        $(".widget-title .middle-title h3").text(y + "-" + m + "-" + d);
    }

</script>