<style type="text/css">
    .navbar {
        margin-bottom: 0;
    }
    .navbar-inner {
        min-height: 20px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #fafafa;
        background-image: none;
        border: 1px solid #d4d4d4;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
        *zoom: 1;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    }

    .navbar-inner:before,
    .navbar-inner:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .navbar-inner:after {
        clear: both;
    }

    .navbar-inner .brand {
        font-size: 15px;
        padding: 8px;
    }

    .modal-body .controls .control-text {
        line-height: 24px;
        display: block;
    }
    .modal-body.form-horizontal .control-group {
        margin-bottom: 0;
    }
</style>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3><%= t(:label_gtd_task_workbench_show_task) %></h3>
</div>
<div class="modal-body form-horizontal">
  <div class="navbar">
    <div class="navbar-inner">
      <span class="brand"><%= t(:label_gtd_task_instance_info) %></span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"><%= t(:name) %>:</label>
    <div class="controls">
      <span class="control-text"><%= @task_instance.name %></span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t(:description) %>:</label>
    <div class="controls">
      <span class="control-text"><%= @task_instance.description %></span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t(:label_gtd_task_assigned_to) %>:</label>
    <div class="controls">
      <span class="control-text"><%= @task_instance[:full_name] %></span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t(:label_gtd_task_plan_start_at) %>:</label>
    <div class="controls">
      <span class="control-text"><%= format_date @task_instance[:plan_start_at] %></span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t(:label_gtd_task_plan_end_at) %>:</label>
    <div class="controls">
      <span class="control-text"><%= format_date @task_instance[:plan_end_at] %></span>
    </div>
  </div>
  <% if @task.present? %>
    <div class="navbar">
      <div class="navbar-inner">
        <span class="brand"><%= t(:label_gtd_task_info) %></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><%=t(:name)%>:</label>
      <div class="controls">
        <span class="control-text"><%= @task.name %></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><%=t(:description)%>:</label>
      <div class="controls">
        <span class="control-text"><%= @task.description %></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><%= t(:label_gtd_task_assigned_to) %>:</label>
      <div class="controls">
        <span class="control-text"><%= @task_instance[:full_name] %></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><%= t(:label_gtd_task_member_member) %>:</label>
      <div class="controls">
        <span class="control-text"><%= available_members(@task.member_ids).join(", ") %></span>
      </div>
    </div>

    <% if @task.repeat.eql?('Y') %>
    <div class="control-group">
      <label class="control-label"><%= t(:label_gtd_task_execute_plan) %>:</label>
      <div class="controls">
        <span class="control-text"><%= rule_meaning(@task) %></span>
      </div>
    </div>
    <% end %>


  <% end %>



</div>
<div class="modal-footer">
  <%= link_to t(:close), "#", :class => "btn", "data-dismiss" => "modal", "aria-hidden" => "true" %>
</div>