<% require_javascript(:extjs) %>
<div>
    <%= text_field_tag(id, tip_text,
                       {:style => "padding-left:22px;height:25px;width:180px;float:left;background-image:url(/images/search.png);background-position:2px 2px;background-repeat: no-repeat;", :class => "grayTips", :id => id})%>
    <div class="button" style="margin-top:0;"><%= link_to t(:search), {}, {:href =>"javascript:void(0);",:onclick => "getSearch()"} %></div>
</div>
<script type="text/javascript">
var g_oldVal = "";
function inputTipText(){
    $("input[class*=grayTips]") //所有样式名中含有grayTips的input
    .each(function(){
       var oldVal=$(this).val();   //默认的提示性文本
       g_oldVal = oldVal;
       $(this)
       .css({"color":"#888"})  //灰色
       .focus(function(){
        if($(this).val()!=oldVal){$(this).css({"color":"#000"})}else{$(this).val("").css({"color":"#888"})}
       })
       .blur(function(){
        if($(this).val()==""){$(this).val(oldVal).css({"color":"#888"})}
       })
       .keydown(function(){$(this).css({"color":"#000"})})
    })
}

$(function(){
    inputTipText();  //直接调用就OK了
    $("#<%= id%>").keypress(function(event){
        if(event.which == 13){
            getSearch();
        }
    });
});

function getSearch(){
    var text = $("#<%= id%>").val();
    if(text != g_oldVal)
    {
        var params = {};
        params["full_search"] = text;
        Ext.getCmp("<%= target_table%>Datatable").store.dtStaticParams(params);
    }
}
</script>