<% require_javascript(:extjs) %>
<% require_css(:extjs) %>
<div id="tree-div" href="<%= tree_url %>">
<script>
Ext.onReady(function() {
    var treeNode = Ext.getDom("<%= tree_id%>");

    Ext.define('ColumnField', {
        extend: 'Ext.data.Model',
        fields: [
            {name: 'id',type: 'string'},
            {name: 'text',type: 'string'},
            {name: 'sc_id',type: 'string'},
            {name: 'column_name',type: 'string'},
            {name: 'column_description',type: 'string'},
            {name: 'column_accesses', type:'string'},
            {name: 'sc_code',type: 'string'}
        ]
    });
    var store = Ext.create('Ext.data.TreeStore', {
        model: "ColumnField",
        proxy: {type: 'ajax',url:  treeNode.getAttribute("href")}
    });

    var tree = Ext.create('Ext.tree.Panel', {
        store: store,
        rootVisible: true,
        renderTo: '<%= tree_id%>',
        width: 200,
        height: 300,
        root: {
            expanded: true,
            text: '<%= root_text %>'
        },
        listeners:{
            'itemclick':function(view, record, item, index, e){
                var params = {};
                params["<%= url_param_name%>"] = record.get("<%= url_param_value%>");
                Ext.getCmp("<%= target_table%>Datatable").store.dtStaticParams(params);

            }
        }
    });

});
</script>
</div>