<div class="markdown-body">
  <%= generate_entry_book(@entry_book.id) %>
</div>

<div class="markdown-body">
  <% chapter = 1 %>
  <% @entry_book.entry_headers.each do |entry_header| %>
      <h1><%= "#{chapter} . #{entry_header.entry_title}" %></h1>
      <p class="h2-title"></p>
      <% chapter_h2 = 1 %>
      <% entry_header.entry_details.each do |e| %>
          <h2><%= "#{chapter}.#{chapter_h2}. #{raw(e.element_name)}" %></h2>
          <p><%= raw(e.entry_content) %></p>
          <% chapter_h2 += 1 %>
      <% end %>
      <!-- 检查是否有附件存在 -->
      <% if entry_header.attachments && entry_header.attachments.any? %>
          <h2><%= "#{chapter}.#{chapter_h2 }. #{t(:label_irm_attachment)}" %></h2>
          <ul>
            <% entry_header.attachments.each do |a| %>
                <% version = a.last_version_entity %>
                <li><p><%= raw("<a target='_blank' href='#{version.data.url}' >#{version.data.original_filename}</a>") %></p></li>
            <% end %>
          </ul>
      <% end %>

      <% chapter += 1 %>
  <% end %>
</div>