<%= common_title %>
<!--页面结构-->
<div class="show-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_icm_assign_rule) %></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:edit), {:action => "edit", :id => @assign_rule},:class=>"btn"%>
      <%= link_to t(:back), {:action => "index"},:class=>"btn" %>
    </td>
  </tr></table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
      <tr>
        <td class="label-col"><label><%=(t :name)%></label></td>
        <td class="data-col"><%= @assign_rule.name %></td>
        <td class="label-col">&nbsp;</td>
        <td class="data-col">&nbsp;</td>
      </tr>
      <tr>
        <td class="label-col"><label><%= t(:label_icm_support_group) %></label></td>
        <td class="data-col"><%= support_group_name(@assign_rule.support_group_id) %></td>
        <td class="label-col">&nbsp;</td>
        <td class="data-col">&nbsp;</td>
      </tr>
      <tr>
        <td class="label-col"><label><%= t(:description) %></label></td>
        <td class="data-col"><%= @assign_rule.description %></td>
        <td class="label-col">&nbsp;</td>
        <td class="data-col">&nbsp;</td>
      </tr>
      <tr>
        <td class="label-col"><label><%= t(:label_icm_assign_rule_filter) %></label></td>
        <td class="data-3col"><%= filter_and_type(@assign_rule.get_assignment_str, @assign_rule.join_type)%></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
