<%= stylesheet_link_tag "/javascripts/yui3.3/datatable/assets/skins/sam/datatable.css"%>
<div class="bSubBlock">
    <h3 class="lbHeader"></h3>
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
      <tbody>
        <tr>
          <td class="pbTitle"><h3 class="lbHeader"><%= t(:label_irm_wf_my_process_step_instance) %></h3></td>
          <td id="topButtonRow" class="pbButton">
          </td>
          <td class="pbHelp">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pbBody">
    <div class="pbSubsection">
         <% if step_instances.any? %>
         <div class="datatable">
           <div class="yui3-widget yui3-datatable">
             <div class="yui3-datatable-content">
                 <table id='rows' cellspacing="0" cellpadding="0" class='grid'>
                   <thead class="yui3-datatable-columns">
                     <tr class="yui3-datatable-first yui3-datatable-last">
                       <th class="yui3-column">
                         <div class="yui3-datatable-liner">
                           <%= t(:operation) %>
                         </div>
                       </th>
                       <th class="yui3-column">
                         <div class="yui3-datatable-liner">
                           <%= t(:label_irm_wf_process_instance_bo_instance) %>
                         </div>
                       </th>
                       <th class="yui3-column">
                         <div class="yui3-datatable-liner">
                           <%= t(:label_irm_wf_process_instance_bo_model_name) %>
                         </div>
                       </th>
                       <th class="yui3-column">
                         <div class="yui3-datatable-liner">
                           <%= t(:label_irm_wf_process_instance_submitter_name) %>
                         </div>
                       </th>
                       <th class="yui3-column">
                         <div class="yui3-datatable-liner">
                           <%= t(:label_irm_wf_process_instance_submitted_at) %>
                         </div>
                       </th>
                     </tr>
                   </thead>

                    <tbody  class="yui3-datatable-data">
                        <% step_instances.each do |step_instance|%>
                          <tr id="stepInstance<%=step_instance.id%>" class="yui3-datatable-even">
                            <td class="yui3-column">
                              <div class='yui3-datatable-liner'>
                                <%= operations_for(step_instance)%>
                               </div>
                            </td>
                            <td class="yui3-column">
                              <div class='yui3-datatable-liner'>
                                <%= step_instance_description(step_instance) %>
                               </div>
                            </td>
                            <td class="yui3-column">
                              <div class='yui3-datatable-liner'>
                                <%= step_instance[:bo_model_meaning] %>
                               </div>
                            </td>
                            <td class="yui3-column">
                              <div class='yui3-datatable-liner'>
                                <b><%= step_instance[:submitter_name] %></b>
                              </div>
                            </td>
                            <td class="yui3-column">
                              <div class='yui3-datatable-liner'>
                                <%= format_date(step_instance[:submitted_at]) %>
                              </div>
                            </td>
                          </tr>
                        <% end %>
                    </tbody>

                 </table>
             </div>
           </div>
         </div>
         <% end %>
    </div>
  </div>
</div>
