<%= stylesheet_link_tag "/javascripts/yui3.3/datatable/assets/skins/sam/datatable.css"%>
<%= app_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_delayed_job_wf_approval_mail_monitor) %></h2></td>
              <td id="topButtonRow" class="pbButton">

              </td>
              <td class="pbHelp">
                <div id="permissionsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <% if @monitor.blank? %>
            <div style="font-size: 15px;"><%= t(:label_no_data) %></div>
        <% else %>
        <div class="datatable">
          <div class="yui3-widget yui3-datatable">
            <div class="yui3-datatable-content">
                <table id='rows' cellspacing="0" cellpadding="0" class='grid'>
                  <thead class="yui3-datatable-columns">
                    <tr class="yui3-datatable-first yui3-datatable-last">
                      <th class="yui3-column">
                        <div class="yui3-datatable-liner"><%= t(:label_irm_wf_approval_process_name_full) %>
                        </div>
                      </th>
                      <th class="yui3-column">
                        <div class="yui3-datatable-liner"><%= t(:label_irm_business_object_name_full) %>
                        </div>
                      </th>
                      <th class="yui3-column">
                        <div class="yui3-datatable-liner"><%= t(:label_irm_business_object_description_full) %>
                        </div>
                      </th>
                      <th class="yui3-column">
                        <div class="yui3-datatable-liner"><%= t(:label_irm_wf_approval_step_name_full) %>
                        </div>
                      </th>
                      <th class="yui3-column">
                        <div class="yui3-datatable-liner"><%= t(:label_irm_delayed_jobs_record_run_at) %>
                        </div>
                      </th>
                      <th class="yui3-column">
                        <div class="yui3-datatable-liner"><%= t(:label_irm_delayed_jobs_record_end_at) %>
                        </div>
                      </th>
                      <th class="yui3-column">
                        <div class="yui3-datatable-liner"><%= t(:label_irm_delayed_jobs_record_status) %>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="yui3-datatable-data">
                  <% @monitor.each do |log| %>
                  <tr class="yui3-datatable-even">
                    <td class="yui3-column">
                      <div class='yui3-datatable-liner'>
                        <%=log[:approval_process_name]%>
                      </div>
                    </td>
                    <td class="yui3-column">
                      <div class='yui3-datatable-liner'>
                        <%=log[:bo_name]%>
                      </div>
                    </td>
                    <td class="yui3-column">
                      <div class='yui3-datatable-liner'>
                        <%=log[:bo_description]%>
                      </div>
                    </td>
                    <td class="yui3-column">
                      <div class='yui3-datatable-liner'>
                        <%=log[:approval_step_name]%>
                      </div>
                    </td>
                    <td class="yui3-column">
                      <div class='yui3-datatable-liner'>
                        <%=log[:run_at].strftime("%F %T") if log[:run_at]%>
                      </div>
                    </td>
                    <td class="yui3-column">
                      <div class='yui3-datatable-liner'>
                        <%=log[:end_at].strftime("%F %T") if log[:end_at]%>
                      </div>
                    </td>
                    <td class="yui3-column">
                      <div class='yui3-datatable-liner'>
                        <%=log[:job_status]%>
                      </div>
                    </td>
                  </tr>
                  <% end -%>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
        <% end %>


      </div>
    </div>
</div>
