<table  class="form-table">
  <tbody>
    <tr>
      <td class="label-col"></td>
      <td class="data-col"><%= hidden_field_tag(:customer_no,Irm::Person.current.id,:name=>"program_params[customer_no]")%></td>
      <td class="label-col"></td>
      <td class="data-col"></td>
    </tr>
    <tr>
      <td class="label-col"><label><%= t(:label_project_name) %></label></td>
      <td class="data-col">
        <%=select_tag_alias :project_name, ava_external_systems_reports(Irm::Person.current.id),program_params[:project_name],{
                                                 :name=>"program_params[project_name]",
                                                 :id=>"externalSystemId",
                                                 :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                                 :href=>url_for({:external_system_id=>"{external_system_id}"})}%>
      </td>
      <td class="label-col"></td>
      <td class="data-col"></td>
    </tr>
    <tr>
      <td class="label-col"><label><%= t(:label_service_list_status) %></label></td>
      <td class="data-col">
        <%=select_tag_alias :service_list_status, ava_status_reports,program_params[:service_list_status],{
                                                        :name=>"program_params[service_list_status]",
                                                        :id=>"service_list_status",
                                                        :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---"
                                                }%>
      </td>
      <td class="label-col"></td>
      <td class="data-col"></td>
    </tr>
    <tr>
      <td class="label-col"><label><%= t(:label_commit_question_time) %></label></td>
      <td class="data-col">
        <%= date_field_tag(:start_date,:value => program_params[:start_date],:id=>"filterDateFrom",:name=>"program_params[start_date]",:size=>12,:nobutton=>true)%>
        <label for="filterDateTo"><%= t(:label_irm_report_filter_date_to) %></label>
        <%= date_field_tag(:end_date,:value => program_params[:end_date],:id=>"filterDateTo",:name=>"program_params[end_date]",:size=>12,:nobutton=>true)%>
      </td>
      <td class="label-col"></td>
      <td class="data-col"></td>
    </tr>
  </tbody>
</table>