<%= common_title %>
<%= form_for(@customer,:url=>{:action=>"update"},:builder => CustomFormBuilder) do |f| %>
    <% content_for :form_block_a   do%>
        <table class="form-table">
          <tbody>
          <tr>
            <td class="label-col"><label><%=t(:label_sug_customer_name)%></label></td>
            <td class="data-col"><%=f.text_field :name, :required=>true %></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_sug_customer_parent)%></label></td>
            <td class="data-col"><%=f.lov_field :parent_id, "Sug::Customer",{:lov_params=>{:lktkn=>"customer_parent", :customer_id=> @customer.id}} %></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>

          <tr>
            <td class="label-col"><label><%=t(:label_sug_customer_project)%></label></td>
            <td class="data-col"><%=f.text_field :project, :required=>true %></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_sug_customer_industry)%></label></td>
            <td class="data-col"><%=f.text_field :industry %></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_sug_customer_zip_code)%></label></td>
            <td class="data-col"><%=f.text_field :zip_code %></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_sug_address)%></label></td>
            <td class="data-3col" colspan="3">
              <%= f.select :country_id, available_countries, {}, :id => "customer_country", :required => true %>
              <%= f.select :province_id, [], {}, :id => "customer_province",
                           :chosen => false,
                           :origin_value=> @customer.province_id,
                           :depend => "customer_country",
                           :blank => "--- #{t(:actionview_instancetag_blank_option)} ---",
                           :href => url_for(:controller => "sug/countries", :action => "get_province_data", :format => "json", :id => "${customer_country}") %>

              <%= f.select :city_id, [], {}, :id => "customer_city",
                           :chosen => false,
                           :origin_value=> @customer.city_id,
                           :depend => "customer_province",
                           :blank => "--- #{t(:actionview_instancetag_blank_option)} ---",
                           :href => url_for(:controller => "sug/provinces", :action => "get_city_data", :format => "json", :id => "${customer_province}") %>

              <%= f.select :district_id, [], {}, :id => "customer_district",
                           :chosen => false,
                           :origin_value=> @customer.district_id,
                           :depend => "customer_city",
                           :blank => "--- #{t(:actionview_instancetag_blank_option)} ---",
                           :href => url_for(:controller => "sug/cities", :action => "get_district_data", :format => "json", :id => "${customer_city}") %>
              <%= f.text_field :details %>
            </td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_sug_customer_note)%></label></td>
            <td class="data-col"><%= f.text_area :note, :rows => 4, :class => "input-xxlarge" %></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          </tbody>
        </table>
    <% end %>

    <% content_for :form_block_b do %>
        <table class="form-table">
          <tbody>
          <tr>
            <td class="label-col"><label><%=t(:label_sug_customer_profit)%></label></td>
            <td class="data-col"><%=f.blank_select :profit_id, [] %></td>
            <td class="label-col"><label><%=t(:label_sug_customer_affect)%></label></td>
            <td class="data-col empty"><%=f.blank_select :affect_id, [] %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_sug_customer_phase)%></label></td>
            <td class="data-col"><%=f.blank_select :phase_id, [] %></td>
            <td class="label-col"><label><%=t(:label_sug_customer_custom)%></label></td>
            <td class="data-col empty"><%=f.blank_select :custom_id, [] %></td>
          </tr>
          </tbody>
        </table>
    <% end %>

    <% content_for :form_buttons  do %>
        <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
        <%= link_back t(:cancel),{},{:class=>"btn cancel"}%>
    <% end %>
    <!--页面结构-->
    <div class="page-block">
      <table class="page-block-header"><tr>
        <td class="page-block-title">
          <h2 class="block-title"><%=t(:label_sug_customer_edit)%></h2>
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr></table>
      <div class="page-block-body">
        <%= error_for @customer %>
        <div class="sub-page-block">
          <div class="sub-page-block-header">
            <%= form_require_info %>
            <h3 class="sub-page-block-title"><%= t(:label_common_info) %></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_block_a   %>
          </div>
        </div>

        <div class="sub-page-block">
          <div class="sub-page-block-header">
            <h3 class="sub-page-block-title"><%= t(:label_sug_customer_priority) %></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_block_b %>
          </div>
        </div>

      </div>

      <table class="page-block-footer"><tr>
        <td class="page-block-title">
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr></table>
    </div>
<% end %>
<script type="text/javascript">
    $(function(){
        if ($("#customer_country")) {
            $("#customer_country").cascade("#customer_province");
        }
        if ($("#customer_province")) {
            $("#customer_province").cascade("#customer_city");
        }
        if ($("#customer_city")) {
            $("#customer_city").cascade("#customer_district");
        }
    })
</script>
