<%= page_title %>
<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_com_config_class_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="config_classesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="config_classes" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:action=>"edit",:id=>"{id}"}) %>|<%= link_to(t(:show),{:action=>"show",:id=>"{id}"}) %>
          </div>
          <div id="leaf_flag" style="display:none">
            <%= check_img("{leaf_flag}") %>
          </div>
        </div>
        <%= datatable("config_classes",{:action=>"get_data",:format=>"json"},
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"70px"},
                       { :key => "code", :label => t(:label_com_config_class_code),:searchable=>true },
                       { :key => "name", :label => t(:label_com_config_class_name),:searchable=>true },
                       { :key => "description", :label => t(:label_com_config_class_description),:width=>"250px" },
                       { :key => "leaf_flag", :label => t(:label_com_config_class_leaf_flag),:formatter=>"Y.irm.template"}
                      ],{:paginator_box=>"config_classesPaginatorBox",:search_box=>"config_classesSearchBox"})%>
        <div id="config_classesPaginatorBox"></div>
      </div>
    </div>
</div>


