<%= page_title %>
<!--页面结构-->
<div class="show-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_com_config_class) %></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:edit), {:action => "edit", :id => @config_class },:class=>"btn btn-primary"%>
      <%= link_to t(:new), {:action => "new"},:class=>"btn"%>
      <%= link_to t(:back), {:action => "index"},:class=>"btn" %>
    </td>
  </tr></table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
          <tr>
            <td class="label-col"><label ><%=t(:label_com_config_class_code)%></label></td>
            <td class="data-col"><div><%= @config_class.code %></div></td>
            <td class="label-col empty"><div>&nbsp;</div></td>
            <td class="data-col empty"><div>&nbsp;</div></td>
          </tr>
          <tr>
            <td class="label-col"><label ><%=t(:label_com_config_class_name)%></label></td>
            <td class="data-col"><div><%= @config_class[:name] %></div></td>
            <td class="label-col empty"><div>&nbsp;</div></td>
            <td class="data-col empty"><div>&nbsp;</div></td>
          </tr>
          <tr>
            <td class="label-col"><label ><%=t(:label_com_config_class_leaf_flag)%></label></td>
            <td class="data-col"><div><%= check_img(@config_class.leaf_flag) %></div></td>
            <td class="label-col empty"><div>&nbsp;</div></td>
            <td class="data-col empty"><div>&nbsp;</div></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- 配置属性列表 -->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_com_config_attribute_list) %></h2>
      </td>
      <td class="page-block-button">
        <%= link_to t(:add), {:controller=>"com/config_attributes",:action => "new",:class_id=>@config_class.id },:class=>"btn"%>
      </td>
      <td class="page-block-help">
        <div id="config_attributesSearchBox"></div>
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <div id="config_attributes">
      <%= datatable("config_attributes",{:controller=>"com/config_attributes",:action=>"get_data",:format=>"json",:class_id=>@config_class.id},[],{:paginator_box=>"config_attributesPaginatorBox",:select=>"multiple", :search_box=>"config_attributesSearchBox"})%>
    </div>
    <div id="config_attributesPaginatorBox"></div>
  </div>
</div>
<!-- 结束配置属性列表 -->
<!-- 配置项关系类型列表开始 -->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_com_config_relation_type_list) %></h2>
      </td>
      <td class="page-block-button"></td>
      <td class="page-block-help">
        <div id="config_relation_typesSearchBox"></div>
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <div id="config_relation_types">
      <%= datatable("config_relation_types",{:controller=> "config_relation_types", :action=>"get_data",:format=>"json",:class_id=>@config_class.id},[],{:paginator_box=>"config_relation_typesPaginatorBox",:search_box=>"config_relation_typesSearchBox"})%>
    </div>
    <div id="config_relation_typesPaginatorBox"></div>
  </div>
</div>
<!-- 配置项关系类型列表结束 -->
<%=render :partial=>"multilingual/show",:locals=>{:main_data=>@config_class} %>