<%= common_title(:show_data=>@survey.title,:action_meaning=>t(:label_csi_survey_response_new)) %>
<style type="text/css">
  span.prompt{
    display:none;
  }
  td.surveydataCol{
    padding-left:15px;
  }
  div.requiredBlock h3{
      color:red;
  }
</style>



<div id="ep" class="detail-block page-block">
  <div id="id_survey_reply">
    <% unless @survey.close? %>
      <div id='errors' class='error'></div>
      <%= form_tag({:controller=>"csi/survey_responses",:action=>"create"},{:id=>"responseForm"}) do %>
         <%= hidden_params_field :survey_member_id%>
         <%= back_url_hidden_field_tag %>
         <%= hidden_field_tag 'page', @page %>
         <%= hidden_field_tag 'survey_id', @survey.id %>
         <%= hidden_field_tag 'start_at', Time.now %>

         <%= render :partial => 'subjects',:locals => {:survey => @survey}%>

          <table class="page-block-footer">
            <tr>
              <td class="page-block-title">
                <%=  link_submit t(:submit),{:id=>"submitPage", :class => "btn btn-primary"}%>
                <%=  link_to(t(:label_csi_survey_next_page),{},{:href=>"javascript:void(0)",:id=>"nextPage",:class => "btn"})%>
                <%= link_back t(:cancel), {}, :class => "btn" %>
              </td>
            </tr>
          </table>
       <% end %>
    <% else %>
      <%= t(:label_csi_survey_closed) %>
    <% end %>
  </div>
</div>


