<% require_javascript(:datepicker) %>
<% require_css(:datepicker) %>
<style type="text/css">
  select{
      min-width:128px;
  }
  .yui-skin-sam .yui-toolbar-container div.yui-toolbar-subcont{
    border-bottom-width: 1px;
    padding-bottom: 0;
    padding-left: 1px;
  }
</style>
<%= form_for(@incident_request,:url=>{:action=>"update"},:builder => LabellingFormBuilder,:html => { :multipart => true }) do |f| %>
<div id="ep" class="edit-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_icm_incident_request_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @incident_request %>
    <%= flash_notice %>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <% if allow_to_function?(:create_icdt_rqst_for_other) %>
              <tr>
                <td class="labelCol"><label for="incident_request_requested_by"><%=t(:label_icm_incident_request_requested_by)%></label></td>
                <td class="dataCol"><%=f.lov_field :requested_by,Irm::Person,{:required=>true,:id=>"incident_request_requested_by"}%></td>
              </tr>
            <% else %>
                <%= f.hidden_field(:requested_by,:value=>Irm::Person.current.id) %>
            <% end %>
            <tr>
              <td class="labelCol"><label for="incident_request_service_code"><%=t(:label_icm_incident_request_target_system)%></label></td>
              <td class="dataCol">
                <% if allow_to_function?(:create_icdt_rqst_for_other) %>
                    <%=f.select :external_system_id,
                                nullable_options_for_select(available_external_systems_with_person(@incident_request.requested_by).collect{|p| [p[:system_name], p.id]},@incident_request.external_system_id),{},
                            {:id=>"ass_external_system",
                             :depend=>"incident_request_requested_by",
                             :origin_value=>@incident_request.external_system_id,
                             :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                             :href=>url_for(:controller=>"icm/incident_requests",:action=>"get_external_systems",:format=>"json",:requested_by=>"${incident_request_requested_by}"),
                             :required => true}%>
                <% else %>
                    <%=f.select :external_system_id,
                            nullable_options_for_select(available_external_systems_with_person(Irm::Person.current.id).collect{|p| [p[:system_name], p.id]},@incident_request.external_system_id),
                            {},
                            {:id=>"ass_external_system",
                             :depend=>"incident_request_requested_by",
                             :origin_value=>@incident_request.external_system_id,
                             :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                             :href=>url_for(:controller=>"icm/incident_requests",:action=>"get_external_systems",:format=>"json",:requested_by=>"${incident_request_requested_by}"),
                             :required => true}%>
                <% end %>
              </td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>

           <tr>
              <td class="labelCol"><label for=""><%=t(:label_icm_incident_request_incident_category)%></label></td>
              <td class="dataCol"><%=f.select :incident_category_id,
                                            nullable_options_for_select([],@incident_request.incident_category_id),
                                            {},
                                            {:id=>"incident_category_id",
                                             :origin_value=>@incident_request.incident_category_id,
                                             :depend=>"ass_external_system",
                                             :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                             :href=>url_for(:controller=>"icm/incident_categories",:action=>"get_option",:format=>"json",
                                                            :external_system_id=>"${ass_external_system}")}%>
              </td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label for=""><%=t(:label_icm_incident_request_incident_sub_category)%></label></td>
              <td class="dataCol"><%=f.select :incident_sub_category_id,
                                            nullable_options_for_select([],@incident_request.incident_sub_category_id),
                                            {},
                                            {:id=>"incident_sub_category_id",
                                             :origin_value=>@incident_request.incident_sub_category_id,
                                             :depend=>"incident_category_id",
                                             :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                             :href=>url_for(:controller=>"icm/incident_sub_categories",:action=>"get_option",:format=>"json",
                                                            :incident_category_id=>"${incident_category_id}")}%>
              </td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_icm_incident_request_estimated_date)%></label></td>
              <td class="dataCol">
                <%= f.text_field(:estimated_date,:size=>12,:class=>"date")%>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label for="incident_request_title"><%=t(:label_icm_incident_request_title)%></label></td>
              <td class="dataCol" colspan="3" style="width:82%"><%=f.text_field :title,:size=>80, :required=>true ,:id=>"incident_request_title"%></td>
            </tr>

            <tr>
              <td class="labelCol"><label for="incident_request_summary"><%=t(:label_icm_incident_request_summary)%></label></td>
              <td class="dataCol" colspan="3" style="width:82%">
                <%=f.text_area :summary,:rows=>8,:cols=>100,:value=>@incident_request.summary, :required=>true ,:id=>"incident_request_summary"%>
                <%= rich_text_area("incident_request_summary") %>
              </td>
            </tr>
            <tr>
              <td class="labelCol"></td>
              <td class="dataCol" colspan="3" style="width:82%">
                  <%= render :partial=>"helper/upload_file",:locals=>{:upload_file_id=>"edit_incident_request_file"} %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>



    <div id="head_3_ep" class="pbSubheader tertiaryPalette">
      <h3><%= t(:label_icm_incident_requset_addition_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td class="labelCol"><label for="incident_request_contact_id"><%=t(:label_icm_incident_request_contact)%></label></td>
                <td class="dataCol">
                  <div style="display:inline">
                    <%=f.lov_field :contact_id,Irm::Person,{:required=>true,:id=>"incident_request_contact_id"}%>
                  </div>
                </td>
                <td class="labelCol"><label for="incident_request_contact_number"><%=t(:label_icm_incident_request_contact_number)%></label></td>
                <td class="dataCol">
                  <%=f.text_field :contact_number,:size=>17,:id=>"incident_request_contact_number",:required=>true%>
                </td>

            </tr>
            <tr>
              <td class="labelCol"><label for="incident_request_urgence_code"><%=t(:label_icm_incident_request_urgence_code)%></label></td>
              <td class="dataCol">
                <%=f.select :urgence_id,available_urgence_code,{},{:required=>true,:id=>"incident_request_urgence_code"}%>
              </td>
              <td class="labelCol"><label for="incident_request_impact_range_code"><%=t(:label_icm_incident_request_impact_range_code)%></label></td>
              <td class="dataCol">
                <%=f.select :impact_range_id,available_impact_range,
                                                    {},{:required=>true,:id=>"incident_request_impact_range_code"}%>
              </td>
            </tr>
          <% if false && allow_to_function?(:create_icdt_rqst_for_other) %>
            <tr>
              <td class="labelCol"><label for="incident_request_request_type_code"><%=t(:label_icm_incident_request_request_type_code)%></label></td>
              <td class="dataCol">
                <%=f.blank_select :request_type_code,available_request_type,
                                                    {},{:required=>true,:id=>"incident_request_request_type_code"}%>
              </td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>

            <tr>
              <td class="labelCol"><label for="incident_request_report_source_code"><%=t(:label_icm_incident_request_report_source_code)%></label></td>
              <td class="dataCol">
                <%=f.select :report_source_code,nullable_options_for_select(available_request_report_source,@incident_request.report_source_code),
                                                    {},{:required=>true,:id=>"incident_request_report_source_code"}%>
              </td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
         <%end%>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<script type="text/javascript">
  $(function(){
     var requester = $("#incident_request_requested_by");
     if(requester){
         requester.change(function(event){
             setLookupValue("incident_request_contact_id",$(event.target).val());
         })
     }
     if($("#incident_request_contact_id")){
         $("#incident_request_contact_id").change(function(event){
           if($(event.target).val()&&$(event.target).data("lov")&&$(event.target).data("lov").bussiness_phone){
             $("#incident_request_contact_number").val($(event.target).data("lov").bussiness_phone);
           }
         })
     }
     if($("#incident_request_support_group_id")){
         $("#incident_request_support_group_id").cascade("#incident_request_support_person_id");
     }
     if($("#incident_request_requested_by")){
        $("#incident_request_requested_by").cascade("#ass_external_system");
     }
     if($("#ass_external_system")){
        $("#ass_external_system").cascade(["#incident_category_id"]);
     }

     if($("#incident_category_id")){
        $("#incident_category_id").cascade("#incident_sub_category_id");
     }
  });
</script>