<%= form_for(@incident_request,:url=>{:action=>"create"},:builder => LabellingFormBuilder,:html => { :multipart => true }) do |f| %>
<%= hidden_field_tag :return_url,@return_url %>
<div id="ep" class="edit-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_icm_incident_request_new)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <% if @return_url%>
              <div class="button"><%= link_to t(:cancel), @return_url%></div>
            <% else %>
              <div class="button"><%= link_back t(:cancel)%></div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @incident_request %>
    <%= flash_notice %>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_icm_incident_requset_base_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <% if allow_to_function?(:create_icdt_rqst_for_other) %>
              <tr>
                <td class="labelCol"><label for="incident_request_requested_by"><%=t(:label_icm_incident_request_requested_by)%></label></td>
                <td class="data2Col"><%=f.lov_field :requested_by,Irm::Person,{:required=>true,:id=>"incident_request_requested_by"}%></td>
              </tr>
            <% else %>
                <%= f.hidden_field(:requested_by,:value=>Irm::Person.current.id, :id=>"incident_request_requested_by") %>
            <% end %>
            <tr>
              <td class="labelCol"><label for="incident_request_service_code"><%=t(:label_icm_incident_request_target_system)%></label></td>
              <td class="data2Col">
                <% if allow_to_function?(:create_icdt_rqst_for_other) %>
                    <%=f.select :external_system_id,nullable_options_for_select([],@incident_request.external_system_id),{:value=>@incident_request.external_system_id},
                            {:required=>true,:id=>"ass_external_system",
                             :depend=>"incident_request_requested_by",
                             :origin_value=>@incident_request.external_system_id,
                             :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                             :href=>url_for(:controller=>"icm/incident_requests",:action=>"get_external_systems",:format=>"json",:requested_by=>"${incident_request_requested_by}")}%>
                <% else %>
                    <%=f.select :external_system_id,
                            nullable_options_for_select(available_external_systems_with_person(Irm::Person.current.id).collect{|p| [p[:system_name], p.id]},@incident_request.external_system_id),
                            {:value=>@incident_request.external_system_id},
                            {:required=>true,:id=>"ass_external_system",
                             :origin_value=>@incident_request.external_system_id,
                             :depend=>"incident_request_requested_by",
                             :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                             :href=>url_for(:controller=>"icm/incident_requests",:action=>"get_external_systems",:format=>"json",:requested_by=>"${incident_request_requested_by}")}%>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label for=""><%=t(:label_icm_incident_request_incident_category)%></label></td>
              <td class="data2Col"><%=f.select :incident_category_id,
                                            nullable_options_for_select([],@incident_request.incident_category_id),
                                            {},
                                            {:required=>true,
                                             :id=>"incident_category_id",
                                             :origin_value=>@incident_request.incident_category_id,
                                             :depend=>"ass_external_system",
                                             :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                             :href=>url_for(:controller=>"icm/incident_categories",:action=>"get_option",:format=>"json",
                                                            :external_system_id=>"${ass_external_system}")}%>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label for=""><%=t(:label_icm_incident_request_incident_sub_category)%></label></td>
              <td class="data2Col"><%=f.select :incident_sub_category_id,
                                            nullable_options_for_select([],@incident_request.incident_sub_category_id),
                                            {},
                                            {:required=>true,
                                             :id=>"incident_sub_category_id",
                                             :origin_value=>@incident_request.incident_sub_category_id,
                                             :depend=>"incident_category_id",
                                             :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                             :href=>url_for(:controller=>"icm/incident_sub_categories",:action=>"get_option",:format=>"json",
                                                            :incident_category_id=>"${incident_category_id}")}%>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label for="incident_request_title"><%=t(:label_icm_incident_request_title)%></label></td>
              <td class="data2Col" colspan="3"><%=f.text_field :title,:size=>80, :required=>true ,:id=>"incident_request_title"%></td>
            </tr>

            <tr>
              <td class="labelCol"><label for="incident_request_summary"><%=t(:label_icm_incident_request_summary)%></label></td>
              <td class="data2Col" colspan="3">
                <%=f.text_area :summary,:rows=>8,:cols=>100,:value=>@incident_request.summary, :required=>true ,:id=>"incident_request_summary"%>
                <%= rich_text_area("incident_request_summary") %>
              </td>

            </tr>
            <tr>
              <td class="labelCol"></td>
              <td class="data2Col" colspan="3">
                <%= render :partial=>"helper/upload_file",:locals=>{:upload_file_id=>"new_incident_request_file"} %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div id="head_3_ep" class="pbSubheader tertiaryPalette">
      <h3><%= t(:label_icm_incident_requset_addition_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td class="labelCol"><label for="incident_request_contact_id"><%=t(:label_icm_incident_request_contact)%></label></td>
                <td class="dataCol">
                  <div style="display:inline">
                    <%=f.lov_field :contact_id,Irm::Person,{:required=>true,:id=>"incident_request_contact_id"}%>
                  </div>
                </td>
                <td class="labelCol"><label for="incident_request_contact_number"><%=t(:label_icm_incident_request_contact_number)%></label></td>
                <td class="dataCol">
                  <%=f.text_field :contact_number,:size=>17,:id=>"incident_request_contact_number",:required=>true%>
                </td>

            </tr>
            <tr>
              <td class="labelCol"><label for="incident_request_urgence_code"><%=t(:label_icm_incident_request_urgence_code)%></label></td>
              <td class="dataCol">
                <%=f.select :urgence_id,options_for_select(available_urgence_code,@incident_request.urgence_id||Icm::UrgenceCode.default_id),
                                                    {},{:required=>true,:id=>"incident_request_urgence_code"}%>
              </td>
              <td class="labelCol"><label for="incident_request_impact_range_code"><%=t(:label_icm_incident_request_impact_range_code)%></label></td>
              <td class="dataCol">
                <%=f.select :impact_range_id,options_for_select(available_impact_range,@incident_request.impact_range_id||Icm::ImpactRange.default_id),
                                                    {},{:required=>true,:id=>"incident_request_impact_range_code"}%>
              </td>
            </tr>
          <% if allow_to_function?(:assign_incident_request) %>
            <tr>
              <td class="labelCol"><label for="incident_request_support_group_id"><%=t(:label_icm_incident_request_support_group)%></label></td>
              <td class="dataCol">
                <%=f.select :support_group_id,nullable_options_for_select(available_support_group,@incident_request.support_group_id),
                                                    {},{:id=>"incident_request_support_group_id"}%>
              </td>
              <td class="labelCol"><label for="incident_request_support_person_id"><%=t(:label_icm_incident_request_support_person)%></label></td>
              <td class="dataCol"><%= f.select(:support_person_id,nullable_options_for_select([],nil),{},
                                  {
                                   :id=>"incident_request_support_person_id",
                                   :href=>url_for(:controller=>"icm/support_groups",:action=>"get_member_options",:format=>"json",:id=>"${incident_request_support_group_id}"),
                                   :depend=>"incident_request_support_group_id",
                                   :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---"
                                   }) %></td>

            </tr>
          <%end%>
          <% if allow_to_function?(:create_icdt_rqst_for_other) %>
            <tr>
              <td class="labelCol"><label for="incident_request_report_source_code"><%=t(:label_icm_incident_request_report_source_code)%></label></td>
              <td class="dataCol">
                <%=f.select :report_source_code,nullable_options_for_select(available_request_report_source,@incident_request.report_source_code),
                                                    {},{:required=>true,:id=>"incident_request_report_source_code"}%>
              </td>

              <td class="labelCol"><label for="incident_request_incident_status_code"><%=t(:label_icm_incident_request_incident_status_code)%></label></td>
              <td class="dataCol">
                <%=f.select :incident_status_id,options_for_select(available_request_status_code,@incident_request.incident_status_id||Icm::IncidentStatus.default_id),
                                                    {},{:required=>true,:id=>"incident_request_incident_status_code"}%>
              </td>
            </tr>
         <%end%>
            <tr>
              <td class="labelCol"><label for="incident_request_request_type_code"><%=t(:label_icm_incident_request_request_type_code)%></label></td>
              <td class="dataCol">
                <%=f.select :request_type_code,nullable_options_for_select(available_request_type,@incident_request.request_type_code),
                                                    {},{:required=>true,:id=>"incident_request_request_type_code"}%>
              </td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>

    <%= (render :partial => "irm/watchers/add_watcher", :locals => {:watchable => @incident_request}) if allow_to_function?(:new_watchers)%>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<script type="text/javascript">
  $(function(){
     var requester = $("#incident_request_requested_by");
     if(requester){
         requester.change(function(event){
             setLookupValue("incident_request_contact_id",$(event.target).val());
         })
         setLookupValue("incident_request_contact_id",requester.val())
     }
     if($("#incident_request_contact_id")){
         $("#incident_request_contact_id").change(function(event){
           if($(event.target).val()&&$(event.target).data("lov")&&$(event.target).data("lov").bussiness_phone){
             $("#incident_request_contact_number").val($(event.target).data("lov").bussiness_phone);
           }
         })
     }
     if($("#incident_request_support_group_id")){
         $("#incident_request_support_group_id").cascade("#incident_request_support_person_id");
     }
     if($("#incident_request_requested_by")){
        $("#incident_request_requested_by").cascade("#ass_external_system");
     }
     if($("#ass_external_system")){
        $("#ass_external_system").cascade(["#incident_category_id"]);
     }

     if($("#incident_category_id")){
        $("#incident_category_id").cascade("#incident_sub_category_id");
     }
  });
</script>