<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table count="<%=@count%>" id="incident_requests">
         <thead>
           <tr>
             <th key = "request_number">
               <div>#</div>
             </th>
             <th key="title">
               <div><%= t(:label_icm_incident_request_title) %></div>
             </th>
             <th key="organization_id_label">
                <div><%= t(:label_icm_incident_request_organization) %></div>
             </th>
             <th key="priority_id_label">
                <div><%= t(:label_icm_incident_request_priority) %></div>
             </th>
             <th key="requested_by_label">
                <div><%= t(:label_icm_incident_request_requested_by) %></div>
             </th>
             <th key="external_system_id_label">
                <div><%= t(:label_irm_external_system) %></div>
             </th>
           </tr>
         </thead>
         <tbody>
         <% @datas.each do |data| %>
         <tr id="<%=data.id %>">
           <td>
             <div><%= data[:request_number] %></div>
           </td>

           <td>
             <div><%= link_to( "(#{data[:incident_status_id_label]})#{data[:title]}",{:controller=>"icm/incident_journals",:action=>"new",:request_id=>data[:id]}) %></div>
           </td>

           <td>
             <div><%= data[:organization_id_label] %></div>
           </td>
           <td>
             <div><%= data[:priority_id_label] %></div>
           </td>

           <td>
             <div><%= data[:requested_by_label] %></div>
           </td>

           <td>
             <div><%= data[:external_system_id_label] %></div>
           </td>
         </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->