<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table count="<%=@count%>">
         <thead>
           <tr>
             <th style="width:220px">
               <div><%= t(:operation) %></div>
             </th>
             <th style="width:180px;">
               <div><%= t(:label_icm_incident_request_request_number_shot) %></div>
             </th>
             <th style="width:180px;">
               <div><%= t(:label_icm_incident_request_title) %></div>
             </th>
             <th style="width:180px;">
               <div><%= t(:label_icm_incident_request_organization) %></div>
             </th>
             <th style="width:180px;">
               <div><%= t(:label_icm_incident_request_priority) %></div>
             </th>
             <th style="width:180px;">
               <div><%= t(:label_icm_incident_request_requested_by) %></div>
             </th>
             <th style="width:180px;">
               <div><%= t(:label_icm_incident_request_last_date) %></div>
             </th>
             <th style="width:180px;">
               <div><%= t(:label_irm_external_system) %></div>
             </th>
           </tr>
         </thead>
         <tbody>
         <% @datas.each do |data| %>
         <tr id="<%=data[:id]%>">
           <td>
             <div>
               <%= link_to(t(:label_icm_reply),{:controller=>"icm/incident_journals",:action=>"new",:request_id=>data[:id]}) %>
               <%= link_to(t(:edit),{:controller=>"icm/incident_requests",:action=>"edit",:id=>data[:id]}) %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:request_number] %>
             </div>
           </td>
           <td>
             <div>
               <%  if(data[:reply_flag].eql?("Y") && data[:close_flag].eql?("N"))%>
                  <%= icon_link("btn_reply", t(:label_icm_reply),{:controller=>"icm/incident_journals",:action=>"new",:request_id=>data[:id]}) %>
               <% end %>
               <%= (data[:incident_status_name])%> <%= link_to( data[:title],{:controller=>"icm/incident_journals",:action=>"new",:request_id=>data[:id]}) %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:organization_name] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:priority_name] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:requested_name] %>
             </div>
           </td>
           <td>
             <div>
               <%=format_date(data[:end_date_active])%>
             </div>
           </td>
           <td>
             <div>
               <%= data[:external_system_name] %>
             </div>
           </td>
         </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->