<%= common_title %>

<% if allow_to_function?(:view_icm_kanban) %>
<div class="toolbar">
  <div class="button-group">
    <div class="button selected"><%= link_to(content_tag(:img, "", {:src => "/images/s.gif", :class => "list-mode"}) + t(:list_mode), {}, {:href => "javascript:void(0)"})%></div>
    <div class="button"><%= link_to(content_tag(:img, "", {:src => "/images/s.gif", :class => "preview-mode"}) + t(:kanban_mode), {:action=>"kanban_index"})%></div>
  </div>
</div>
<% end %>

<%= view_filter("ICM_INCIDENT_REQUEST_INDEX_B","ICM_INCIDENT_REQUESTS","incident_requests") %>


<div class="listRelatedObject setupBlock">
    <div class="page-block">
          <div class="pbHeader">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_icm_incident_request_list) %></h2></td>
                  <td id="topButtonRow" class="pbButton">
                    <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
                    <div class="button"><%= link_to t(:label_icm_incident_request_assign_me), {:action => "edit_assign_me"}%></div>
                    <div class="button"><%= link_to t(:label_action_assign_dashboard), {:action => "assign_dashboard"}%></div>
                    <div class="button" id="incidentRequestExport"><a href="javascript:void(0)"><%= t(:export) %></a></div>
                  </td>
                  <td class="pbHelp">
                    <div id="incident_requestsSearchBox"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <% if Irm::Person.current.profile&&Irm::Person.current.profile.user_license.eql?("REQUESTER") %>
          <%=render(:partial =>"customer_list") %>
        <% else %>
          <%=render(:partial =>"help_desk_list") %>
        <% end %>
    </div>
</div>

<% #if allow_to_function?(:view_reports) %>

<% #end %>

<% content_for :sidebar do%>
    <%= render :partial =>"/icm/incident_requests/short_cut_new" %>
<% end %>
