<%= app_title %>

<% if allow_to_function?(:view_icm_kanban) %>
<div style="display:block;width:100%;float:left;margin-bottom:15px;">
    <div class="button"><%= link_to t(:kanban_mode), {:action => "kanban_index"}%></div>
</div>
<% end %>

<%= view_filter("ICM_INCIDENT_REQUEST_INDEX_B","ICM_INCIDENT_REQUESTS","incident_requests") %>


<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
          <div class="pbHeader">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_icm_incident_request_list) %></h2></td>
                  <td id="topButtonRow" class="pbButton">
                    <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
                    <div class="button"><%= link_to t(:label_action_assign_dashboard), {:action => "assign_dashboard"}%></div>
                    <div class="button" id="incidentRequestExport"><a href="javascript:void(0)"><%= t(:export) %></a></div>
                  </td>
                  <td class="pbHelp">
                    <div id="incident_requestsSearchBox"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <% if Irm::Person.current.profile&&Irm::Person.current.profile.user_license.eql?("REQUESTER") %>
          <%=render(:partial =>"customer_list") %>
        <% else %>
          <%=render(:partial =>"help_desk_list") %>
        <% end %>
    </div>
</div>

<% if allow_to_function?(:view_reports) %>
  <%= render :partial => "/irm/reports/report_lists", :locals=>{:bo_model_name=>Icm::IncidentRequest.name} %>
<% end %>

<% content_for :sidebar do%>
    <%= render :partial =>"/icm/incident_requests/short_cut_new" %>
<% end %>


<script type="text/javascript">
  GY.use("tabview","node-event-simulate",function(Y){
    Y.one("#templateBody").setStyle("display","block");
    var tabview = new Y.TabView({srcNode:'#templateBody',tabIndex:"#kanban"});
    tabview.render();
    var currentTab = Y.one("#templateBody").getAttribute("current");
    Y.one("#templateBody").one("a#"+currentTab).simulate("click");
    Y.on("change", change_to_grid_tab, "#incident_requestsViewFilter");
  });

  //点击filter时，切换到列表视图
  function change_to_grid_tab(e){
      GY.use("node", function(Y){
        Y.one("a[id='grid']").simulate("click");
      });
  }
</script>