<%= common_title(Icm::IncidentRequest.name,t(:kanban_mode)) %>
<% if allow_to_function?(:view_icm_kanban) %>
<div style="display:block;width:100%;float:left;margin-bottom:15px;">
    <div class="button"><%= link_to t(:list_mode), {:action => "index"}%></div>
</div>
<% end %>

<% if allow_to_function?(:view_icm_kanban)%>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
        <table class="toolsContent">
            <tbody>
                <tr>
                  <td colspan="2">
                    <div class="toolsContentRight">
                      <%= render :partial => "irm/kanbans/kanban_main", :locals => {:position_code => "INCIDENT_REQUEST_PAGE"}%>
                    </div>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<% end %>

<% if allow_to_function?(:view_reports) %>
  <%= render :partial => "/irm/reports/report_lists", :locals=>{:bo_model_name=>Icm::IncidentRequest.name} %>
<% end %>

<% content_for :sidebar do%>
    <%= render :partial =>"/icm/incident_requests/short_cut_new" %>
<% end %>