<%= common_title(:model_name=>Icm::IncidentRequest.name,:action_meaning=>t(:kanban_mode)) %>
<% if allow_to_function?(:view_icm_kanban) %>
  <div class="toolbar">
      <span class="toggleButtons">
        <%= link_to(toggle_img("listViewIcon"),{:controller => "icm/incident_requests",:action=>"index"},{:title=>t(:list_mode)}) %>
        <%= link_to(toggle_img("singleUserViewIcon",true),{:action=>"kanban_index"},{:href=>"javascript:void(0)",:title=>t(:kanban_mode)}) %>
      </span>
  </div>

<% end %>

<% if allow_to_function?(:view_icm_kanban)%>
<div class="listRelatedObject setupBlock">
    <div class="page-block">
        <table class="tools-content">
            <tbody>
                <tr>
                  <td colspan="2">
                    <div class="toolsContentRight">
                      <%= render :partial => "irm/kanbans/kanban_main", :locals => {:position_code => "INCIDENT_REQUEST_PAGE"}%>
                    </div>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<% end %>


<% content_for :sidebar do%>
    <%= render :partial =>"/icm/incident_requests/short_cut_new" %>
<% end %>