<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table>
         <thead>
           <tr>
             <th style="width:40px;">
               <div><%= t(:operation) %></div>
             </th>
             <th>
               <div><%= t(:label_irm_search_layout_code) %></div>
             </th>
             <th>
               <div><%= t(:label_irm_search_layout_columns) %></div>
             </th>
           </tr>
         </thead>
         <% values = available_object_attribute(@business_object.id) %>
         <tbody>
         <% datas.each do |data| %>
         <tr id="<%=data[:id]%>">
           <td>
             <div>
               <%= link_to(t(:edit),{:controller => "irm/search_layouts", :action => "edit", :bo_id => @business_object.id,:id=>data[:id]}) %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:code_name] %>
             </div>
           </td>
           <td>
             <div>
               <%= duel_meaning(data.get_columns_str,values).join(",") %>
             </div>
           </td>
         </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->