<%= common_title(:show_data=>@business_object[:name]) %>

<div id="ep" class="detail-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= @business_object[:name] %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @business_object}%></div>
            <div class="button"><%= link_to t(:test), {:action => "execute_test",:format=>:js},{:remote=>true}%></div>
            <div class="button"><%= link_to t(:delete), {:action => "destroy", :id => @business_object},:method => :delete,:confirm => t(:label_are_you_sure)%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_name)%></label></td>
              <td class="dataCol"><%= @business_object[:name] %></td>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_description)%></label></td>
              <td class="dataCol"><%= @business_object[:description] %></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_business_object_code)%></label></td>
              <td class="dataCol"><%= @business_object.business_object_code %></td>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_workflow_flag)%></label></td>
              <td class="dataCol"><%= check_img(@business_object.workflow_flag) %></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_bo_table_name)%></label></td>
              <td class="dataCol"><%= @business_object.bo_table_name %></td>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_report_flag)%></label></td>
              <td class="dataCol"><%= check_img(@business_object.report_flag) %></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_bo_model_name)%></label></td>
              <td class="dataCol"><%= @business_object.bo_model_name %></td>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_standard_flag)%></label></td>
              <td class="dataCol"><%= check_img(@business_object.standard_flag) %></td>

            </tr>
            <tr>
              <td class="labelCol"><div></div></td>
              <td class="dataCol"><div></div></td>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_auto_generate_flag)%></label></td>
              <td class="dataCol"><%= check_img(@business_object.auto_generate_flag) %></td>
            </tr>
            <tr>
              <td class="labelCol"><div></div></td>
              <td class="dataCol"><div></div></td>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_multilingual_flag)%></label></td>
              <td class="dataCol"><%= check_img(@business_object.multilingual_flag) %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="executeTest"></div>

<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_object_standard_attributes) %></h2></td>
              <td class="pbButton">
              </td>
              <td class="pbHelp">
                <div id="standardSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <%= render :partial=>"standard_object_attributes",:locals=>{:datas=>standard_object_attributes(@business_object.id)}%>
      </div>
    </div>
</div>

<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_object_custom_attributes) %></h2></td>
              <td class="pbButton">
                <div class="asButton">
                    <span id="newObjectAttribute" class="menuButton">
                      <div  class="menuLabel">
                        <span><a><%= t(:new)  %></a></span>
                        <script type="text/javascript">
                          $(function(){
                              $("#newObjectAttribute").menubutton();
                          });
                        </script>
                      </div>
                      <div class="menuContent" >
                        <div class="menuItem"><%= link_to t(:label_irm_object_attribute_new_table_column), {:controller => "irm/object_attributes", :action => "new", :bo_id => @business_object.id}%></div>
                        <div class="menuItem"><%= link_to t(:label_irm_object_attribute_new_model_attribute), {:controller => "irm/object_attributes", :action => "new_model_attribute", :bo_id => @business_object.id}%></div>
                      </div>
                    </span>
                </div>
              </td>
              <td class="pbHelp">
                <div id="object_attributesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
         <%= render :partial=>"customize_object_attributes",:locals=>{:datas=>customize_object_attributes(@business_object.id)}%>
      </div>
    </div>
</div>

<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_search_layout) %></h2></td>
              <td class="pbButton">
                <div class="button"><%= link_to t(:new), {:controller => "irm/search_layouts",:action => "new", :bo_id => @business_object.id}%></div>
              </td>
              <td class="pbHelp">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <%= render :partial=>"search_layouts",:locals=>{:datas=>available_search_layouts(@business_object.id)}%>
      </div>
    </div>
</div>

<%=render :partial=>"multilingual/show",:locals=>{:main_data=>@business_object} %>
