<style type="text/css">
  table.groupColumn{
      padding-bottom: 10px;
  }
  table.groupColumn td{
      padding-right: 20px;
  }
</style>
<%= form_for(@report,:url=>{:action=>"edit_custom"},:builder => LabellingFormBuilder) do |f| %>
<%= f.hidden_field(:step) %>
<div  class="wizard-block">
  <%= render :partial => "step_header",:locals => {:step=>@report.step} %>
  <div class="pbBody">
    <div class="pbDescription ">
    </div>
    <div class="pbWizardBody">
      <div class="secondary-palette">
        <div class="pbBody ">
            <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
              <h3><%= t(:label_irm_report_setup_group_column_header) %></h3>
            </div>
            <div class="pbSubsection">
                <table class="detailList" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td class="labelCol"></td>
                      <td class="dataCol" width="82%" colspan="3">

                          <%= f.fields_for :report_group_columns,:normal=>true do |sub_f|%>
                            <% if sub_f.object.seq_num.to_i%2==0%>
                              <table style="margin-left:40px" class="groupColumn" id="groupColumn<%= sub_f.object.seq_num%>">
                            <% else %>
                              <table  id="groupColumn<%= sub_f.object.seq_num%>" class="groupColumn">
                            <% end %>
                                  <tr>
                                    <th >
                                      <%= t(:label_irm_report_group_column_field)%>
                                    </th>
                                    <th >
                                      <%= t(:label_irm_report_group_column_sort_type)%>
                                    </th>
                                    <th >
                                      <%= t(:label_irm_report_group_column_group_date_type)%>
                                    </th>
                                  </tr>
                                  <tr>
                                    <td >
                                      <%=sub_f.hidden_field(:seq_num)%>
                                      <%=sub_f.blank_select(:field_id,available_groupable_report_column(@report),{:size=>10},{:id=>"groupColumnSelect#{sub_f.object.seq_num}",:class=>"groupColumnSelect",:ref=>sub_f.object.seq_num})%>
                                    </td>
                                    <td >
                                      <%= sub_f.select(:sort_type,available_report_group_sort_type)%>
                                    </td>
                                    <td >
                                      <%= sub_f.select(:group_date_type,available_report_group_date_type,{},{:disabled=>true,:id=>"groupDate#{sub_f.object.seq_num}"})%>
                                    </td>
                                  </tr>
                              </table>
                          <%end %>

                      </td>
                    </tr>

                  </tbody>
                </table>
            </div>
            <div id="head_2_ep" class="pbSubheader tertiaryPalette">
              <h3><%= t(:label_irm_report_setup_group_row_header) %></h3>
            </div>
            <div class="pbSubsection">
                <table class="detailList" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td class="labelCol"></td>
                      <td class="dataCol" width="82%" colspan="3" id="rowHeaderGroup">
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
    <div class="pbWizardFooter">
        <div class="pbBottomButtons">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="pbTitle"></td>
                  <td id="bottomButtonRow" class="pbButtonb">
                    <div class="button"><%= link_to t(:last), {:action => "edit_custom",:pre_step=>true},{:class=>"submit"} %></div>
                    <div class="button"><%= f.submit t :next%></div>
                    <div class="button"><%= link_to t(:cancel), {:action => "show",:id=>@report.id} %></div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
<%end%>
<script type="text/javascript">
    GY.use(function(Y){
      Y.one("#rowHeaderGroup").appendChild(Y.one("#groupColumn3"));
      Y.one("#rowHeaderGroup").appendChild(Y.one("#groupColumn4"));
      Y.on("change",function(e){
          var currentValue = e.target.get("value");
          var seqNum = e.target.getAttribute("ref");
          var dataType = "";
          if(currentValue&&currentValue!="")
            dataType = e.target.one("option[value="+currentValue+"]").getAttribute("type");
          if(dataType == "datetime")
            Y.one("#groupDate"+seqNum).removeAttribute("disabled");
          else
            Y.one("#groupDate"+seqNum).setAttribute("disabled","disabled");
      },"form.edit_irm_report select.groupColumnSelect");
      Y.one("#groupColumnSelect1").simulate("change");
      Y.one("#groupColumnSelect2").simulate("change");
      Y.one("#groupColumnSelect3").simulate("change");
      Y.one("#groupColumnSelect4").simulate("change");
    });
</script>