<style type="text/css">
  .floatLeft{
      float:left;
      vertical-align:middle;
  }
</style>
<%= form_for(@report,:url=>{:action=>"edit_custom"},:builder => LabellingFormBuilder) do |f| %>
<%= f.hidden_field(:step) %>
<div  class="wizard-block">
  <%= render :partial => "step_header",:locals => {:step=>@report.step} %>
  <div class="pbBody">
    <div class="pbDescription ">
    </div>
    <div class="pbWizardBody">
      <div class="secondary-palette">
        <div class="pbBody ">
            <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
              <h3><%= t(:label_irm_report_choose_display_column) %></h3>
            </div>
            <div class="pbSubsection">
              <table class="detailList" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td class="labelCol empty">&nbsp;</td>
                    <td class="dataCol empty">&nbsp;</td>
                    <td class="labelCol empty">&nbsp;</td>
                    <td class="dataCol empty">&nbsp;</td>
                  </tr>
                  <tr>
                     <td class="labelCol">
                       <label for="duelType"><%=t(:label_irm_wf_rule_action_type)%></label>
                     </td>
                     <td class="dataCol" colspan="3">
                       <%= render :partial => "irm/duel_select/tmpl",:locals => {:f=>f,:types=>available_report_sections(@report.report_type_id),:sources=>available_report_fields(@report.report_type_id),:str_value_field=>:report_columns_str,:str_value=>report_column_str(@report),:size=>14,:order=>true} %>
                     </td>
                  </tr>
                  <tr>
                    <td class="labelCol empty">&nbsp;</td>
                    <td class="dataCol"><%= f.check_box(:detail_display_flag) %><label><%= t(:label_irm_report_detail_display_flag)%></label></td>
                    <td class="labelCol empty">&nbsp;</td>
                    <td class="dataCol empty">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
    <div class="pbWizardFooter">
        <div class="pbBottomButtons">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="pbTitle"></td>
                  <td id="bottomButtonRow" class="pbButtonb">
                    <div class="button"><%= link_to t(:last), {:action => "edit_custom",:pre_step=>true},{:class=>"submit"} %></div>
                    <div class="button"><%= f.submit t :next%></div>
                    <div class="button"><%= link_to t(:cancel), {:action => "show",:id=>@report.id} %></div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
<%end%>