<style type="text/css">
  #baseFilter select{
      min-width: 128px;
  }
  #baseFilter tr{
      vertical-align: top;
  }
  #baseFilter td{
      padding-right: 10px;
  }
  #baseFilter label{
      display: block;
      margin-top: 28px;
  }
  #baseFilter fieldset label{
      display: block;
      margin-top: 5px;
  }
  #reportData th,td{
      text-align:left
  }
  #reportData th{
      background-color: #DBF2F9;
  }
   .reportParameters .row {
       margin-bottom: 15px;
   }
   .reportParameters .row tr {
       vertical-align: top;
   }
   .reportParameters .row td {
       padding-right: 10px;
   }
   .reportParameters label, .reportParameters .label {
       display: block;
       font-size: 91%;
       margin-top: 20px;
       white-space: nowrap;
   }
   .reportParameters fieldset label, .reportParameters fieldset .label {
       margin-top: 0;
   }
   .reportParameters fieldset {
       border: 1px solid;
       margin:0 2px 0 2px;
       border-color: gray;
       padding: 7px;
   }
</style>
<%= app_title %>
<% require_javascript(:datepicker) %>
<% require_css(:datepicker) %>
<div id="ep" class="detail-block page-block">
  <%= form_for(@report,:url=>{:action=>"run"},:builder => LabellingFormBuilder,:html=>{:id=>"customForm"}) do |f|%>
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= @report[:name] %></h2></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <div class="reportParameters">
              <div class="row">
                <%= show_custom_report_params(@report,f) %>
              </div>
            </div>

          </td>
        </tr>
        <tr>
          <td id="topButtonRow" class="pbButton" colspan="2">
            <%= render "show_report_actions" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <% end %>
  <div class="listRelatedObject setupBlock">
    <div class="page-block">
      <%= render "show_#{@report.table_show_type.downcase}"%>
    </div>
  </div>
</div>
