<style type="text/css">
  #baseFilter select{
      min-width: 128px;
  }
  #baseFilter tr{
      vertical-align: top;
  }
  #baseFilter td{
      padding-right: 10px;
  }
  #baseFilter label{
      display: block;
      margin-top: 28px;
  }
  #baseFilter fieldset label{
      display: block;
      margin-top: 5px;
  }
  #reportData th,td{
      text-align:left
  }
  #reportData th{
      background-color: #DBF2F9;
  }
</style>
<%= app_title %>
<% require_javascript(:datepicker) %>
<% require_css(:datepicker) %>
<div id="ep" class="detail-block page-block">
  <%= form_for(@report,:url=>{:action=>"run"},:builder => LabellingFormBuilder,:html=>{:id=>"customForm"}) do |f|%>
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= @report[:name] %></h2></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" border="0" id="baseFilter">
                <tbody>
                  <tr>
                    <td width="30%"></td>
                    <td></td>
                    <td>

                    </td>
                    <td>
                      <fieldset>
                        <legend>
                          <%= t(:label_irm_report_time_range) %>
                        </legend>
                        <table>
                          <tr>
                            <td colspan="2">
                              <label for="filterDateField"><%= t(:label_irm_report_filter_date_field) %></label>
                              <%= f.blank_select(:filter_date_field_id,grouped_options_for_select(available_date_filter_field(@report.report_type_id),@report.filter_date_field_id),{},{:id=>"filterDateField"})%>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label for="filterDateFrom"><%= t(:label_irm_report_filter_date_from) %></label>
                              <%= f.text_field(:filter_date_from,:value=>@filter_date_from,:id=>"filterDateFrom",:size=>12,:class=>"date",:nobutton=>true)%>
                            </td>
                            <td>
                              <label for="filterDateTo"><%= t(:label_irm_report_filter_date_to) %></label>
                              <%= f.text_field(:filter_date_to,:value=>@filter_date_to,:id=>"filterDateTo",:size=>12,:class=>"date",:nobutton=>true)%>
                            </td>
                          </tr>
                        </table>
                      </fieldset>
                    </td>
                  </tr>
                </tbody>
              </table>
          </td>
        </tr>
        <tr>
          <td id="topButtonRow" class="pbButton" colspan="2">
            <%= render "show_report_actions" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <% end %>
  <div class="listRelatedObject setupBlock">
    <div class="page-block">
      <%= render "show_#{@report.table_show_type.downcase}"%>
    </div>
  </div>
</div>
