<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table count="<%=@count%>">
         <thead>
           <tr>
             <th style="width:150px">
               <div><%= t(:label_irm_report_name) %></div>
             </th>
             <th style="width:150px;">
               <div><%= t(:label_irm_report_folder) %></div>
             </th>
             <th style="width:250px;">
               <div><%= t(:label_irm_report_description) %></div>
             </th>
           </tr>
         </thead>
         <tbody>
         <% @datas.each do |data| %>
         <tr id="<%=data[:id]%>">
           <td>
             <div>
               <%= link_to(data[:name], {:controller => "irm/reports", :action => "show", :id => data[:id]})%>
             </div>
           </td>
           <td>
             <div>
               <%= data[:report_folder_name] %>
             </div>
           </td>
            <td>
             <div>
               <%=data[:description]%>
             </div>
           </td>

         </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->