<% require_javascript(:datepicker) %>
<% require_css(:datepicker) %>
<%= form_for(@change_request,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
    <%= error_for @change_request %>
    <%= page_block("editRequest") do |pb| %>
        <%= pb.page_block_header({:title=>t(:label_chm_change_request_new)}) do%>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
          <td class="pbHelp">
          </td>
        <% end %>

        <%= pb.page_block_body do %>
            <%= sub_page_block("baseInfo") do |spb|%>
                <%= spb.sub_page_block_header(:title=>t(:label_chm_change_request_base_info),:first=>true)%>
                <%= spb.sub_page_block_body do %>
                    <table class="detailList" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                              <td class="labelCol"><label for="requested_by"><%=t(:label_chm_change_request_requested_by)%></label></td>
                              <td class="data2Col"><%=f.lov_field :requested_by,Irm::Person,{:required=>true,:id=>"requested_by"}%></td>

                            </tr>
                            <tr>
                              <td class="labelCol"><label for="external_system_id"><%=t(:label_chm_change_request_external_system)%></label></td>
                              <td class="data2Col">
                                <%=f.blank_select :external_system_id,[],{},
                                    {:required=>true,
                                     :id=>"external_system_id",
                                     :depend=>"requested_by",
                                     :origin_value=>@change_request.external_system_id,
                                     :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                     :href=>url_for(:controller=>"icm/incident_requests",:action=>"get_external_systems",:format=>"json",:requested_by=>"${requested_by}")}%>
                                </td>

                            </tr>
                            <tr>
                              <td class="labelCol"><label for="category_id"><%=t(:label_chm_change_request_category)%></label></td>
                              <td class="data2Col">
                                <%=f.blank_select :category_id,[],
                                            {},
                                            {:id=>"category_id",
                                             :origin_value=>@change_request.category_id,
                                             :depend=>"external_system_id",
                                             :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                             :href=>url_for(:controller=>"icm/incident_categories",:action=>"get_option",:format=>"json",
                                                            :external_system_id=>"${external_system_id}")}%>
                              </td>

                            </tr>
                            <tr>
                              <td class="labelCol"><label for="sub_category_id"><%=t(:label_chm_change_request_sub_category)%></label></td>
                              <td class="data2Col">
                                <%=f.select :sub_category_id,[],
                                            {},
                                            {:id=>"sub_category_id",
                                             :origin_value=>@change_request.sub_category_id,
                                             :depend=>"category_id",
                                             :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                             :href=>url_for(:controller=>"icm/incident_sub_categories",:action=>"get_option",:format=>"json",
                                                            :incident_category_id=>"${category_id}")}%>
                                </td>

                            </tr>
                            <tr>
                              <td class="labelCol"><label for="title"><%=t(:label_chm_change_request_title)%></label></td>
                              <td class="data2Col" colspan="3"><%=f.text_field :title,:size=>80, :required=>true ,:id=>"title"%></td>
                            </tr>

                            <tr>
                              <td class="labelCol"><label for="summary"><%=t(:label_chm_change_request_summary)%></label></td>
                              <td class="data2Col" colspan="3">
                                <%=f.text_area :summary,:rows=>8,:cols=>100,:value=>@change_request.summary, :required=>true ,:id=>"summary"%>
                                <%= rich_text_area("summary") %>
                              </td>

                            </tr>
                        </tbody>
                    </table>
                <% end %>
            <% end %>
            <%= sub_page_block("additionalInfo") do |spb|%>
                <%= spb.sub_page_block_header(:title=>t(:label_chm_change_request_additional_info))%>
                <%= spb.sub_page_block_body do %>
                    <table class="detailList" cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                          <tr>
                            <td class="labelCol"><label for="contact_id"><%=t(:label_chm_change_request_contact)%></label></td>
                            <td class="dataCol">
                              <div style="display:inline">
                                <%=f.lov_field :contact_id,Irm::Person,{:required=>true,:id=>"contact_id"}%>
                              </div>
                            </td>
                            <td class="labelCol"><label for="change_urgency_id"><%=t(:label_chm_change_request_change_urgency)%></label></td>
                            <td class="dataCol">
                              <%=f.blank_select :change_urgency_id,options_for(Chm::ChangeUrgency),
                                                                  {},{:required=>true,:id=>"change_urgency_id"}%>
                            </td>
                          </tr>

                          <tr>
                              <td class="labelCol"><label for="contact_number"><%=t(:label_chm_change_request_contact_number)%></label></td>
                              <td class="dataCol">
                                <%=f.text_field :contact_number,:size=>17,:id=>"contact_number",:required=>true%>
                              </td>
                            <td class="labelCol"><label for="change_impact_id"><%=t(:label_chm_change_request_change_impact)%></label></td>
                            <td class="dataCol">
                             <%=f.blank_select :change_impact_id,options_for(Chm::ChangeImpact),
                                                                  {},{:required=>true,:id=>"change_impact_id"}%>
                            </td>
                          </tr>
                          <tr>
                            <td class="labelCol"><label for="change_status_id"><%=t(:label_chm_change_request_change_status)%></label></td>
                            <td class="dataCol">
                              <%=f.blank_select :change_status_id,options_for(Chm::ChangeStatus),
                                                                  {},{:required=>true,:id=>"change_status_id"}%>
                            </td>
                            <td class="labelCol"><label for="request_type"><%=t(:label_chm_change_request_request_type)%></label></td>
                            <td class="dataCol">
                              <%=f.blank_select :request_type,lookup("CHANGE_REQUEST_TYPE"),
                                                                  {},{:required=>true,:id=>"request_type"}%>
                            </td>
                          </tr>
                          <tr>
                              <td class="labelCol"><label for="plan_start_date"><%=t(:label_chm_change_request_plan_start_date)%></label></td>
                              <td class="dataCol">
                                <%=f.text_field :plan_start_date,:value =>calendar_date(@change_request.plan_start_date) ,:size=>17,:id=>"plan_start_date",:class=>"date"%>
                              </td>
                            <td class="labelCol"><label for="plan_end_date"><%=t(:label_chm_change_request_plan_end_date)%></label></td>
                            <td class="dataCol">
                              <%=f.text_field :plan_end_date,:value =>calendar_date(@change_request.plan_end_date) ,:size=>17,:id=>"plan_end_date",:class=>"date",:nobutton=>true%>
                            </td>
                          </tr>

                          <tr>
                            <td class="labelCol"><label for="support_group_id"><%=t(:label_chm_change_request_support_group)%></label></td>
                            <td class="dataCol">
                              <%=f.blank_select :support_group_id,available_support_group,{},{:id=>"support_group_id"}%>
                            </td>
                            <td class="labelCol"><label for="support_person_id"><%=t(:label_chm_change_request_support_person)%></label></td>
                            <td class="dataCol"><%= f.blank_select(:support_person_id,[],{},
                                                {
                                                 :id=>"support_person_id",
                                                 :href=>url_for(:controller=>"icm/support_groups",:action=>"get_member_options",:format=>"json",:id=>"${support_group_id}"),
                                                 :depend=>"support_group_id",
                                                 :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---"
                                                 }) %></td>

                          </tr>

                      </tbody>
                    </table>
                <% end %>
            <% end %>
        <% end %>
        <%= pb.page_block_footer do %>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        <% end %>
    <% end %>
<% end %>


<script type="text/javascript">
  $(function(){
     var requester = $("#requested_by");
     if(requester){
         requester.change(function(event){
             setLookupValue("contact_id",$(event.target).val());
         })
         setLookupValue("contact_id",requester.val())
     }
     if($("#contact_id")){
         $("#contact_id").change(function(event){
           if($(event.target).val()&&$(event.target).data("lov")&&$(event.target).data("lov").bussiness_phone){
             $("#contact_number").val($(event.target).data("lov").bussiness_phone);
           }
         })
     }
     if($("#support_group_id")){
         $("#support_group_id").cascade("#support_person_id");
     }
     if($("#requested_by")){
        $("#requested_by").cascade("#external_system_id");
     }
     if($("#external_system_id")){
        $("#external_system_id").cascade(["#category_id"]);
     }

     if($("#category_id")){
        $("#category_id").cascade("#sub_category_id");
     }
  });
</script>