<%= form_for(@change_journal,:url=>{:controller=>"chm/change_journals",:action=>"create",:request_id=>@change_request.id},:builder => LabellingFormBuilder,:html=>{:multipart => true ,:target=>"hiddenFrame"}) do |f| %>

  <%= page_block("reply_Request") do |pb| %>
      <%= pb.page_block_header({:title=>""}) do%>
      <% end %>

      <%= pb.page_block_body do %>

        <table class="detailList" cellpadding="0" cellspacing="0" border="0">
          <tbody>
              <tr>
                <%= f.hidden_field(:change_request_id) %>
                <%= f.hidden_field(:replied_by) %>
                <td class="dataCol" colspan="4" width="100%">
                  <%= f.text_area :message_body ,:id=>"msgEditor", :jrequired => true,:rows=>8%>
                  <%= rich_text_area("msgEditor",true) %>
                </td>

              </tr>

              <tr>
                <td class="dataCol" colspan="4" width="100%">
                  <%= render :partial=>"helper/upload_file",:locals=>{:upload_file_id=>"new_change_journal_file"} %>

                </td>
              </tr>
          </tbody>
        </table>

      <% end %>

      <%= pb.page_block_footer do%>
        <td id="topButtonRow" class="pbButton">
          <div class="button"><%= link_submit t(:submit)%></div>
        </td>
        <td class="pbHelp">
        </td>
      <% end %>
  <% end %>
<% end%>