<%= page_block("tasks") do |pb| %>
    <%= pb.page_block_header({:title=>t(:label_chm_change_request_task)}) do%>
      <td id="topButtonRow" class="pbButton">
        <div class="button"><%= link_to(t(:new),{:controller=>"chm/change_tasks",:action=>"new",:source_id=>@change_request.id},:back=>true)%></div>
        <div class="button"><%= link_to(t(:label_chm_change_task_template_new),{:controller=>"chm/change_tasks",:action=>"template_new",:source_id=>@change_request.id},:back=>true)%></div>
      </td>
      <td class="pbHelp">
      </td>
    <% end %>

    <%= pb.page_block_body do %>
      <%= render :partial=>"chm/change_requests/tasks",:locals=>{:datas=>change_tasks(@change_request.id)} %>
    <% end %>
<% end %>