<%= common_title %>
<%= view_filter("CHM_CHANGE_REQUESTS_INDEX","CHM_CHANGE_REQUESTS","requests") %>

<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_chm_change_request_list) %></h2>
      </td>
      <td class="page-block-button">
        <%= link_to t(:new), {:action => "new"},{:class=>"btn btn-primary"}%>
        <a href="javascript:void(0)" class="btn" id="requestsExport"><%= t(:export) %></a>
      </td>
      <td class="page-block-help">
        <div id="searchBox"></div>
      </td>
  </tr></table>
  <div class="page-block-body">
    <%= datatable("requests",{:action=>"get_data"},[],{:export_data=>"#requestsExport",:search_box=>"searchBox",:paginator_box=>'paginatorBox',:view_filter=>true,:scroll=>"xy"})%>
  </div>
</div>
