<% require_javascript(:datepicker) %>
<% require_css(:datepicker) %>
<table cellpadding="0" cellspacing="0" border="0" id="baseFilter">
  <tbody>
    <tr>
      <td>
        <label for="external_system_id"><%= t(:label_irm_external_system) %></label>
        <div style="white-space:nowrap">
                   <%= select_tag_multiple(
                      "program_params[external_system_id][]",
                      nullable_options_for_select(current_person_assessible_external_system_full, program_params[:external_system_id]),
                      "program_params[external_system_mul]",
                      program_params[:external_system_mul] ? program_params[:external_system_mul] : 'N', true)%>
        </div>
      </td>

      <td>
         <label for="year"><%= t(:label_report_icm_incident_params_year) %></label>
        <div style="white-space:nowrap">
          <%=  select_year(program_params[:year]?Date.new(program_params[:year].to_i):Date.today,{ :start_year => 2005, :end_year => Time.now.strftime("%Y").to_i},{:name=>'program_params[year]' ,:id=>'year'}) %>
          <%= hidden_field_tag "program_params[running_person_id]", Irm::Person.current.id %>
        </div>
      </td>
      <td>
         <label for="is_report"><%= t(:label_report_icm_incident_params_is_report) %></label>
         <div style="white-space:nowrap">
          <%=radio_button_tag 'program_params[is_report]', 'Y', program_params[:is_report]=='Y' ,{:id=>'is_report_y'}%>
          <label for="is_report_y" style="display:inline;"><%=t(:label_report_icm_incident_params_is_report_yes)  %></label>
          <%=radio_button_tag 'program_params[is_report]', 'N', program_params[:is_report]=='N' ,{:id=>'is_report_n'}%>
          <label for="is_report_n" style="display:inline;"><%=t(:label_report_icm_incident_params_is_report_no)  %> </label>

        </div>
      </td>

    </tr>
  </tbody>
</table>
<script type="text/javascript">
  $(function(){
      $("#external_system_id").cascade("#incident_category_id");

  });
</script>