<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3><%= t(:label_emw_interface_table_import_step_n, :n => @step, :total => 3) %></h3>
</div>
<%= form_for(@interface_table,:url=>{:action=>"import", :step => 2},:builder => CustomFormBuilder,:html => {:class => "modal-form"}) do |f| %>
    <%= f.hidden_field :interface_id %>
    <div class="modal-body form-horizontal">
      <%= error_for @interface_table %>
      <div class="control-group">
        <label class="control-label"><%= t(:label_emw_interface_table_import_host) %>:</label>
        <div class="controls">
          <%= f.text_field :host, :required => true %>
          <span class="help-block">use Oracle specific TNS connection description</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= t(:label_emw_interface_table_import_username) %>:</label>
        <div class="controls">
          <%= f.text_field :username, :required => true %>
          <span class="help-inline"></span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= t(:label_emw_interface_table_import_password) %>:</label>
        <div class="controls">
          <%= f.password_field :password, :required => true %>
          <span class="help-inline"></span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= t(:label_emw_interface_table_name) %>:</label>
        <div class="controls">
          <%= f.text_field :table_name, :required => true %>
          <span class="help-inline"></span>
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <%= link_to t(:cancel), "#", :class => "btn", "data-dismiss"=>"modal", "aria-hidden" => "true" %>
      <%= link_submit t(:next), :class => "btn btn-primary" %>
    </div>
<% end %>