<style type="text/css">
    .action-link {
        color: #015BA7;
    }
</style>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3><%= t(:label_emw_interface_column) %>【<%= @interface_table.name %>】</h3>
</div>
<div class="modal-body form-horizontal">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th style="width: 80px;"><%= t(:operation) %></th>
      <th><%= t(:label_emw_interface_column_name) %></th>
      <th><%= t(:label_emw_interface_column_data_type) %></th>
      <th><%= t(:label_emw_interface_column_data_length) %></th>
      <th><%= t(:label_emw_interface_column_error_flag) %></th>
      <th><%= t(:description) %></th>
    </tr>
    </thead>
    <tbody>
    <% @interface_table.interface_columns.each do |column| %>
      <tr>
        <td>
          <%= link_to(t(:edit), {:controller => "emw/interface_columns", :action => "edit", :id => column[:id],:table_id => @interface_table.id}, {:class => "action-link"}) %>&nbsp;|
          <%= link_to(t(:delete), {:controller => "emw/interface_columns", :action => "destroy", :id => column[:id],:table_id => @interface_table.id}, {:class => "action-link",:confirm => t(:label_are_you_sure), :method => :delete}) %>
        </td>
        <td><%= column.name %></td>
        <td><%= t("label_emw_interface_column_data_type_#{column.data_type.downcase}") %></td>
        <td><%= column.data_length %></td>
        <td><%= check_img(column.error_flag) %></td>
        <td><%= column.description %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <%= link_to t(:close), "#", :class => "btn", "data-dismiss" => "modal", "aria-hidden" => "true" %>
</div>
