<% if ie6? %>
  <%=form_tag({:controller=>"irm/search",:action=>"index"},{:nomask=>true,:id=>"phSearchForm"})  do |f| %>
    <%= hidden_field_tag :search_option_str, "ALL Skm::EntryHeader Chm::ChangeRequest Icm::IncidentRequest Irm::Bulletin ALL Chm::ChangeRequest Icm::IncidentRequest Skm::EntryHeader Irm::Bulletin Irm::AttachmentVersion ", {:id => "searchOptionStr"} %>
    <div id="phSearchContainer" class="headerSearchContainer">
       <%= text_field_tag "q", t(:search_all),{:id=>"phSearchInput", :class => "grayTips headerSearchBoxGhostText headerSearchInput", :type => "text", :size => 20, :maxlength=>100}%>
       <span class="search-btn" id="search-btn" title="<%= t(:search) %>"></span>
    </div>
  <% end %>
  <script type="text/javascript">
    $(function(){
      $("#phSearchInput").focus(function(e){
        if($(this).val() == "<%=t(:search_all)%>") $(this).val('');
        $("#search-btn").addClass("search-btn-on");
        $(this).blur(function(){
          if($(this).val() == '') $(this).val("<%=t(:search_all)%>");
          $("#search-btn").removeClass("search-btn-on");
        });
      });
      $("#search-btn").click(function(e){
        $("#phSearchForm").submit();
      });
    });
  </script>
<% else %>

<%=form_tag({:controller=>"irm/search",:action=>"index"},{:nomask=>true,:id=>"phSearchForm"})  do |f| %>
  <%= hidden_field_tag :search_option_str, "ALL Skm::EntryHeader Chm::ChangeRequest Icm::IncidentRequest Irm::Bulletin ALL Chm::ChangeRequest Icm::IncidentRequest Skm::EntryHeader Irm::Bulletin Irm::AttachmentVersion ", {:id => "searchOptionStr"} %>
  <div id="phSearchContainer" class="headerSearchContainer">
    <div class="headerSearchLeftRoundedCorner">
      <div class="searchBoxClearContainer">
        <%= text_field_tag "q", t(:search_all),{:id=>"phSearchInput", :class => "grayTips headerSearchBoxGhostText headerSearchInput", :type => "text", :size => 20, :maxlength=>100}%>
      </div>
      <div id="searchButtonContainer" class="headerSearchRightRoundedCorner">
        <%= submit_tag(t(:search),:id=>"phSearchButton") %>
      </div>
    </div>
    <div id="phSearchInput_autoCompleteBoxId" class="autoCompleteBoxScrolling" style="width: 195px; height: auto; display: none;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" id="phSearchInput_autoCompleteTableId">
            <tbody>
                <tr>
                    <td>
                    <div id="phSearchInput_autoCompleteRowId" class="autoCompleteRow">
                    <%= t(:search_options_with_dot) %>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="usid-brDropdown" class="usid-roundedCornerDropdown usid-brDropdown"></div>
        <div id="usid-spacerDropdown" class="usid-bottomSpacer"></div>
        <div id="usid-blDropdown" class="usid-roundedCornerDropdown usid-blDropdown"></div>
    </div>
    <div id="searchOptionsContainer" class="headerSearchOptions">
      <a id="headerSearchOptionsLink" data-toggle="modal" href="#searchModal"  class="headerSearchOptionsLink"><%= t(:options) %></a>
    </div>
  </div>
<% end %>


<div class="modal" id="searchModal" style="display: none;">
  <div class="modal-header">
    <a data-dismiss="modal" class="close" href="#">×</a>
    <h3><%= t(:search_options) %></h3>
  </div>
  <div class="modal-body">
    <div id="searchOptions">
      <div style="margin-right:5px;margin-bottom:5px">
        <%= text_field_tag "search_option_input", t(:input_keyword_you_want_to_search),:id=>"phSearchOptionInput", :class => "grayTips headerSearchInput", :style => "width:100%" %>
      </div>
      <style type="text/css">
        .options-container ul,
        .options-container li {
            list-style: none;
            display: block;
        }
        .options-container ul {
            margin-left: 0;
            padding-left: 0;
        }
        .options-container li {
            float: left;
            line-height: 30px;
            margin-right: 15px;
        }
        .options-container li label {
            padding: 2px 5px;
        }
      </style>
      <fieldset>
        <div class="options-container">
          <%= init_search_option %>
        </div>

      </fieldset>
    </div>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn" href="#"><%= t(:cancel) %></a>
    <a class="btn btn-primary searchOptionSubmit" href="#"><%= t(:search) %></a>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
    $(".headerSearchInput").keydown(function(e){
        if(e.keyCode=='13'){
          $("#phSearchButton").trigger("click");
        }
      });
      $('#searchModal').modal({show:false});
  });
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#checkAllSearchOptions").click(function(e){
        $(".searchOptions").each(function(){
            if($(this).attr("id") != "checkAllSearchOptions" && $("#checkAllSearchOptions:checked").val() !== undefined) {
                $(this).attr("checked", true);
            }
            else if($(this).attr("id") != "checkAllSearchOptions" && $("#checkAllSearchOptions:checked").val() === undefined){
                $(this).attr("checked", false);
            }
        });
    });
    $(".searchOptions").click(function(e){
        $("#searchOptionStr").val("");
        if(!this.checked){
            $("#checkAllSearchOptions").attr("checked", false);
        }
        $(".searchOptions").each(function(){
            if(this.checked){
                $("#searchOptionStr").val($("#searchOptionStr").val() + this.value + " ");
            }
        })
    });
    $(".searchOptionSubmit").click(function(e){
        $("#phSearchForm").submit();
    });
    $("#phSearchOptionInput").keyup(function(e){
        $("#phSearchInput").val($("#phSearchOptionInput").val());
    });
    $("#phSearchInput").focus(function(e){
        headerSearchOptionsBoxShow();
    });

    $(document).click(function(e){
        if(!$.contains($("#phSearchContainer")[0] ,e.target)){
            headerSearchOptionsBoxHide();
        }
    });
    $("#phSearchInput_autoCompleteRowId").click(function(e){
        $("#headerSearchOptionsLink").trigger("click");
    });
    inputTipText();
});

function headerSearchOptionsBoxShow(){
    $("#phSearchInput_autoCompleteBoxId").show();
    $(".headerSearchLeftRoundedCorner").addClass("active");
    $(".searchBoxClearContainer").addClass("active");
    $("#phSearchOptionInput").focus();
}

function headerSearchOptionsBoxHide(){
    $("#phSearchInput_autoCompleteBoxId").hide();
    $(".headerSearchLeftRoundedCorner").removeClass("active");
    $(".searchBoxClearContainer").removeClass("active");
}

var g_oldVal = "";
function inputTipText(){
    $("input[class*=grayTips]") //所有样式名中含有grayTips的input
    .each(function(){
       var oldVal=$(this).val();   //默认的提示性文本
       g_oldVal = oldVal;
       $(this)
       .css({"color":"#888"})  //灰色
       .focus(function(){
        if($(this).val()!=oldVal){$(this).css({"color":"#000"})}else{$(this).val("").css({"color":"#888"})}
       })
       .blur(function(){
        if($(this).val()==""){$(this).val(oldVal).css({"color":"#888"})}
       })
       .keydown(function(){$(this).css({"color":"#000"})})
    })
}
</script>
<% end %>