<%= common_title %>

<%= form_for(@external_system,:url=>{:action=>"create"},:builder => CustomFormBuilder,
             :html => {:onSubmit => "return data_solve()"}) do |f| %>
  <% content_for :form_block_common   do%>
    <table class="form-table">
      <tbody>
          <tr style="display: none">
            <td class="data-col"><%=f.text_field :external_system_code%></td>
          </tr>
          <tr>
            <td class="label-col"><label for="external_system_system_name"><%=t(:label_irm_external_system_system_name)%></label></td>
            <td class="data-col"><%=f.text_field :system_name, :required=>true ,:id=>"external_system_system_name"%></td>
            <td class="label-col"><label for="organization_no"><%=t(:label_irm_external_system_organization_no)%></label></td>
            <td class="data-col"><%=f.lov_field :organization_no,Irm::ExternalSystem,{:required=>true,:id=>"organization_no",:class=>"input-medium"}%></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_project_manager)%></label></td>
            <td class="data-col"><%=f.lov_field :project_manager,Irm::ExternalSystem,{:required=>true,:id=>"project_manager",:class=>"input-medium"}%></td>
            <td class="label-col"><label for="customer_no"><%=t(:label_irm_external_system_customer_no)%></label></td>
            <td class="data-col"><%=f.lov_field :customer_no,Irm::ExternalSystem,{:required=>true,:id=>"customer_no",:class=>"input-medium"}%></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_pricing_type)%></label></td>
            <td class="data-col">
              <%= f.blank_select(:price_type_id,available_priceTypes,{},{:required=>true,:id=>"project_pricing_type"})%>
            </td>
            <td class="label-col"><label><%=t(:label_project_type)%></label></td>
            <td class="data-col"><%= f.blank_select(:project_type_id,available_projectTypes,{},{:required=>true,:id=>"project_type"})%></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_begin_date)%></label></td>
            <td class="data-col"><%= f.date_field(:begin_date,:size=>12,:class=>"date", :required=>true , :id=>"organization_begin_date")%></td>
            <td class="label-col"><label><%=(t :label_after_date)%></label></td>
            <td class="data-col"><%= f.date_field(:after_date,:size=>12,:class=>"date", :required=>true , :id=>"organization_after_date")%></td>
          </tr>
          <tr>
            <%if false%>
            <td class="label-col empty"><label><%=(t :label_service_disabled_flag)%></label></td>
            <td class="data-col">
              <%= f.radio_button :disabled_flag, Irm::Constant::SYS_YES%>
              <label for="disabled_y">Y</label>&nbsp;&nbsp;&nbsp;&nbsp;
              <%= f.radio_button :disabled_flag, Irm::Constant::SYS_NO,:checked=>"checked"%>
              <label for="disabled_n">N</label>
            </td>
            <%end%>
            <td class="label-col empty"><label>实际花费工时登记</label></td>
            <td class="data-col">
              <%= f.radio_button :strict_workload, Irm::Constant::SYS_YES%>
              <label for="strict_y">Y</label>&nbsp;&nbsp;&nbsp;&nbsp;
              <%= f.radio_button :strict_workload, Irm::Constant::SYS_NO%>
              <label for="strict_n">N</label>
            </td>
            <td class="label-col empty"><label>Hotline</label></td>
            <td class="data-col">
              <%= f.radio_button :hotline_flag, Irm::Constant::SYS_YES,:checked=>"checked"%>
              <label for="hotline_y">Y</label>&nbsp;&nbsp;&nbsp;&nbsp;
              <%= f.radio_button :hotline_flag, Irm::Constant::SYS_NO%>
              <label for="hotline_n">N</label>
            </td>
          </tr>
          <tr>
            <td class="label-col"><label for="external_system_system_description"><%=t(:label_irm_external_system_system_description)%></label></td>
            <td class="data-col"><%= f.text_area :system_description, :rows => 4,:id=>"external_system_system_description",:class=>"input-xlarge" %></td>
          </tr>
      </tbody>
    </table>
  <% end %>

    <% content_for :form_people_day   do%>
        <table class="form-table">
          <tbody>
          <tr>
            <td class="label-col"></td>
            <td class="data-col"><%= f.hidden_field(:people_date_message) %></td>
            <td class="label-col"></td>
            <td class="data-col"></td>
          </tr>
          <tr id="tr_new">
            <td class="label-col"><label><%= t(:label_for_effective) %></label></td>
            <td class="data-col" colspan="3">
              <%= date_field_tag(:start_date,:id=>"filterDateFrom",:name=>"start_date",:size=>12,:nobutton=>true,:filter_class=>"data_begin_date")%>
              <label for="filterDateTo"><%= t(:label_irm_report_filter_date_to) %></label>
              <%= date_field_tag(:end_date,:id=>"filterDateTo",:name=>"end_date",:size=>12,:nobutton=>true,:filter_class=>"data_end_date")%>
              <label for="expect" style="margin-left: 20px"><%= t(:label_icm_expect) %>:</label>
              <%= text_field_tag(:expect,'',:name=>"expect",:size=>12,:style=>"width:110px",:class=>"data_people_expect_date")%>
              <label for="sence"><%= t(:label_icm_sence) %>:</label>
              <%= text_field_tag(:sence,'',:name=>"sence",:size=>12,:style=>"width:110px",:class=>"data_people_sence_date")%>
              <a class="btn btn-primary" onclick="add_new_row()" style="margin-left: 30px;margin-bottom: 9px;"><%= t(:add)%></a>
              <a class="btn btn-danger" onclick="remove_row(this)" style="margin-left: 10px;margin-bottom: 9px;"><%= t(:remove)%></a>
            </td>
          </tr>
          </tbody>
        </table>
    <% end %>
  <% content_for :form_buttons  do %>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
    <%= link_to t(:cancel), {:action => "index"}, {:class => "btn cancel"}%>
  <% end %>

  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header">
      <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%=t(:label_irm_external_system_new)%></h2>
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
    <%= error_for @external_system %>
    <div class="page-block-body">
      <div class="sub-page-block">
        <!-- 一般信息 -->
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%= t(:label_common_info) %></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_block_common   %>
        </div>

        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%=t(:label_people_day_info)%></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_people_day   %>
        </div>

      </div>
    </div>
    <table class="page-block-footer">
      <tr>
        <td class="page-block-title"></td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
  </div>
<% end %>

<div class="modal fade" id="customerNoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">客户列表</h4>
      </div>
      <div class="modal-body">
        <div class="page-block">
          <table class="page-block-header"><tr>
            <td class="page-block-title">
            </td>
            <td class="page-block-help">
              <div id="searchBox1"></div>
            </td>
          </tr></table>
          <div class="page-block-body">
            <%= datatable("people1",{:controller => "irm/people", :action=>"get_customer_no"},[],{:search_box=>"searchBox1",:paginator_box=>"paginatorBox1"})%>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="projectManagerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">项目经理列表</h4>
      </div>
      <div class="modal-body">
        <div class="page-block">
          <table class="page-block-header"><tr>
            <td class="page-block-title">
            </td>
            <td class="page-block-help">
              <div id="searchBox3"></div>
            </td>
          </tr></table>
          <div class="page-block-body">
            <%= datatable("people2",{:controller => "irm/people", :action=>"get_project_manager"},[],{:search_box=>"searchBox3",:paginator_box=>"paginatorBox3"})%>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="organizationNoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">公司列表</h4>
      </div>
      <div class="modal-body">
        <div class="page-block">
          <table class="page-block-header"><tr>
            <td class="page-block-title">
            </td>
            <td class="page-block-help">
              <div id="searchBox2"></div>
            </td>
          </tr></table>
          <div class="page-block-body">
            <%= datatable("organization",{:controller => "irm/organizations", :action=>"get_organization_no"},[],{:search_box=>"searchBox2",:paginator_box=>"paginatorBox2"})%>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function() {
    $("#irm_external_system_strict_workload_y").attr("checked","checked")

    $(".lov-btn").removeAttr("href")
    $(".lov-btn").removeAttr("onclick")
    $("#organization_noTip").remove()
    $("#customer_noTip").remove()
    $("#project_managerTip").remove()
    $(".lov-btn").eq(0).on("click",function(){
      $("#organizationNoModal").modal("show")
    })
    $(".lov-btn").eq(2).on("click",function(){
      $("#customerNoModal").modal("show")
    })
    $(".lov-btn").eq(1).on("click",function(){
      $("#projectManagerModal").modal("show")
    })
  })
  function add_new_row(){
    $("#tr_new").parent().append("<tr>"+$("#tr_new").html()+"</tr>")
  }
  function remove_row(arg){
    if($(arg).parent().parent().attr("id")!="tr_new")
      $(arg).parent().parent().remove()
  }
  function data_solve(){
    var length = $("input[filter_class='data_begin_date']").length
    var begin_date = $("input[filter_class='data_begin_date']")
    var end_date = $("input[filter_class='data_end_date']")
    var expect_date = $(".data_people_expect_date")
    var sence_date = $(".data_people_sence_date")
    var people_date_str = ""
    for(var i=0;i<length;i++){
      people_date_str = people_date_str + begin_date.eq(i).val() + "->" + end_date.eq(i).val() + ":" + expect_date.eq(i).val() + ";" + sence_date.eq(i).val()+"||"
    }
    people_date_str = people_date_str.substring(0,people_date_str.length-2)
    $("#irm_external_system_people_date_message").val(people_date_str)
    return true
  }
</script>