<% if ie6?  %>
    <% require_jscss(:login_ie6) %>
<% else %>
    <% require_jscss(:login) %>
<% end %>
<body id="loginpage">
    <div id="pagewrap">
        <div id="newheader">
        </div>
        <div id="gradientwrap">
            <div class="bottom">
            <div id="forgotpasswordbox" style="width: auto;">
              <div class="forgotbox">
                <% if notice %>
                  <div class="alert alert-error">
                    <a href="javascript:void(0);" class="close" data-dismiss="alert">×</a>
                    <strong>Error!</strong> <%= notice %>.
                  </div>
                <% end %>

                <%= form_tag({:action=> "send_email"},{:id=>"forgetPassword",:name=>"forgotPassword"}) do %>
                  <%= raw t(:label_irm_common_forgot_password_tooltip) %>
                  <h1><%= t(:label_irm_person_reset_password) %></h1>
                  <table cellpadding="0" border="0"><tbody><tr><td>
                    <div style="padding: 20px 10px;">
                      <div class="control-group">
                        <label class="control-label" for="username"><%=(t :label_irm_common_username)%></label>
                        <div class="controls">
                          <input type="text" placeholder="username"  name="username" id="username"/>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="email"><%= t(:label_irm_common_email) %></label>
                        <div class="controls">
                          <input type="email" placeholder="username@company.com"  name="email" id="email"/>
                        </div>
                      </div>
                      <div class="control-group">
                        <div class="controls">
                          <%= link_submit(t(:label_irm_common_send),{:class => "btn btn-primary"}) %>
                          <%= link_to(t(:cancel), {:controller => "irm/common", :action => "login"}, :class => "btn") %>
                        </div>
                      </div>
                    </div>
                    </td></tr></tbody>
                  </table>
                <% end -%>
              </div>
            </div>
            <span id="forgotpasswordboxbottom"><!-- bottom --></span></div>
        </div>
    </div>
</body>
