<% require_jscss(:newhighcharts) %>
<table style="width:100%">
  <tr>
    <td style="width:40%">
      <div id="daily_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </td>
    <td style="width:30%">
      <div id="open_pie_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </td>
    <td style="width:30%">
      <div id="open_pie_chart_by_service_desk" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </td>
  </tr>
  <tr style="height: 40px;font-weight: bold;font-size: 18px;">
    <td colspan="3">
        <div style="background-color: #c6c6c6; width: 30%; padding: 10px 10px"><I>Critical Issue Real-time monitoring</I></div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <% @issue_realtime_result_array.each do |ir| %>
      <div style="display: inline-block; margin: 0 10px;">
        <table>
          <tr>
            <td rowspan="3">
              <div style="display: inline-block; background-color: #ccffff; height: 40px;">
                <div style="display: inline-block; float: left; margin: 15px 5px 0px 5px;font-weight: bold; "><%= ir[0]%></div>
                <% if ir[1].to_i == 0 && ir[2].to_i == 0%>
                <div style="display: inline-block;float: left; margin: 13px 5px 0px 5px; " class="greenpoint"></div>
                <% elsif ir[1].to_i == 0 && ir[2].to_i > 0%>
                    <div style="display: inline-block;float: left; margin: 13px 5px 0px 5px; " class="yellowpoint"></div>
                <% elsif ir[1].to_i > 0%>
                    <div style="display: inline-block;float: left; margin: 13px 5px 0px 5px; " class="redpoint"></div>
                <% end %>
              </div>
            </td>
            <td>
              <div>Failure&nbsp;&nbsp;&nbsp;<%= ir[1]%></div>
            </td>
          </tr>
          <tr><td><div>Inquiry&nbsp;&nbsp;&nbsp;<%= ir[2]%></div></td></tr>
        </table>
      </div>
      <% end %>
    </td>
  </tr>
  <tr style="height: 40px;font-weight: bold;font-size: 18px;">
    <td colspan="3">
      <div style="background-color: #c6c6c6; width: 30%; padding: 10px 10px"><I>Critical Incidents Real-time monitoring</I></div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <% @incident_realtime_result_array.each do |ir| %>
          <div style="display: inline-block; margin: 0 10px;">
            <table>
              <tr>
                <td>
                  <div style="display: inline-block; background-color: #ccffff; height: 40px;">
                    <div style="display: inline-block; float: left; margin: 15px 5px 0px 5px;font-weight: bold; "><%= ir[0]%></div>
                    <% if ir[2].to_i > 0%>
                        <div style="display: inline-block;float: left; margin: 13px 5px 0px 5px; " class="yellowpoint"></div>
                    <% else%>
                        <div style="display: inline-block;float: left; margin: 13px 5px 0px 5px; " class="greenpoint"></div>
                    <% end %>
                  </div>
                </td>
                <td>
                  <div>&nbsp;&nbsp;&nbsp;<%= ir[1]%></div>
                </td>
              </tr>
            </table>
          </div>
      <% end %>
    </td>
  </tr>
  </table>
<script type="text/javascript">

    $(function () {

        $('#open_pie_chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Incidents by Category (Open thru <%= Time.now.strftime("%F")%>)'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y}'
                    },
                    showInLegend: true
                }
            },
            colors: [<%=
                color = ''
                @table_a_incident_by_category_open.each do |c|
                    color = color + "'#{c[2]}'"
                    color = color + ',' if c != @table_a_incident_by_category_open.last
                end
                color
            %>],
            legend: {
//                layout: 'vertical',
//                align: 'left', //水平方向位置
//                verticalAlign: 'top', //垂直方向位置
//                x: 50, //距离x轴的距离
//                y: 50 //距离Y轴的距离
            },
            series: [{
                type: 'pie',
                name: 'Category',
                data: <%= raw @table_a_incident_by_category_open%>
            }]
        });
        $('#open_pie_chart_by_service_desk').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Incidents by Status (Open thru <%= Time.now.strftime("%F")%>)'
            },
            colors: [<%=
                color = ''
                @table_a_open_by_service_desk.each do |c|
                    color = color + "'#{c[2]}'"
                    color = color + ',' if c != @table_a_open_by_service_desk.last
                end
                color
            %>],
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y}'
                    },
                    showInLegend: true
                }
            },
            legend: {
//                layout: 'vertical',
//                align: 'left', //水平方向位置
//                verticalAlign: 'top', //垂直方向位置
//                x: 50, //距离x轴的距离
//                y: 50 //距离Y轴的距离
            },
            series: [{
                type: 'pie',
                name: 'Status',
                data: <%= raw @table_a_open_by_service_desk%>
            }]
        });
        $('#daily_chart').highcharts({
            title: {
                text: 'Amount of incident(historical)',
                x: -20 //center
            },
            subtitle: {
                x: -20
            },
            xAxis: {
                categories: ['<%= @table_a_date.join("','")%>'],
                labels: {
                    style: {
                        fontSize: '10px'
                    }
                }
            },
            yAxis: [{
                title: {
                    text: 'Daily & Daily Close'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                min:0
            }],

            tooltip: {
//                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                type: 'column',
                name: 'Daily',
                data: [<%= @table_a_submitted_amount.join(',')%>],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#ffffff',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }, {
                type: 'column',
                name: 'Daily Close',
                data: [<%= @table_a_closed_amount.join(',')%>],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#ffffff',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            } ]
        });
    });
</script>
<script language="JavaScript">
    function myrefresh()
    {
        window.location.reload();
    }
    setTimeout('myrefresh()',120000); //指定1秒刷新一次
</script>

