<% if processes.any? %>
<div class="datatable">
  <div class="irm-datatable">
    <div>
        <table id='rows' >
          <thead>
            <tr>
              <th style="width:40px;">
                <div><%= t(:operation) %>
                </div>
              </th>
              <th style="width:80px;">
                <div><%= t(:label_irm_wf_approval_process_process_order) %>
                </div>
              </th>
              <th style="width:25%">
                <div><%= t(:label_irm_wf_approval_process_name) %>
                </div>
              </th>
              <th style="width:60%">
                <div><%= t(:label_irm_wf_approval_process_description) %>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="yui3-datatable-data">
          <% processes.each do |process| %>
          <tr id="<%=process.id%>" class="yui3-datatable-even">
            <td>
              <div>
                <%= link_to(t(:disable),{:action=>"active",:id=>process.id,:active=>Irm::Constant::SYS_NO,:back_url=>url_for({})}) %>
               </div>
            </td>
            <td>
              <div>
                  <%= text_field_tag("process_orders[#{process.id}]",process.process_order,:size=>5) %>
               </div>
            </td>
            <td>
              <div>
                  <%= link_to(process.name,{:action=>"show",:id=>process.id},:back_url=>url_for({})) %>
               </div>
            </td>
            <td>
              <div>
                <%= process.description %>
              </div>
            </td>
          </tr>
          <% end -%>
          </tbody>
        </table>
    </div>
  </div>
</div>
<% end %>