<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle">
                <%= theme_image_tag("checkbox_16x16.gif") %>
                <h2 class="mainTitle"><%= t(:label_irm_wf_approval_action_ap_step_approval_actions) %></h2>
              </td>
              <td class="pbButton">
                <% unless @wf_approval_process.enabled? %>
                    <div class="button"><%= link_to(t(:label_irm_wf_approval_process_add_exists_action),{:action => "add_exists_action",:source_str=>"AP_STEP_APPROVAL,#{@wf_approval_process.id},#{step_id}",:back_url=>url_for({})}) %></div>
                <% else %>
                    <div class="button"><%= link_to(t(:label_irm_wf_approval_process_add_exists_action),{}, :disabled => true) %></div>
                <% end %>
                <div class="asButton">
                    <span id="createApStepApprovalAction<%= step_id%>" class="menuButton">
                      <div  class="menuLabel">
                        <% unless @wf_approval_process.enabled? %>
                        <span><a><%= t(:label_irm_wf_approval_add_actions)  %></a></span>
                        <script type="text/javascript">
                              $(function(){
                                  $("#createApStepApprovalAction").menubutton();
                              });
                        </script>
                        <% else %>
                        <span><a disabled=true><%= t(:label_irm_wf_approval_add_actions)  %></a></span>
                        <% end %>
                      </div>
                      <div class="menuContent" >
                        <div class="menuItem"><%= link_to(t(:label_irm_wf_mail_alert_new),{:controller => "irm/wf_mail_alerts",:action => "new",:source_str=>"AP_STEP_APPROVAL,#{@wf_approval_process.id},#{step_id}",:back_url=>url_for({})}) %></div>
                        <div class="menuItem"><%= link_to(t(:label_irm_wf_field_update_new),{:controller => "irm/wf_field_updates",:action => "new",:source_str=>"AP_STEP_APPROVAL,#{@wf_approval_process.id},#{step_id}",:back_url=>url_for({})}) %></div>
                      </div>
                    </span>

                </div>
              </td>
              <td class="pbHelp">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <%= render :partial => "show_process_actions",:locals => {:actions=>wf_process_actions("AP_STEP_APPROVAL",@wf_approval_process.id,step_id)} %>
      </div>
    </div>
</div>