<%= form_for(@incident_journal,:url=>{:action=>"update", :request_id => @incident_journal.incident_request_id, :id => @incident_journal},
             :builder => CustomFormBuilder,:html => { :multipart => true }) do |f| %>
  <% content_for :form_block_common do%>
    <table class="form-table">
      <tbody>
      <%if show_count_workload(Irm::Person.current)%>
      <% if Irm::Person.current.id.eql?(@incident_journal.replied_by) %>
            <div>
              <div style="width: 18%; padding: 2px 10px 2px 2px; display: inline">
                <%= link_to t(:label_edit_workload), {},
                            {:href => "javascript:void(0);", :class=>"btn editwork", :id => "hide_left"}%>
              </div>
            </div>
      <% end %>
      <% end %>
        <tr>
            <td class="label-col"><label><%=t(:label_icm_incident_journal_new)%></label></td>
            <td class="data-3col" colspan="3" id="msgEditorParent">
              <%=f.text_area :message_body ,:id=>"msgEditor",:cols=>150,:rows=>8,:required=>true,:class=>"input-xlarge"%>
              <%= xheditor("msgEditor",true) %>
            </td>
        </tr>
      </tbody>
    </table>
  <% end %>
    <div class="modal fade" id="peopleNoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="page-header">
            <h1 style="text-align:center;display:inherit"><%=t(:label_edit_workload)%></h1>
          </div>
          <div class="modal-body" style="height: 500px;">
            <table class="form-table" style="width: 100%;">
              <tbody>
              <tr>
                <td class="label-col"></td>
                <td class="data-col"><label for="incident_request_close_reason_code"><%=t(:label_workload_real_use_time)%></label></td>
              </tr>
              <tr id="workload_list" style="display:none"></tr>
              <% if @workload.present?%>
                  <% @workload.each do |sp| %>
                      <%= fields_for("incident_workloads[]", @workload.build()) do |w|%>
                          <tr id="workload_<%= sp[:person_id]%>">
                            <td class="label-col"></td>
                            <td class="data-col">
                              <%= w.select :person_type, options_for_select(["FIN", "NFG","SCM","TECH"],sp[:person_type])%>
                              <%= w.text_field :real_processing_time, :value => sp[:real_processing_time].blank? ? '0' : sp[:real_processing_time], :irm_pos_real_number => true, :size => 5, :style => "width:30px"%>&nbsp;<%= sp[:login_name]%>
                              <%= w.hidden_field :person_id, :value => sp[:person_id]%>
                              <%= link_to I18n.t(:remove), {}, {:class => "remove_workload", :href => "javascript:void(0)"}%>
                            </td>
                          </tr>
                      <% end%>
                  <% end %>
              <% end%>
              <tr>
                <td class="label-col"></td>
                <td class="data-col">
                  <%= select_tag("add_workload_select", options_for_select(available_people), {:id => "workload_select"})%>
                </td>
                <td class="data-col">
                  <%= link_to I18n.t(:add), {}, {:id => "add_workload",:class=>"btn", :href => "javascript:void(0)"}%>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><%= "Save"%></button>
          </div>
        </div>
      </div>
    </div>

  <% content_for :form_buttons  do %>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
    <%= link_back t(:cancel), {}, {:class => "btn cancel"}%>
  <% end %>

  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header">
      <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%=t(:label_icm_incident_journal_new)%></h2>
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
    <%#= error_for @incident_journal %>
    <div id="error_message"></div>
    <div class="page-block-body">
      <div class="sub-page-block">
        <!-- 一般信息 -->
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%= t(:label_common_info) %></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_block_common   %>
        </div>
      </div>
    </div>
    <table class="page-block-footer">
      <tr>
        <td class="page-block-title"></td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
  </div>
<% end %>


<script type="text/javascript">
  $(function() {
    $("#error_message").prepend("<div id='new_icm_incident_reply_error'><%= escape_javascript(error_message_for(@incident_journal)) %><br><%= escape_javascript(flash_notice) %><div>");
  })
</script>
<script type="text/javascript">
  $(function(){
    var external_system_id = '<%= @incident_request.external_system_id %>', customBlockHtml = $("#customBlock").html();
    if($("#ass_external_system")){
      $("#ass_external_system").cascade(["#incident_category_id"]);
    }

    if($("#incident_category_id")){
      $("#incident_category_id").cascade("#incident_sub_category_id");
    }

    $("#add_workload").click(function(){
      add_workload($("#workload_select option:selected").val(),$("#workload_select option:selected").html());
    })

    $(".remove_workload").click(function(){
      $(this).parent().parent().remove();
    })

    if(external_system_id){
      $("#customBlock").show();
    }

    //系统改变重新加载其自定义字段信息
    $("#ass_external_system").change(function(){
      $("#customBlock").html('');
      if($(this).val() == external_system_id){
        $("#customBlock").html(customBlockHtml);
      }
      if($(this).val() && $(this).val() != external_system_id){
        var href = $.tmpl(decodeURIComponent($("#customBlock").attr("href")), {external_system_id:$(this).val()}).text();
        $("#customBlock").load(href);
        $("#customBlock").show();
      }
    });
  });

  function add_workload(wid, wtext){
    if ($("#workload_"+ wid).length < 1){
      $("#workload_list").after('<tr id="workload_'+ wid +'">'+
              '<td class="label-col"></td>'+
              '<td id="ext-gen1127" class="data-col">'+
              '<select id="incident_workloads__workload_type" name="incident_workloads[][person_type]">' +
              '<option value="FIN">FIN</option>' +
              '<option value="NFG">NFG</option>' +
              '<option value="SCM">SCM</option>' +
              '<option value="TECH">TECH</option>' +
              '</select>' +
              '<input type="text" value="0" size="5" style="width:30px" name="incident_workloads[][real_processing_time]" irm_pos_real_number="true" id="incident_workloads__real_processing_time">&nbsp;'+ wtext +''+
              '<input type="hidden" value="'+ wid +'" name="incident_workloads[][person_id]" id="incident_workloads__person_id">'+
              '<a href="javascript:void(0)" class="remove_workload" onclick=$(this).parent().parent().remove() ><%= I18n.t(:remove)%></a>'+
              '</td>'+
              '</tr>');
    }
  }
</script>
<script type="text/javascript">
  $(function(){
    $(".editwork").on("click",function(){
      $("#peopleNoModal").modal("show")
    })
  })
</script>