<%journals.each_with_index do |journal,index|  %>
 <div class="reply" id="enabled_<%= journal.id %>">
   <div id="journal_<%= journal.id %>" class="reply-header"  submit_by="<%= journal[:replied_by]%>">
    <div style="float:left"><img width="25" height="25" alt="" src="<%=replied_avatar(journal)%>"></div>
    <div style="float:left; padding:0 0 0 5px; width:70%">
     <h3><%= journal[:replied_name]  %></h3>
        <span style="color:#666666;font-style:italic;">
          <%= t(:label_reply_title,:time_distance=>distance_of_time_in_words(Time.now,journal[:created_at]),:date_format=>format_date(journal[:created_at])) %>
        </span>
    </div>
     <div style="float:right; padding: 5px 10px;">
       <% if allow_to_function?(:delete_recover_any_journals) or (allow_to_function?(:delete_recover_my_journals) and journal[:replied_by].eql?(Irm::Person.current.id)) %>
         <%= link_to t(:hide), {:controller => "icm/incident_journals", :action => "delete",
                                :request_id => @incident_request.id, :id => journal[:id], :sid => @incident_request.external_system_id,
                                :_dom_id => "enabled_#{journal[:id]}"},:remote => true %>
       <% end %>
       <% if can_edit_comment?(journal, @incident_request) %>
           &nbsp;&nbsp;<%= link_to t(:edit), {:controller => "icm/incident_journals", :action => "edit",
                                              :sid => @incident_request.external_system_id, :request_id => @incident_request.id, :id => journal[:id]}%>
       <% end %>
     </div>
   </div>
   <div class="reply-body">
     <%if show_count_workload(Irm::Person.current)%>
     <% if !journal.workload_c.nil? && (journal.created_by.eql?(Irm::Person.current.id) || (Irm::Person.current.profile_id).eql?("001z00024DLIQpNqVFPhLc")) %>
         <div  style="text-align: left">
           <div style="display: inline; padding-left: 30px"><%= I18n.t(:label_people_type)%> <%= journal.people_type %></div>
           <div style="display: inline; padding-left: 30px"><%= I18n.t(:label_number_of_consultants)%> <%= journal.people_count_c %></div>
           <div style="display: inline; padding-left: 30px"><%= I18n.t(:label_yan_workload)%> <%= journal.workload_c %> min</div>
           <div style="display: inline; padding-left: 30px"><%= I18n.t(:label_number_of_technicians)%> <%= journal.people_count_t %></div>
           <div style="display: inline; padding-left: 30px"><%= I18n.t(:label_yan_workload)%> <%= journal.workload_t %> min</div>
         </div>
     <% end %>
     <%end%>
     <%if journal.incident_histories.any? %>
       <div class="message-header" style="font-style:italic;padding-bottom:10px;">
         <ul>
             <% journal.incident_histories.each do |h|%>
               <% next unless h.to_s %>
               <li><%= h %>
             <% end%>
         </ul>
       </div>
     <%end%>
     <div class="message-body">
       <%= raw process_message(journal[:message_body])  %>
     </div>
     <%= slist_journal_files(grouped_files,journal,@incident_request.external_system_id) %>
   </div>

 </div>
<%end %>