<% content_for :block_header_buttons do %>
  <div class="btn-toolbar" >
    <% if !@incident_request.close? &&!@incident_request.permanent_close?&& allow_to_function?(:reply_incident_request)&&@incident_request.watcher?(Irm::Person.current.id)  && @incident_request.status_code.eql?(Irm::Constant::ENABLED)%>
      <div class="btn-group">
        <a href="#new_icm_incident_reply" class="btn"><%= t(:label_icm_incident_journal_new) %></a>
      </div>
    <% end %>
    <div class="btn-group">
      <%= link_to t(:label_icm_incident_journal_back_to_request_list), {:controller=>"icm/incident_requests", :action => "index"} ,{:class=>"btn"}%>
    </div>
    <% if !@incident_request.close? %>
        <div class="btn-group">
          <!-- 检查是否具有转交权限 -->
          <% if can_pass?(@incident_request) %>
            <%= link_to t(:pass), {:action => "edit_pass", :sid => @incident_request.external_system_id},{:class=>"btn"} %>
          <% end %>

          <!-- 检查是否具有编辑状态权限 -->
          <% if can_edit_status?(@incident_request) %>
            <%= link_to t(:label_icm_incident_request_incident_status),
                        {:action => "edit_status", :sid => @incident_request.external_system_id},
                        {:class=>"btn"}  %>
          <% end %>

          <!-- 检查是否具有升级权限 -->
          <% if can_upgrade?(@incident_request) %>
              <%= link_to t(:label_icm_incident_request_upgrade),
                          {:action => "edit_upgrade", :sid => @incident_request.external_system_id},
                          {:class=>"btn"}%>
          <% end %>
        </div>
        <div class="btn-group">
          <!-- 检查是否具有关闭权限 -->
          <% if can_close?(@incident_request) %>
              <%= link_to t(:close), {:action => "edit_close", :sid => @incident_request.external_system_id},{:class=>"btn"} %>
          <% end %>

          <!-- 检查是否具有编辑权限 -->
          <% if can_edit?(@incident_request) %>
            <%= link_to t(:edit),
                        {:controller=>"icm/incident_requests", :action => "edit", :id => @incident_request.id, :sid => @incident_request.external_system_id},
                        {:class=>"btn",:back => true} %>
          <% end %>
        </div>
        <div class="btn-group">
          <% if Icm::IncidentRequest.assignable_to_person(Irm::Person.current.id).query(@incident_request.id).present?%>
              <%= link_to t(:label_icm_incident_request_assign_me_receive), {:controller=>"icm/incident_requests",
                                                                             :action => "update_assign_me",
                                                                             :incident_request_ids=>@incident_request.id},
                          {:class=>"btn",:back=>true} %>
          <% end %>
          <% if allow_to_function?(:assign_incident_request) %>
              <a id="assignRequest" href="javascript:void(0)" class="btn"><%= t(:label_icm_incident_request_assign) %></a>
          <% elsif allow_to_function?(:assign_incident_request_owned) && (current_person?(@incident_request.support_person_id)||current_person?(@incident_request.requested_by))%>
              <a id="assignRequest" href="javascript:void(0)" class="btn"><%= t(:label_icm_incident_request_assign) %></a>
          <% end %>
        </div>
    <% else %>
         <div class="btn-group">
           <% if current_person?(@incident_request.support_person_id)||current_person?(@incident_request.requested_by) %>
               <%= link_to t(:permanent_close), {:action => "edit_permanent_close"},{:class=>"btn"}%>
               <%= link_to t(:reopen), {:action => "edit_reopen", :sid => @incident_request.external_system_id, :id => @incident_request.id},{:class=>"btn"}%>
           <% end %>
           <% if can_edit?(@incident_request) %>
               <%= link_to t(:edit), {:controller=>"icm/incident_requests", :action => "edit", :sid => @incident_request.external_system_id, :id => @incident_request.id} ,{:class=>"btn",:back => true} %>
           <% end %>
         </div>
    <% end %>

    <div class="btn-group">
      <% if can_edit_workload?(@incident_request) %>
          <%= link_to(t(:label_yan_edit_workload),
                      {:controller => "icm/incident_journals", :action => "edit_workload",
                       :request_id => @incident_request.id, :sid => @incident_request.external_system_id},
                      {:class => "btn",:rel => "modal"}) %>
      <% end %>
      <% if can_edit_addition_info?(@incident_request) %>
          <%= link_to(t(:label_yan_edit_additional_info_form),
                      {:controller => "icm/incident_journals", :action => "edit_additional_info",
                       :request_id => @incident_request.id, :sid => @incident_request.external_system_id},
                      {:class => "btn",:rel => "modal"}) %>
      <% end %>
      <% if has_module?(:skm) and @incident_request.kb_flag==Irm::Constant::SYS_NO  %>
          <%= link_to t(:label_icm_save_as_skm), {:controller=>"skm/entry_headers", :action => "new_from_icm_request", :request_id => @incident_request.id},{:class=>"btn"} %>
      <% end %>
      <% if has_module?(:chm) and !@incident_request.change_request_id.present? %>
          <%= link_to t(:label_icm_create_relate_change_request), {:controller=>"chm/change_requests", :action => "incident_new", :re4quest_id => @incident_request.id}, {:back=>true,:class=>"btn"} %>
      <% end %>
    </div>
    <div class="btn-group">
      <%= link_to t(:export_pdf), {:controller=>"icm/incident_journals",:action=>"new",:request_id=> @incident_request.id,:format => "pdf"}, {:class => "btn btn-info",:target => "_blank"} %>
    </div>
  </div>
<% end %>