<%= common_title(:show_data=>@person[:person_name]) %>

<div class="listHoverLinks" style="visibility: visible;">
  <a id="id_person_company_access_link"
     href="#id_person_company_access"
     class="linklet" onmouseover="relatedListPanel.showRLDelayed('id_person_company_access');"
     onmouseout="relatedListPanel.hideRLDelayed('id_person_company_access');">
    <span class="listTitle"><%= t(:label_irm_person_company_access) %>
       <span class="count">[<%=  %>]</span>
    </span>
  </a>
  <span class="pipe"> | </span>
  <a id="id_person_support_group_link" href="#id_person_support_group"
     class="linklet" onmouseover="relatedListPanel.showRLDelayed('id_person_support_group');"
     onmouseout="relatedListPanel.hideRLDelayed('id_person_support_group');">
    <span class="listTitle"><%= t(:label_irm_person_support_group) %>
    <span class="count">[<%= @support_group_count %>]</span></span>
  </a>
</div>

<div id="RLPanelShadow" class="RLPanelShadow" style="display: none;">
  <div class="rls_top">
     <div class="rls_tl"></div>
     <div class="rls_tr"></div>
  </div>
  <div class="rls_l"></div>
  <div class="rls_r"></div>
  <div id="RLPanel" class="RLPanel" onblur="relatedListPanel.hideRLDelayed(null, 100);"
      onfocus="relatedListPanel.showRL();"
      onmouseover="relatedListPanel.showRL();"
      onmouseout="relatedListPanel.hideRLDelayed(null, 100);" >
    <iframe frameborder="0" title="隐藏框架 - 忽略"
            src="/images/emptyHtmlDoc.html"
            name="RLPanelFrame" id="RLPanelFrame" style="height: 101px;" allowtransparency="true">
    </iframe>
  </div>
  <div class="rls_bottom">
  <div class="rls_bl"></div>
  <div class="rls_br"></div>
  </div>
</div>

<div id="ep" class="detail-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_person_show) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @person}%></div>
            <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_identity_login_name)%></label></td>
              <td class="dataCol"><%= @person.login_name%></td>
              <td class="labelCol"><label><%=(t :label_irm_person_role)%></label></td>
              <td class="dataCol"><%=@person[:role_name]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_person_email_address)%></label></td>
              <td class="dataCol"><%=@person.email_address%></td>
              <td class="labelCol"><label><%=t(:label_irm_person_profile)%></label></td>
              <td class="dataCol"><%=@person[:profile_name]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_person_last_name)%></label></td>
              <td class="dataCol"><%=@person.last_name%></td>
              <td class="labelCol"><label><%=t(:label_irm_person_organization)%></label></td>
              <td class="dataCol"><%= @person[:organization_name] %></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_person_first_name)%></label></td>
              <td class="dataCol"><%=@person.first_name%></td>
              <td class="labelCol"><label><%=t(:label_irm_person_bussiness_phone)%></label></td>
              <td class="dataCol">
                <%=@person.bussiness_phone%>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_irm_identity_language_code) %></td>
              <td class="dataCol"><%= @person[:language_description] %></td>
               <td class="labelCol"><label><%=t(:label_irm_person_fax_number)%></label></td>
               <td class="dataCol">
                   <%=@person.fax_number%>
               </td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_person_notification_lang)%></label></td>
              <td class="dataCol"><%=@person[:notification_lang_description]%></td>
               <td class="labelCol"><label><%=t(:label_irm_person_mobile_phone)%></label></td>
               <td class="dataCol">
                 <%=@person.mobile_phone%>
               </td>
            </tr>
            <tr>
               <td class="labelCol">
                 <label><%=t(:label_irm_person_notification_flag)%></label>
               </td>
               <td class="dataCol"><%=check_img(@person.notification_flag)%></td>
              <td class="labelCol"><label><%=t(:label_irm_person_home_phone)%></label></td>
              <td class="dataCol">
                <%=@person.home_phone%>
              </td>
            </tr>
            <tr>
               <td class="labelCol"><label><%=t(:label_irm_person_vip_flag)%></label></td>
               <td class="dataCol"><%=check_img(@person.vip_flag)%></td>
                <td class="labelCol"><label><%=t(:label_irm_person_home_address)%></label></td>
              <td class="dataCol">
                 <%=@person.home_address%>
              </td>

            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_person_assignment_availability_flag)%></label></td>
              <td class="dataCol"><%=check_img(@person.assignment_availability_flag)%></td>
              <td class="labelCol empty"><div></div></td>
              <td class="dataCol  empty"><div></div></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_person_template_flag)%></label></td>
              <td class="dataCol"><div><%=check_img(@person.is_a?(Irm::TemplatePerson) ? "Y":"N")%></div></td>
              <td class="labelCol empty"><div></div></td>
              <td class="dataCol  empty"><div></div></td>
            </tr>
        </tbody>
      </table>
      </div>

    <div id="head_3_ep" class="pbSubheader first tertiaryPalette">
      <h3><%=t(:label_irm_person_approve_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
             <tr>
               <td class="labelCol"><label><%=t(:label_irm_person_delegate_approver)%></label></td>
               <td class="dataCol"><%=@person[:delegate_name]%></td>
               <td class="labelCol">
                 <label><%=t(:label_irm_person_approve_request_mail)%></label>
               </td>
               <td class="dataCol"><%=check_img(@person.approve_request_mail)%></td>
             </tr>

             <tr>
               <td class="labelCol"><label><%=t(:label_irm_person_delegate_manager)%></label></td>
               <td class="dataCol"><div><%=@person[:manager_name]%></div></td>
             </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div id="id_person_system_access" class="bRelatedList">
    <a name="id_person_system_access_target">
    </a>
    <div class="listRelatedObject setupBlock">
      <div class="page-block secondary-palette">
        <div class="pbHeader">
          <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
              <td class="pbTitle">
                <h3 id="id_person_system_access_title"><%=t(:label_irm_person_access_system)%></h3>
              </td>
              <td class="pbButton">
                <div class="button"><%= link_to t(:label_irm_person_add_to_system), {:controller=>"irm/external_system_members",:action => "new_from_person",:person_id=>@person.id}%></div>
              </td>
              <td class="pbHelp">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="id_system_access" class="pbBody">
          <div id="person_system_list" class="datatable" style="width:100%;">
            <div id="id" class="id" style="display:none">
              <%= link_to t(:remove), {:controller=>"irm/external_system_members",:action=>"delete_from_person",:external_system_id=>"{id}",
                                      :person_id=>@person.id},:confirm => t(:label_are_you_sure) ,
                                      :method => :delete %>
            </div>
          </div>
          <!-- Begin company access table -->
            <%= datatable("person_system_list",{:controller=>"irm/people",:action=>"get_owned_external_systems", :person_id => @person.id},
                              [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"40px"},
                               {:key=>"system_name",:label=>t(:label_irm_external_system), :width=>"200px"},
                               {:key=>"system_description",:label=>t(:description), :width=> "400px"},
                               {:key=>"external_system_code", :hidden => true}])%>
          <!-- End company access table -->
        </div>
        <div class="pbFooter secondary-palette">
        <div class="bg"></div>
        </div>
      </div>
    </div>
</div>


<div id="id_person_support_group" class="bRelatedList">
    <a name="id_person_support_group_target">
    </a>
    <div class="listRelatedObject setupBlock">
      <div class="page-block secondary-palette">
        <div class="pbHeader">
          <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
              <td class="pbTitle">
                <h3 id="id_person_support_group_title"><%=t(:label_irm_person_group)%></h3>
              </td>
              <td class="pbButton">
                <div class="button"><%= link_to t(:label_irm_person_add_to_support_group), {:controller=>"irm/group_members",
                                                          :action => "new_from_person",:id=>@person.id}%></div>
              </td>
              <td class="pbHelp">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="id_support_group" class="pbBody">
          <div id="support_group" class="datatable" style="width:100%;">
            <div id="id" class="id" style="display:none">
              <%= link_to t(:remove), {:controller=>"irm/group_members",:action=>"delete_from_person",:id=>"{id}",
                                      :person_id=>@person.id},:confirm => t(:label_are_you_sure) ,
                                      :method => :delete %>
            </div>
          </div>
          <!-- Begin company access table -->
            <%= datatable("support_group", {:controller=>"irm/group_members",:action=>"get_data_from_person",:id=>@person.id},
                              [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"60px"},
                               {:key=>"name",:label=>t(:label_irm_group_name)},
                               {:key=>"description",:label=>t(:label_irm_group_description)}])%>
          <!-- End company access table -->
        </div>
        <div class="pbFooter secondary-palette">
        <div class="bg"></div>
        </div>
      </div>
    </div>
</div>
<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_login_record_list) %></h2></td>
              <td class="pbButton">
                <div class="button" id="loginHistoryExportData"><a href="javascript:void(0)"><%= t(:export) %></a></div>
              </td>
              <td class="pbHelp">
                <div id="reportGroupMemebersSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="login_history_list" class="datatable" style="width:100%">

        </div>
        <%= datatable("login_history_list", {:controller=>"irm/my_login_history", :action => "get_login_data", :format=>"json", :id => @person.id},
                      [{:key=>"user_ip",:label=>t(:label_irm_login_record_user_ip),:width=>"110px"},

                       { :key => "operate_system", :label => t(:label_irm_login_record_operate_system),:width=>"160px" },

                       { :key => "browser", :label => t(:label_irm_login_record_browser) ,:width=>"160px"},

                       { :key => "login_at", :label => t(:label_irm_login_record_login_at)},

                       { :key => "logout_at", :label => t(:label_irm_login_record_logout_at) },

                       ],{:export_data=>"#loginHistoryExportData",:row_perpage=>10,:paginator_box=>"historiesBox"})%>
        <div id="historiesBox"></div>
      </div>
    </div>
</div>