<table class="form-table baseFilter" id="baseFilter">
  <tbody>
  <tr>
        <td>
          <fieldset>
            <legend>
              <%= t(:label_irm_report_time_range) %>
            </legend>
            <table>
              <tr>
                <td>
                  <label for="filterDateFrom"><%= t(:label_irm_report_filter_date_from) %></label>
                  <%= date_field_tag(:date_from,:value=>program_params[:date_from],:id=>"filterDateFrom",:name=>"program_params[date_from]",:nobutton=>true)%>
                </td>
                <td>
                  <label for="filterDateTo"><%= t(:label_irm_report_filter_date_to) %></label>
                  <%= date_field_tag(:date_to,:value=>program_params[:date_to],:id=>"filterDateTo",:name=>"program_params[date_to]",:nobutton=>true)%>
                  <%= hidden_field_tag "program_params[running_person_id]", Irm::Person.current.id %>
                </td>
              </tr>
            </table>
          </fieldset>
        </td>
      </tr>

  </tbody>
</table>