<%= common_title %>

<div class="show-block">
  <!-- 人员信息 -->
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_ccc_customerStatus) %></h2>
      </td>
      <td class="page-block-button">
        <%= link_to t(:edit), {:action => "edit", :id =>@customerStatus},:class=>"btn btn-primary" %>
        <%= link_to t(:back), {:action => "index"},:class=>"btn"%>
      </td>
    </tr>
  </table>
  <%= render :partial => "common_info", :locals => {:customerStatus => @customerStatus}%>
</div>


<%=render :partial=>"multilingual/show",:locals=>{:main_data=>@customerStatus} %>