<tr>
  <td class="label-col"><label><%= t(:label_icm_incident_request_cux_response_hours) %></label></td>
  <td class="data-col">
    <div><%= @incident_request[:cux_response_hours] %></div>
  </td>
  <td class="label-col"><label><%= t(:label_icm_incident_request_cux_resolve_hours) %></label></td>
  <td class="data-col">
    <div><%= @incident_request[:cux_resolve_hours] %></div>
  </td>
</tr>
<tr>
  <td class="label-col"><label><%= t(:label_icm_incident_request_cux_organization) %></label></td>
  <td class="data-col">
    <div><%= @incident_request[:attribute2]%></div>
  </td>
  <td class="label-col"><label><%= t(:label_icm_incident_request_cux_requested_by_role) %></label></td>
  <td class="data-col">
    <div><%= (@incident_request[:requested_role])%></div>
  </td>
</tr>