<%= common_title(:show_data=>@survey_response.survey.title,:action_meaning=>t(:label_csi_survey_result_show_response)) %>

<% datas = survey_response_data(@survey_response);types = subject_types %>

<% subject_pages = paginate_survey_subjects(@survey_response.survey_id); subjects = subject_pages.flatten%>

<style type="text/css">
  td.surveydata-col{
    padding-left:15px;
  }
</style>
<!--页面结构-->
<div class="show-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%=@survey_response.survey.title%></h2>
    </td>
    <td class="page-block-button">
      <%= link_back t(:back), {},:class => "btn cancel"%>
    </td>
  </tr>
  </table>
  <div class="page-block-body"  id="pages" count="<%= subject_pages.length %>">
    <%subject_pages.each_with_index do |survey_subjects,page|%>
        <div id="page_<%=page+1 %>" style="padding: 5px 20px;">
            <% survey_subjects.each do  |subject|%>
                <div  id="subject_<%=subject.id  %>">
                  <div id="subjectHeader_<%=subject.id  %>">
                      <h3><%=subject.number%>.&nbsp;<%=subject.name%>&nbsp;&nbsp;</h3>
                      <% if (Irm::Constant::SYS_YES.eql?(subject.required_flag)) %>
                         <span class="required_answer">[<%=types[subject.input_type.to_sym]%>,<%= t(:label_csi_survey_required_input)%>]</span>
                      <% else %>
                         <span class="titleSeparatingColon">[<%=types[subject.input_type.to_sym]%>]</span>
                      <% end %>
                  </div>
                  <table class="show-table">
                    <tbody>
                        <% (datas[subject.id]||[]).each do |option| %>
                          <tr>
                          <% if "OPTION".eql?(option.result_type) %>
                            <td class="surveydata-col"><div><%= option[:option_value] %></div></td>
                          <% elsif "INPUT".eql?(option.result_type)  %>
                            <td class="surveydata-col"><div><%= option[:text_input] %></div></td>
                          <% elsif "OTHER".eql?(option.result_type)  %>
                            <td class="surveydata-col"><div><%= t(:label_csi_survey_subjects_other) %>:<%= option[:text_input] %></div></td>
                          <% end %>
                          </tr>
                        <% end %>
                    </tbody>
                  </table>
                </div>
            <% end %>
        </div>
    <% end %>

  </div>
</div>
