<%= common_title(:show_data=>@card[:name]) %>
<%= form_for(@card,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="edit-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_card_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action=>"index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @card%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_card_code)%></label></td>
              <td class="data2Col"><%= @card.card_code%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :name)%></label></td>
              <td class="data2Col"><%=f.text_field :name, :required=>true%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :description)%></label></td>
              <td class="data2Col"><%=f.text_area :description, :rows => 4%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_card_url)%></label></td>
              <td class="data2Col"><%=f.text_field :card_url%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_card_background_color)%></label></td>
              <td class="data2Col">
                <%= f.hidden_field :background_color, :id => "background_color"%>
                <div id="selected_color" style="background-color:<%= @card.background_color%>;height:14px;width:50px;display:inline-block;border:solid 1px #000000;"></div>
                <label for="ava_color"><%= t :label_irm_card_available_color %></label>
                <div id="ava_color" style="display:inline;">
                <% card_background_color_list.each do |b| %>
                    <a href="javascript:void(0);" style="display:inline" onclick="set_color('<%= b[1]%>')">
                      <div style="background-color:<%= b[1]%>;width:14px;height:14px;display:inline-block;border:solid 1px #000000;"></div>
                    </a>
                <% end %>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action=>"index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<script type="text/javascript">
function set_color(color)
{
    GY.use(function(Y){
        Y.one("#selected_color").setAttribute("style", "background-color:" + color + ";height:14px;width:50px;display:inline-block;border:solid 1px #000000;");
        Y.one("#background_color").set("value", color);
    });
}
</script>