<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle">
                <%= text_field_tag("full_search", t(:tip_skm_entry_header_full_search), {:style => "height:25px;width:300px;", :class => "grayTips"}) %>
              </td>
              <td id="topButtonRow" class="pbButton">

              </td>
              <td class="pbHelp">
                <div id="entryHeadersSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
          <div id="entry_headers_list" class="datatable" style="width:100%">
              <div id="id" style="display:none">
                <%= link_to(t(:edit),{:controller => "skm/entry_headers", :action=>"edit",:id=>"{id}"}) %>&nbsp;|
                <%= link_to(t(:show),{:controller => "skm/entry_headers", :action=>"show",:id=>"{id}"}) %>&nbsp;|
                <span class="display-<%= "{is_favorite}"%>">
                    <%= link_to(t(:save_page), {:controller => "skm/entry_headers", :action => "add_favorites", :id => "{id}", :person_id => Irm::Person.current.id}) %>
                </span>
              </div>
              <div id="entry_title" style="display:none">
                <%= link_to("{entry_title}",{:controller => "skm/entry_headers", :action=>"show",:id=>"{id}"}) %>
              </div>
              <div id="doc_number" style="display:none">
                <%= link_to("{doc_number}",{:controller => "skm/entry_headers", :action=>"show",:id=>"{id}"}) %>
              </div>
            </div>
            <%= datatable("entry_headers_list",{:action=>"get_data",:column_id => @column_id, :format=>"json"},
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"120px"},
                       {:key=>"published_date_f",:label=>t(:label_skm_entry_header_published_date), :width => "180px"},
                       {:key=>"entry_title",:label=>t(:label_skm_entry_header_title), :searchable => true,:formatter=>"Y.irm.template"},
                       {:key=>"doc_number",:label=>t(:label_skm_entry_header_doc_number), :searchable => true,:formatter=>"Y.irm.template",:width => "120px"},
                       {:key=>"is_favorite", :hidden => true}],
                       {:search_box => "entryHeadersSearchBox",:html=>true})%>
            <div id="entry_headers_list_paginator_box"></div>
      </div>
    </div>
</div>

<script type="text/javascript">
function inputTipText(){
    $("input[class*=grayTips]") //所有样式名中含有grayTips的input
    .each(function(){
       var oldVal=$(this).val();   //默认的提示性文本
       $(this)
       .css({"color":"#888"})  //灰色
       .focus(function(){
        if($(this).val()!=oldVal){$(this).css({"color":"#000"})}else{$(this).val("").css({"color":"#888"})}
       })
       .blur(function(){
        if($(this).val()==""){$(this).val(oldVal).css({"color":"#888"})}
       })
       .keydown(function(){$(this).css({"color":"#000"})})

    })
}

$(function(){
    inputTipText();  //直接调用就OK了
})
</script>