<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table count="<%=@count%>">
         <thead>
           <tr>
             <th style="width:180px;">
               <div><%= t(:label_skm_entry_header_published_date) %></div>
             </th>
             <th style="width:120px;">
               <div><%= t(:operation) %></div>
             </th>
             <th style="width:120px;">
               <div><%= t(:label_skm_entry_header_doc_number) %></div>
             </th>
             <th>
               <div><%= t(:label_skm_entry_header_title) %></div>
             </th>
           </tr>
         </thead>
         <tbody>
         <% @datas.each do |data| %>
         <tr id="<%=data[:id]%>">
           <td>
             <div>
               <%=data[:published_date_f]%>
             </div>
           </td>
           <td>
             <div>
                <%= link_to(t(:edit),{:controller => "skm/entry_headers", :action=>"edit",:id=> data[:id]}) %>&nbsp;
                <%= link_to(t(:show),{:controller => "skm/entry_headers", :action=>"show",:id=> data[:id]}) %>
                <% if data[:is_favorite] == "N" %>
                 &nbsp;<%= link_to(t(:save_page), {:controller => "skm/entry_headers", :action => "add_favorites", :id => data[:id], :person_id => Irm::Person.current.id}) %>
                <% end %>
             </div>
           </td>
           <td>
             <div>
               <%= link_to(data[:doc_number], {:controller => "skm/entry_headers", :action => "show", :id => data[:id]})%>
             </div>
           </td>
           <td>
             <div>
               <%= link_to(data[:full_title], {:controller => "skm/entry_headers", :action => "show", :id => data[:id]})%>
             </div>
           </td>

         </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->