<%= common_title() %>

<%= form_for(@company,:url=>{:action=>"create"},:as=>"cons_company",:builder => CustomFormBuilder,:html => {:id => 'new_cons_company' }) do |f| %>
    <% content_for :form_block_company   do%>
        <table class="form-table">
          <tbody>
          <tr>
            <td class="label-col"><label><%=t(:label_com_name)%></label></td>
            <td class="data-col"><%= f.text_field(:com_name,:required=>true) %></td>
            <td class="label-col"><label><%=(t :label_com_address)%></label></td>
            <td class="data-col"><%= f.text_field(:com_address,:required=>true) %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_com_ZCode)%></label></td>
            <td class="data-col"><%= f.text_field(:com_ZCode) %></td>
            <td class="label-col"><label><%=t(:label_com_city)%></label></td>
            <td class="data-col"><%= f.text_field(:com_city) %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_com_province)%></label></td>
            <td class="data-col"><%= f.text_field(:com_province) %></td>
            <td class="label-col"><label><%=(t :label_com_country)%></label></td>
            <td class="data-col"><%= f.text_field(:com_country) %></td>
          </tr>
          </tbody>
        </table>
    <% end %>
    <% content_for :form_respond_company   do%>
        <table class="form-table">
          <tbody>
          <tr>
            <td class="label-col"><label><%=t(:label_com_conscientious)%></label></td>
            <td class="data-col"><%= f.text_field(:com_conscientious,:required=>true) %></td>
            <td class="label-col"><label><%=(t :label_com_position)%></label></td>
            <td class="data-col"><%= f.text_field(:com_position) %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_com_conscientious_tel)%></label></td>
            <td class="data-col"><%= f.text_field(:com_conscientious_tel,:required=>true) %></td>
            <td class="label-col"><label><%=t(:label_com_conscientious_telNo)%></label></td>
            <td class="data-col"><%= f.text_field(:com_conscientious_telNo,:required=>true) %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_com_conscientious_email)%></label></td>
            <td class="data-col"><%= f.text_field(:com_conscientious_email,:required=>true) %></td>
          </tr>
          </tbody>
        </table>
    <% end %>
    <% content_for :form_operation_company   do%>
        <table class="form-table">
          <tbody>
          <tr>
            <td class="label-col"><label><%=t(:label_com_A1_flag)%></label></td>
            <td class="data-col"><%= select( "cons_company", "com_A1_flag",{"是"=>"Y","否"=>"N"}) %></td>
            <td class="label-col"><label><%=(t :label_com_sale)%></label></td>
            <td class="data-col"><%= f.text_field(:com_sale) %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_com_industry)%></label></td>
            <td class="data-col">
              <%= f.blank_select(:com_industry,available_industry,{},{:id=>"com_industry"})%>
            </td>
            <td class="label-col"><label><%=t(:label_com_service_data)%></label></td>
            <td class="data-col"><%= f.text_field(:com_service_data) %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_com_attention_point)%></label></td>
            <td class="data-col"><%= f.text_area(:com_attention_point) %></td>
          </tr>
          <tr style="display: none">
            <td><%= f.text_field(:company_no,:style=>'display:none')%></td>
          </tr>
          </tbody>
        </table>
    <% end %>
    <% content_for :form_customer_company   do%>
        <table class="form-table">
          <tbody>
          <tr>
            <td class="label-col"><label><%=t(:label_com_connect_type)%></label></td>
            <td class="data-col">
              <%= f.blank_select(:com_connect_type,available_connect,{},{:required=>true,:id=>"com_connect_type"})%>
            </td>
            <td class="label-col"><label><%=(t :label_com_router)%></label></td>
            <td class="data-col"><%= f.text_field(:com_router,:required=>true) %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_com_dev_mess)%></label></td>
            <td class="data-col"><%= f.text_area(:com_dev_mess) %></td>
            <td class="label-col"><label><%=t(:label_com_test_mess)%></label></td>
            <td class="data-col"><%= f.text_area(:com_test_mess) %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_com_prod_mess)%></label></td>
            <td class="data-col"><%= f.text_area(:com_prod_mess) %></td>
            <td class="label-col"><label><%=(t :lable_com_sys_mess)%></label></td>
            <td class="data-col"><%= f.text_area(:com_sys_mess) %></td>
          </tr>
          </tbody>
        </table>
    <% end %>

    <% content_for :form_buttons  do %>
        <%= link_submit t(:save),{:class=>"btn btn-primary save"}%>
        <%= link_to t(:cancel), {:action => "index"}, {:class => "btn cancel"}%>
    <% end %>
    <!--页面结构-->
    <div class="page-block">
      <table class="page-block-header">
        <tr>
          <td class="page-block-title">
            <h2 class="block-title"><%= t(:label_company_new) %></h2>
          </td>
          <td class="page-block-button">
            <%= content_for :form_buttons   %>
          </td>
          <td class="page-block-help">

          </td>
        </tr>
      </table>
      <%= error_for @company %>
      <div class="page-block-body">
        <div class="sub-page-block">
          <!-- 个人信息 -->
          <div class="sub-page-block-header">
            <%= form_require_info %>
            <h3 class="sub-page-block-title"><%=t(:label_company_info)%></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_block_company   %>
          </div>
          <div class="sub-page-block-header">
            <%= form_require_info %>
            <h3 class="sub-page-block-title"><%=t(:label_respond_info)%></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_respond_company   %>
          </div>
          <div class="sub-page-block-header">
            <%= form_require_info %>
            <h3 class="sub-page-block-title"><%=t(:label_operation_info)%></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_operation_company   %>
          </div>
          <div class="sub-page-block-header">
            <%= form_require_info %>
            <h3 class="sub-page-block-title"><%=t(:label_customer_info)%></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_customer_company   %>
          </div>
        </div>
      </div>

      <table class="page-block-footer">
        <tr>
          <td class="page-block-title"></td>
          <td class="page-block-button">
            <%= content_for :form_buttons   %>
          </td>
        </tr>
      </table>
    </div>
<% end %>

<script>
    $(function(){
        $("#cons_company_com_attention_point,#cons_company_com_dev_mess,#cons_company_com_test_mess,#cons_company_com_prod_mess,#cons_company_com_sys_mess").css("height","100px")
        $("#cons_company_com_service_data").datepicker()
        $("#new_cons_company a.save").click(function(){
            $("#new_cons_company").attr('action', '<%= url_for(:action => "create", :controller => "cons/company", :next_action => "add_system")%>');
            $("#new_cons_company").submit();
        });
    })

</script>