  <div class="pbBody">
    <div class="pbSubheader tertiaryPalette">
      <h3><%= t(:label_irm_profile_function_list) %><span class="titleSeparatingColon">:</span></h3>
    </div>

    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <% pfids = profile.function_ids %>
        <% gfs = grouped_functions(pfids) %>
        <% fzs = function_zones %>
        <% fzs.each do |zone|%>
          <% next unless gfs[zone[:code]]&&gfs[zone[:code]].any?%>
          <% tr_count = 2%>
          <tr>
            <td style="font-weight:bold;font-size:13px;padding:15px 0 2px 0"><%= zone[:name] %></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <% gfs[zone[:code]].each do |func| %>
                <% next unless pfids.include?(func.id) %>
                <%= raw("</tr><tr>") if tr_count == 0 %>
                <% tr_count = 2 if tr_count == 0 %>
                <td class="labelCol"><%= func[:name] %></td>
                <td class="dataCol"><%= check_img("Y") %></td>
                <% tr_count = tr_count - 1 %>
            <% end%>
          </tr>
        <%end%>
        </tbody>
      </table>
    </div>
  </div>