<%= setting_title %>
<%= stylesheet_link_tag "/javascripts/yui3.3/datatable/assets/skins/sam/datatable.css"%>
<div id="owned_grid">
    <div class="listRelatedObject setupBlock">
        <div class="bPageBlock">
          <div class="pbHeader">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_profile_manage_lane) %></h2></td>
                  <td id="topButtonRow" class="pbButton">
                    <div class="button"><%= link_to t(:label_irm_profile_add_lane),{}, :href => "javascript:void(0);", :onclick=>"display_ava_lanes()"%></div>
                    <%= form_for(@profile_lane,:url=>{:action=>"remove_lanes", :pk_id => @pk_id},:builder => LabellingFormBuilder) do |f| %>
                        <%= f.hidden_field(:status_code,:id => "irm_profile_lane_status_code_1", :value => "") %>
                        <div class="button"><%= f.submit t(:delete_selected), :confirm => t(:are_you_sure)%></div>
                    <% end %>
                    <div class="button"><%= link_to t(:label_irm_profile_reorder_lane), {},{:href=>"#", :onclick => "submit_reorder_form();"}%></div>
                    <div class="button"><%= link_to t(:back), {:action => "show", :id => @profile_id}%></div>
                  </td>
                  <td class="pbHelp">
                    <div id="profilesSearchBox"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pbBody">
            <div class="datatable">
            <div class="yui3-widget yui3-datatable">
              <div class="yui3-datatable-content">
                  <table id='rows' cellspacing="0" cellpadding="0" class='grid'>
                    <thead class="yui3-datatable-columns">
                      <tr class="yui3-datatable-first yui3-datatable-last">
                        <th class="yui3-column" style="width:5px;">
                          <div class="yui3-datatable-liner"><%= t(:operation) %>
                          </div>
                        </th>
                        <th class="yui3-column" style="width:100px;">
                          <div class="yui3-datatable-liner"><%= t(:label_irm_lane_sequence) %>
                          </div>
                        </th>
                        <th class="yui3-column" style="width:100px;">
                          <div class="yui3-datatable-liner"><%= t(:label_irm_lane_code) %>
                          </div>
                        </th>
                        <th class="yui3-column" style="width:150px;">
                          <div class="yui3-datatable-liner"><%= t(:name) %>
                          </div>
                        </th>
                        <th class="yui3-column" style="width:300px;">
                          <div class="yui3-datatable-liner"><%= t(:description) %>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="yui3-datatable-data">
                    <%= form_for(@profile_lane,:url=>{:action=>"reorder_lanes", :pk_id => @pk_id}, :html => {:name => "owned_lanes_form"},:builder => LabellingFormBuilder) do |f| %>
                        <% @profile_lanes.each do |pl| %>
                        <tr id="<%=pl.id%>" class="yui3-datatable-even">
                          <td class="yui3-column">
                            <div class='yui3-datatable-liner'>
                              <%= check_box_tag("#{pl.id}", "", false,
                                                {:onclick => "owned_chk_onchange()", :class => "owned_checkbox"}) %>
                             </div>
                          </td>
                          <td class="yui3-column">
                            <div class='yui3-datatable-liner'>
                               <%= text_field_tag("display_sequence[#{pl.id}]",pl.display_sequence,:size=>5) %>
                             </div>
                          </td>
                          <td class="yui3-column">
                            <div class='yui3-datatable-liner'>
                               <%= pl[:lane_code] %>
                            </div>
                          </td>
                          <td class="yui3-column">
                            <div class='yui3-datatable-liner'>
                               <%= pl[:lane_name] %>
                            </div>
                          </td>
                          <td class="yui3-column">
                            <div class='yui3-datatable-liner'>
                               <%= pl[:lane_description] %>
                            </div>
                          </td>
                        </tr>
                        <% end -%>
                    <% end -%>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
</div>

<div id="available_grid" style="display:none">
    <div class="listRelatedObject setupBlock">
        <div class="bPageBlock">
          <div class="pbHeader">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_profile_manage_lane) %></h2></td>
                  <td class="pbButton">
                    <%= form_for(@profile_lane,:url=>{:action=>"add_lanes", :pk_id => @pk_id},:builder => LabellingFormBuilder) do |f| %>
                      <%= f.hidden_field(:status_code) %>
                      <div class="button"><%= f.submit t(:save), {}%></div>
                      <div class="button"><%= link_to t(:cancel),{}, :href =>"javascript:void(0);", :onclick=>"display_owned_lanes()"%></div>
                    <% end %>
                  </td>
                  <td class="pbHelp">
                    <div></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pbBody">
            <div id="ava_lane_list" class="datatable" style="width:100%">
            </div>
            <%= datatable("ava_lane_list",url_for(:action=>"get_available_lanes_data",:format=>"json"),
                          [{:key=>"id",:label=>t(:operation),:hidden=>true},
                           {:key=>"lane_code",:label=>t(:label_irm_lane_code),:sortable=>true, :width => "120px"},
                           {:key=>"name",:label=>t(:name),:sortable=>true, :width => "200px"},
                           {:key=>"description",:label=>t(:description),:sortable=>true, :width => "300px"}],
                          {:paginator_box=>"availableLanesPaginator",:select=>"multiple"})%>
            <div id="availableLanesPaginator"></div>
          </div>
        </div>
    </div>
</div>

<script type="text/javascript">

  GY.use(function(Y){
      Y.on("irm:change",function(e){
          if(e.details[2]=="Datatable"&&"ava_lane_listDatatable"==e.details[0])
          {
            e.details[1].on("selectedChange",function(e){
                var selected_code = "";
                for(var i=0;i<e.details[0].length;i++)
                  selected_code = selected_code + e.details[0][i].id +",";
                Y.one("#irm_profile_lane_status_code").set("value",selected_code);
            });
          }
      });
  });

  function owned_chk_onchange(){
    GY.use(function(Y){
        var selected_code = "";
        Y.all(".owned_checkbox").each(function(node){
            if(node.get("checked")){
                selected_code = selected_code + node.get("name") +",";
            }
        });

        Y.one("#irm_profile_lane_status_code_1").set("value",selected_code);
    });
  }


  function display_owned_lanes(){
      GY.use(function(Y){
          Y.one("#owned_grid").setStyle("display", "block");
          Y.one("#available_grid").setStyle("display", "none");
          Y.one("#irm_profile_lane_status_code_1").set("value","");
      })
  }

  function display_ava_lanes(){
      GY.use(function(Y){
          Y.one("#available_grid").setStyle("display", "block");
          Y.one("#owned_grid").setStyle("display", "none");
          Y.one("#irm_profile_lane_status_code").set("value","");
      })
  }

  function submit_reorder_form(){
    document.owned_lanes_form.submit();
  }

GY.use(function(Y){
    var selected_code = "";
    Y.all(".owned_checkbox").each(function(node){
        if(node.get("checked")){
            selected_code = selected_code + node.get("name") +",";
        }
    });

    Y.one("#irm_profile_lane_status_code_1").set("value",selected_code);
});
</script>

