<%= stylesheet_link_tag "/javascripts/yui3.3/datatable/assets/skins/sam/datatable.css"%>
<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_profile) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @profile}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubheader tertiaryPalette">
      <h3><%= t(:label_common_info) %><span class="titleSeparatingColon">:</span></h3>
    </div>

    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_profile_code)%></label></td>
              <td class="dataCol"><%= @profile.code%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>

            <tr>
              <td class="labelCol"><label><%=(t :name)%></label></td>
              <td class="dataCol"><%= @profile[:name]%></td>
              <td class="labelCol"><label><%=(t :label_irm_profile_user_license)%></label></td>
              <td class="dataCol"><%= @profile[:user_license_name]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :description)%></label></td>
              <td class="dataCol" colspan="3" style="width:82%;"><%= @profile[:description]%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_profile_owned_kanban) %></h2></td>
              <td class="pbButton">
                <div class="button"><%= link_to t(:label_irm_profile_add_kanban), {:action => "add_kanban", :profile_id => @profile.id}%></div>
              </td>
              <td class="pbHelp">
                <div></div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="pbSubsection">
      <div class="datatable">
        <div class="yui3-widget yui3-datatable">
          <div class="yui3-datatable-content">
              <table id='rows' cellspacing="0" cellpadding="0" class='grid'>
                <thead class="yui3-datatable-columns">
                  <tr class="yui3-datatable-first yui3-datatable-last">
                    <th class="yui3-column" style="width:120px;">
                      <div class="yui3-datatable-liner"><%= t(:operation) %>
                      </div>
                    </th>
                    <th class="yui3-column" style="width:100px;">
                      <div class="yui3-datatable-liner"><%= t(:label_irm_kanban_position) %>
                      </div>
                    </th>
                    <th class="yui3-column" style="width:120px;">
                      <div class="yui3-datatable-liner"><%= t(:label_irm_kanban_name) %>
                      </div>
                    </th>
                    <th class="yui3-column" style="width:250px;">
                      <div class="yui3-datatable-liner"><%= t(:label_irm_kanban_description) %>
                      </div>
                    </th>
                    <th class="yui3-column" style="width:80px;">
                      <div class="yui3-datatable-liner"><%= t(:label_irm_lane_limit) %>
                      </div>
                    </th>
                    <th class="yui3-column" style="width:80px;">
                      <div class="yui3-datatable-liner"><%= t(:label_irm_kanban_refresh_interval) %>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody class="yui3-datatable-data">
                <% @kanbans.each do |kanban| %>
                <tr id="<%=kanban.id%>" class="yui3-datatable-even">
                  <td class="yui3-column">
                    <div class='yui3-datatable-liner'>
                      <%= link_to(t(:edit),{:action=>"edit_kanban",
                                            :profile_id=>@profile.id,
                                            :pk_id=>kanban[:pk_id]}) %>&nbsp;|
                      <%= link_to(t(:label_irm_profile_manage_lane),{:action=>"manage_lanes",
                                                                     :pk_id=>kanban[:pk_id]}) %>&nbsp;|
                      <%= link_to(t(:remove),{:action=>"remove_kanban",
                                              :pk_id=>kanban[:pk_id]},:confirm => t(:are_you_sure)) %>
                     </div>
                  </td>
                  <td class="yui3-column">
                    <div class='yui3-datatable-liner'>
                        <%= kanban[:position_name] %>
                     </div>
                  </td>
                  <td class="yui3-column">
                    <div class='yui3-datatable-liner'>
                       <%= kanban[:kanban_name] %>
                    </div>
                  </td>
                  <td class="yui3-column">
                    <div class='yui3-datatable-liner'>
                       <%= kanban[:kanban_description] %>
                    </div>
                  </td>
                  <td class="yui3-column">
                    <div class='yui3-datatable-liner'>
                       <%= kanban[:kanban_limit] %>
                    </div>
                  </td>
                  <td class="yui3-column">
                    <div class='yui3-datatable-liner'>
                       <%= kanban[:refresh_interval] %>
                    </div>
                  </td>
                </tr>
                <% end -%>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_profile_function_list) %></h2></td>
              <td class="pbButton">
              </td>
              <td class="pbHelp">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <% gfs = grouped_functions %>
        <% fzs = function_zones %>
        <% pfids = @profile.function_ids %>
        <% fzs.each do |zone|%>
          <% next unless gfs[zone[:code]]&&gfs[zone[:code]].any?%>
          <fieldset id="<%= zone[:code].downcase %>Group">
            <legend><%= zone[:name] %></legend>
            <% gfs[zone[:code]].each do |func| %>
                <% next unless pfids.include?(func.id) %>
                <div  style="float:left;width:33%;"><label>
                  <%= check_img("Y") %>
                  <%= func[:name] %>
                </label></div>
            <% end%>
          </fieldset>
        <%end%>
      </div>
    </div>
</div>

<%=render :partial=>"multilingual/show",:locals=>{:main_data=>@profile} %>