<% require_jscss(:newhighcharts) %>
<style>
  .incident_div {
      width: 300px;
      /*height: 350px;*/
      border: solid 1px #cccccc;
      text-align: center;
      margin: 0px 21px;
  }
  .incident_head_div{
      height: 50px;
      line-height: 50px;
      font-size: 25px;
  }
  .incident_body_div{
      height: 225px;
      line-height: 225px; 
      font-size: 120px;
      color:#333333;
  }
  .incident_foot_div{
      display: none;
      height: 75px;
      line-height: 75px;
      font-size: 25px;
  }
  .incident_foot_left_div{
      float: left; 
      margin-left: 25px; 
      font-size: 20px;
  }
  .incident_foot_right_div{
      float: right; 
      margin-right: 25px;
      font-size: 20px;
  }
  #daily_chart{
      min-width: 310px;
      height: 560px;
      margin: 0 auto
  }
  #open_pie_chart,#open_pie_chart_by_service_desk,#incident_by_type_code,#incident_by_urgence{
      width: 45%;
      height: 280px;
      float: left;
      margin-left: 5%;
  }
  .table-responsive{
      min-width: 310px;
      height: 560px;
      margin: 0 auto
  }
</style>
<div id="myCarousel" class="carousel slide">
  <!-- 轮播（Carousel）项目 -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- 两周问题量监控表 -->
      <table style="width:100%;table-layout:fixed" >
        <tr>
          <td>
            <div id="daily_chart"></div>
          </td>
        </tr>
      </table>
    </div>
    <div class="item">
      <!-- 当日问题监控 -->
      <div class="table-responsive">

        <!-- 当日问题监控之四类事件单 -->
        <table style="width:100%;table-layout:fixed" >
          <!-- 列数确定 -->
          <tr>
            <th style="width:25%;text-align: left;font-size: 25px">
              <h1>当日问题监控</h1>
            </th>
            <th style="width:25%">
            </th>
            <th style="width:25%">
            </th>
            <th style="width:25%">
            </th>
          </tr>
          <tr>
            <!-- 新建的事故单 -->
            <td rowspan="6">
              <% if @count_new.size == 0 %>
                  <div class="incident_div" style="display:block; line-height: 250px;">
                    <div class="incident_head_div"><h1>当日新增</h1></div>
                    <div class="incident_body_div"><%= @count_new.size.to_s%></div>
                  </div>
              <% elsif @count_new.size == 1%>
                  <div class="incident_div" style="font-size: 50px;background-color: #ffa0a0">
                    <div class="incident_head_div"><h1>当日新增</h1></div>
                    <div class="incident_body_div"><%= @count_new.size.to_s%></div>
                    <div class="incident_foot_div">
                      <div class="incident_foot_left_div"><%= @count_new.first[:request_number]%></div>
                      <div class="incident_foot_right_div"><%= @count_new.first[:category_name]%></div>
                    </div>
                    <audio autoplay="autoplay">
                      Your browser does not support the <code>audio</code> element.
                      <source src="4846.wav" type="audio/wav">
                    </audio>
                  </div>
              <% else%>
                  <div class="incident_div" style="font-size: 50px; background-color: #ffa0a0">
                    <div class="incident_head_div"><h1>当日新增</h1></div>
                    <div class="incident_body_div" ><%= @count_new.size.to_s%></div>
                    <div class="incident_foot_div">
                      <div class="incident_foot_left_div" style="float: left; margin-left: 25px;font-size: 20px;"><%= @count_new.first[:request_number]%></div>
                      <div class="incident_foot_right_div"><%= @count_new.first[:category_name]%></div>
                    </div>
                    <audio autoplay="autoplay">
                      Your browser does not support the <code>audio</code> element.
                      <source src="4846.wav" type="audio/wav">
                    </audio>
                  </div>
              <% end %>
            </td>
            <!-- 待处理的事故单 -->
            <td rowspan="6">
              <% if @count_assign.size == 0 %>
                  <div class="incident_div" style="display:block; width: 300px;line-height: 250px;">
                    <div class="incident_head_div"><h1>待处理</h1></div>
                    <div class="incident_body_div" ><%= @count_assign.size.to_s%></div>
                  </div>
              <% elsif @count_assign.size == 1%>
                  <div class="incident_div" style="font-size: 50px;background-color: #ffa0a0">
                    <div class="incident_head_div"><h1>待处理</h1></div>
                    <div class="incident_body_div" ><%= @count_assign.size.to_s%></div>
                    <div class="incident_foot_div">
                      <div class="incident_foot_left_div"><%= @count_assign.first[:request_number]%></div>
                      <div class="incident_foot_right_div"><%= @count_assign.first[:category_name]%></div>
                    </div>
                  </div>
              <% else%>
                  <div class="incident_div" style="font-size: 50px; background-color: #ffa0a0">
                    <div class="incident_head_div"><h1>待处理</h1></div>
                    <div class="incident_body_div" ><%= @count_assign.size.to_s%></div>
                    <div class="incident_foot_div">
                      <div class="incident_foot_left_div" style="float: left; margin-left: 25px;font-size: 20px;"><%= @count_assign.first[:request_number]%></div>
                      <div class="incident_foot_right_div"><%= @count_assign.first[:category_name]%></div>
                    </div>
                  </div>
              <% end %>
            </td>
            <!-- 处理中的事故单 -->
            <td rowspan="6">
              <% if @count_solving.size == 0 %>
                  <div class="incident_div" style="display:block; width: 300px;line-height: 250px;">
                    <div class="incident_head_div"><h1>处理中</h1></div>
                    <div class="incident_body_div" ><%= @count_solving.size.to_s%></div>
                  </div>
              <% elsif @count_solving.size == 1%>
                  <div class="incident_div" style="font-size: 50px;background-color: #ffa0a0">
                    <div class="incident_head_div"><h1>处理中</h1></div>
                    <div class="incident_body_div" ><%= @count_solving.size.to_s%></div>
                    <div class="incident_foot_div">
                      <div class="incident_foot_left_div"><%= @count_solving.first[:request_number]%></div>
                      <div class="incident_foot_right_div"><%= @count_solving.first[:category_name]%></div>
                    </div>
                  </div>
              <% else%>
                  <div class="incident_div" style="font-size: 50px; background-color: #ffa0a0">
                    <div class="incident_head_div"><h1>处理中</h1></div>
                    <div class="incident_body_div" ><%= @count_solving.size.to_s%></div>
                    <div class="incident_foot_div">
                      <div class="incident_foot_left_div" style="float: left; margin-left: 25px;font-size: 20px;"><%= @count_solving.first[:request_number]%></div>
                      <div class="incident_foot_right_div"><%= @count_solving.first[:category_name]%></div>
                    </div>
                  </div>
              <% end %>
            </td>
            <!-- 已完成的事故单 -->
            <td rowspan="6">
              <% if @count_close.size == 0 %>
                  <div class="incident_div" style="display:block; width: 300px;line-height: 250px;">
                    <div class="incident_head_div"><h1>已完成</h1></div>
                    <div class="incident_body_div" ><%= @count_close.size.to_s%></div>
                  </div>
              <% elsif @count_close.size == 1%>
                  <div class="incident_div" style="font-size: 50px;background-color: #ffa0a0">
                    <div class="incident_head_div"><h1>已完成</h1></div>
                    <div class="incident_body_div" ><%= @count_close.size.to_s%></div>
                    <div class="incident_foot_div">
                      <div class="incident_foot_left_div"><%= @count_close.first[:request_number]%></div>
                      <div class="incident_foot_right_div"><%= @count_close.first[:category_name]%></div>
                    </div>
                  </div>
              <% else%>
                  <div class="incident_div" style="font-size: 50px; background-color: #ffa0a0">
                    <div class="incident_head_div"><h1>已完成</h1></div>
                    <div class="incident_body_div" ><%= @count_close.size.to_s%></div>
                    <div class="incident_foot_div">
                      <div class="incident_foot_left_div" style="float: left; margin-left: 25px;font-size: 20px;"><%= @count_close.first[:request_number]%></div>
                      <div class="incident_foot_right_div"><%= @count_close.first[:category_name]%></div>
                    </div>
                  </div>
              <% end %>
            </td>
          </tr>
        </table>
        <!-- 当日问题监控之SLA报警 -->
        <table style="width:100%;table-layout:fixed" >
          <!-- 列数确定 -->
          <tr>
            <th style="width:25%;text-align: left;font-size: 25px">
              <h1>SLA超时监控</h1>
            </th>
            <th style="width:25%">
            </th>
            <th style="width:25%">
            </th>
            <th style="width:25%">
            </th>
          </tr>
          <tr>
            <td colspan="4">
              <table class="table table-bordered">
                <tr style="background-color: #F5F5F5;">
                  <th>问题单号</th>
                  <th>问题标题</th>
                  <th>客户名称</th>
                  <th>处理者</th>
                  <th>问题提交日期</th>
                  <th>SLA超时原因</th>
                </tr>
                <% count = 0
                   @sla_list.each do |sl|
                %>
                    <tr class="<%=(count/4).round(0)%>" index="scroll">
                      <td><%=sl[:request_number] %></td>
                      <td><%=sl[:title] %></td>
                      <td><%=sl[:organization_name] %></td>
                      <td><%=sl[:supporter_name] %></td>
                      <td><%=format_date(sl[:submitted_date]) %></td>
                      <td><%=sl[:service_name] %></td>
                    </tr>
                <%
                   count = count + 1
                   end
                %>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="item">
      <!-- 当日高优先级问题 -->
      <div class="table-responsive">
        <!-- 当日问题监控-->
        <table style="width:100%;table-layout:fixed" >
          <!-- 列数确定 -->
          <tr>
            <th style="width:15%;text-align: left;font-size: 25px">
              <h1>当日高优先级问题</h1>
            </th>
            <th style="width:35%">
            </th>
            <th style="width:35%">
            </th>
            <th style="width:15%">
            </th>
          </tr>
          <tr>
            <td></td>
            <td rowspan="6">
              <% if @urgence_new.size == 0 %>
                  <div class="incident_div" style="display:block; line-height: 250px;">
                    <div class="incident_head_div"><h1>当日紧急问题</h1></div>
                    <div class="incident_body_div"><%= @urgence_new.size.to_s%></div>
                  </div>
              <% else %>
                  <div class="incident_div" style="font-size: 50px; background-color: #ffa0a0">
                    <div class="incident_head_div"><h1>当日紧急问题</h1></div>
                    <div class="incident_body_div" ><%= @urgence_new.size.to_s%></div>
                    <div class="incident_foot_div">
                      <div class="incident_foot_left_div" style="float: left; margin-left: 25px;font-size: 20px;"></div>
                      <div class="incident_foot_right_div"></div>
                    </div>
                    <audio autoplay="autoplay">
                      Your browser does not support the <code>audio</code> element.
                      <source src="4846.wav" type="audio/wav">
                    </audio>
                  </div>
              <% end %>
            </td>
            <td rowspan="6">
              <% if @high_new.size == 0 %>
                  <div class="incident_div" style="display:block; width: 300px;line-height: 250px;">
                    <div class="incident_head_div"><h1>当日高紧急度问题</h1></div>
                    <div class="incident_body_div" ><%= @high_new.size.to_s%></div>
                  </div>
              <% else%>
                  <div class="incident_div" style="font-size: 50px; background-color: #ffa0a0">
                    <div class="incident_head_div"><h1>当日高紧急度问题</h1></div>
                    <div class="incident_body_div" ><%= @high_new.size.to_s%></div>
                    <div class="incident_foot_div">
                      <div class="incident_foot_left_div" style="float: left; margin-left: 25px;font-size: 20px;"></div>
                      <div class="incident_foot_right_div"></div>
                    </div>
                  </div>
              <% end %>
            </td>
            <td></td>
          </tr>
        </table>
        <table style="width:100%;table-layout:fixed" >
          <!-- 列数确定 -->
          <tr>
            <th style="width:25%;text-align: left;font-size: 25px">
              <h1>高紧急度问题列表</h1>
            </th>
            <th style="width:25%">
            </th>
            <th style="width:25%">
            </th>
            <th style="width:25%">
            </th>
          </tr>
          <tr>
            <td colspan="4">
              <table class="table table-bordered">
                <tr style="background-color: #F5F5F5;">
                  <th>问题单号</th>
                  <th>问题标题</th>
                  <th>优先级</th>
                  <th>客户名称</th>
                  <th>处理者</th>
                  <th>问题提交日期</th>
                  <th>状态</th>
                </tr>
                <% count = 0
                   @high_urgence_today.each do |sl|
                %>
                    <tr class="<%=(count/4).round(0)%>" index="scroll_urgence">
                      <td><%=sl[:request_number] %></td>
                      <td><%=sl[:title] %></td>
                      <td><%=sl[:urgence_name] %></td>
                      <td><%=sl[:organization_name] %></td>
                      <td><%=sl[:supporter_name] %></td>
                      <td><%=format_date(sl[:submitted_date]) %></td>
                      <td><%=sl[:incident_status_name]%></td>
                    </tr>
                <%
                   count = count + 1
                   end
                %>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="item">
      <div><p style="font-size: 25px">当月问题分析</p></div>
      <!-- 问题分析一 -->
      <div>
          <div id="open_pie_chart"></div>
          <div id="open_pie_chart_by_service_desk"></div>
          <div id="incident_by_type_code"></div>
          <div id="incident_by_urgence"></div>
      </div>
    </div>
  </div>
  <!-- 轮播（Carousel）导航 -->
  <a class="carousel-control left" href="#myCarousel"
     data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel"
     data-slide="next">&rsaquo;</a>
</div>

<script type="text/javascript">

    $(function () {
        $('#incident_by_type_code').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y} ({point.percentage:.1f}%)'
                    },
                    showInLegend: true
                }
            },
            //colors: [<%
                color = ''
                count = 0
                @table_a_incident_by_type_code.each do |c|
                    color = color + "'#{c[2]}'"
                    color = color + ',' if c != @table_a_incident_by_type_code.last
                    count = count + c[1]
                end
                color
            %>
            //],
            title: {
                text: '类别分析 (<%= count.to_s%>)'
            },
            legend: {
                enabled: false
            },
            series: [{
                type: 'pie',
                name: 'Category',
                data: <%= raw @table_a_incident_by_type_code%>
            }]
        });
        $('#incident_by_urgence').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y} ({point.percentage:.1f}%)'
                    },
                    showInLegend: true
                }
            },
            //colors: [<%
                color = ''
                count = 0
                @table_a_incident_by_urgence.each do |c|
                    color = color + "'#{c[2]}'"
                    color = color + ',' if c != @table_a_incident_by_urgence.last
                    count = count + c[1]
                end
                color
            %>
            //],
            title: {
                text: '优先级分析 (<%= count.to_s%>)'
            },
            legend: {
                enabled: false
            },
            series: [{
                type: 'pie',
                name: 'Urgent',
                data: <%= raw @table_a_incident_by_urgence%>
            }]
        });
        $('#open_pie_chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y} ({point.percentage:.1f}%)'
                    },
                    showInLegend: true
                }
            },
            //colors: [<%
                color = ''
                count = 0
                @table_a_incident_by_category_open.each do |c|
                    color = color + "'#{c[2]}'"
                    color = color + ',' if c != @table_a_incident_by_category_open.last
                    count = count + c[1]
                end
                color
            %>
            //],
            title: {
                text: '模块分析 (<%= count.to_s%>)'
            },
            legend: {
                enabled: false
            },
            series: [{
                type: 'pie',
                name: 'Module',
                data: <%= raw @table_a_incident_by_category_open%>
            }]
        });
        $('#open_pie_chart_by_service_desk').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            //colors: [<%
                color = ''
                count = 0
                @table_a_open_by_service_desk.each do |c|
                    color = color + "'#{c[2]}'"
                    color = color + ',' if c != @table_a_open_by_service_desk.last
                    count = count + c[1]
                end
                color
            %>
            //],
            title: {
                text: '状态分析 (<%= count.to_s%>)'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y} ({point.percentage:.1f}%)'
                    },
                    showInLegend: true
                }
            },
            legend: {
                enabled: false
            },
            series: [{
                type: 'pie',
                name: 'Status',
                data: <%= raw @table_a_open_by_service_desk%>
            }]
        });
        $('#daily_chart').highcharts({
            title: {
                text: 'Amount of incident(historical)',
                x: -20 //center
            },
            subtitle: {
                x: -20
            },
            xAxis: {
                categories: ['<%= @table_a_date.join("','")%>'],
                labels: {
                    style: {
                        fontSize: '10px'
                    }
                }
            },
            yAxis: [{
                title: {
                    text: 'Daily & Daily Close'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                min:0
            }],
            colors: ['#EF305B','#60D267','#7cb5ec','#434343'],
            tooltip: {
//                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                type: 'line',
                name: '7 Days Avg Created',
                data: [<%= @daily_avg_open.join(',')%>],
                dataLabels: {
                    enabled: false,
                    rotation: -90,
                    color: '#000000',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }, {
                type: 'line',
                name: '7 Days Avg Closed',
                data: [<%= @daily_avg_close.join(',')%>],
                dataLabels: {
                    enabled: false,
                    rotation: -90,
                    color: '#000000',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }, {
                type: 'column',
                name: 'Daily Created',
                data: [<%= @daily_open.join(',')%>],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#000000',
                    align: 'right',
                    x: 4,
                    y: -1,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }, {
                type: 'column',
                name: 'Daily Closed',
                data: [<%= @daily_close.join(',')%>],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#000000',
                    align: 'right',
                    x: 4,
                    y: -1,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            } ]
        });

        $('.carousel').carousel({
            interval: 12000   //指定10秒滚动到下一个div
        })
        $("tr[index='scroll'],tr[index='scroll_urgence']").hide()
        $("tr[class='0']").show()
    });
    function myrefresh()
    {
        window.location.reload();
    }
    function scroll(){
//      首先查找出显示的tr
        var current = $("tr[style='display: table-row;'][index='scroll']").eq(0).attr("class")
        $("tr[style='display: table-row;'][index='scroll']").hide()

        if($("tr[class='"+(parseInt(current)+1)+"'][index='scroll']").length>0)
            $("tr[class='"+(parseInt(current)+1)+"'][index='scroll']").show()
        else
            $("tr[class='0'][index='scroll']").show()

        var current_urgence = $("tr[style='display: table-row;'][index='scroll_urgence']").eq(0).attr("class")
        $("tr[style='display: table-row;'][index='scroll_urgence']").hide()

        if($("tr[class='"+(parseInt(current_urgence)+1)+"'][index='scroll_urgence']").length>0)
            $("tr[class='"+(parseInt(current_urgence)+1)+"'][index='scroll_urgence']").show()
        else
            $("tr[class='0'][index='scroll_urgence']").show()
//        if($("."+(parseInt(current)+1)).length>0)
//            $("."+(parseInt(current)+1)).show()
//        else
//            $(".0").show()
    }
    setInterval('scroll()',5000)
    setTimeout('myrefresh()',180000); //指定90秒刷新一次

</script>

