<div class="sub-block">
    <h3 class="lbHeader"></h3>
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
      <tbody>
        <tr>
          <td class="pbTitle"><h3 class="lbHeader"><%= t(:label_irm_task_mine) %></h3></td>
          <td id="topButtonRow" class="pbButton">
          </td>
          <td class="pbHelp">
            <div><%= t(:label_irm_task_type) %>:<%= blank_select_tag(:task_entry,my_task_entries,params[:task_entry],{:id=>"myTaskEntryType"}) %></div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pbBody">
    <div class="pbSubsection" id="myTasks" href="<%= back_url_for({:controller=> "home", :action=>"my_tasks",:task_entry=>"{task_entry}",:back=>true}) %>">
      <%= render({:partial=>"irm/home/tasks",:locals=>{:tasks=>acts_as_tasks}}) %>
    </div>
    </div>
</div>


<script type="text/javascript">
  $(function(){
      $("#myTaskEntryType").change(function(e){
          var refreshNode = $("#myTasks")
          var url = decodeURIComponent(refreshNode.attr("href"));
          url = url.replace("{task_entry}",$("#myTaskEntryType").val());
          if (url.indexOf("?") > 0) {
              url += "&_dom_id=myTasks";
          }else{
              url += "?_dom_id=myTasks";
          }
          refreshNode.load(url);
      });
  });
</script>