<% require_css(:jpolite) %>
<% require_javascript(:jpolite) %>
<style type="text/css">
  .dragging{
      border: 2px dashed;
      border-color: gray;
      min-height: 80px;
  }
  td.added img{
      visibility: hidden;
  }
</style>
<ul id="main_nav" style="display:none;">
   <li id="t1"><b class="hover">homePage</b></li>
</ul>
<div id="jpolite_content"  class="jpolite-container">
    <div id="c1" class="cc"></div>
	<div id="c2" class="cc"></div>
	<div id="c3" class="cc"></div>
    <div id="c4" class="cc"></div>
</div>

<!-- A default template is required here without an ID -->
<div class="module_template">
	<div class="moduleFrame">
		<div class='moduleHeader'>
			<div class='moduleTitle'></div>
			<div class='moduleActions'>
				<b title="Refresh" class="actionRefresh"></b>
				<b title="Collapse" class="actionMin"></b>
				<b title="Expand" class="actionMax"></b>
				<b title="Close" class="actionClose"></b>
			</div>
		</div>
		<div class='moduleContent'>
		</div>
	</div>
</div>

<% portlets = my_portlets %>
<div style="display:none;">
    <div id="portletList" style="background-color: transparent; width: 300px; height:160px;padding: 30px 10px 10px 10px;">
      <table id="modules" style="font-size:12px;width:100%;">
        <% (0..portlets.length-1).step(3) do |index| %>
          <tr>
            <td>
              <%= check_img("Y") %>
              <a class="addModule" onclick="javascript:void(0)" ref="<%= portlets[index].id%>"><%= portlets[index][:name] %></a>
            </td>
            <td>

              <% if portlets[index+1] %>
                <%= check_img("Y") %>
                <a class="addModule"  onclick="javascript:void(0)" ref="<%= portlets[index+1].id%>"><%= portlets[index+1][:name]  %></a>
              <% end %>
            </td>
            <td>
              <% if portlets[index+2] %>
                  <%= check_img("Y") %>
                  <a class="addModule"  onclick="javascript:void(0)" ref="<%= portlets[index+2].id%>"><%= portlets[index+2][:name]  %></a>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
</div>

<script>
  var _modules=window["eval"]("(" +'<%=portlets_json%>'+ ")");
  var _moduleLayout=window["eval"]("(" +"<%=portlets_config%>"+ ")");
  var _columnLayout = {
	_default: { bg:'normal',
		        c1:'span-24 last',
		        c2:'span-12',
		        c3:'span-12 last',
		        c4:'span-24 last'
	           }
  };
  initPortal({});
  $(function(){
      $("#portalSetting").click(function(e){
          //已经显示在portal中的模块
          var showedModules = $.jpolite.getShowModules();
          $("#portletList a.addModule").each(function(index,module){
              var id = $(module).attr("ref");
              if(showedModules.indexOf("m"+id)>-1){
                  $(module).parent().removeClass("added");
              }else{
                  $(module).parent().addClass("added");
              }
          });
          $.colorbox({inline:true, opacity:0.55, title:"<%= t(:label_irm_portlet_custom_home_page) %>", speed: 0,href:"#portletList"});
      });
      $("#portletList a.addModule").click(function(e){
            $.jpolite.addModule({
				id: "m"+$(e.currentTarget).attr("ref"),
				c:	'c1',	//Add to c1 of current tab by default
				mc: '',
				mt:	''
			});
            $(e.currentTarget).parent().removeClass("added");
      });
  });

</script>