<% require_css(:jpolite) %>
<% require_javascript(:jpolite) %>
<style type="text/css">
  .dragging{
      border: 2px dashed;
      border-color: gray;
      min-height: 80px;
  }
</style>
<ul id="main_nav" style="display:none;">
   <li id="t1"><b class="hover">homePage</b></li>
</ul>
<div id="jpolite_content"  class="jpolite-container">
    <div id="c1" class="cc"></div>
	<div id="c2" class="cc"></div>
	<div id="c3" class="cc"></div>
    <div id="c4" class="cc"></div>
</div>

<!-- A default template is required here without an ID -->
<div class="module_template">
	<div class="moduleFrame">
		<div class='moduleHeader'>
			<div class='moduleTitle'></div>
			<div class='moduleActions'>
				<b title="Refresh" class="actionRefresh"></b>
				<b title="Collapse" class="actionMin"></b>
				<b title="Expand" class="actionMax"></b>
				<b title="Close" class="actionClose"></b>
			</div>
		</div>
		<div class='moduleContent'>
		</div>
	</div>
</div>

<% portlets = my_portlets %>
<div style="display:none;">
    <div id="portletList" style="background-color: transparent; width: 300px; height:160px;padding: 30px 10px 10px 10px;">
      <table style="font-size:12px;width:100%;">
        <% (0..portlets.length-1).step(3) do |index| %>
          <tr>
            <td>
              <%= check_img("Y") %>
              <a class="addModule" onclick="javascript:void(0)" ref="<%= portlets[index].id%>"><%= portlets[index][:name] %></a>
            </td>
            <td>

              <% if portlets[index+1] %>
                <%= check_img("Y") %>
                <a class="addModule"  onclick="javascript:void(0)" ref="<%= portlets[index+1].id%>"><%= portlets[index+1][:name]  %></a>
              <% end %>
            </td>
            <td>
              <% if portlets[index+2] %>
                  <%= check_img("Y") %>
                  <a class="addModule"  onclick="javascript:void(0)" ref="<%= portlets[index+2].id%>"><%= portlets[index+2][:name]  %></a>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
</div>

<script>
  var _modules=window["eval"]("(" +'<%=portlets_json%>'+ ")");
  var _moduleLayout=window["eval"]("(" +"<%=portlets_config%>"+ ")");
  var _columnLayout = {
	_default: { bg:'normal',
		        c1:'span-24 last',
		        c2:'span-12',
		        c3:'span-12 last',
		        c4:'span-24 last'
	           }
  };
  var portal_options, customNav = window.name;
  switch(customNav) {
     case	'1':	//Kwicks
			//A little cusomization to the appearance of tabs, for production system, set it in CSS instead
			$("li", "#main_nav").css({width:'90px', padding:0, textAlign:'center'});
			portal_options = {
				navInit:$.fn.kwicks,
				navInitArguments:{max:130, spacing:5, sticky:true, event:'click'}
			};
			break;
	case	'2':	//LavaLamp
			//A little cusomization to the appearance of tabs, for production system, set it in CSS instead
			$("li", "#main_nav").css({background:"transparent", border:0});
			portal_options = {
				navInit:$.fn.lavaLamp,
				navInitArguments:{startItem:0, speed:800}
			};
			break;
	default://3 or else - Traditional
			portal_options = {navInit:TraditionalTabs};
  }
  portal_options.its =  "li, dd";
  portal_options.layoutPersistence = [
    function() {
        return window["eval"]("(" + $.cookie('jpolite2layout') + ")")
    },
    function(portal_options) {
        //通过ajax保存配置信息至数据库
        $.ajax({
          type: 'POST',
          url: '/portlet_configs/save_portal_config',
          data: {portal_config: portal_options},
          dataType: 'json',
          success: function(data) { },
          error: function() {}
        });
        //设置portal 配置到cookie
        return $.cookie('jpolite2layout', portal_options);
    }
  ]
  initPortal(portal_options);
  $(function(){
      $("#portalSetting").click(function(e){
          $.colorbox({inline:true, opacity:0.55, title:"<%= t(:label_irm_portlet_custom_home_page) %>", speed: 0,href:"#portletList"});
      });
      $("#portletList a.addModule").click(function(e){
            $.jpolite.addModule({
				id: "m"+$(e.currentTarget).attr("ref"),
				c:	'c1',	//Add to c1 of current tab by default
				mc: '',
				mt:	''
			});
      });
  });

</script>