<%= stylesheet_link_tag "event_calendar" %>
<div class="bPageTitle">
  <div class="ptBody secondaryPalette">

      <%= image_tag Irm::Person.current.avatar.url(:large), :id => "crop_box", :style => "width: 45px; height: 45px;", :class => "thumbnail_visible" %>

    <div class="greeting">
      <div class="content">
          <span class="pageType">
            <h1 class="currentStatusUserName">
              <%= link_to Irm::Person.current.name, {:controller => "irm/my_info", :action => "index"} %>
            </h1>
          </span>
          <span class="pageDescription"><%= Time.now.strftime(t("date.formats.long")) + t("date.day_names")[Time.now.strftime("%w").to_f]%></span>
      </div>
    </div>
    <div class="links">
      <a onclick="window.open ('/pagehelpfiles/home.html', 'Ironmine_Help', 'height=800px, width=870px, top=0, left=0, toolbar=no, menubar=no,scrollbars=yes, location=no, status=no');" href="#"><%=t(:current_page_help)%></a>
    </div>
  </div>
</div>
<div class="pbSubsection" id="templateBody">
  <!--<ul>-->
      <!--<li><a id="portal" href="#tab_portal"><%= t :my_view %></a></li>-->
      <!--<li><a id="calendar_task" href="#tab_calendar_task"><%= t :calendar_task %></a></li>-->
  <!--</ul>-->
    <div id="tab_portal">
        <table class="toolsContent">
            <tbody>
                <tr>
                  <td colspan="2">
                    <div class="toolsContentRight">
                      <%= render :partial => "irm/bulletins/bulletin_portlet" %>
                    </div>
                  </td>
                </tr>
                <% if allow_to_function?(:reply_survey) %>
                <tr>
                  <td colspan="2">
                    <div class="toolsContentRight">
                      <%= render :partial => "csi/surveys/my_surveys" %>
                    </div>
                  </td>
                </tr>
                <% end %>
                <% if allow_to_function?(:workflow_approval) %>
                <tr>
                  <td colspan="2">
                    <div class="toolsContentRight">
                      <%= my_approvals %>
                    </div>
                  </td>
                </tr>
                <% end %>
                <tr>
                  <td colspan="2">
                    <div class="toolsContentRight">
                    </div>
                  </td>
                </tr>
            </tbody>
        </table>
  </div>
</div>



<% content_for :sidebar do%>
    <%= render :partial =>"/icm/incident_requests/short_cut_new" %>
    <%= render :partial =>"/irm/common/recently_objects" %>
<% end %>
