<div class="page-title">
  <div class="pt-body secondary-palette">
      <%= image_tag Irm::Person.current.avatar.url(:large), :id => "crop_box", :style => "width: 45px; height: 45px;", :class => "thumbnail-visible" %>

    <div class="greeting">
      <div class="content">
          <span class="page-type">
            <h1 class="current-status-user-name">
              <%= link_to Irm::Person.current.name, {:controller => "irm/my_info", :action => "index"} %>
            </h1>
          </span>
          <span class="page-description"><%= Time.now.strftime(t("date.formats.long")) + ' ' + t("date.day_names")[Time.now.strftime("%w").to_f]%></span>
      </div>
    </div>
    <div class="links">
      <!--<a onclick="window.open ('/pagehelpfiles/home.html', 'Ironmine_Help', 'height=800px, width=870px, top=0, left=0, toolbar=no, menubar=no,scrollbars=yes, location=no, status=no');" href="#"><% t(:current_page_help)%></a>-->
    </div>
  </div>
</div>
<div class="pbSubsection" id="templateBody">
    <div id="tab_portal">
        <table class="tools-content">
            <tbody>
                <tr>
                  <td colspan="2">
                    <div class="tools-content-right">
                      <%= render :partial => "irm/bulletins/bulletin_portlet" %>
                      <div id="editor"></div>
                    </div>
                  </td>
                </tr>
                <% if allow_to_function?(:reply_survey) %>
                <tr>
                  <td colspan="2">
                    <div class="tools-content-right">
                      <%= render :partial => "csi/surveys/my_surveys" %>
                    </div>
                  </td>
                </tr>
                <% end %>
                <% if allow_to_function?(:workflow_approval) %>
                <tr>
                  <td colspan="2">
                    <div class="tools-content-right">
                      <%= my_approvals %>
                    </div>
                  </td>
                </tr>
                <% end %>
                <tr>
                  <td colspan="2">
                    <div class="tools-content-right">
                    </div>
                  </td>
                </tr>
            </tbody>
        </table>
  </div>
</div>



<% content_for :sidebar do%>
    <%= render :partial =>"/icm/incident_requests/short_cut_new" %>
    <%= render :partial =>"/irm/common/recently_objects" %>
<% end %>
