<%= common_title(:show_data=>@bulletin.title) %>
<% require_javascript(:extjs) %>
<% require_css(:extjs) %>

<%= form_for(@bulletin,:url=>{:action=>"update"},:builder => LabellingFormBuilder, :html => {:multipart => true}) do |f| %>
<%= hidden_field_tag :return_url,@return_url %>
<%= f.hidden_field :column_ids %>
<style type="text/css">
  div.actonType{
      float:left;
  }
</style>
<div id="ep" class="edit-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_bulletin_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save), :id => "new_bulletin_submit_top"%></div>
            <% if @return_url %>
              <div class="button"><%= link_to t(:cancel), @return_url%></div>
            <% else %>
              <div class="button"><%= link_to t(:cancel), {:controller => "irm/home",:action=>"index"}%></div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @bulletin%>
    <%= flash_notice %>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_bulletin_title)%></label></td>
              <td class="data2Col"><%=f.text_field :title, :required=>true,:style => "width:80%;min-with:200px;"%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_bulletin_content)%></label></td>
              <td class="data2Col" colspan="4" width="100%">
                <%= f.text_area :content ,:id=>"msgEditor",:rows=>8, :required => true%>
                <%= rich_text_area("msgEditor",true) %>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_bulletin_sticky_flag)%></label></td>
              <td class="data2Col"><%=f.check_box :sticky_flag%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBody">
    <div class="pbSubheader first tertiaryPalette">
      <h3><%= t(:label_irm_bu_column) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_bu_column_choice)%></label></td>
              <td class="data2Col"><div id="tree-div" href="<%= url_for(:controller => "irm/bu_columns", :action=>"get_columns_data", :format=>:json) %>"></div></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBody">
    <div class="pbSubheader first tertiaryPalette">
      <h3><%= t(:label_irm_bulletin_access) %><span style="font-weight:normal;font-size:12px;">&nbsp;-&nbsp;<%=  t(:label_irm_bulletin_if_access_list_none)  %></span></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_irm_wf_rule_action_type) %></td>
              <td class="dataCol" width="82%">
                <%= render :partial => "irm/duel_select/tmpl",:locals => {:f=>f,:types=>duel_types,:sources=>duel_values,:str_value_field=>:access_str,:str_value=>@bulletin.get_access_str} %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- 加载上传附件模板 -->
  <%= render :partial=>"helper/upload_file_template",:locals=>{:type_flag => true, :exist_attachments => list_bulletin_existed_attachments(@bulletin) } %>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save), :id => "new_bulletin_submit"%></div>
            <% if @return_url %>
              <div class="button"><%= link_to t(:cancel), @return_url%></div>
            <% else %>
              <div class="button"><%= link_to t(:cancel), {:controller => "irm/home",:action=>"index"}%></div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>



<script>
Ext.onReady(function() {
    var treeNode = Ext.getDom("tree-div");

    Ext.define('ColumnField', {
        extend: 'Ext.data.Model',
        fields: [
            {name: 'id',type: 'string'},
            {name: 'text',type: 'string'},
            {name: 'sc_id',type: 'string'},
            {name: 'column_name',type: 'string'},
            {name: 'column_description',type: 'string'},
            {name: 'sc_code',type: 'string'}
        ]
    });
    var store = Ext.create('Ext.data.TreeStore', {
        model: "ColumnField",
        proxy: {type: 'ajax',url:  treeNode.getAttribute("href") + "?with_check=<%= @bulletin.column_ids%>"}
    });

    var tree = Ext.create('Ext.tree.Panel', {
        store: store,
        rootVisible: false,
        useArrows: true,
        renderTo: 'tree-div',
        width: 200,
        height: 80,
        listeners:{
            'itemclick':function(view, record, item, index, e){
                var column_ids = [];
                Ext.Array.each(tree.getChecked(), function(rec){
                    column_ids.push(rec.get('id'));
                });
                Ext.getDom("irm_bulletin_column_ids").setAttribute("value", column_ids);
            }
        }
    });

});
</script>