<%= common_title(:action_meaning=>t(:label_csi_survey_validate_password)) %>
<%= form_for(@survey,:url=>{:action=>"validate_password"},:builder => LabellingFormBuilder) do |f| %>
    <%= page_block("newImpact") do |pb|%>
        <%= pb.page_block_header(:title=>t(:label_csi_survey_validate_password)) do %>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
          <td class="pbHelp">
          </td>

        <% end %>
       <%= pb.page_block_body do %>
            <%= error_for @survey%>
            <%= sub_page_block("baseInfo") do |spb|%>
                <%= spb.sub_page_block_header(:title=>t(:label_csi_survey_validate_password),:first=>true)%>
                <%= spb.sub_page_block_body do %>
                    <table class="detailList" cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                        <tr>
                          <td class="labelCol"><label for="code"><%=t(:label_csi_survey_password)%></label></td>
                          <td class="dataCol"><%=f.text_field :password, :required=>true ,:id=>"password"%></td>
                          <td class="labelCol empty">&nbsp;</td>
                          <td class="dataCol empty">&nbsp;</td>
                        </tr>

                      </tbody>
                    </table>
                <% end %>
          <% end %>
        </div>
        <%= pb.page_block_footer do %>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        <% end %>
    <% end %>
    <% end %>
<% end %>

