<style type="text/css">
  select{
      min-width: 128px;
  }
</style>
<%= form_for(@application,:url=>{:action=>"create"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="edit-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_application_new)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @application %>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label for="application_code"><%=t(:label_irm_application_code)%></label></td>
              <td class="dataCol"><%=f.text_field :code, :required=>true ,:irm_uppercase=>true,:id=>"application_code"%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label for="application_name"><%=t(:label_irm_application_name)%></label></td>
              <td class="dataCol"><%=f.text_field :name, :required=>true ,:id=>"application_name"%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label for="application_tabs"><%=t(:label_irm_application_tabs)%></label></td>
              <td class="dataCol" colspan="3" width="82%">
                <table class="duel">
                  <tr class="duelTitle">
                    <th><%= t(:duel_selectable)%></th>
                    <th></th>
                    <th><%= t(:duel_selected)%></th>
                    <th></th>
                  </tr>
                  <tr class="duelList">
                    <td class="sourceCell">
                      <%= select_tag_alias(:source,available_tab,nil,{:id=>"source",:multiple=>true,:size=>7}) %>
                    </td>
                    <td class="buttonCell">
                      <div class="text"><%= t(:add) %></div>
                      <div class="text">
                        <a href="javascript:void(0)" id="duelAdd"><img title="<%= t(:add) %>" class="rightArrowIcon" alt="<%= t(:add) %>" src="<%= theme_image_path("s.gif") %>"></a>
                      </div>
                      <div class="text">
                        <a href="javascript:void(0)" id="duelRemove"><img title="<%= t(:delete) %>" class="leftArrowIcon" alt="<%= t(:delete) %>" src="<%= theme_image_path("s.gif") %>"></a>
                      </div>
                      <div class="duelingText"><%= t(:delete) %></div>
                    </td>
                    <td class="targetCell">
                      <%= f.hidden_field(:tabs_str,:value=>application_tab_str(@application),:id=>"tabs_str") %>
                      <%= select_tag_alias(:target,[],nil,{:id=>"target",:multiple=>true,:size=>7}) %>
                    </td>
                    <td class="buttonCell">
                      <div class="text"><%= t(:up) %></div>
                      <div class="text">
                        <a href="javascript:void(0)" id="duelUp"><img title="<%= t(:up) %>" class="upArrowIcon" alt="<%= t(:add) %>" src="<%= theme_image_path("s.gif") %>"></a>
                      </div>
                      <div class="text">
                        <a href="javascript:void(0)" id="duelDown"><img title="<%= t(:down) %>" class="downArrowIcon" alt="<%= t(:delete) %>" src="<%= theme_image_path("s.gif") %>"></a>
                      </div>
                      <div class="duelingText"><%= t(:down) %></div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label for="application_default_tab"><%=t(:label_irm_application_default_tab)%></label></td>
              <td class="dataCol"><%=f.blank_select :default_tab_id,[],{} ,:id=>"application_default_tab"%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label for="application_description"><%=t(:label_irm_application_description)%></label></td>
              <td class="dataCol" colspan="3" width="82%"><%=f.text_area :description,:rows=>4,:cols=>60 ,:id=>"application_description"%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<script type="text/javascript">
  GY.use("substitute","duelselect",function(Y){
    var duelselect = new Y.DuelSelect({source:"#source",target:"#target",valueNode:"#tabs_str",
                                       addButton:"#duelAdd",removeButton:"#duelRemove",
                                       upButton:"#duelUp",downButton:"#duelDown"});
    function syncOptions(){
      var OPTIONS_TEMPLATE = "<option value={value}>{label}</option>";
      var originValue = Y.one("#application_default_tab").get("value");
      Y.one("#application_default_tab").setContent("");
      Y.one("#target").all("option").each(function(e){
          Y.one("#application_default_tab").appendChild(Y.Node.create(Y.Lang.substitute(OPTIONS_TEMPLATE,{value:e.getAttribute("value"),label:e.getContent()})));
      });
      Y.one("#application_default_tab").set("value",originValue);
    }
    Y.one("#duelAdd").on("click",syncOptions);
    Y.one("#duelRemove").on("click",syncOptions);
    Y.one("#duelUp").on("click",syncOptions);
    Y.one("#duelDown").on("click",syncOptions);
    syncOptions();

  });
</script>