<%= page_title %>

<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_application) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @application}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_application_code)%></label></td>
              <td class="dataCol"><div><%= @application.code %></div></td>
              <td class="labelCol empty"><div>&nbsp;</div></td>
              <td class="dataCol empty"><div>&nbsp;</div></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_application_name)%></label></td>
              <td class="dataCol"><div><%= @application[:name] %></div></td>
              <td class="labelCol empty"><div>&nbsp;</div></td>
              <td class="dataCol empty"><div>&nbsp;</div></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_application_tabs)%></label></td>
              <td class="dataCol" colspan="3" style="width:82%">
                <div>
                  <%tabs =  @application.tabs.multilingual%>
                  <% tabs.each do |tab| %>
                    <div><%= tab[:name] %></div>
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_application_default_tab)%></label></td>
              <td class="dataCol"><div><%= t = tabs.detect{|i| i.id.eql?(application_default_tab_id(@application))}; t[:name] if t %></div></td>
              <td class="labelCol empty"><div>&nbsp;</div></td>
              <td class="dataCol empty"><div>&nbsp;</div></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_tab_description)%></label></td>
              <td class="dataCol" colspan="3" style="width:82%"><div><%= @application.description %></div></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%=render :partial=>"multilingual/show",:locals=>{:main_data=>@application} %>
