<%= common_title(:model_meaning=>"【#{current_system[:system_name]}】") %>
<style type="text/css">
    .unreal-hidden {
        visibility:hidden;
        position:absolute;
        top:-2000px;
        left:-2000px;
    }
    .page-block-button form{
        margin: 0;
    }
</style>
<!--页面结构-->
<div class="show-block">
  <% if support_group_systems_num(@support_group.id) > 1 %>
    <div class="alert">
      <strong>Tips！</strong><%= t(:label_icm_support_group_has_n_systems, :n => support_group_systems_num(@support_group.id) ) %>
    </div>
  <% end %>
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_icm_support_group_show) %></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:back), {:action => "index"},:class=>"btn" %>
    </td>
    <td class="page-block-help">

    </td>
  </tr></table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
      <tr>
        <td class="label-col"><label><%=(t :label_icm_support_group_code)%></label></td>
        <td class="data-col"><%=@group.code%></td>
        <td class="label-col"><label><%=(t :label_icm_support_group_oncall_flag)%></label></td>
        <td class="data-col"><%= check_img(@support_group.oncall_flag)%></td>
      </tr>
      <tr>
        <td class="label-col"><label><%=(t :label_icm_support_group_name)%></label></td>
        <td class="data-col"><%=@group[:name]%></td>
        <td class="label-col"><label><%=(t :label_icm_support_group_vendor_flag)%></label></td>
        <td class="data-col"><%= check_img(@support_group.vendor_flag) %></td>
      </tr>

      <tr>
        <td class="label-col"><label><%=t(:label_icm_support_group_assignment_process_code)%></label></td>
        <td class="data-col">
          <%=look_up_meaning("ICM_ASSIGN_PROCESS_TYPE", @support_group.assignment_process_code) %>
        </td>
        <!-- 如果流程为指派人 -->
        <% if @support_group.assign_person_id.present? -%>
            <td class="label-col"><label><%=(t :label_icm_support_group_assign_person)%></label></td>
            <td class="data-col">
              <%= assign_person_name(@support_group.assign_person_id) %>
            </td>
        <% end -%>
      </tr>
      <tr>
        <td class="label-col"><label><%=(t :label_status_code)%></label></td>
        <td class="data-col">
          <%=look_up_meaning("SYSTEM_STATUS_CODE", @support_group.status_code) %>
        </td>
        <td class="label-col"></td>
        <td class="data-col"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<% content_for :form_buttons do %>
    <%= link_submit t(:label_irm_external_system_save_selected),{:class=>"btn btn-info"}%>
    <%= link_to(t(:cancel),{}, :href =>"javascript:void(0);", :onclick=>"display_list_grid()",:class=>"btn")%>
<% end %>

<%= form_tag({:action=>"add_people", :sid => current_system.id, :group_id => @group.id, :id => params[:id]},:builder => CustomFormBuilder) do |f| %>
<%= hidden_field_tag :add_person_ids %>
<!--页面结构-->
<div class="page-block unreal-hidden" id="addPersonGrid">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_external_system_add_people) %>&nbsp;<%= t(:label_irm_select_result) %></h2>
    </td>
    <td class="page-block-button">
      <%= content_for :form_buttons %>
    </td>
    <td class="page-block-help">
      <div id="personableSearchBox"></div>
    </td>
  </tr></table>
  <div class="page-block-body">
    <%= datatable("support_group_person_system",{:controller=>"icm/system_support_groups",:action=>"get_available_people_data",:sid => current_system.id,:group_id=>@group.id},[],{:search_box => "personableSearchBox",:paginator_box=>"personablePaginator",:select=>"multiple"})%>
  </div>
  <table class="page-block-footer">
    <tr>
      <td class="page-block-title"></td>
      <td class="page-block-button">
        <%= content_for :form_buttons %>
      </td>
    </tr>
  </table>
</div>
<% end %>




<!--页面结构-->
<div class="page-block" id="listPersonGrid">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%=t(:label_irm_group_member)%></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:label_irm_external_system_add_people),{}, :href => "javascript:void(0)", :onclick=>"display_select_people()",:class=>"btn btn-info" %>
    </td>
    <td class="page-block-help">
      <div id="peopleOwnedSearchBox"></div>
    </td>
  </tr></table>
  <div class="page-block-body">
    <%= datatable("support_group_person",{:controller=>"icm/system_support_groups",:action=>"get_owned_people_data",:sid => current_system.id,:group_id=>@group.id, :id => params[:id]},[],{:search_box => "peopleOwnedSearchBox",:paginator_box=>"personOwnedPaginator"})%>
  </div>
</div>

<script type="text/javascript">
    function display_select_people(){
        $("#addPersonGrid").removeClass("unreal-hidden");
        $("#listPersonGrid").addClass("unreal-hidden");
        $("#add_person_ids").val("");
    }

    function display_list_grid(){
        $("#addPersonGrid").addClass("unreal-hidden");
        $("#listPersonGrid").removeClass("unreal-hidden");
    }

    $(document).ready(function(){
        $("#support_group_person_system").bind('selectionchange',function(event,ids){
            $("#add_person_ids").val(ids.join(","));
        });
    });
</script>