<%= common_title(:action_meaning=>t(:label_chm_advisory_board_member_new)) %>

<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_chm_advisory_board_member_new) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <%= form_tag({:action=>"create", :advisory_board_id => @advisory_board.id}) do |f| %>
                  <%= hidden_field_tag(:person_ids,params[:person_ids],:id=>"person_ids") %>
                  <%= hidden_params_field(:back_url) %>
                  <div class="button"><%= link_submit t(:add),:id=>"formSubmit"%></div>
                  <div class="button"><%= link_back %></div>
                <% end %>
              </td>
              <td class="pbHelp">
                <div id="advisory_boardsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="people" class="datatable" style="width:100%">
        </div>
        <%= datatable("people",{:action=>"get_data",:format=>"json"},
                      [{:key=>"id",:label=>t(:operation), :hidden => true},
                       { :key => "full_name", :label => t(:label_irm_person_full_name),:searchable=>true },
                       { :key => "email_address", :label => t(:label_irm_person_email_address),:searchable=>true },
                       { :key => "organization_name", :label => t(:label_irm_organization),:searchable=>true }],
                      {:paginator_box=>"advisory_boardsPaginatorBox",:search_box=>"advisory_boardsSearchBox",:select=>"multiple",:force_html=>true})%>
        <div id="advisory_boardsPaginatorBox"></div>
      </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        $("#people").bind('selectionchange',function(event,ids){
            $("#person_ids").val(ids.join(","));
        });
    });
    $("#formSubmit").click(function(e){
        if($("#person_ids").val().length<1){
          alert($.i18n("atLastSelectOneRecord"));
          return false;
        }
    });
</script>
