<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table count="<%=@count%>">
         <thead>
           <tr>
             <th style="width:300px;">
               <div><%= t(:label_irm_group_name) %></div>
             </th>
             <th>
               <div><%= t(:label_irm_group_description) %></div>
             </th>
           </tr>
         </thead>
         <tbody>
         <% @datas.each do |data| %>
         <tr id="<%=data[:id]%>">
           <td>
             <div>
               <%= data[:name] %>
             </div>
           </td>
           <td>
             <div>
               <%=data[:description]%>
             </div>
           </td>

         </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->