<%= common_title(:action_meaning=>t(:label_action_new)) %>
<div id="ep" class="detail-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_person_show) %></h2></td>
          <td class="pbButton">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_identity_login_name)%></label></td>
              <td class="dataCol"><%= @person.login_name%></td>
              <td class="labelCol"><label><%=(t :label_irm_person_role)%></label></td>
              <td class="dataCol"><%=@person[:role_name]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_person_email_address)%></label></td>
              <td class="dataCol"><%=@person.email_address%></td>
              <td class="labelCol"><label><%=t(:label_irm_person_profile)%></label></td>
              <td class="dataCol"><%=@person[:profile_name]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_person_last_name)%></label></td>
              <td class="dataCol"><%=@person.last_name%></td>
              <td class="labelCol"><label><%=t(:label_irm_person_organization)%></label></td>
              <td class="dataCol"><%= @person[:organization_name] %></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_person_first_name)%></label></td>
              <td class="dataCol"><%=@person.first_name%></td>
              <td class="labelCol"><label><%=t(:label_irm_person_bussiness_phone)%></label></td>
              <td class="dataCol">
                <%=@person.bussiness_phone%>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_irm_identity_language_code) %></td>
              <td class="dataCol"><%= @person[:language_description] %></td>
               <td class="labelCol"><label><%=t(:label_irm_person_fax_number)%></label></td>
               <td class="dataCol">
                   <%=@person.fax_number%>
               </td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_person_notification_lang)%></label></td>
              <td class="dataCol"><%=@person[:notification_lang_description]%></td>
               <td class="labelCol"><label><%=t(:label_irm_person_mobile_phone)%></label></td>
               <td class="dataCol">
                 <%=@person.mobile_phone%>
               </td>
            </tr>
        </tbody>
      </table>
      </div>
  </div>
</div>
<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_select_result) %>&nbsp;<%= t(:label_detail_info) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <%= form_for(@group_member,:url=>{:action=>"create_from_person"},:builder => LabellingFormBuilder) do |f| %>
                  <%= f.hidden_field(:status_code) %>
                  <div class="button"><%= f.submit t(:save)%></div>
                  <div class="button"><%= link_to t(:label_irm_person_save_and_add_system), {}, {:href => "javascript:void(0);", :class => "add_system_button"} %></div>
                  <div class="button"><%= link_to(t(:cancel),{:controller =>"irm/people",:action=>"show",:id=>@person.id})%></div>
                <% end %>
              </td>
              <td class="pbHelp">
                <div id="selectablePersonSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <%= error_for @group_member %>
        <div id="supportGroupMembers" class="datatable" style="width:100%">
        </div>
        <%= datatable("supportGroupMembers",{:action=>"get_groupable_data",:id=>@person.id,:format=>:json},
                  [{:key=>"id",:hidden=>true},
                   {:key=>"name",:label=>t(:label_irm_group_name),:searchable=>true},
                   {:key=>"code",:label=>t(:label_irm_group_group_code),:searchable=>true},
                   {:key=>"description",:label=>t(:label_irm_group_description),:searchable=>true}
                   ],
                   {:paginator_box=>"personPaginator",:search_box=>"selectablePersonSearchBox",:select=>"multiple"})%>
        <div id="personPaginator"></div>
      </div>
    </div>
</div>
<script type="text/javascript">
  Ext.onReady(function(){
      var setSelectedValue = function(selModel,selected){
          var ids = [];
          for(var i = 0;i<selected.length;i++){
            ids.push(selected[i].data.id);
          }
          $("#irm_group_member_status_code").val(ids.join(","));
      }
      Ext.getCmp("supportGroupMembersDatatable").selModel.addListener("selectionchange",setSelectedValue);
});
</script>
<script type="text/javascript">
  $(function(){
    $(".add_system_button").click(function(){
        $("#new_irm_group_member").attr('action', '<%= url_for(:action => "create_from_person", :controller => "irm/group_members", :next_action => "add_system")%>');
        $("#new_irm_group_member").submit();
    });
  })
</script>