<%= form_for(@object_attribute,:url=>{:action=>"create_cux"},:builder => CustomFormBuilder) do |f| %>

  <% content_for :form_block_a   do%>
        <table class="form-table">
          <tbody>
              <tr>
                <td class="label-col"><label for="object_attribute_name"><%=t(:label_irm_object_attribute_name)%></label></td>
                <td class="data-col"><%=f.text_field :name, :required=>true ,:id=>"object_attribute_name"%></td>
                <td class="label-col empty">&nbsp;</td>
                <td class="data-col empty">&nbsp;</td>
              </tr>
              <tr>
                <td class="label-col"><label for="object_attribute_attribute_name"><%=t(:label_irm_object_attribute_attribute_name)%></label></td>
                <td class="data-col"><%=f.select :attribute_name,global_customize_object_attribute_names(@business_object), :required=>true ,:id=>"object_attribute_attribute_name"%></td>
                <td class="label-col empty">&nbsp;</td>
                <td class="data-col empty">&nbsp;</td>
              </tr>

              <% if @object_attribute.category.present?&&["PICK_LIST","PICK_LIST_MULTI"].include?(@object_attribute.category) %>
                <tr>
                  <td class="label-col"><label for="object_attribute_pick_list_options"><%=t(:label_irm_object_attribute_pick_list_options)%></label></td>
                  <td class="data-col"><%=f.text_area :pick_list_options,:required=>true ,:size => "20x10",:id=>"object_attribute_pick_list_options"%></td>
                  <td class="label-col empty">&nbsp;</td>
                  <td class="data-col empty">&nbsp;</td>
                </tr>
              <% end %>
              <tr>
                <td class="label-col"><label for="object_attribute_data_default_value"><%=t(:label_irm_object_attribute_data_default_value)%></label></td>
                <td class="data-3col" colspan="3">
                  <%= attribute_default_value(@object_attribute.category, f) %>
                  <span class="help-block"></span>
                </td>
              </tr>
              <% if @object_attribute.category.present?&&["TEXT","NUMBER"].include?(@object_attribute.category) %>
              <tr>
                <td class="label-col"><label for="object_attribute_data_min_and_max_length"><%=t(:label_irm_object_attribute_data_min_and_max_length)%></label></td>
                <td class="data-3col" colspan="3">
                  <%=f.text_field :min_length, :class => "input-mini" ,:id=>"object_attribute_data_min_length",:irm_number_only => true %>
                  <label> ~ </label>
                  <%=f.text_field :max_length, :class => "input-mini" ,:id=>"object_attribute_data_max_length",:irm_number_only => true %>
                  <span class="help-block"><%= t(:label_irm_object_attribute_data_length_help_text) %></span>
                </td>
              </tr>
              <% end %>
              <tr>
                <td class="label-col"><label for="object_attribute_required_flag"><%=t(:label_irm_object_attribute_required_flag)%></label></td>
                <td class="data-col"><%=f.check_box(:required_flag,:id=>"object_attribute_required_flag")%></td>
                <td class="label-col empty">&nbsp;</td>
                <td class="data-col empty">&nbsp;</td>
              </tr>
              <tr style="display: none;" id="requiredDefaultValue">
                <td class="label-col"><label for="object_attribute_required_default_value"><%=t(:label_irm_object_attribute_data_required_default_value)%></label></td>
                <td class="data-3col" colspan="3">
                  <%= attribute_default_value(@object_attribute.category, f, {:name => 'required_default_value', :required => true }) %>
                  <span class="help-block"><%= t(:label_irm_object_attribute_data_required_help_text) %></span>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label for="object_attribute_description"><%=t(:label_irm_object_attribute_description)%></label></td>
                <td class="data-3col" colspan="3"><%=f.text_area :description, :rows=>3,:class => "input-xlarge",:id=>"object_attribute_description"%></td>
              </tr>

          </tbody>

        </table>
  <% end %>



  <% content_for :form_buttons  do %>
        <%= link_to t(:last), {:action => "new_cux",:pre_step=>true},{:class=>"submit btn"} %>
        <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
        <%= link_to t(:cancel), {:id=>params[:bo_id],:action => "show",:controller=>"irm/business_objects"},{:class=>"btn"}  %>
  <% end %>



    <!--页面结构-->
    <div class="page-block">
      <table class="page-block-header"><tr>
        <td class="page-block-title">
          <h2 class="block-title">
            <%= t(:step_n, :n => "2") %><%= t(:label_irm_object_attribute_fill_attribute_info) %>
          </h2>
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>

        </td>
        <td class="page-block-help">
          <h2 class="block-title"><%= t(:step_n_total_m, :n => "2", :m => "2") %></h2>
        </td>
      </tr></table>
      <div class="page-block-body">
        <%= error_for @object_attribute%>
        <div class="sub-page-block">
          <div class="sub-page-block-header">
            <%= form_require_info %>
            <h3 class="sub-page-block-title"><%= t(:label_common_info) %></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_block_a   %>
          </div>
        </div>

      </div>

      <table class="page-block-footer"><tr>
        <td class="page-block-title">
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr></table>
    </div>

<% end %>


<script type="text/javascript">
    $(function(){
        var required_flag = $("#object_attribute_required_flag"),
            required_default_value = $("#requiredDefaultValue");

        if(required_flag.is(":checked")){
            setFixedValue();
            required_default_value.show();
        }
        //绑定click事件
        required_flag.bind("click", function(){
            if($(this).is(":checked")){
                //如果默认值存在直接将默认值赋值给文本
                setFixedValue();
                required_default_value.show();
            }else{
                $("#object_attribute_required_default_value").val("");
                required_default_value.hide();
            }
        });

        function setFixedValue(){
            if($("#object_attribute_data_default_value").val()){
                $("#object_attribute_required_default_value").val($("#object_attribute_data_default_value").val());
            }
        }
    })
</script>