<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table count="<%=@count%>">
         <thead>
           <tr>
             <th style="width:60px;">
               <div><%= t(:operation) %></div>
             </th>
             <th style="width:100px;">
               <div><%= t(:label_com_config_item_number) %></div>
             </th>
             <th>
               <div><%= t(:label_com_config_item_config_class) %></div>
             </th>
             <th>
               <div><%= t(:label_com_config_item_managed_group) %></div>
             </th>
             <th>
               <div><%= t(:label_com_config_item_managed_person) %></div>
             </th>
             <th>
               <div><%= t(:label_com_config_item_last_checked_at) %></div>
             </th>
             <% @class_attributes.each do |attr|  %>
             <th>
               <div><%= attr["name"] %></div>
             </th>
             <% end if @class_attributes%>
           </tr>
         </thead>
         <tbody>
         <% @merged_config_items.each do |data| %>
         <tr id="<%=data["id"]%>">
           <td>
             <div>

               <%= link_to(t(:edit),{:action=>"edit",:id=>data["id"]}) %>|<%= link_to(t(:show),{:action=>"show",:id=>data["id"]}) %>

             </div>
           </td>
           <td>
             <div>
               <%= data["item_number"] %>
             </div>
           </td>
           <td>
             <div>
               <%=data["config_class_name"]%>
             </div>
           </td>
           <td>
             <div>
               <%=data["managed_group_name"]%>
             </div>
           </td>
           <td>
             <div>
               <%=data["managed_person_name"]%>
             </div>
           </td>
           <td>
             <div>
               <%=format_date data["last_checked_at"]%>
             </div>
           </td>
           <% @class_attributes.each do |attr|  %>
           <td>
             <div>
               <%=data[attr["id"]]%>
             </div>
           </td>
           <% end if @class_attributes%>
         </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->