<style type="text/css">
  table.matrix{
    padding-left: 20px;
  }
  table.matrix th{
    font-weight:bold;
    padding:5px;
  }
  table.matrix td{
    text-align: center;
    min-width: 50px;
    padding:5px;
    border: solid 1px;
    border-color:#CBCBCB;
  }
  table.matrix th.to{
    text-align: center;
  }
  table.matrix th.from{
    text-align: right;
  }
</style>
<%= common_title %>

<!--页面结构-->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_icm_priority_code) %></h2>
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <table class="matrix" cellpadding="0" cellspacing="0" border="0">
      <% urgence_codes = Icm::UrgenceCode.multilingual.order("display_sequence Desc");
         impact_ranges = Icm::ImpactRange.multilingual.order("display_sequence Desc");
         priority_weight_value_hashes = priority_weight_value_hash
      %>
      <tbody>
        <tr>
          <th></th>
          <th></th>
          <th class="to" colspan="<%=urgence_codes.length%>"><%=t(:label_icm_urgence_code)  %></th>
        </tr>
        <tr>
          <th rowspan="<%= impact_ranges.length+1 %>" style="vertical-align:middle;"><%=t(:label_icm_impact_range)  %></th>
          <th></th>
          <% urgence_codes.each do |urgency| %>
            <th class="to"><%= urgency[:name]%></th>
          <% end %>
        </tr>
        <% impact_ranges.each do |impact| %>
          <tr>
            <th class="from"><%= impact[:name]%></th>
            <% urgence_codes.each do |urgency| %>
              <td title="<%=impact[:name]%>">
                <% current_weight = impact.weight_values+urgency.weight_values-1 %>
                <%= current_weight %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!--页面结构-->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_icm_priority_code_list) %></h2>
      </td>
      <td class="page-block-button">
        <%= link_to t(:new), {:action => "new"},:class=>"btn"%>
      </td>
      <td class="page-block-help">
        <div id="priorityCodesSearchBox"></div>
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <%= datatable("priority_code",{:action=>"get_data"},[],{:paginator_box=>"priorityPaginator",:search_box=>"priorityCodesSearchBox"})%>
  </div>
</div>
