<%= setting_title %>
<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_skm_channel_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="statusesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="channels_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:controller => "skm/channels", :action=>"edit",:id=>"{id}"}) %>
            <%= link_to(t(:show),{:controller => "skm/channels", :action=>"show",:id=>"{id}"}) %>
          </div>
          <div id="status_code" style="display:none">
            <%= check_img("{status_code}") %>
          </div>
        </div>
        <%= datatable("channels_list",{:action=>"get_data",:format=>"json"},
                  [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"60px"},
                   {:key=>"channel_code",:label=>t(:label_skm_channel_code), :searchable => true,:width=>"100px"},
                   {:key=>"name",:label=>t(:name), :searchable => true,:width=>"150px"},
                   {:key=>"description",:label=>t(:description)},
                   {:key=>"status_code",:label=>t(:active),:formatter=>"Y.irm.template", :width => "40px"}],
                  {:search_box => "statusesSearchBox",:paginator_box=>"channelsPaginatorBox"})%>
        <div id="channelsPaginatorBox"></div>
      </div>
    </div>
</div>