<%= common_title(:action_meaning=>t(:label_skm_channel_group_management)) %>

<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_select_result) %>&nbsp;<%= t(:label_detail_info) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <%= form_for(@channel_group,:url=>{:action=>"create_groups", :id => @channel.id},:builder => LabellingFormBuilder) do |f| %>
                  <%= f.hidden_field(:status_code) %>
                  <div class="button"><%= f.submit t(:save)%></div>
                  <div class="button"><%= link_to(t(:cancel),{:controller =>"skm/channels",:action=>"show",:id=>@channel.id})%></div>
                <% end %>
              </td>
              <td class="pbHelp">
                <div id="selectableChannelsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <%= error_for @channel_group %>
        <div id="avaGroupsList" class="datatable" style="width:100%">
          <div id="status_code" style="display:none">
                    <%= check_img("{status_code}") %>
          </div>
        </div>

        <%= datatable("avaGroupsList",{:controller => "skm/channels", :action=>"get_ava_groups_data",:id=>@channel.id,:format=>:json},
                  [{:key=>"id",:label=>t(:operation),:hidden=>true,:width=>"60px"},
                   {:key=>"code",:label=>t(:label_irm_group_group_code), :width=>"100px"},
                   {:key=>"name",:label=>t(:label_irm_group_name), :width => "150px"},
                   {:key=>"description",:label=>t(:label_irm_group_description)},
                   {:key=>"status_code",:label=>t(:active),:formatter=>"Y.irm.template", :width => "40px"}],
                   {:paginator_box=>"groupsPaginator",:select=>"multiple",:force_html=>true})%>
        <div id="groupsPaginator"></div>
      </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#avaGroupsList").bind('selectionchange',function(event,ids){
            $("#skm_channel_group_status_code").val(ids.join(","));
        });
    });
</script>