<%= common_title(:model_meaning => @project[:name], :action_meaning=>  t(:label_irm_project_add_person)) %>

<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_select_result) %>&nbsp;<%= t(:label_detail_info) %></h2>
    </td>
    <td class="page-block-button">
      <%= form_for(@system_person,:url=>{:action=>"add_customers"},:builder => LabellingFormBuilder) do |f| %>
        <%= f.hidden_field(:status_code) %>
        <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
        <%= link_to(t(:cancel),{:controller =>"irm/projects",:action=>"show",:id=>@project.id},:class=>"btn")%>
      <% end %>
    </td>
    <td class="page-block-help">
      <div id="availableProjectCustomerListSearchBox"></div>
    </td>
  </tr></table>
  <div class="page-block-body">
    <%= datatable("availableProjectCustomerList",{:action=>"get_available_project_customer_data", :project_code => @project[:short_name]},
              [],{:paginator_box=>"availableProjectCustomerPaginator",:search_box=>"availableProjectCustomerListSearchBox",:select=>"multiple"})%>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#availableProjectCustomerList").bind('selectionchange',function(event,ids){
            $("#irm_external_system_person_status_code").val(ids.join(","));
        });
    });
</script>


