<%= common_title(:action_meaning => t(:label_chm_change_approval_new)) %>
<!--页面结构-->
<div class="page-block">
  <%= form_tag({:action=>"create", :change_request_id => @change_request.id},{:id=>"createForm"}) do %>

  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_chm_change_approval_new) %></h2>
      </td>
      <td class="page-block-button">
        <div class="form-inline">
          <%= select_tag_alias(:advisory_board_id, available_advisory_board, params[:advisory_board_id], {:id => "advisoryBoard"}) %>
          <%= hidden_field_tag(:person_ids, params[:person_ids], :id => "person_ids") %>
          <%= hidden_params_field(:back_url) %>
          <%= link_submit t(:add), :id => "formSubmit", :class => "btn" %>
          <%= link_back t(:back), {}, {:class => "btn cancel"} %>
        </div>
      </td>
    </tr>
  </table>
  <%end%>
  <div class="page-block-body">
    <%= datatable("people", {:action => "get_available_member", :change_request_id => @change_request.id}, [], {:lazy_load => true, :select => "multiple", :paginator_box => 'peoplePaginatorBox'}) %>
  </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#advisoryBoard").change(function (e) {
            var current_target = $("#people").data("datatable").target;
            current_target.data.options.defaultOptions = {advisory_board_id:$("#advisoryBoard").val()};
            current_target.loadPage(1);
        });
        $("#people").bind('selectionchange', function (event, ids) {
            $("#person_ids").val(ids.join(","));
            if (ids.length > 0)
                $("#formSubmit").removeAttr("disabled");
            else
                $("#formSubmit").attr("disabled", true);
        });

        var ids = $("#person_ids").val();
        if (ids.length > 0)
            $("#formSubmit").removeAttr("disabled");
        else
            $("#formSubmit").attr("disabled", true);

        $("#advisoryBoard").trigger("change");
    });
</script>
<style type="text/css">
  #createForm{
      margin-bottom: 0;
  }
</style>

