<%= app_title %>
<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_organization_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="permissionsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
              <!--  irm datatable      -->
              <div class="irm-datatable">
                <div>
                    <table count="<%=@leveled_organizations.length%>">
                      <thead>
                        <tr >
                            <th style="width:80px;">
                              <div><%= t(:operation) %>
                              </div>
                            </th>
                            <th style="width:220px;">
                              <div ><%= t(:label_irm_organization_name) %>
                              </div>
                            </th>
                            <th style="width:180px;">
                              <div ><%= t(:label_irm_organization_parent_org) %>
                              </div>
                            </th>
                            <th  style="width:180px;">
                              <div ><%= t(:description) %>
                              </div>
                            </th>

                        </tr>
                      </thead>
                      <tbody>
                        <% @leveled_organizations.each do |organization| %>
                        <tr id="<%=organization.id%>">
                          <td >
                            <div>
                              <%= link_to(t(:edit),{:action=>"edit",:id=>organization.id}) %>
                              <%= link_to(t(:show),{:action=>"show",:id=>organization.id}) %>
                             </div>
                          </td>
                          <td>
                            <div >
                               <% organization.level.times do %>&nbsp;&nbsp;&nbsp;&nbsp;<%end%><%= organization[:name] %>(<%= organization.short_name %>)
                            </div>
                          </td>
                          <td>
                            <div >
                               <%= organization[:parent_org_name] %>
                            </div>
                          </td>
                          <td>
                            <div >
                               <%= organization[:description] %>
                            </div>
                          </td>
                        </tr>
                        <% end -%>
                      </tbody>
                    </table>
                </div>
              </div>
             <!--  end irm datatable      -->
        </div>
    </div>
</div>