<div class="page-block">
    <table class="page-block-header">
      <tr>
         <td class="page-block-title"><h2 class="block-title"><%= t(:label_common_info) %>:</h2></td>
      </tr>
    </table>
    <div class="page-block-body">
      <table class="show-table">
        <tbody>
            <tr>
              <td class="label-col"><label><%=(t :label_ccc_consultantLevel_code)%></label></td>
              <td class="data-col"><%= consultantLevel.code%></td>
            </tr>
            <tr>
              <td class="label-col"><label><%=(t :label_ccc_consultantLevel_name)%></label></td>
              <td class="data-col"><%= consultantLevel[:name]%></td>
            </tr>
            <tr>
              <td class="label-col"><label><%=(t :label_ccc_consultantLevel_description)%></label></td>
              <td class="data-col" colspan="3" style="width:82%;"><%= consultantLevel[:description]%></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>