<%= form_for(@config_class,:url=>{:action=>"update"},:builder => CustomFormBuilder) do |f| %>
  <% content_for :form_block_common   do%>
    <table class="form-table">
      <tbody>
          <tr>
            <td class="label-col"><label for="config_class_code"><%=t(:label_com_config_class_code)%></label></td>
            <td class="data-col"><%=f.text_field :code, :required=>true ,:irm_uppercase=>true,:id=>"config_class_code"%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label for="config_class_name"><%=t(:label_com_config_class_name)%></label></td>
            <td class="data-col"><%=f.text_field :name, :required=>true ,:id=>"config_class_name"%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label for="config_class_leaf_flag"><%=t(:label_com_config_class_leaf_flag)%></label></td>
            <td class="data-col">
              <% if has_children?(@config_class.id)%>
                  <label for="leaf_flag"><%= check_img(@config_class.leaf_flag) %></label>
              <% else %>
                  <label for="leaf_flag"><%= f.check_box(:leaf_flag) %></label>
              <% end %>
            </td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <!-- 父类 -->
          <tr>
            <td class="label-col"><label for="config_class_parent"><%=t(:label_com_config_class_parent)%></label></td>
            <td class="data-col">
              <label for="leaf_flag"><%=f.blank_select(:parent_id,available_config_classes) %></label>
            </td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label for="config_class_description"><%=t(:label_com_config_class_description)%></label></td>
            <td class="data-col" colspan="3" width="82%"><%=f.text_area :description,:rows=>4,:cols=>60 ,:id=>"config_class_description",:class=>"input-xlarge"%></td>
          </tr>
      </tbody>
    </table>
  <% end %>

  <% content_for :form_buttons  do %>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
    <%= link_to t(:cancel), {:action => "index"}, {:class => "btn cancel"}%>
  <% end %>

  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header">
      <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%=t(:label_com_config_class_edit)%></h2>
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
    <%= error_for @config_class %>
    <div class="page-block-body">
      <div class="sub-page-block">
        <!-- 一般信息 -->
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%=t(:label_common_info)%></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_block_common   %>
        </div>
      </div>
    </div>
    <table class="page-block-footer">
      <tr>
        <td class="page-block-title"></td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
