<%= common_title() %>

<%= form_for(@customer,:url=>{:action=>"update"},:as=>"cons_customer",:builder => CustomFormBuilder,:html => {:id => 'update_cons_company' }) do |f| %>
    <% content_for :form_block_customer   do%>
        <table class="form-table">
          <tbody>
          <tr>
            <td class="label-col"><label><%=t(:label_customer_name)%></label></td>
            <td class="data-col"><%= f.text_field(:customer_name,:required=>true) %></td>
            <td class="label-col"><label><%=t(:label_customer_company)%></label></td>
            <td class="data-col">
              <div class="from-inline input-append">
                <%= f.text_field(:company,:required=>true,:class=>'input-medium')%>
                <a onclick="searchCompany()" class="btn lov-btn" >
                  <i class="icon-search"></i>
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_irm_person_profile)%></label></td>
            <td class="data-col"><%= f.blank_select(:profile_id,available_profile,{},{:required=>true,:id=>"profile_id"})%></td>
            <td class="label-col"><label><%=t(:label_irm_person_organization)%></label></td>
            <td class="data-col"><%= f.blank_select(:organization_id,available_organization,{},{:required=>true,}) %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_customer_sex)%></label></td>
            <td class="data-col"><%= select( "cons_customer", "customer_sex",{"男"=>"男","女"=>"女"}) %></td>
            <td class="label-col"><label><%=t(:label_customer_duty)%></label></td>
            <td class="data-col"><%= f.text_field(:customer_duty,:required=>true) %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_customer_status)%></label></td>
            <td class="data-col"><%= select( "cons_customer", "customer_status",{"在职"=>"在职","离职"=>"离职"}) %></td>
            <td class="label-col"><label><%=t(:label_customer_tel)%></label></td>
            <td class="data-col"><%= f.text_field(:customer_tel,:required=>true) %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_customer_telNo)%></label></td>
            <td class="data-col"><%= f.text_field(:customer_telNo,:required=>true) %></td>
            <td class="label-col"><label><%=t(:label_customer_email)%></label></td>
            <td class="data-col"><%= f.text_field(:customer_email,:required=>true) %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_customer_fax)%></label></td>
            <td class="data-col"><%= f.text_field(:customer_fax) %></td>
            <td class="label-col"><label><%=(t :label_customer_flag)%></label></td>
            <td class="data-col"><%=f.check_box :customer_flag%></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_cons_login_name)%></label></td>
            <td class="data-col"><%= f.text_field(:login_name,:required=>true) %></td>
            <td class="label-col"><label><%=t(:label_customer_comment)%></label></td>
            <td class="data-col"><%= f.text_area(:customer_comment) %></td>
          </tr>
          <tr style="display: none">
            <td><%= f.text_field(:customer_no,:style=>'display:none')%></td>
          </tr>
          </tbody>
        </table>
    <% end %>
    <% content_for :form_block_password do%>
        <table class="form-table">
          <tbody>
          <tr>
            <td class="label-col"><label><%= t(:label_cons_identity_password)%></label></td>
            <td class="data-col"><%=f.password_field(:password, :size=>40,:required=>true,:autocomplete=>"off")%></td>
            <td class="label-col empty"></td>
            <td class="data-col empty"></td>
          </tr>
          <tr>
            <td class="label-col"><label><%= t(:label_cons_identity_password_confirmation)%></label></td>
            <td class="data-col"><%=f.password_field(:password_confirmation, :size=>40,:required=>true,:autocomplete=>"off")%></td>
            <td class="label-col empty"></td>
            <td class="data-col empty"></td>
          </tr>
          </tbody>
        </table>
    <% end %>

    <% content_for :form_buttons  do %>
        <%= link_submit t(:save),{:class=>"btn btn-primary save"}%>
        <%= link_to t(:cancel), {:action => "index"}, {:class => "btn cancel"}%>
    <% end %>
    <!--页面结构-->
    <div class="page-block">
      <table class="page-block-header">
        <tr>
          <td class="page-block-title">
            <h2 class="block-title"><%= t(:step_n, :n => "1") %><%= t(:label_customer_update) %></h2>
          </td>
          <td class="page-block-button">
            <%= content_for :form_buttons   %>
          </td>
          <td class="page-block-help">
            <%= t(:step_n_total_m, :n => "1", :m => "3") %>
          </td>
        </tr>
      </table>
      <%= error_for @customer %>
      <div class="page-block-body">
        <div class="sub-page-block">
          <!-- 个人信息 -->
          <div class="sub-page-block-header">
            <%= form_require_info %>
            <h3 class="sub-page-block-title"><%=t(:label_customer_info)%></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_block_customer   %>
          </div>
          <!-- 设置密码 -->
          <div class="sub-page-block-header">
            <h3 class="sub-page-block-title"><%=t(:label_irm_person_password_info)%></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_block_password   %>
          </div>

        </div>
      </div>

      <table class="page-block-footer">
        <tr>
          <td class="page-block-title"></td>
          <td class="page-block-button">
            <%= content_for :form_buttons   %>
          </td>
        </tr>
      </table>
    </div>
<% end %>


<div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">公司名称列表</h4>
      </div>
      <div class="modal-body" id="indicator">
        <div class="page-block">
          <table class="page-block-header"><tr>
            <td class="page-block-title">
            </td>
            <td class="page-block-help">
              <div id="searchBox"></div>
            </td>
          </tr></table>
          <div class="page-block-body">
            <%= datatable("company",{:controller => "cons/company", :action=>"searchCompany"},[],{:search_box=>"searchBox",:paginator_box=>"paginatorBox"})%>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<script>
    $(function(){
        $("#cons_customer_customer_comment").css("height","100px")
        $("#update_cons_company a.save").click(function(){
            $("#new_cons_customer").attr('action', '<%= url_for(:action => "update", :controller => "cons/customer")%>');
            $("#new_cons_customer").submit();
        });
    })
    function searchCompany(){
        $("#companyModal").modal("show")
    }

</script>