<% require_jscss(:newhighcharts) %>
<table style="width:100%;table-layout:fixed" >
  <tr>
    <th style="width:33%">
    </th>
    <th style="width:33%">
    </th>
    <th style="width:33%">
    </th>
  <tr>
  <tr>
    <td colspan="2">
      <div id="daily_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </td>
    <td>
      <div id="open_pie_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </td>
  </tr>
  <tr style="">
    <td style="">
        <div style="background-color: #c6c6c6; width: 80%; padding: 10px 10px; font-size: 18px;">Daily Created</div>
    </td>
    <td rowspan="6">
        <% if @count_new.size == 0 %>
          <div style="margin-left: 100px;display:block; width: 350px;height: 350px;border: solid 1px #cccccc;text-align:center;line-height: 250px;">
            <div style="height: 50px;line-height: 50px; font-size: 25px;"><I>No New Incident</I></div>
            <div style="height: 225px;line-height: 225px; font-size: 120px;color:#333333;"><%= @count_new.size.to_s%></div>
          </div>
        <% elsif @count_new.size == 1%>
          <div style="margin-left: 100px;width: 350px;height: 350px;border: solid 1px #cccccc;text-align:center;font-size: 50px;background-color: #ffa0a0">
            <div style="height: 50px;line-height: 50px; font-size: 25px;"><I>New Incident</I></div>
            <div style="height: 225px;line-height: 225px; font-size: 120px;color:#333333;"><%= @count_new.size.to_s%></div>
            <div style="height: 75px;line-height: 75px; font-size: 25px;">
              <div style="float: left; margin-left: 25px; font-size: 20px;"><%= @count_new.first[:request_number]%></div>
              <div style="float: right; margin-right: 25px;font-size: 20px;"><%= @count_new.first[:category_name]%></div>
            </div>
            <!--<bgsound src="4846.wav"/>-->
            <!-- Firefox play wav -->
            <audio autoplay="autoplay">
              Your browser does not support the <code>audio</code> element.
              <source src="4846.wav" type="audio/wav">
            </audio>

          </div>
        <% else%>
          <div style="margin-left: 100px;width: 350px;height: 350px;border: solid 1px #cccccc;text-align:center;font-size: 50px; background-color: #ffa0a0">
            <div style="height: 50px;line-height: 50px; font-size: 25px;"><I>New Incidents</I></div>
            <div style="height: 225px;line-height: 225px; font-size: 120px;color:#333333;"><%= @count_new.size.to_s%></div>
            <div style="height: 75px;line-height: 75px; font-size: 25px;">
              <div style="float: left; margin-left: 25px;font-size: 20px;"><%= @count_new.first[:request_number]%></div>
              <div style="float: right; margin-right: 25px;font-size: 20px;"><%= @count_new.first[:category_name]%></div>
            </div>
            <!--<bgsound src="4846.wav"/>-->
            <!-- Firefox play wav -->
            <audio autoplay="autoplay">
              Your browser does not support the <code>audio</code> element.
              <source src="4846.wav" type="audio/wav">
            </audio>

          </div>
        <% end %>
    </td>
    <td rowspan="6">
      <div id="open_pie_chart_by_service_desk" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </td>
  </tr>
  <tr>
    <td >
      <% @today_created.each do |tc| %>
          <div style="display: inline-block; margin: 10px 5px;font-size: 17px">
            <%= tc[0].to_s%>
          </div>
      <% end %>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr style="">
    <td>
      <div style="background-color: #c6c6c6; width: 80%; padding: 10px 10px; font-size: 18px;">Daily Closed</div>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
      <% @today_closed.each do |tc| %>
          <div style="display: inline-block; margin: 10px 5px;font-size: 17px">
            <%= tc[0].to_s%>
          </div>
      <% end %>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr style="">
    <td>
      <% if @processing_list.present? && @processing_list.first[2] > (Time.now - 30.minutes)%>
          <div style="background-color: #ffa0a0; width: 80%; padding: 10px 10px;font-size: 18px;">Emergent List</div>
      <% else %>
          <div style="background-color: #c6c6c6; width: 80%; padding: 10px 10px;font-size: 18px;">Emergent List</div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <% @processing_list.each do |tc| %>
          <div style="display: inline-block; margin: 10px 5px;font-size: 17px">
            <%= tc[0].to_s%>
          </div>
      <% end %>
    </td>
  </tr>
  <tr style="">
    <td>
      <div style="background-color: #c6c6c6; width: 80%; padding: 10px 10px;font-size: 18px;">SLA Remind</div>
    </td>
  </tr>
  <tr>
    <td>
      <% @sla_list.each do |tc| %>
          <div style="display: inline-block; margin: 10px 5px;font-size: 17px">
            <%= tc.to_s%>
          </div>
      <% end %>
    </td>
  </tr>
  </table>
<script type="text/javascript">

    $(function () {

        $('#open_pie_chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y} ({point.percentage:.1f}%)'
                    },
                    showInLegend: true
                }
            },
            //colors: [<%
                color = ''
                count = 0
                @table_a_incident_by_category_open.each do |c|
                    color = color + "'#{c[2]}'"
                    color = color + ',' if c != @table_a_incident_by_category_open.last
                    count = count + c[1]
                end
                color
            %>
            //],
            title: {
                text: 'Incidents by Category (<%= count.to_s%>)'
            },
            legend: {
                  enabled: false
//                layout: 'vertical',
//                align: 'left', //水平方向位置
//                verticalAlign: 'top', //垂直方向位置
//                x: 50, //距离x轴的距离
//                y: 50 //距离Y轴的距离
            },
            series: [{
                type: 'pie',
                name: 'Category',
                data: <%= raw @table_a_incident_by_category_open%>
            }]
        });
        $('#open_pie_chart_by_service_desk').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            //colors: [<%
                color = ''
                count = 0
                @table_a_open_by_service_desk.each do |c|
                    color = color + "'#{c[2]}'"
                    color = color + ',' if c != @table_a_open_by_service_desk.last
                    count = count + c[1]
                end
                color
            %>
            //],
            title: {
                text: 'Incidents by Status (<%= count.to_s%>)'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y} ({point.percentage:.1f}%)'
                    },
                    showInLegend: true
                }
            },
            legend: {
                  enabled: false
//                layout: 'vertical',
//                align: 'left', //水平方向位置
//                verticalAlign: 'top', //垂直方向位置
//                x: 50, //距离x轴的距离
//                y: 50 //距离Y轴的距离
            },
            series: [{
                type: 'pie',
                name: 'Status',
                data: <%= raw @table_a_open_by_service_desk%>
            }]
        });
        $('#daily_chart').highcharts({
            title: {
                text: 'Amount of incident(historical)',
                x: -20 //center
            },
            subtitle: {
                x: -20
            },
            xAxis: {
                categories: ['<%= @table_a_date.join("','")%>'],
                labels: {
                    style: {
                        fontSize: '10px'
                    }
                }
            },
            yAxis: [{
                title: {
                    text: 'Daily & Daily Close'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                min:0
            }],
            colors: ['#EF305B','#60D267','#7cb5ec','#434343'],
            tooltip: {
//                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                type: 'line',
                name: '7 Days Avg Created',
                data: [<%= @daily_avg_open.join(',')%>],
                dataLabels: {
                    enabled: false,
                    rotation: -90,
                    color: '#000000',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }, {
                type: 'line',
                name: '7 Days Avg Closed',
                data: [<%= @daily_avg_close.join(',')%>],
                dataLabels: {
                    enabled: false,
                    rotation: -90,
                    color: '#000000',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }, {
                type: 'column',
                name: 'Daily Created',
                data: [<%= @daily_open.join(',')%>],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#000000',
                    align: 'right',
                    x: 4,
                    y: -1,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }, {
                type: 'column',
                name: 'Daily Closed',
                data: [<%= @daily_close.join(',')%>],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#000000',
                    align: 'right',
                    x: 4,
                    y: -1,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            } ]
        });
    });
</script>
<script language="JavaScript">
    function myrefresh()
    {
        window.location.reload();
    }
    setTimeout('myrefresh()',120000); //指定1秒刷新一次
</script>

