<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table count="<%=@count%>">
         <thead>
           <tr>
             <th style="width:110px;">
               <div><%= t(:label_irm_login_record_user_ip) %></div>
             </th>
             <th style="width:160px;">
               <div><%= t(:label_irm_login_record_operate_system) %></div>
             </th>
             <th  style="width:160px;">
               <div><%= t(:label_irm_login_record_browser) %></div>
             </th>
             <th style="width:180px;">
               <div><%= t(:label_irm_login_record_login_at) %></div>
             </th>
             <th style="width:180px;">
               <div><%= t(:label_irm_login_record_logout_at) %></div>
             </th>
           </tr>
         </thead>
         <tbody>
         <% @datas.each do |data| %>
         <tr id="<%=data[:id]%>">
           <td>
             <div>
               <%= data[:user_ip] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:operate_system] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:browser] %>
             </div>
           </td>
           <td>
             <div>
               <%= format_date(data[:login_at]) %>
             </div>
           </td>
           <td>
             <div>
               <%= format_date(data[:logout_at]) %>
             </div>
           </td>
         </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->