<%= form_tag({:controller => "icm/incident_requests", :action => "add_entry_header_relation", :sid=>sid, :source_id => incident_request.id,:_dom_id=>dom_id}, :remote => true) do |f| %>
    <div class="sidebar-block">
      <div class="sidebar-block-header"><h2>
        <%= t :label_icm_incident_request_entry_header_relation %>
      </h2></div>
      <div class="sidebar-block-body">
        <div class="form-inline">
          <table width="100%">
            <% if can_relation?(incident_request) %>
                <tbody id="new_entry_header_relation_form">
                <tr>
                  <td>
                    <div id="entry_header_relation_select" class="form-inline">
                      <%= lov_field_tag "icm_entry_header_relation", Skm::EntryHeader, :style => "width:90px;" %>
                      <%= link_submit t(:add),{:id => "addEntryHeaderRelationBtn",:class=>"btn btn-primary"}%>
                    </div>
                  </td>
                </tr>
                </tbody>
            <% end %>
            <tbody id="entry_header_relation">
            <%= list_ir_existed_entry_headers(incident_request)%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<% end %>