<div class="reply page-block-body">
  <div id="planType_<%= change_plan_type.id %>" class="reply-header">
      <div style="float:left"><h3><%=change_plan_type[:name]%></h3></div>
  </div>
  <div class="reply-header-section">
    <% options = change_plan.new_record? ? {:action=>"create"}:{:id=>change_plan.id,:action=>"update"} %>
    <%= form_for(change_plan,:url=>{:controller=>"chm/change_plans"}.merge(options),:builder => CustomFormBuilder,:html=>{:multipart => true ,:target=>"hiddenFrame"}) do |f| %>
      <table class="form-table" style="width: 100%;">
        <tbody>
            <tr>
              <%= f.hidden_field(:change_plan_type_id) %>
              <%= f.hidden_field(:change_request_id) %>
              <%= f.hidden_field(:planed_by) %>
              <td class="data-col" colspan="4" width="100%">
                <%= f.text_area :plan_body ,:id=>"msgEditor", :required => true %>
                <%= xheditor("msgEditor", true, true) %>
              </td>
            </tr>

            <tr>
              <td style="padding: 2px 10px;">
                <%= render :partial=>"helper/upload_file",:locals=>{:upload_file_id=>"plan_file_#{change_plan.change_plan_type_id}"}  if has_module?(:skm) %>
              </td>
              <td style="float: right;width: 450px; text-align: right; vertical-align: top;padding-right: 10px;">
                <span style="color:#ccc;"><%= t(:label_shortcuts_submit_form).html_safe %></span>
                <%= link_submit t(:save),{:class=>"btn btn-primary",:style => "padding:4px 10px;font-size:12px;"}%>
                <%= link_to t(:cancel),{:controller=>"chm/change_plans",:action=>"refresh",:change_request_id=>change_plan.change_request_id,:change_plan_type_id=>change_plan.change_plan_type_id},:remote=>true,:class => "btn",:style => "padding:4px 10px;font-size:12px;" %>
              </td>
            </tr>
        </tbody>
      </table>
    <% end%>
  </div>
</div>