<% results.values.each do |value| %>
  <% if value.present? %>
    <li>
      <!-- 显示变更单 -->
      <% if value[:hit].nil? %>
          <% title = value[:result][:title] %>
          <% summary =  truncate(value[:result][:summary],{:length => 100,:omission => '......'}) %>
          <% id = value[:result][:id] %>
          <% updated_at = value[:result][:updated_at] %>
          <% journals_content = '' %>
      <% else %>
          <% title = search_result_highlight(value[:hit], :title) %>
          <% summary = search_result_highlight(value[:hit], :summary) %>
          <% id = value[:hit].result[:id] %>
          <% updated_at =  value[:hit].result[:updated_at] %>
          <% journals_content = search_result_highlight(value[:hit], "journals_content") %>
      <% end %>
      <h3 class="title">【<%= t :label_chm_change_request %>】
        <%= link_to(title, {:controller=>"chm/change_requests",:action=>"show",:id => id}) %>
      </h3>
      <p class="content"><%= summary %></p>
      <p class="meta">
        <!-- 显示回复的内容 -->
        <span class="reply"><%= journals_content %></span>
      </p>
      <p class="meta">
        <%= format_date(updated_at) %>
      </p>
    </li>
  <% end %>
<% end %>