<%= common_title %>

<!--页面结构-->
<div class="show-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_icm_rule_setting_show) %>&nbsp;<%= t(:label_detail_info) %></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:edit), {:action => "edit", :id => @rule_setting},:class=>"btn btn-primary"%>
      <%= link_to t(:new), {:action => "new"},:class=>"btn"%>
      <%= link_to t(:back), {:action => "index"},:class=>"btn" %>
    </td>
  </tr></table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
          <tr>
            <td class="label-col"></td>
            <td class="data-col"></td>
            <td class="label-col"><label><%=(t :label_icm_rule_setting_report_date_changable)%></label></td>
            <td class="data-col"><%= check_img(@rule_setting.report_date_changable)%></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_icm_rule_setting_auto_closure_days)%></label></td>
            <td class="data-col"><%= @rule_setting.auto_closure_days%></td>
            <td class="label-col"><label><%=(t :label_icm_rule_setting_slove_date_changable)%></label></td>
            <td class="data-col"><%= check_img(@rule_setting.slove_date_changable)%></td>
          </tr>
          <tr>
             <td class="label-col"><label><%=(t :label_icm_rule_setting_status_code)%></label></td>
            <td class="data-col"><%= check_img(@rule_setting[:status_code])%></td>
            <td class="label-col"><label><%=(t :label_icm_rule_setting_respond_date_changable)%></label></td>
            <td class="data-col"><%= check_img(@rule_setting.respond_date_changable)%></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_icm_rule_setting_description)%></label></td>
            <td class="data-col"><%= @rule_setting.description%></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>