<%journals.each_with_index do |journal,index|  %>
 <div class="reply" id="enabled_<%= journal.id %>">
   <div id="journal_<%= journal.id %>" class="reply-header"  submit_by="<%= journal[:replied_by]%>">
    <div style="float:left"><img width="25" height="25" alt="" src="<%=replied_avatar(journal)%>"></div>
    <div style="float:left; padding:0 0 0 5px;">
     <h3><%= journal[:replied_name]  %></h3>
        <span style="color:#666666;font-style:italic;">
          <%= t(:label_reply_title,:time_distance=>distance_of_time_in_words(Time.now,journal[:created_at]),:date_format=>format_date(journal[:created_at])) %>
        </span>
    </div>
     <div style="float:right; padding: 5px 10px;">
       <% if allow_to_function?(:delete_recover_any_journals) or (allow_to_function?(:delete_recover_my_journals) and journal[:replied_by].eql?(Irm::Person.current.id)) %>
         <%= link_to t(:delete), {:controller => "icm/incident_journals", :action => "delete",:request_id => @incident_request.id, :id => journal[:id], :_dom_id => "enabled_#{journal[:id]}"},:remote => true %>&nbsp;|&nbsp;
       <% end %>
       <% if allow_to_function?(:edit_any_journal) || (allow_to_function?(:edit_self_journal) && journal[:replied_by].eql?(Irm::Person.current.id)) %>
         <%= link_to t(:edit), {:controller => "icm/incident_journals", :action => "edit",:request_id => @incident_request.id, :id => journal[:id]}%>
       <% end %>
     </div>
   </div>
   <div class="reply-body">
     <%if journal.incident_histories.any? %>
       <div class="message-header" style="font-style:italic;padding-bottom:10px;">
         <ul>
             <% journal.incident_histories.each do |h|%>
               <% next unless h.to_s %>
               <li><%= h %>
             <% end%>
         </ul>
       </div>
     <%end%>
     <div class="message-body">
       <%= raw process_message(journal[:message_body])  %>
     </div>
     <%= list_journal_files(grouped_files,journal) %>
   </div>

 </div>
<%end %>