<%= form_for(@incident_request,:url=>{:action=>"update_close"},:builder => CustomFormBuilder,:html => { :multipart => true }) do |f| %>
  <% content_for :form_block_common   do%>
    <table class="form-table" style="width: 100%;">
      <tbody>
          <tr>
            <td class="label-col"><label for="incident_request_close_reason_code"><%=t(:label_icm_incident_request_close_reason_code)%></label></td>
            <td class="data-col">
              <%=f.select :close_reason_id,options_for_select(available_close_code,@incident_request.close_reason_id),
                                                  {},{:required=>true,:id=>"incident_request_close_reason_code"}%>
          </tr>
          <tr>
            <td class="label-col"><label for="incident_request_service_code"><%=t(:label_icm_incident_request_target_system)%></label></td>
            <td class="data-col"><%=f.select :external_system_id,
                                             nullable_options_for_select(available_external_systems_with_person(@incident_request.requested_by).collect{|p| [p[:system_name], p.id]},@incident_request.external_system_id),
                                             {:value=>@incident_request.external_system_id},
                                             {:required=>true,:id=>"ass_external_system"} %>
            </td>
          </tr>
          <tr>
          <tr>

            <td class="label-col"><label for=""><%=t(:label_icm_incident_request_incident_category)%></label></td>
            <td class="data-col"><%=f.select :incident_category_id,
                                          nullable_options_for_select([],@incident_request.incident_category_id),
                                          {},
                                          {:id=>"incident_category_id",
                                           :origin_value=>@incident_request.incident_category_id,
                                           :depend=>"ass_external_system",
                                           :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                           :href=>url_for(:controller=>"icm/incident_categories",:action=>"get_option",:format=>"json",
                                                          :external_system_id=>"${ass_external_system}")}%>
            </td>
          </tr>
          <tr>
            <td class="label-col"><label for=""><%=t(:label_icm_incident_request_incident_sub_category)%></label></td>
            <td class="data-col"><%=f.select :incident_sub_category_id,
                                          nullable_options_for_select([],@incident_request.incident_sub_category_id),
                                          {},
                                          {:id=>"incident_sub_category_id",
                                           :origin_value=>@incident_request.incident_sub_category_id,
                                           :depend=>"incident_category_id",
                                           :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                           :href=>url_for(:controller=>"icm/incident_sub_categories",:action=>"get_option",:format=>"json",
                                                          :incident_category_id=>"${incident_category_id}")}%>
            </td>
          <tr>
            <%= fields_for @incident_journal,:as=>"incident_journal",:builder => LabellingFormBuilder,:normal=>true do |sub_f|%>
              <%= sub_f.hidden_field(:incident_request_id) %>
            <td class="label-col"><label><%= t(:label_icm_incident_journal_reply) %></label></td>
            <td class="data-3col" colspan="3">
              <%= sub_f.text_area :message_body ,:id=>"msgEditor",:cols=>150,:rows=>8,:required=>true,:class=>"input-xlarge",:style=>"width:90%;" %>
              <%= xheditor("msgEditor",true) %>
            </td>
            <% end%>
          </tr>
          <tr>
            <td class="label-col"><%= t(:label_icm_incident_journal_attachment) %></td>
            <td  class="data-3col" colspan="3">
              <%= render :partial=>"helper/upload_file",:locals=>{:upload_file_id=>"pass_incident_request_file"} %>
            </td>
          </tr>
      </tbody>
    </table>
  <% end %>

  <% content_for :form_buttons  do %>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
    <%= link_to t(:cancel), {:action => "new"}, {:class => "btn cancel"}%>
  <% end %>

  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header">
      <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%=t(:label_icm_incident_journal_close)%></h2>
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
    <%= error_for @incident_request %>
    <div class="page-block-body">
      <div class="sub-page-block">
        <div class="sub-page-block-body">
          <%= content_for :form_block_common   %>
        </div>
      </div>
    </div>
    <table class="page-block-footer">
      <tr>
        <td class="page-block-title"></td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
<script type="text/javascript">
  $(function(){
     if($("#ass_external_system")){
        $("#ass_external_system").cascade(["#incident_category_id"]);
     }

     if($("#incident_category_id")){
        $("#incident_category_id").cascade("#incident_sub_category_id");
     }
  });
</script>

