<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table count="<%=@count%>" id="external_people">
         <thead>
           <tr>
             <th key = "full_name">
               <div><%= t(:label_irm_person_full_name) %></div>
             </th>
             <th key="email_address">
               <div><%= t(:label_irm_person_email_address) %></div>
             </th>
             <th key="organization_name">
                <div><%= t(:label_irm_organization) %></div>
             </th>
           </tr>
         </thead>
         <tbody>
         <% @datas.each do |data| %>
         <tr id="<%=data.id %>">
           <td>
             <div><%= data[:full_name] %></div>
           </td>

           <td>
             <div><%= data[:email_address] %></div>
           </td>

           <td>
             <div><%= data[:organization_name] %></div>
           </td>
         </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->