<%= common_title(:model_meaning => @person[:full_name],:action_meaning=>  t(:label_irm_external_system_select_system)) %>
<%= form_for(@system_person,:url=>{:action=>"create_from_person"},:builder => LabellingFormBuilder) do |f| %>
<%= f.hidden_field(:status_code) %>
<% if @step %>
<div class="wizard-block">
    <div class="pbWizardTitle tertiaryPalette">
        <div class="ptRightTitle">
            <%= t(:step_n_total_m, :n => "2", :m => "3") %>
        </div>
        <h2>
            <%= t(:step_n, :n => "2") %><%= t(:label_irm_external_system_select_system) %>
        </h2>
    </div>
    <div class="pbBody">
        <div class="pbBottomButtons">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="pbTitle"></td>
                  <td class="pbButton">
                      <div class="button"><%= link_to t(:last), {}, {:href => "javascript:void(0);", :class => "add_group_button_last"}%></div>
                      <div class="button"><%= link_to t(:next), {}, {:href => "javascript:void(0);", :class => "add_group_button"} %></div>
                      <div class="button"><%= link_to(t(:cancel),{:controller =>"irm/people",:action=>"show",:id=>@person.id})%></div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="pbWizardBody">
            <div class="secondary-palette">
<% else %>
<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">

        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_select_result) %>&nbsp;<%= t(:label_detail_info) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                  <div class="button"><%= f.submit t(:save)%></div>
                  <div class="button"><%= link_to(t(:cancel),{:controller =>"irm/people",:action=>"show",:id=>@person.id})%></div>
              </td>
              <td class="pbHelp">
                <div id="selectableSystemSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
<% end %>
      <div class="pbBody">
        <%= error_for @system_person %>
        <div id="externalSystemList" class="datatable" style="width:100%">
        </div>
        <%= datatable("externalSystemList",{:action=>"get_available_external_system_data",:person_id=>@person.id},
                  [{:key=>"id",:hidden=>true},
                   {:key=>"external_system_code",:label=>t(:label_irm_external_system),:searchable=>true},
                   {:key=>"system_name",:label=>t(:name),:searchable=>true},
                   {:key=>"system_description",:label=>t(:description)},],
                   {:paginator_box=>"systemPaginator",:search_box=>"selectableSystemSearchBox",:select=>"multiple",:force_html=>true})%>
        <div id="systemPaginator"></div>
      </div>
      <div class="pbBottomButtons">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"></td>
              <td id="bottomButtonRow" class="pbButtonb">
                <% if @step %>
                  <div class="button"><%= link_to t(:last), {}, {:href => "javascript:void(0);", :class => "add_group_button_last"}%></div>
                  <div class="button"><%= link_to t(:next), {}, {:href => "javascript:void(0);", :class => "add_group_button"} %></div>
                  <div class="button"><%= link_to(t(:cancel),{:controller =>"irm/people",:action=>"show",:id=>@person.id})%></div>
                <% else %>
                  <div class="button"><%= f.submit t(:save)%></div>
                  <div class="button"><%= link_to(t(:cancel),{:controller =>"irm/people",:action=>"show",:id=>@person.id})%></div>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
<% if @step %>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  $(function(){
    $(".add_group_button").click(function(){
        $("#new_irm_external_system_person").attr('action', '<%= url_for(:action => "create_from_person", :controller => "irm/external_system_members", :next_action => "next")%>');
        $("#new_irm_external_system_person").submit();
    });
    $(".add_group_button_last").click(function(){
        $("#new_irm_external_system_person").attr('action', '<%= url_for(:action => "create_from_person", :controller => "irm/external_system_members", :next_action => "last")%>');
        $("#new_irm_external_system_person").submit();
    });
  })
</script>
<% else %>

    </div>
</div>
<% end %>

<% end %>
<script type="text/javascript">
  $(document).ready(function(){
      $("#externalSystemList").bind('selectionchange',function(event,ids){
          $("#irm_external_system_person_status_code").val(ids.join(","));
      });
  });
</script>
