<%=datatable_view({:count=>@count,:datas=>@datas}) do |builder|%>
  <% builder.column(:id,{:title=>t(:operation), :width => "120px"}) do |data|%>
    <%= link_to(t(:edit),{:action=>"edit",:id=>data[:id]}) %>&nbsp;
    <%= link_to(t(:label_som_sales_opportunity_sales_communicate),{:controller=>"som/communicate_infos",:action=>"new",:id=>data[:id]},{:rel => "modal"}) %>
    <% if current_person?(data[:created_by])|| current_person?(data[:charge_person])%>
        <%= link_to content_tag(:span,t(:delete),:class=>"label label-important"), {:action => "destroy", :id => data[:id]},:method => :delete,:title=>t(:label_som_sales_opportunity_delete_title),:confirm => t(:label_are_you_sure)%>
    <% end %>
  <% end %>
    <% builder.column(:name, {:title => t(:name), :searchable => true}) do |data|%>
        <%= link_to(data[:name],{:action=>"show",:id=>data[:id]}) %>&nbsp;
    <% end %>
    <% builder.column(:charge_person, {:title => t(:label_som_sales_opportunity_charge_person)}) do |data| %>
        <%= data[:charge_person_name] %>
    <% end %>
    <% builder.column(:potential_customer, {:title => t(:label_som_sales_opportunity_customer)}) do |data|%>
        <%= data[:potential_customer_name] %>
    <% end %>
    <% builder.column(:price, {:title => "#{t(:label_som_sales_opportunity_sales_price)}(#{t(:label_som_sales_opportunity_price_ten_thousand)})",:sortable=>true})%>
    <% builder.column(:second_price, {:title => "#{t(:label_som_sales_opportunity_sales_second_price)}(#{t(:label_som_sales_opportunity_price_ten_thousand)})",:sortable=>true})%>

    <% builder.column(:start_at, {:title => t(:label_som_sales_opportunity_sales_start_at),:sortable=>true}) do |data|%>
        <%= data[:start_at].strftime('%Y-%m-%d') unless data[:start_at].nil?%>
    <% end %>
    <% builder.column(:end_at, {:title => t(:label_som_sales_opportunity_sales_end_at),:sortable=>true}) do |data|%>
        <%= data[:end_at].strftime('%Y-%m-%d') unless data[:end_at].nil?%>
    <% end %>
    <% builder.column(:sales_status, {:title => t(:label_som_sales_opportunity_sales_status),:sortable=>true}) do |data|%>
        <% if data[:sales_status].eql?("CANCEL") %>
            <span class="label label-inverse"><%= data[:sales_status_meaning] %></span>
            <%= link_to(t(:label_som_sales_opportunity_failed_reason_edit),{:action=>"edit_reason",:id=>data[:id]},{:class => "action-link",:rel => "modal"}) %>
        <% else %>
            <span class="label label-success"><%= data[:sales_status_meaning] %></span>

        <% end %>
    <% end %>

    <% builder.column(:possibility, {:title => t(:label_som_sales_opportunity_sales_possibility)}) do |data|%>
        <%=data[:possibility] %>%
    <% end %>
    <% builder.column(:communicate_count, {:title => t(:label_som_sales_opportunity_communicate_count)}) do |data|%>
        <%=communicate_count(data[:id])%>
    <% end %>
    <% builder.column(:last_communicate, {:title => t(:label_som_sales_opportunity_communicate_last)}) do |data|%>
        <%= last_communicate(data[:id])||calendar_date(data[:first_communicate_at])%>
    <% end %>
  <% end %>