<%= common_title %>

<style type="text/css">
    .widget-box {
        background: none repeat scroll 0 0 #F9F9F9;
        border-top: 1px solid #CDCDCD;
        border-left: 1px solid #CDCDCD;
        border-right: 1px solid #CDCDCD;
        clear: both;
        margin-top: 16px;
        margin-bottom: 16px;
        position: relative;
    }

    .widget-box.widget-calendar, .widget-box.widget-chat {
        overflow: hidden !important;
    }

    .accordion .widget-box {
        margin-top: -2px;
        margin-bottom: 0;
        border-radius: 0;
    }

    .widget-box.widget-plain {
        background: transparent;
        border: none;
        margin-top: 0;
        margin-bottom: 0;
    }

    .widget-title, .table th {
        background-color: #efefef;
        background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
        background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eaeaea', GradientType=0); /* IE6-9 */
        border-bottom: 1px solid #CDCDCD;
        height: 36px;
    }

    .datatable table th {
        background: none;
        background-color: #efefef;
        background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
        background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eaeaea', GradientType=0); /* IE6-9 */
        border-bottom: 1px solid #CDCDCD;
        height: 30px;
        border-right: none;
    }

    .datatable table th, .datatable table th a {
        vertical-align: middle;
    }

    .widget-title table {
        width: 100%;
    }

    .widget-title table td {
        margin: 0;
    }

    .widget-title h5 {
        color: #666666;
        text-shadow: 0 1px 0 #ffffff;
        float: left;
        font-size: 12px;
        font-weight: bold;
        padding: 12px;
        line-height: 12px;
        margin: 0;
    }

    .widget-title .left-buttons {
        float: left;
        margin: 6px 0 0 20px;
    }

    .widget-title .middle-title {
        text-align: center;
        padding: 5px;
    }

    .widget-title .right-buttons {
        float: right;
        margin: 6px 20px 0 0;
    }

    .widget-content {
        padding: 0;
        border-bottom: 1px solid #cdcdcd;
        height: auto;
    }

    .widget-box.widget-plain .widget-content {
        padding: 12px 0 0;
    }

    .widget-box.collapsible .collapse.in .widget-content {
        border-bottom: 1px solid #CDCDCD;
    }

    .panel-left {
        width: 223px;
        /*background-color: #f2f2f2;*/
        position: absolute;
        left: 0;
        top: 37px;
        min-height: 250px;
    }

    .panel-right {
        min-height: 250px;
        border-left: 1px solid #dddddd;
        /*height: 450px;*/
    }

    .panel-right .panel-title {
        width: 100%;
        background-color: #ececec;
        /*border-bottom: 1px solid #dddddd;*/
        padding: 6px 10px 5px;
    }

    .panel-right .panel-title h5 {
        font-size: 12px;
        color: #777777;
        text-shadow: 0 1px 0 #ffffff;
        margin: 0;
        display: inline-block;
        width: 100px;
        text-align: right;
    }

    .panel-right .filter-item {
        display: block;
        padding: 3px;
    }

    .panel-right .filter-item .btn {
        margin-right: 10px;
        min-width: 60px;
    }

    .panel-right .panel-content {
        padding: 0;
    }

    .mini-calendar.dropdown-menu {
        border-color: #cdcdcd;
        /*border-top: none;*/
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
    }

    .mini-calendar::before,
    .mini-calendar::after {
        border-left: 0;
        border-right: 0;
    }

    .modal-open .mini-calendar.dropdown-menu {
        z-index: 99;
    }

    .filter-item .custom-checkbox,
    .filter-item {
        position: relative;
        display: inline-block;
    }

    .filter-item .custom-checkbox input,
    .filter-item .custom-radio input {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }

</style>
<!--页面结构-->
<div class="widget-box widget-calendar">
  <div class="widget-title">
    <table>
      <tr>
        <td class="left-buttons">
          <%= link_to url_for(:action => "new"), :class => "btn btn-success" do %>
              <i class="icon-plus icon-white"></i><%= t(:label_irm_sales_opportunity_sales_new) %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>


  <div class="widget-content nopadding" id="widget-content">

    <div class="panel-right">
      <div class="panel-title">

        <div class="filter-item" id="role">
          <h5><%= t(:label_irm_sales_opportunity_sales_people) %>：</h5>
          <% ["ALL", "CHARGE", "PARTICIPATION"].each do |item| %>
              <input type="checkbox" value="<%= item %>" id="<%= item %>"
                     <% if item.eql?("ALL") %> data-all="true"
                     <% end %> data-label-text="<%= t("label_irm_sales_opportunity_sales_people_#{item.downcase}") %>"/>
          <% end %>

        </div>

        <div class="filter-item" id="status">
          <h5><%= t(:label_irm_sales_opportunity_sales_status) %>：</h5>
          <% ["ALL", "QUOTE", "PROJECT", "BID", "BUSINESS", "CANCEL"].each do |item| %>
              <input type="checkbox" value="<%= item %>"  id="<%= item %>"
                     <% if item.eql?("ALL") %> data-all="true"
                     <% end %> data-label-text="<%= t("label_irm_sales_opportunity_sales_status_#{item.downcase}") %>"/>
          <% end %>
        </div>
      </div>

      <div class="panel-content">
        <%= datatable("get_sales_opportunities", {:action => "get_data", :format => "json"}, [], {:search_box => "searchTask", :paginator_box => "paginatorTask"}) %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $(function () {
        var current_target = $("#get_sales_opportunities").data("datatable").target;

        $(".filter-item input").each(function () {
            var $this = $(this), parent = $this.parent(),
                    container = $("<div/>"),
                    labelText = $this.data("label-text"),
                    label = $("<label class='btn'/>");

            if ($this.data("all")) {
                label.attr("data-all", true);
            }

            label.text(labelText);
            if ($this.is(":checked")) {
                label.addClass("btn-danger");
            }

            container.addClass("custom-checkbox");
            $this.bind("click", function (e) {
                if ($(this).is(":checked")) {
                    //检查当前是否控制其他checkbox选择的
                    if ($(this).data("all")) {
                        $("input", parent).removeAttr("checked");
                        $("label", parent).removeClass("btn-danger");
                        label.removeClass("btn-danger");
                    } else {
                        $("input[data-all]", parent).removeAttr("checked");
                        $("label[data-all]", parent).removeClass("btn-danger");
                        $this.removeAttr("checked");
                        label.removeClass("btn-danger");
                    }
                    if ($("#role input[checked]", parent).length == 0) {
                        alert("aaa");
                        $("#CHARGE").attr("checked", true);
                        label.addClass("btn-danger");
                    }
                    if ($("#status input[checked]", parent).length == 0) {
                        alert("bbb");
                        $("#QUOTE").attr("checked", true);
                        label.addClass("btn-danger");
                    }
                } else {
                    if ($(this).data("all")) {
                        $("input", parent).attr("checked", true);
                        $("label", parent).addClass("btn-danger");
                    } else {
                        $this.attr("checked", true);
                        if ($("input", parent).length == $("input[checked]", parent).length + 1) {
                            $("input[data-all]", parent).attr("checked", true);
                            $("label[data-all]", parent).addClass("btn-danger");
                        }
                    }
                    label.addClass("btn-danger");
                }
                reloadInstance(current_target);
                return false;
            });

            label.bind("click", function (e) {
                $this.trigger("click");
            });

            container.append($this).append(label);
            parent.append(container);
        });


        function reloadInstance(current_target) {
            var role = [], status = [];

            //设置cookie过期时间为5分钟
            var cookie_date = new Date(), minutes = 5;
            cookie_date.setTime(cookie_date.getTime() + (minutes * 60 * 1000));

            $("#role input:checked").each(function () {
                role.push($(this).val());
            });

            $("#status input:checked").each(function () {
                status.push($(this).val());
            });

            $.cookie("sales_role", "");
            $.cookie("sales_status", "");
            $.cookie("sales_role", role);
            $.cookie("sales_status", status);
            var params = {'role[]': role, 'status[]': status};
            current_target.data.options.searchOptions = params;
            current_target.loadPage(1);
        }

    });
</script>