<%= common_title %>

<%= form_for(@mail_request,:url=>{:action=>"update", :id => @mail_request},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="edit-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_icm_mail_request_new)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @mail_request%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
          <span class="requiredLegend">
            <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
            </span>
          <span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
          </span>
      </span>
      <h3><%=t(:label_icm_mail_request_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_common_username)%></label></td>
              <td class="dataCol"><%=f.text_field :username, :required => true, :autocomplete => "off"%></td>
              <td class="labelCol">&nbsp;</td>
              <td class="dataCol">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_common_password)%></label></td>
              <td class="dataCol"><%=f.text_field :password, :type => "password", :autocomplete => "off", :required => true%></td>
              <td class="labelCol">&nbsp;</td>
              <td class="dataCol">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol empty"><label for="status_code"><%=(t :status)%></label></td>
              <td class="dataCol empty"><%=f.select :status_code, available_active_status, {},{:id=>"status_code"}%></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
          <span class="requiredLegend">
            <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
            </span>
          <span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
          </span>
      </span>
      <h3><%=t(:label_icm_mail_request_default_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>

            <tr>
              <td class="labelCol"><label><%=(t :label_irm_external_system)%></label></td>
              <td class="dataCol"><%=f.select :external_system_id, ava_external_systems, {:value=>@mail_request.external_system_id},
                            {:required=>true,:id=>"ass_external_system",:blank=> "--- #{t(:actionview_instancetag_blank_option)} ---"}%></td>

              <td class="labelCol"><%=t(:label_icm_incident_request_urgence_code)%></td>
              <td class="dataCol"><%=f.select :urgency_id,options_for_select(available_urgence_code,@mail_request.urgency_id||Icm::UrgenceCode.default_id),
                                                    {},{:id=>"mail_request_urgence_code"}%></td>
            </tr>
            <tr>
              <td class="labelCol"><label for=""><%=t(:label_icm_incident_request_incident_category)%></label></td>
              <td class="dataCol"><%=f.select :incident_category_id,
                                            nullable_options_for_select([],@mail_request.incident_category_id),
                                            {},
                                            {:id=>"incident_category_id",
                                             :origin_value=>@mail_request.incident_category_id,
                                             :depend=>"ass_external_system",
                                             :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                             :href=>url_for(:controller=>"icm/incident_categories",:action=>"get_option",:format=>"json",
                                                            :external_system_id=>"${ass_external_system}")}%>
              </td>
              <td class="labelCol"><label><%=(t :label_icm_incident_request_support_group)%></label></td>
              <td class="dataCol"><%=f.select :support_group_id,nullable_options_for_select(available_support_group,@mail_request.support_group_id),
                                                    {},{:id=>"mail_request_support_group_id"}%></td>
            </tr>
            <tr>
              <td class="labelCol"><label for=""><%=t(:label_icm_incident_request_incident_sub_category)%></label></td>
              <td class="dataCol"><%=f.select :incident_sub_category_id,
                                            nullable_options_for_select([],@mail_request.incident_sub_category_id),
                                            {},
                                            {:id=>"incident_sub_category_id",
                                             :origin_value=>@mail_request.incident_sub_category_id,
                                             :depend=>"incident_category_id",
                                             :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                             :href=>url_for(:controller=>"icm/incident_sub_categories",:action=>"get_option",:format=>"json",
                                                            :incident_category_id=>"${incident_category_id}")}%>
              </td>
              <td class="labelCol"><label><%=t(:label_icm_incident_request_support_person)%></label></td>
              <td class="dataCol"><%= f.select(:support_person_id,nullable_options_for_select([],nil),{},
                                  {
                                   :id=>"mail_request_support_person_id",
                                   :href=>url_for(:controller=>"icm/support_groups",:action=>"get_member_options",:format=>"json",:id=>"${mail_request_support_group_id}"),
                                   :origin_value=>@mail_request.support_person_id,
                                   :depend=>"mail_request_support_group_id",
                                   :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---"
                                   }) %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $(function(){
     if($("#mail_request_support_group_id")){
         $("#mail_request_support_group_id").cascade("#mail_request_support_person_id");
     }
     if($("#ass_external_system")){
        $("#ass_external_system").cascade(["#incident_category_id"]);
     }

     if($("#incident_category_id")){
        $("#incident_category_id").cascade("#incident_sub_category_id");
     }
  });
</script>

