<%= common_title%>
<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_icm_mail_request) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="urgenceCodesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="mail_requests_list" class="datatable" style="width:100%;">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:action=>"edit",:id=>"{id}"}) %>
          </div>
          <div id="status_code" style="display:none">
            <%= check_img("{status_code}") %>
          </div>
        </div>
        <%= datatable("mail_requests_list",{:action=>"get_data",:format=>"json"},
                  [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"60px"},
                   {:key=>"username",:label=>t(:label_irm_common_username),:searchable=>true, :width => "140px"},
                   {:key=>"external_system_name",:label=>t(:label_irm_external_system),:searchable=>true, :width => "140px"},
                   {:key=>"service_name",:label=>t(:label_icm_incident_request_service_code), :width => "150px"},
                   {:key=>"support_group_name",:label=>t(:label_icm_support_group), :width => "100px"},
                   {:key=>"supporter_name",:label=>t(:label_icm_incident_request_support_person), :width => "80px"},
                   {:key=>"impact_range_name",:label=>t(:label_icm_impact_range), :width => "75px"},
                   {:key=>"urgency_name",:label=>t(:label_icm_urgence_code), :width => "75px"},
                   {:key=>"status_code",:formatter=>"Y.irm.template",:label=>t(:status),:width=>"50px"}],
                   {:paginator_box=>"mailRequestPaginator",:search_box=>"mailRequestSearchBox"})%>
        <div id="mailRequestPaginator"></div>
      </div>
    </div>
</div>