
<div id="reportChart"></div>

<style type="text/css" mce_bogus="1">
    table.tab_css_1 th{
        white-space: nowrap;
    }
    table.tab_css_1 td{
        white-space: nowrap;
    }
    body,table{
        font-size:12px;
    }
    table.tab_css_1{
        empty-cells:show;
        border-collapse: collapse;
        /*margin:0 auto;*/
    }

    h1,h2,h3{
        font-size:12px;
        margin:0;
        padding:0;
    }
    table.tab_css_1{
        border:1px solid #cad9ea;
        color:#666;
    }
    table.tab_css_1 th {
        /*background-image: url("th_bg1.gif");*/
        background-repeat:repeat-x;
        height:30px;
    }
    table.tab_css_1 td,table.tab_css_1 th{
        border:1px solid #cad9ea;
        padding:0 1em 0;
    }
    table.tab_css_1 tr.tr_css{
        background-color:#f5fafe;
        height:30px;
    }
</style>

<!--  irm datatable      -->
<%= I18n.t(:label_total_data_size, :m => datas[:datas].size)%>
<div class="irm-datatable">
  <div style="overflow: auto; width: 100%;overflow-y:scroll;height:400px;">
    <table count="<%=datas[:datas].size%>" border="1" class="tab_css_1">
      <thead>
      <tr>
        <th>
          <div><%= datas[:headers][0] %></div>
        </th>
        <% 1.upto(datas[:headers].length-1) do |index| %>
            <th >
              <div><%= datas[:headers][index] %></div>
            </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% datas[:datas].each do |data| %>
          <tr class="tr_css" align="center">
            <% 0.upto(datas[:headers].length-1) do |index| %>
                <td>
                  <div>
                    <%if index != 0 %>
                        <%= data[index] %>
                    <%else%>
                        <a href="/incident_requests/<%= data[datas[:headers].length] %>/journals/new"><%=data[index] %></a>
                    <%end%>
                  </div>
                </td>
            <% end %>
          </tr>
      <% end -%>
      </tbody>
    </table>
  </div>
</div>
<!--  end irm datatable      -->
