<% results.values.each do |value| %>
  <% if value.present? %>
    <li>
      <!-- 显示知识库 -->
      <% if value[:hit].nil? %>
          <% entry_title = value[:result][:entry_title] %>
          <% entry_id = value[:result][:id] %>
          <% entry_content = entry_header_content(value[:result]) %>
          <% updated_at = value[:result][:updated_at] %>
          <% keyword_tags = value[:result][:keyword_tags] %>
      <% else %>
          <% entry_title = search_result_highlight(value[:hit], :entry_title) %>
          <% entry_id = value[:hit].result[:id] %>
          <% entry_content = search_result_highlight(value[:hit], "entry_content") %>
          <% updated_at = value[:hit].result[:updated_at] %>
          <% keyword_tags = value[:hit].result[:keyword_tags] %>
      <% end %>
      <h3 class="title">【<%= t :label_skm_entry_header %>】
        <%= link_to(entry_title, {:controller => "skm/entry_headers", :action=>"show",:id => entry_id }) %>
      </h3>
      <p class="meta"><%=t(:label_skm_entry_header_keyword_tags)%>:<%= keyword_tags %></p>
      <p class="content">
        <!-- 知识库中的内容 -->
        <%= entry_content %>
      </p>
      <p class="meta"><%= format_date(updated_at) %></p>
    </li>
  <% end %>
<% end %>