<%= app_title %>
<%= form_for(@entry_header,:url=>{:action=>"create_relation", :id => @entry_header.id },:builder => CustomFormBuilder, :html => {:name => "new_relation_form", :id => "new_relation_form",:method => "POST",:multipart => true}) do |f| %>
  <% content_for :form_block_common do%>
    <table class="form-table" cellpadding="0" cellspacing="0">
      <tbody>
          <tr>
            <td class="label-col"><label><%=(t :label_skm_entry_header_title)%></label></td>
            <td class="data-2col"><%=f.text_field :entry_title, :required=>true, :size => 80%></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_skm_entry_header_keyword_tags)%></label></td>
            <td class="data-2col"><%=f.text_field :keyword_tags, :size => 80%></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_skm_channel)%></label></td>
            <td class="data-2col"><%= f.lov_field :channel_id, Skm::Channel, {:required => true}%></td>
          </tr>
      </tbody>
    </table>
  <% end %>
  <% content_for :form_buttons  do %>
    <%= link_to t(:save_as_published), {}, :href => "javascript:void(0);",:type => "submit",:class => "btn btn-primary"%>
    <%= link_to t(:cancel), {:action => "index"}, {:class => "btn cancel"}%>
  <% end %>

  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header">
      <tr>
          <td class="page-block-title">
            <h2 class="block-title"><%=t(:label_skm_entry_header_edit)%></h2>
          </td>
          <td class="page-block-button">
            <%= content_for :form_buttons   %>
          </td>
          <td class="page-block-help"></td>
        </tr>
    </table>
    <%= error_for @entry_header %>
    <div class="page-block-body">
      <div class="sub-page-block">
        <!-- 个人信息 -->
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%=t(:label_common_info)%></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_block_common   %>
        </div>
        <%- if session[:skm_entry_details] -%>
          <%- @elements.each do |e| -%>
            <div class="sub-page-block-header">
              <h3 class="sub-page-block-title"><%= e.element_name %><%= e.required_flag == "Y" ? "(必填)" : "" %></h3>
            </div>
            <div class="sub-page-block-body">
              <table class="show-table">
                <tbody>
                    <tr>
                      <%= fields_for("skm_entry_details[]", e) do |ef|%>
                      <td><% if e.required_flag == "Y"%>
                          <%= ef.text_area :entry_content, {:required => true, :rows => e.default_rows, :style => "width:100%;", :value => (session[:skm_entry_details][e.id.to_s.to_sym][:entry_content] if session[:skm_entry_details])} %>
                              <% if @error_details.include?(e.id) %>
                              <div class="errorMsg"><strong><%= t(:error) %>:</strong>["<%= t(:error_skm_entry_detail_can_not_blank)%>"]</div>
                              <% end if @error_details %>
                          <% else %>
                            <%= ef.text_area :entry_content, {:rows => e.default_rows, :style => "width:100%;", :value => (session[:skm_entry_details][e.id.to_s.to_sym][:entry_content] if session[:skm_entry_details])} %>
                          <% end %>
                      </td>
                      <% end %>
                    </tr>
                </tbody>
              </table>
            </div>
          <%- end -%>
        <%- else -%>
        <% @entry_header.entry_details.order("line_num ASC").each do |ed| %>
          <div class="sub-page-block-header">
            <h3 class="sub-page-block-title"><%= ed.element_name %>&nbsp;<%= ed.required_flag == "Y" ? "(必填)" : "" %></h3>
          </div>
          <div class="sub-page-block-body">
            <table class="show-table">
              <tbody>
                <%= fields_for("skm_entry_details[]", ed) do |ef| %>
                  <tr>
                    <td class="data-col" style="padding: 2px 20px 2px 10px !important;"><% if ed.required_flag == "Y"%>
                      <%= ef.text_area :entry_content, {:rows => ed.default_rows, :style => "width:100%;", :required => true, :value => ed.entry_content} %>
                      <% else %>
                      <%= ef.text_area :entry_content, {:rows => ed.default_rows, :style => "width:100%;", :value => ed.entry_content} %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
        <%- end -%>
        <!-- 加载上传附件模板 -->
        <%= render :partial=>"helper/upload_file_template",:locals=>{:type_flag => true, :exist_attachments => nil, :attachments => @entry_header.attachments,:delete_url => {:controller => "skm/entry_headers", :action => "remove_exits_attachment"} } %>
      </div>
    </div>

    <table class="page-block-footer">
      <tr>
        <td class="page-block-title"></td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
  </div>
<% end %>


<%= content_for :sidebar do%>
    <%= render "skm/entry_headers/sidebar_navigate_menu"%>
    <%= render :partial =>"/irm/common/recently_objects" %>
<% end -%>