<%= common_title(:show_data=> "[#{@entry_header.doc_number}]  #{@entry_header.entry_title}".html_safe)%>
<% require_jscss(:markdown) %>

<!--页面结构-->
<div class="show-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"></h2>
    </td>
    <td class="page-block-button">
      <% if @entry_header[:is_favorite] == Irm::Constant::SYS_NO %>
          <%= link_to t(:save_page), {:controller => "skm/entry_headers", :action => "add_favorites", :id => @entry_header.id, :person_id => Irm::Person.current.id},:class=>"btn btn-primary"%>
      <% end %>
      <% if @entry_header.history_flag == Irm::Constant::SYS_NO  %>
          <% if can_edit_header?(@entry_header) %>
              <%= link_to t(:edit), {:action => "edit", :id => @entry_header, :approval_flag => true },:class=>"btn"%>
          <% end %>
      <% end %>
      <% if params[:entry_book_id].present? %>
          <%= link_to t(:back), {:controller => "skm/entry_books",:action => "show", :id => params[:entry_book_id]},:class=>"btn cancel"%>
      <% else %>
          <%= link_to t(:back), {:action => "index"},:class=>"btn cancel"%>
      <% end %>
      <!-- 如果知识库没有发布则不能进行新建关联知识库和导出pdf数据 -->
      <%- if @entry_header.entry_status_code.eql?(Skm::EntryStatus::PUBLISHED) -%>
          <%= link_to t(:label_skm_entry_header_new_relation),{:action => "new_relation", :id => @entry_header.id }, :class => "btn btn-primary" %>
          <% link_to t(:export_pdf), {:controller=>"skm/entry_headers",:action=>"show",:format => "pdf"}, {:class => "btn btn-info",:target => "_blank"} %>
      <%- end -%>
    </td>
    <td class="page-block-help">
      (<%= t(:label_skm_entry_header_version) + "  " + @entry_header.version_number %>)
    </td>
  </tr></table>
  <div class="page-block-body">
    <div class="markdown-body" style="width: 551pt;text-align: left;margin: 0 auto;">
      <% @entry_header.entry_details.each do |e| %>
        <h1><%= raw(e.element_name) %></h1>
        <p><%= raw(display_content(@entry_header.id, e.entry_content)) %></p>
      <% end %>
      <!-- 显示附件列表信息 -->
      <% if @entry_header.attachments.any? %>
        <h1><%= t(:label_irm_attachment)%></h1>
        <% @entry_header.attachments.each do |a| %>
          <% version = a.last_version_entity %>
          <ul>
            <li>
              <%= raw("<a target='_blank' href='#{version.data.url}' >#{version.data.original_filename}</a>") %>
              <!--<span class="hedit-link">[<%= link_to(t(:delete), {:controller => "skm/entry_headers", :action => "remove_exits_attachment", :entry_header_id => @entry_header.id, :att_id => a.latest_version_id},:confirm => t(:label_delete_confirm), :remote => "true") %>]</span>-->
            </li>
          </ul>
        <% end %>
      <% end %>
      <!-- 未发布的知识没有版本记录 -->
      <%- if @entry_header.entry_status_code.eql?(Skm::EntryStatus::PUBLISHED) -%>
        <h1><%= t(:label_skm_entry_header_versions) %></h1>
          <div style="margin-left: 50px;">
          <table style="margin-left: 0;">
            <tbody>
            <tr>
              <th><%= t(:label_skm_entry_header_title) %></th>
              <th><%= t(:label_skm_entry_header_published_date) %></th>
              <th><%= t(:label_skm_entry_header_version) %></th>
              <th><%= t(:label_skm_entry_header_doc_number) %></th>
            </tr>
            <% @entry_history.each do |data| %>
              <tr>
                <td><%= link_to(data[:full_title], {:controller => "skm/entry_headers", :action => "show", :id => data[:id]}) %></td>
                <td><%= format_date data[:published_date] %></td>
                <td><%= data[:version_number] %></td>
                <td><%= data[:doc_number] %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          </div>
      <% end %>
      <!-- 关联的知识 -->
      <h1><%= t(:label_skm_entry_header_relation_list) %></h1>
      <div style="margin-left: 50px;" id="entryHeaderRelation">
      <table class="page-block-header" style="margin-left: 0;">
        <tr>
          <td class="page-block-help form-inline" style="border: none;">
            <%= form_tag({:controller => "skm/entry_headers",:action => "add_relation", :source_id => @entry_header.id,:_dom_id=>"entryHeaderRelation"},{:remote=>true,:builder => CustomFormBuilder}) do %>
                <div class="float-right" style="margin-left: 20px;">
                  <%= link_submit(t(:add), :class=>"btn") %>
                </div>
                <div  style="float:right;">
                  <%= lov_field_tag "skm_relation", Skm::EntryHeader,{:style=>"width:150px;",:lov_params=>{:lktkn=>"entry_relation", :entry_header_id=> @entry_header.id}}%>
                </div>
            <%- end -%>
          </td>
        </tr>
      </table>

      <% if @entry_relation.any? %>
        <table style="margin-left: 0px;">
          <tbody>
            <tr>
              <th style="width: 30px;"><%= t(:operation) %></th>
              <th><%= t(:label_skm_entry_header_title) %></th>
              <th><%= t(:label_skm_entry_header_published_date) %></th>
              <th><%= t(:label_skm_entry_header_version) %></th>
              <th><%= t(:label_skm_entry_header_doc_number) %></th>
            </tr>
            <% @entry_relation.each do |data| %>
              <tr>
                <td><%= link_to(t(:remove), {:controller=>"skm/entry_headers",:action=>"remove_relation",:id=>data[:relation_id],:source_id =>data[:entry_id],:_dom_id => "entryHeaderRelation"},:confirm => t(:label_are_you_sure) ,:remote=>true,:method => :delete, :class => "action-link") %></td>
                <td><%= link_to(data[:entry_title], {:controller => "skm/entry_headers", :action => "show", :id => data[:entry_id]}) %></td>
                <td><%= format_date data[:published_date] %></td>
                <td><%= data[:version_number] %></td>
                <td><%= data[:doc_number] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      <% end %>
    </div>
  </div>
</div>