<% require_javascript(:video)%>
<% require_css(:video)%>
<%= app_title %>
<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title">[<%= @entry_header.doc_number%>]&nbsp;&nbsp;&nbsp;<%= @entry_header.entry_title %></h2>
    </td>
    <td class="page-block-button">
      <% if @entry_header.history_flag == Irm::Constant::SYS_NO %>
        <%= link_to t(:edit), {:action => "video_edit", :id => @entry_header},:class => "btn btn-primary"%>
      <% end %>
      <%= link_to t(:back), {:action => "index"},:class=>"btn cancel"%>
    </td>
  </tr></table>
  <div class="page-block-body">
    <div class="sub-page-block">
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title"><%= t(:label_action_video_show) %></h3>
      </div>
      <div class="sub-page-block-body">
         <table class="detail-list">
           <tbody>
               <tr>
                 <td>
                   <div align=center>
                       <video id="<%= @video.id%>" class="video-js vjs-default-skin" controls
                         preload="auto" width="640" height="480"
                         data-setup="{}">
                         <source src="<%= @video.url%>" type='video/mp4'>
                       </video>
                   </div>
                 </td>
               </tr>
               <tr><td>&nbsp;</td></tr>
               <tr><td><div align="center"><%= @video.description%></div></td></tr>
           </tbody>
         </table>
      </div>
    </div>
  </div>

  <!-- 关联的知识库 -->
  <div id="entryHeaderRelation">
    <%= render :partial=> "skm/entry_headers/entry_header_relations",:locals=>{:datas=>@entry_relation,:entry_header_id => @entry_header.id }%>
  </div>
</div>