<%= setting_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_icm_group_assignment_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
              </td>
              <td class="pbHelp">
                <div id="groupAssignmentSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="group_assignments_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:action=>"edit",:id=>"{id}"}) %>&nbsp;
          </div>
          <div id="status_code" style="display:none">
            <%= check_img("{status_code}") %>
          </div>
          <div id="vendor_group_flag" style="display:none">
            <%= check_img("{vendor_group_flag}")%>
          </div>
          <div id="oncall_group_flag" style="display:none">
            <%= check_img("{oncall_group_flag}")%>
          </div>
        </div>
        <%= datatable("group_assignments_list",url_for(:action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                       {:key=>"name",:label=>t(:label_irm_support_group_show),:sortable=>true,:searchable=>true,:width=>"200px"},
                       {:key=>"company_name",:label=>t(:label_irm_support_group_company_name),:sortable=>true,:searchable=>true,:width=>"80px"},
                       {:key=>"organization_name",:label=>t(:label_irm_support_group_organization_name),:sortable=>true,:searchable=>true,:width=>"50px"},
                       {:key=>"support_role_name",:label=>t(:label_irm_support_group_support_role),:sortable=>true,:width=>"50px"},
                       {:key=>"vendor_group_flag",:label=>t(:label_irm_support_group_vendor_group),:formatter=>"Y.irm.template",:sortable=>true, :width=>"30px"},
                       {:key=>"oncall_group_flag",:label=>t(:label_irm_support_group_oncall_group),:formatter=>"Y.irm.template",:sortable=>true, :width=>"30px"},
                       {:key=>"status_code",:label=>t(:active),:width=>"40px",:formatter=>"Y.irm.template"}
                       ],{:paginator_box=>"groupAssignPaginator"})%>
        <div id="groupAssignPaginator"></div>
      </div>
    </div>
</div>
