<%= setting_title %>
<%= form_for(@policy,:url=>{:action=>"update", :id=> @policy},:builder => CustomFormBuilder) do |f| %>
  <% content_for :form_block_common  do%>
    <table class="form-table">
      <tbody>
          <tr>
            <td class="label-col"><label><%= t :label_irm_psw_policy_expire_in %></label></td>
            <td class="data-2col">
              <%= f.lookup_field :expire_in, "IRM_PSW_EXPIRE_IN", {:required => true} %>
            </td>
          </tr>
          <tr>
            <td class="label-col"><label><%= t :label_irm_psw_policy_enforce_history %></label></td>
            <td class="data-2col">
              <%= f.lookup_field :enforce_history, "IRM_PSW_ENFORCE_HISTORY", {:required => true} %>
            </td>
          </tr>
          <tr>
            <td class="label-col"><label><%= t :label_irm_psw_policy_min_length %></label></td>
            <td class="data-2col">
              <%= f.lookup_field :minimum_length, "IRM_PSW_MINIMUM_LENGTH", {:required => true} %>
            </td>
          </tr>
          <tr>
            <td class="label-col"><label><%= t :label_irm_psw_policy_complexity_requirement %></label></td>
            <td class="data-2col">
              <%= f.lookup_field :complexity_requirement, "IRM_PSW_COMPLEXITY_REQ", {:required => true} %>
            </td>
          </tr>
          <tr>
            <td class="label-col"><label><%= t :label_irm_psw_policy_question_requirement %></label></td>
            <td class="data-2col">
              <%= f.lookup_field :question_requirement, "IRM_PSW_QUESTION_REQ", {:required => true} %>
            </td>
          </tr>
          <tr>
            <td class="label-col"><label><%= t :label_irm_psw_policy_max_attempts %></label></td>
            <td class="data-2col">
              <%= f.lookup_field :maximum_attempts, "IRM_PSW_MAXIMUM_ATTEMPTS", {:required => true} %>
            </td>
          </tr>
          <tr>
            <td class="label-col"><label><%= t :label_irm_psw_policy_lockout_period %></label></td>
            <td class="data-2col">
              <%= f.lookup_field :lockout_period, "IRM_PSW_LOCKOUT_PERIOD", {:required => true} %>
            </td>
          </tr>
      </tbody>
    </table>
  <% end %>
  <% content_for :form_buttons  do %>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
  <% end %>

  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header">
      <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%= t(:label_irm_psw_policy) %></h2>
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
    <div class="page-block-body">
      <div class="sub-page-block">
        <!-- 一般信息 -->
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%= t(:label_common_info) %></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_block_common   %>
        </div>
      </div>
    </div>
    <table class="page-block-footer">
      <tr>
        <td class="page-block-title"></td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
  </div>
<% end %>