<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table count="<%=datas.size%>">
         <thead>
           <tr>
             <th style="width:120px;">
               <div><%= t(:operation) %></div>
             </th>
             <th style="width:150px;">
               <div><%= t(:label_icm_incident_sub_category_code) %></div>
             </th>
             <th>
               <div><%= t(:label_icm_incident_sub_category_name) %></div>
             </th>
             <th >
               <div><%= t(:label_icm_incident_sub_category_description) %></div>
             </th>
           </tr>
         </thead>
         <tbody>
         <% datas.each do |data| %>
         <tr id="<%=data[:id]%>">
           <td>
             <div>
               <%= link_to(t(:edit),{:controller => "icm/incident_sub_categories",:action => "edit",:id=>data.id},{:back=>true}) %>|
               <%= link_to(t(:multilingual),{:controller => "icm/incident_sub_categories",:action => "multilingual_edit",:id=>data.id},{:back=>true}) %>|
               <%= link_to(t(:delete),{:controller => "icm/incident_sub_categories",:action => "destroy",:id=>data.id},{:back=>true,:method => :delete,:confirm => t(:label_are_you_sure) }) %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:code] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:name] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:description] %>
             </div>
           </td>
         </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->