<%= common_title %>
<div id="ep" class="detail-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= @incident_category[:name] %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @incident_category}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label for="report_code"><%=t(:label_icm_incident_category_code)%></label></td>
              <td class="dataCol"><%=@incident_category.code%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label for="report_name"><%=t(:label_icm_incident_category_name)%></label></td>
              <td class="dataCol"><%=@incident_category[:name]%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>


            <tr>
              <td class="labelCol"><label for="report_description"><%=t(:label_icm_incident_category_description)%></label></td>
              <td class="dataCol" colspan="3" width="82%"><%=@incident_category[:description]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label for="service_catalog_description"><%=t(:label_icm_incident_category_external_system)%></label></td>
               <td class="dataCol" colspan="3" width="82%"><div>
                <% meaning = duel_meaning(@incident_category.get_system_str,external_system_duel_values) %>
                <% if meaning.any? %>
                    <% meaning.each do |r| %>
                        <div><%= r %></div>
                    <% end %>
                <% end %>
              </div></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

 <%= page_block("subCategories") do |pb|%>
        <%= pb.page_block_header(:title=>t(:label_icm_incident_sub_category)) do %>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:new), {:controller => "icm/incident_sub_categories",:action => "new",:category_id=>@incident_category.id,:back_url=>url_for({})}%></div>
          </td>
          <td class="pbHelp">
          </td>

        <% end %>
       <%= pb.page_block_body do %>
         <% incident_sub_categories = incident_sub_categories(@incident_category.id) %>
         <%= detail_data_table(incident_sub_categories.size) do %>
           <%= render :partial=>"icm/incident_categories/incident_sub_categories",:locals=>{:datas=>incident_sub_categories} %>
         <% end %>
       <% end %>
 <% end %>

<%=render :partial=>"multilingual/show",:locals=>{:main_data=>@incident_category} %>
