<%= common_title(:action_meaning=>t(:label_common_info)) %>

<div id="ep" class="detail-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_global_setting) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubheader tertiaryPalette">&nbsp;
      <h3><%=t(:label_common_info)%><span class="titleSeparatingColon"></span></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:APPLICATION_TITLE])%></label></td>
              <td class="data2Col"><%= @setting_values[:APPLICATION_TITLE]%>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:HOST_NAME])%></label></td>
              <td class="data2Col"><%= @setting_values[:HOST_NAME]%>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:HOST_PATH])%></label></td>
              <td class="data2Col"><%= @setting_values[:HOST_PATH]%>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:HOST_PORT])%></label></td>
              <td class="data2Col"><%=@setting_values[:HOST_PORT]  %>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:EMISSION_EMAIL_ADDRESS])%></label></td>
              <td class="data2Col"><%= @setting_values[:EMISSION_EMAIL_ADDRESS]%>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:UPLOAD_FILE_LIMIT])%></label></td>
              <td class="data2Col"><%= @setting_values[:UPLOAD_FILE_LIMIT]%>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:TIMEZONE])%></label></td>
              <td class="data2Col"><%=Irm::LookupValue.multilingual.query_by_lookup_code(@setting_values[:TIMEZONE]).first.wrap_meaning%>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="pbSubheader tertiaryPalette">&nbsp;
      <h3><%=t(:label_irm_global_setting_logo)%><span class="titleSeparatingColon"></span></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:APP_TOP_LOGO])%></label></td>
              <td class="data2Col">
              <%= image_tag Irm::SystemParametersManager.app_top_logo, :style => "width: 175px; height:65px;border: 1px solid #c9c9c9 !important;"%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:LOGIN_PAGE_LOGO])%></label></td>
              <td class="data2Col">
              <%= image_tag Irm::SystemParametersManager.login_page_logo, :style => "width: 300px; height:124px; border: 1px solid #c9c9c9 !important" %></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:ADDRESS_BAR_LOGO])%></label></td>
              <td class="data2Col">
              <%= image_tag Irm::SystemParametersManager.address_bar_logo, :style => "width: 16px; height:16px; border: 1px solid #c9c9c9 !important" %></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="pbSubheader tertiaryPalette">&nbsp;
      <h3><%=t(:label_irm_global_setting_error_page_info)%><span class="titleSeparatingColon"></span></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:ERROR_404])%></label></td>
              <td class="data2Col"><%= @setting_values[:ERROR_404]%>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:ERROR_500])%></label></td>
              <td class="data2Col"><%= @setting_values[:ERROR_500]%>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:ERROR_422])%></label></td>
              <td class="data2Col"><%= @setting_values[:ERROR_422]%>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@setting_names[:ERROR_ACCESS_DENY])%></label></td>
              <td class="data2Col"><%= @setting_values[:ERROR_ACCESS_DENY]%>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>