<%= form_for(@incident_request,:url=>{:action=>"create"},:builder => CustomFormBuilder,:html => { :multipart => true }) do |f| %>
  <%= hidden_field_tag :return_url,@return_url %>
  <!-- 创建关联事故单用到的参数 -->
  <%= hidden_field_tag :source_id, params[:source_id] %>
  <%= hidden_field_tag :relation_type, params[:relation_type] %>

  <!-- 源事故单的基本类型 -->
  <% content_for :source_incident_request do %>
    <table class="form-table">
      <tbody>
      <tr>
        <td class="label-col"><label><%= t(:label_icm_incident_request_number) %></label></td>
        <td class="data-3col">
          <label><%= @source_incident_request[:request_number] %></label>
        </td>
      </tr>
      <tr>
        <td class="label-col"><label><%= t(:label_icm_incident_request_title) %></label></td>
        <td class="data-3col">
          <label><%= @source_incident_request[:title] %></label>
        </td>
      </tr>
      <tr>
        <td class="label-col"><label><%= t(:label_icm_incident_request_target_system) %></label></td>
        <td class="data-3col">
          <label><%= @source_incident_request[:external_system_name] %></label>
        </td>
      </tr>
      </tbody>
    </table>
  <% end if @source_incident_request.present? %>

  <!--事故单基本信息-->
  <% content_for :incident_request_base do %>
    <table class="form-table">
      <tbody>
           <% if allow_to_function?(:create_icdt_rqst_for_other) %>
             <tr>
               <td class="label-col"><label for="incident_request_requested_by"><%=t(:label_icm_incident_request_requested_by)%></label></td>
               <td class="data-3col"><%=f.lov_field :requested_by,Irm::Person,{:required=>true,:id=>"incident_request_requested_by",:class=>"input-medium"}%></td>
             </tr>
           <% else %>
               <%= f.hidden_field(:requested_by,:value=>Irm::Person.current.id, :id=>"incident_request_requested_by") %>
           <% end %>
           <tr>
             <td class="label-col"><label for="incident_request_service_code"><%=t(:label_icm_incident_request_target_system)%></label></td>
             <td class="data-3col">
               <% if allow_to_function?(:create_icdt_rqst_for_other) %>
                   <%=f.select :external_system_id,nullable_options_for_select([],@incident_request.external_system_id),{:value=>@incident_request.external_system_id},
                           {:required=>true,:id=>"ass_external_system",
                            :depend=>"incident_request_requested_by",
                            :origin_value=>@incident_request.external_system_id,
                            :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                            :href=>url_for(:controller=>"icm/incident_requests",:action=>"get_external_systems",:format=>"json",:requested_by=>"${incident_request_requested_by}")}%>
               <% else %>
                   <%=f.select :external_system_id,
                           nullable_options_for_select(available_external_systems_with_person(Irm::Person.current.id).collect{|p| [p[:system_name], p.id]},@incident_request.external_system_id),
                           {:value=>@incident_request.external_system_id},
                           {:required=>true,:id=>"ass_external_system",
                            :origin_value=>@incident_request.external_system_id,
                            :depend=>"incident_request_requested_by",
                            :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                            :href=>url_for(:controller=>"icm/incident_requests",:action=>"get_external_systems",:format=>"json",:requested_by=>"${incident_request_requested_by}")}%>
               <% end %>
             </td>
           </tr>
           <tr>
             <td class="label-col"><label for=""><%=t(:label_icm_incident_request_incident_category)%></label></td>
             <td class="data-3col"><%=f.select :incident_category_id,
                                           nullable_options_for_select([],@incident_request.incident_category_id),
                                           {},
                                           {:id=>"incident_category_id",
                                            :origin_value=>@incident_request.incident_category_id,
                                            :depend=>"ass_external_system",
                                            :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                            :href=>url_for(:controller=>"icm/incident_categories",:action=>"get_option",:format=>"json",
                                                           :external_system_id=>"${ass_external_system}")}%>
             </td>
           </tr>
           <tr>
             <td class="label-col"><label for=""><%=t(:label_icm_incident_request_incident_sub_category)%></label></td>
             <td class="data-3col"><%=f.select :incident_sub_category_id,
                                           nullable_options_for_select([],@incident_request.incident_sub_category_id),
                                           {},
                                           {:id=>"incident_sub_category_id",
                                            :origin_value=>@incident_request.incident_sub_category_id,
                                            :depend=>"incident_category_id",
                                            :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                            :href=>url_for(:controller=>"icm/incident_sub_categories",:action=>"get_option",:format=>"json",
                                                           :incident_category_id=>"${incident_category_id}")}%>
             </td>
           </tr>
           <tr>
             <td class="label-col"><label for="incident_estimated_date"><%=t(:label_icm_incident_request_estimated_date)%></label></td>
             <td class="data-3col">
               <%= f.date_field(:estimated_date,:size=>12,:class=>"date",:id=>"incident_estimated_date")%>
             </td>
           </tr>
           <tr>
             <td class="label-col"><label for="incident_request_title"><%=t(:label_icm_incident_request_title)%></label></td>
             <td class="data-3col" colspan="3"><%=f.text_field :title,:size=>80, :required=>true ,:class=>"input-xxlarge",:id=>"incident_request_title"%></td>
           </tr>

           <tr>
             <td class="label-col"><label for="incident_request_summary"><%=t(:label_icm_incident_request_summary)%></label></td>
             <td class="data-3col" colspan="3">
               <%=f.text_area :summary,:rows=>8,:cols=>100,:value=>@incident_request.summary, :required=>true ,:class=>"input-xxlarge",:id=>"incident_request_summary"%>
               <%= xheditor("incident_request_summary") %>
             </td>

           </tr>

           <tr>
             <td class="label-col"></td>
             <td class="data-3col" colspan="3">
               <%= render :partial=>"helper/upload_file",:locals=>{:upload_file_id=>"new_incident_request_file"} %>
             </td>
           </tr>
       </tbody>
    </table>
  <% end %>
  <!--事故单基本信息-->
  <% content_for :incident_request_additional do %>
    <table class="form-table">
      <tbody>
        <tr>
            <td class="label-col"><label for="incident_request_contact_id"><%=t(:label_icm_incident_request_contact)%></label></td>
            <td class="data-col">
              <div style="display:inline">
                <%=f.lov_field :contact_id,Irm::Person,{:required=>true,:id=>"incident_request_contact_id",:class=>"input-medium"}%>
              </div>
            </td>
            <td class="label-col"><label for="incident_request_contact_number"><%=t(:label_icm_incident_request_contact_number)%></label></td>
            <td class="data-col">
              <%=f.text_field :contact_number,:size=>17,:id=>"incident_request_contact_number",:required=>true%>
            </td>
        </tr>
        <tr>
          <td class="label-col"><label for="incident_request_urgence_code"><%=t(:label_icm_incident_request_urgence_code)%></label></td>
          <td class="data-col">
            <%=f.select :urgence_id,options_for_select(available_urgence_code,@incident_request.urgence_id||Icm::UrgenceCode.default_id),
                                                {},{:required=>true,:id=>"incident_request_urgence_code"}%>
          </td>
          <td class="label-col"><label for="incident_request_impact_range_code"><%=t(:label_icm_incident_request_impact_range_code)%></label></td>
          <td class="data-col">
            <%=f.select :impact_range_id,options_for_select(available_impact_range,@incident_request.impact_range_id||Icm::ImpactRange.default_id),
                                                {},{:required=>true,:id=>"incident_request_impact_range_code"}%>
          </td>
        </tr>
      <% if allow_to_function?(:assign_incident_request) %>
        <tr>
          <td class="label-col"><label for="incident_request_support_group_id"><%=t(:label_icm_incident_request_support_group)%></label></td>
          <td class="data-col">
            <%=f.select :support_group_id,nullable_options_for_select(available_support_group,@incident_request.support_group_id),
                                                {},{:id=>"incident_request_support_group_id"}%>
          </td>
          <td class="label-col"><label for="incident_request_support_person_id"><%=t(:label_icm_incident_request_support_person)%></label></td>
          <td class="data-col"><%= f.select(:support_person_id,nullable_options_for_select([],nil),{},
                              {
                               :id=>"incident_request_support_person_id",
                               :href=>url_for(:controller=>"icm/support_groups",:action=>"get_member_options",:format=>"json",:id=>"${incident_request_support_group_id}"),
                               :depend=>"incident_request_support_group_id",
                               :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---"
                               }) %></td>

        </tr>
      <%end%>
      <% if allow_to_function?(:create_icdt_rqst_for_other) %>
        <tr>
          <td class="label-col"><label for="incident_request_report_source_code"><%=t(:label_icm_incident_request_report_source_code)%></label></td>
          <td class="data-col">
            <%=f.select :report_source_code,nullable_options_for_select(available_request_report_source,@incident_request.report_source_code),
                                                {},{:required=>true,:id=>"incident_request_report_source_code"}%>
          </td>

          <td class="label-col"><label for="incident_request_incident_status_code"><%=t(:label_icm_incident_request_incident_status_code)%></label></td>
          <td class="data-col">
            <%=f.select :incident_status_id,options_for_select(available_request_status_code,@incident_request.incident_status_id||Icm::IncidentStatus.default_id),
                                                {},{:required=>true,:id=>"incident_request_incident_status_code"}%>
          </td>
        </tr>
        <tr>
          <td class="label-col"><label for="incident_request_request_type_code"><%=t(:label_icm_incident_request_request_type_code)%></label></td>
          <td class="data-col">
            <%=f.select :request_type_code,nullable_options_for_select(available_request_type,@incident_request.request_type_code),
                                                {},{:required=>true,:id=>"incident_request_request_type_code"}%>
          </td>
          <td class="label-col empty">&nbsp;</td>
          <td class="data-col empty">&nbsp;</td>
        </tr>
     <%end%>
    </tbody>
  </table>
  <% end %>

  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header"><tr>
      <td class="page-block-title">
        <h2 class="block-title"><%=t(:label_icm_incident_request_new)%></h2>
      </td>
      <td class="page-block-button">
        <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
        <% if @return_url%>
          <%= link_to t(:cancel), @return_url,{:class=>"btn cancel"}%>
        <% else %>
          <%= link_back t(:cancel),{},{:class=>"btn cancel"}%>
        <% end %>
      </td>
    </tr></table>
    <%= error_for @change_request %>
    <div class="page-block-body">
    <% if @source_incident_request.present? -%>
      <div class="sub-page-block">
        <div class="sub-page-block-header">
          <h3 class="sub-page-block-title"><%= t(:label_icm_incident_request_relation_source) %></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :source_incident_request %>
        </div>
      </div>
    <% end %>
      <div class="sub-page-block">
        <div class="sub-page-block-header">
          <span class="required-help-info"> = <%=t(:label_is_required)%></span>
          <% if @source_incident_request.present? %>
            <h3 class="sub-page-block-title"><%= Irm::LookupValue.get_meaning("ICM_INCIDENT_REQUEST_REL_TYPE", params[:relation_type]) %> <%= t(:label_icm_incident_requset_base_info) %></h3>
          <% else %>
              <h3 class="sub-page-block-title"><%= t(:label_icm_incident_requset_base_info) %></h3>
          <% end %>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :incident_request_base   %>
        </div>
      </div>

      <div class="sub-page-block">
        <div class="sub-page-block-header">
          <% if @source_incident_request.present? %>
            <h3 class="sub-page-block-title"><%= Irm::LookupValue.get_meaning("ICM_INCIDENT_REQUEST_REL_TYPE", params[:relation_type]) %> <%= t(:label_icm_incident_requset_addition_info) %></h3>
          <% else %>
            <h3 class="sub-page-block-title"><%= t(:label_icm_incident_requset_addition_info) %></h3>
          <% end %>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :incident_request_additional   %>
        </div>

      </div>

      <%= (render :partial => "irm/watchers/add_watcher", :locals => {:watchable => @incident_request}) if allow_to_function?(:new_watchers)%>
    </div>

    <table class="page-block-footer"><tr>
      <td class="page-block-title">
      </td>
      <td class="page-block-button">
        <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
        <% if @return_url%>
          <%= link_to t(:cancel), @return_url,{:class=>"btn cancel"}%>
        <% else %>
          <%= link_back t(:cancel),{},{:class=>"btn cancel"}%>
        <% end %>
      </td>
    </tr></table>
  </div>

<% end %>


<!--javascript 脚本-->
<script type="text/javascript">
  $(function(){
     var requester = $("#incident_request_requested_by");
     if(requester){
         requester.change(function(event){
             setLookupValue("incident_request_contact_id",$(event.target).val());
         })
         setLookupValue("incident_request_contact_id",requester.val())
     }
     if($("#incident_request_contact_id")){
         $("#incident_request_contact_id").change(function(event){
           if($(event.target).val()&&$(event.target).data("lov")&&$(event.target).data("lov").bussiness_phone){
             $("#incident_request_contact_number").val($(event.target).data("lov").bussiness_phone);
           }
         })
     }
     if($("#incident_request_support_group_id")){
         $("#incident_request_support_group_id").cascade("#incident_request_support_person_id");
     }
     if($("#incident_request_requested_by")){
        $("#incident_request_requested_by").cascade("#ass_external_system");
     }
     if($("#ass_external_system")){
        $("#ass_external_system").cascade(["#incident_category_id"]);
     }

     if($("#incident_category_id")){
        $("#incident_category_id").cascade("#incident_sub_category_id");
     }
  });
</script>