<% results.values.each do |value| %>
    <li xmlns="http://www.w3.org/1999/html">
      <!-- 显示事故单 -->
      <% if value[:hit].nil? %>
          <% title = value[:result][:title] %>
          <% summary = plain_text(value[:result][:summary]) %>
          <% id = value[:result][:id] %>
          <% updated_at = value[:result][:updated_at] %>
          <% journals_content = '' %>
      <% else %>
          <% title = search_result_highlight(value[:hit], :title) %>
          <% summary = plain_text(search_result_highlight(value[:hit], :summary)) %>
          <% id = value[:hit].result[:id] %>
          <% updated_at =  value[:hit].result[:updated_at] %>
          <% journals_content = plain_text(search_result_highlight(value[:hit], "journals_content")) %>
      <% end %>
      <h3 class="title">【<%= t :label_icm_incident_request %>】
        (<%= value[:details][:incident_status_name] %>)[<%= value[:details][:request_number] %>]<%= link_to(title, {:controller=>"icm/incident_journals",:action=>"new",:request_id => id}) %>
      </h3>
      <p class="content"><%= summary %></p>
      <p class="meta">
        <span class="reply"><%= journals_content %></span>
      </p>
      <div class="meta">
        <table style="border: none;">
          <thead>
          <tr><td colspan="6">============================================================================================</td></tr>
          </thead>
          <tr class="item-info">
            <td class="label-col"><%= t(:label_irm_external_system) %>:</td>
            <td class="data-col"><%= value[:details][:external_system_name] %></td>
            <td class="label-col"><%= t(:label_icm_incident_request_incident_category) %>:</td>
            <td class="data-col">
              <%= value[:details][:incident_category_name] %>
              <% if value[:details][:incident_sub_category_name] %>
                > <%= value[:details][:incident_sub_category_name] %>
              <% end %>
            </td>
            <td class="label-col"><%= t(:label_icm_incident_request_support_group) %>:</td>
            <td class="data-col"><%= value[:details][:organization_name] %></td>
          </tr>

          <tr class="item-info">
            <td class="label-col"><%= t(:label_icm_incident_request_requested_by) %>:</td>
            <td class="data-col"><%= value[:details][:requested_name] %></td>
            <td class="label-col"><%= t(:label_icm_incident_request_submitted_by) %>:</td>
            <td class="data-col"><%= value[:details][:submitted_name] %></td>
            <td class="label-col"><%= t(:label_icm_incident_request_support_person) %>:</td>
            <td class="data-col"><%= value[:details][:supporter_name] %></td>
          </tr>

          <tr class="item-info">
            <td class="label-col"><%= t(:label_icm_incident_request_submitted_date) %>:</td>
            <td class="data-col"><%= format_date(value[:details][:submitted_date]) %></td>
            <td class="label-col"><%= t(:label_icm_incident_request_last_date) %>:</td>
            <td class="data-col"><%= format_date(updated_at) %></td>
            <td class="label-col"><%= t(:label_icm_incident_request_estimated_date) %>:</td>
            <td class="data-col">
              <% if value[:details][:estimated_date] %>
                <%= format_date(value[:details][:estimated_date]) %>
              <% end %>
            </td>
          </tr>
          <tfoot>
          <tr><td colspan="6">============================================================================================</td></tr>
          </tfoot>
        </table>
      </div>
  </li>
<% end %>
