<% results.values.each do |value| %>
  <li>
      <!-- 显示事故单 -->
      <% if value[:hit].nil? %>
          <% title = value[:result][:title] %>
          <% summary = plain_text(value[:result][:summary]) %>
          <% id = value[:result][:id] %>
          <% updated_at = value[:result][:updated_at] %>
          <% journals_content = '' %>
          <% support_person = value[:support_person_id].present?? Irm::Person.find(value[:support_person_id]).full_name : '' %>
          <% system_name = value[:external_system_id] %>
      <% else %>
          <% title = search_result_highlight(value[:hit], :title) %>
          <% summary = plain_text(search_result_highlight(value[:hit], :summary)) %>
          <% id = value[:hit].result[:id] %>
          <% updated_at =  value[:hit].result[:updated_at] %>
          <% journals_content = plain_text(search_result_highlight(value[:hit], "journals_content")) %>
          <% support_person = value[:hit].result[:support_person_name] %>
          <% system_name = value[:hit].result[:external_system_id] %>
      <% end %>
      <h3 class="title">【<%= t :label_icm_incident_request %>】
        <%= link_to(title, {:controller=>"icm/incident_journals",:action=>"new",:request_id => id}) %>
      </h3>
      <p class="content"><%= summary %></p>
      <p class="meta">
        <span class="reply"><%= journals_content %></span>
      </p>
      <p class="meta">
        <span class="label"><%= t(:label_icm_incident_request_support_person) %>:<%= support_person %></span>
        <span class="label label-info"><%= t(:label_irm_external_system) %>:<%= Irm::ExternalSystem.multilingual.find(system_name)[:system_name] %></span>
      </p>

      <p class="meta"><%= t(:label_icm_incident_request_last_date) %>:<%= format_date(updated_at) %></p>
  </li>
<% end %>
