<!--<%= page_title %>-->
<!--<script src="/javascripts/comment.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="/stylesheets/comment.css"/>-->
<style>
    .bc_div{
        border-radius: 20px;
        width: 280px;
        height: 160px;
        display:table-cell;
        text-align:center;
        vertical-align: middle;
        /*background-color: #606060;*/
    }
    .div_service{
        width: 130px;
        float: right;
        position: fixed;
        right: 40px;
    }
    .div_img{
        width: 130px;
        height: 130px;
        display:table-cell;
        text-align:center;
        vertical-align: middle;
    }
    .bc_div img {
        height: 70px;
        width: 60px;
    }
    .td_div{
        display: inline-block;
        width: 280px;
        box-shadow: 7px 10px 10px;
        border-radius: 25px;
    }
    .d1{
        margin:10px;
        width:300px;
        height:20px;
        overflow:hidden;
        white-space:nowrap;
    }
    .div2{
        width:auto;
        height:20px;
        font-size:12px;
    }
</style>
<div class="alert alert-info" role="alert">
  <div class="d1" id="div1" onmouseover="clearInterval(timer)" onmouseout="timer=setInterval(mar,30)">
    <span class="div2" id="div2">
		<h3><%= t(:label_for_div_one) %></h3>
		<h3><%= t(:label_for_div_two) %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </h3>
    </span>
    <span id="div3" class="div2">
    </span>
  </div>
</div>
<table class="form-table" style="width: 70%;margin-left: 15%">
  <tbody>
  <tr style="height: 190px">
    <!-- 顾问查看页面 -->
    <% if Irm::Person.current.profile.user_license.eql?("SUPPORTER")%>
        <td align=center>
          <div class="td_div">
            <a href="/incident_requests?incident_requests_page=1&filter_id=002Q000923JClcGUDhzYMy" style="float: left;text-decoration: none;">
              <div class="bc_div" style="background-color:#218868">
                <img  src="/images/new.png">
                <p style="color: white;margin-top: 10px;"><%= t(:label_home_new_ticket) %></p>
              </div>
            </a>
            <div style=" width:40px; height:40px; background-color:#F00; border-radius:25px;position: absolute;margin-left: 256px;margin-top: -16px;display:none">
              <span style="height:40px; line-height:40px; display:block; color:#FFF; text-align:center;font-weight: bold;" id="span_1"></span>
            </div>
          </div>
        </td>
        <td align=center >
          <div class="td_div">
            <a href="/incident_requests?incident_requests_page=1&filter_id=002Q0009239HMWJmlUmVmK" style="float: left;text-decoration: none;">
              <div class="bc_div" style="background-color:#DB552D">
                <img  src="/images/process.png">
                <p style="color: white;margin-top: 10px;"><%= t(:label_home_my_pending_tickets) %></p>
              </div>
            </a>
            <div style=" width:40px; height:40px; background-color:#F00; border-radius:25px;position: absolute;margin-left: 256px;margin-top: -16px;display:none">
              <span style="height:40px; line-height:40px; display:block; color:#FFF; text-align:center;font-weight: bold;" id="span_2"></span>
            </div>
          </div>
        </td>
    <%else%>
        <td align=center >
          <div class="td_div">
            <a href="/incident_requests/new" style="float: left;text-decoration: none;">
              <div class="bc_div" style="background-color:#218868">
                <img  src="/images/create.png">
                <p style="color: white;margin-top: 10px;"><%= t(:label_home_new_ticket_for_customer) %></p>
              </div>
            </a>
          </div>
        </td>
        <td align=center >
          <div class="td_div">
            <a href="/incident_requests?incident_requests_page=1&filter_id=002Q000923JClcGUDhzYMy" style="float: left;text-decoration: none;">
              <div class="bc_div" style="background-color:#DB552D">
                <img  src="/images/new.png">
                <p style="color: white;margin-top: 10px;"><%= t(:label_home_to_be_assigned) %></p>
              </div>
            </a>
            <div style=" width:40px; height:40px; background-color:#F00; border-radius:25px;position: absolute;margin-left: 256px;margin-top: -16px;display:none">
              <span style="height:40px; line-height:40px; display:block; color:#FFF; text-align:center;font-weight: bold;" id="span_1"></span>
            </div>
          </div>
        </td>
    <% end %>
    <td align=center >
      <div class="td_div">
        <a href="/incident_requests?incident_requests_page=1&filter_id=002Q000B2jTxy1kSBuiS2a" style="float: left;text-decoration: none;">
          <div class="bc_div" style="background-color:#4CBB49">
            <img  src="/images/join.png">
            <p style="color: white;margin-top: 10px;"><%= t(:label_home_my_attended_tickets) %></p>
          </div>
        </a>
        <div style=" width:40px; height:40px; background-color:#F00; border-radius:25px;position: absolute;margin-left: 256px;margin-top: -16px;display:none">
          <span style="height:40px; line-height:40px; display:block; color:#FFF; text-align:center;font-weight: bold;" id="span_3"></span>
        </div>
      </div>
    </td>
  </tr>

  <tr style="height: 190px">
    <td align=center >
      <div class="td_div">
        <a href="/incident_requests?incident_requests_page=1&filter_id=other" style="float: left;text-decoration: none;">
          <div class="bc_div" style="background-color:#BC1C48">
            <img  src="/images/join.png">
            <p style="color: white;margin-top: 10px;"><%= t(:label_home_all_tickets) %></p>
          </div>
        </a>
      </div>
    </td>
    <% if Irm::Person.current.profile.user_license.eql?("SUPPORTER")%>
    <td align=center >
      <div class="td_div">
        <a href="/entry_headers?entry_headers_list_page=1" style="float: left;text-decoration: none;">
          <div class="bc_div" style="background-color:#00ACEE">
            <img  src="/images/knowledge.png">
            <p style="color: white;margin-top: 10px;"><%= t(:label_home_knowledge) %></p>
          </div>
        </a>
      </div>
    </td>
    <td align=center >
      <div class="td_div">
        <a href="/reports?report_list_page=1" style="float: left;text-decoration: none;">
          <div class="bc_div" style="background-color:#A100A9">
            <img  src="/images/report.png">
            <p style="color: white;margin-top: 10px;"><%= t(:label_home_reports) %></p>
          </div>
        </a>
      </div>
    </td>
    <%else%>
        <td align=center >
          <div class="td_div">
            <a href="/reports?report_list_page=1" style="float: left;text-decoration: none;">
              <div class="bc_div" style="background-color:#00ACEE">
                <img  src="/images/report.png">
                <p style="color: white;margin-top: 10px;"><%= t(:label_home_reports) %></p>
              </div>
            </a>
          </div>
        </td>
        <td align=center >
          <div class="td_div">
            <a href="/setting/001g00012i8IyyjJamKGHo/common" style="float: left;text-decoration: none;">
              <div class="bc_div" style="background-color:#A100A9">
                <img  src="/images/process.png">
                <p style="color: white;margin-top: 10px;"><%= t(:label_home_personal_profile) %></p>
              </div>
            </a>
          </div>
        </td>
    <%end%>
  </tr>
  </tbody>
</table>

<script>
  $(function(){
      $(".body-cell-div").css({"height":"500px"})
      $("#rate-comm-1 li[title='4']").click()
      $("#rate-comm-2 li[title='3']").click()

      var href = '<%= url_for(:action => "kinds_of_count")%>'
      $.ajax({
          url: href,
          type: 'post',
          dataType: 'json',
          data: {
          },
          success:function (data) {
              if(data.span_1 != "0") {
                  $("#span_1").text(data.span_1)
                  $("#span_1").parent().show()
              }
              if(data.span_2 != "0"){
                  $("#span_2").text(data.span_2)
                  $("#span_2").parent().show()
              }
              if(data.span_3 != "0"){
                  $("#span_3").text(data.span_3)
                  $("#span_3").parent().show()
              }
          }
      })
  })

  var s,s2,s3,timer;
  function init(){
      s=getid("div1");
      s2=getid("div2");
      s3=getid("div3");
      s3.innerHTML=s2.innerHTML;
      timer=setInterval(mar,30)
  }
  function mar(){
      if(s2.offsetWidth<=s.scrollLeft){
          s.scrollLeft-=s2.offsetWidth;
      }
      else{
          s.scrollLeft = s.scrollLeft + 1/window.devicePixelRatio
      }
  }
  function getid(id){
      return document.getElementById(id);
  }
  window.onload=init;
</script>
